[2021-09-01 12:58] scopsy opened #1 "Add lib unit tests"
- **I'm submitting a ...**
  [ ] bug report
  [X ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
- [ ] Template store tests
- [ ] Transfer from `ava` to `jest`
- [ ] Add Template Compile tests
- [ ] Provider store test
- [ ] Trigger tests

[2021-09-01 13:05] ComBarnea opened #2 "Add livecycle hooks"
- **I'm submitting a ...**
  [ ] bug report
  [X] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Need to the ability to act based on hooks related to notification being sent
- [ ] Add Pre-sent hook
- [ ] Add Post-sent hook
- [ ] Add Error hook

- **Other information** (e.g. detailed explanation, stack traces, re

[2021-09-01 13:08] ComBarnea opened #3 "Add Variable Protection"
- **I'm submitting a ...**
  [ ] bug report
  [X] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

- [ ] Add setting for protection for accidental trigger with missing variables
- [ ] Set protection for accidental trigger by default to on

- **Other information** (e.g. detailed explanation, stack traces, related

[2021-09-01 13:16] ComBarnea opened #4 "Template Schema Validation"
- **I'm submitting a ...**
  [ ] bug report
  [X] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Add for variable schema for templates
- [ ] Add option for variable validation using Joi, Yup, class-validator, and such
- [ ] Add option for a variable to fall back if missing of failing validation

- **Other inform

[2021-09-01 13:18] ComBarnea opened #5 "Filter message level"
- **I'm submitting a ...**
  [ ] bug report
  [X] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

- [ ] Add option to add filters to message level, add operators like gt, lt, eq, and such

- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions how to fix, links for us to ha

[2021-09-01 14:17] scopsy opened #7 "Github actions tests pipeline"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Add the ability to run all unit tests on each commit and PR on GH.

[2021-09-01 14:38] #1 closed

[2021-09-01 15:21] #7 closed

[2021-09-02 07:16] scopsy commented on #5
Thinking about multiple API's for managing filters on a per-message basis.

### **First option:**
This option provides the ability to have a boolean field for active or not, this can be used with `env` variables to disable certain messages based on environment. And providing a more custom and extended API when using a function instead of a boolean, can be used with promise or not. We will pass the

[2021-09-02 11:30] #2 closed

[2021-09-02 11:58] #3 closed

[2021-09-15 07:19] scopsy opened #12 "Theming API"
### What?
Adds the ability to create theming configs (mainly for email and in-app). To create the basic look and feel layout for emails, element items.

### Why?
Give developers the ability to easily switch themes for different customers and define them in a single place. Without specifying it with every message design.

### How?
A new API will be provided for registering **Themes** and a default

[2021-09-16 05:44] ComBarnea commented on #12
Great idea,
I do have a couple of questions,
1. How would do expect one to use a theme while using a template?

Maybe register theme
[code]
after the theme is registered, add a template, using that theme

[code]
This way one gains the ability to use, default, or not default theme. What do you think?

[2021-09-20 05:20] scopsy commented on #12
Sounds good, I would use `template` instead of `$template` there. Using a `$` was mainly. to separate internal vs user variables when performing a `trigger`.

[2021-09-24 05:44] scopsy opened #14 "[NV-186] - Move provider ID outside of provider implementation"
Currently, the id is part of the provider implementation, this can cause duplication and limits the API user to register multiple providers from the same types but different keys.

### **The new API**

[code]

This removes the `id` key from the `IProvider` interface when implementing and attaching it only during registration.\
Instead of the `id` under the provider, a new key `name` will be added

[2021-09-25 06:22] ComBarnea opened #15 "Add output interface for email providers"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Need to create output interface for email providers. The interface should be based on current providers and planned providers, properties are the common logic properties found on all/most.

### Suggested example:
[co

[2021-09-25 06:43] ComBarnea opened #16 "Add output interface for SMS providers"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Need to create output interface for sms providers. The interface should be based on current providers and planned providers, properties are the common logic properties found on all/most.

### Suggested example:
[code

[2021-09-25 06:49] ComBarnea opened #17 "[NV-187] - Add input interface for In-App providers"
* **I'm submitting a ...**\
  \[ \] bug report\
  \[x\] feature request\
  \[ \] question about the decisions made in the repository\
  \[ \] question about how to use this project
* **Summary**\
  Need to create output interface for In-App providers. The interface should be based on planned providers, properties are the common logic properties found on all/most.

### **Suggested example:**

[code

[2021-09-25 06:53] ComBarnea opened #18 "[NV-190] - Add input interface for Push providers"
* **I'm submitting a ...**\
  \[ \] bug report\
  \[x\] feature request\
  \[ \] question about the decisions made in the repository\
  \[ \] question about how to use this project
* **Summary**\
  Need to create output interface for push providers. The interface should be based on planned providers, properties are the common logic properties found on all/most.

### **Suggested example:**

[code]

[2021-09-25 14:20] ComBarnea opened #19 "[NV-189] - Add output interface for push providers"
* **I'm submitting a ...**\
  \[ \] bug report\
  \[x\] feature request\
  \[ \] question about the decisions made in the repository\
  \[ \] question about how to use this project
* **Summary**\
  Need to create output interface for push providers. The interface should be based on planned providers, properties are the common logic properties found on all/most.

### **Suggested example:**

[code]

[2021-09-25 14:21] ComBarnea opened #20 "[NV-188] - Add output interface for In-App providers"
* **I'm submitting a ...**\
  \[ \] bug report\
  \[x\] feature request\
  \[ \] question about the decisions made in the repository\
  \[ \] question about how to use this project
* **Summary**\
  Need to create output interface for In-App providers. The interface should be based on planned providers, properties are the common logic properties found on all/most.

### **Suggested example:**

[code

[2021-09-25 15:12] ComBarnea opened #21 "Add Attachments Support"
### What?
Adds the ability to send attachments with email providers ```ts IEmailOptions```.

### Why?
Give developers the ability to add attachments to email providers, later on for push, direct, and in-app.

### How?
Update email options interface, and later on update providers.

#### New Attachments Interface
[code]

#### Usage
[code]

## Tasks
- [x] #103
- [x] #104
- [x] #95
- [x] #96

## Provi

[2021-09-25 15:32] ComBarnea opened #22 "[NV-185] - Add variable protection docs"
### **What?**

Missing documentation for variable protection

### **How?**

Add missing doc, under templates in docs.\
[https://user-images.githubusercontent.com/8877285/134776747-1ecfe72f-c8a2-48c2-81d2-79c926804bc8.png](https://user-images.githubusercontent.com/8877285/134776747-1ecfe72f-c8a2-48c2-81d2-79c926804bc8.png)

### **Where?**

Code can be found in TriggerEngine class

[2021-09-25 15:37] ComBarnea opened #23 "Add hooks docs"
### What?
Missing documentation for hooks

### How?
Add missing doc, under templates in docs.
![Templates location](https://user-images.githubusercontent.com/8877285/134776747-1ecfe72f-c8a2-48c2-81d2-79c926804bc8.png)

### Where?
Code can be found in TriggerEngine class

[2021-09-25 20:55] ComBarnea opened #24 "Add Node Mailer Provider"
### What?
New [Node Mailer](https://github.com/nodemailer/nodemailer) Email Provider

### Why?
To have the ability to use [Node Mailer](https://github.com/nodemailer/nodemailer), smtp as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Node Mailer provider registration using smtp, need to be finalized.

[co

[2021-09-25 21:26] ComBarnea opened #25 "Add new postmark provider"
### What?
New [Postmark](https://github.com/wildbit/postmark.js) Email Provider

### Why?
To have the ability to use [Postmark](https://github.com/wildbit/postmark.js)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Postmark provider registration needs to be finalized.

[code]

[2021-09-29 19:49] ComBarnea opened #26 "Add new Nexmo provider"
### What?
New [Nexmo](https://github.com/Vonage/vonage-node-sdk) SMS Provider

### Why?
To have the ability to use [Nexmo](https://github.com/Vonage/vonage-node-sdk)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Nexmo provider registration needs to be finalized.

[code]

[2021-09-29 20:28] ComBarnea opened #27 "Add new Plivo provider"
### What?
New [Plivo](https://github.com/plivo/plivo-node) SMS Provider

### Why?
To have the ability to use [Plivo](https://github.com/plivo/plivo-node)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Plivo provider registration needs to be finalized.

[code]

[2021-09-30 05:44] ComBarnea opened #28 "SMS Root Provider"
### What?
Adds the root SMS provider every SMS provider is encouraged to extend the root provider for mapping, error handling, and common jobs.

### Why?
Give developers the ability to easily use provider input and output mapping, by creating map config, error handling maps, opposed to building everything.

### How?
A new root SMS provider with generic common methods for every provider to extend w

[2021-10-02 06:28] ComBarnea opened #29 "Email Root Provider"
### What?
Adds the root Email provider every Email provider is encouraged to extend the root provider for mapping, error handling, and common jobs.

### Why?
Give developers the ability to easily use provider input and output mapping, by creating map config, error handling maps, opposed to building everything.

### How?
A new root Email provider with generic common methods for every provider to ex

[2021-10-05 04:58] lyndonbuckley opened #30 "[NV-184] - Add support for TransitSMS"
* **I'm submitting a feature request**
* **Summary**\
  TransitSMS is a popular SMS provider in Australia and New Zealand.\
  Documentation: [https://developer.transmitsms.com/](https://developer.transmitsms.com/)
* **Other information**\
  I'll probably look into developing this integration myself.\
  What is the best way to contribute?

[2021-10-05 05:14] scopsy commented on #30
Hi Lyndon!

Sounds awesome, was not familiar with this provider.

What you can do is to copy `twilio` provider (the only SMS we have right now) and to create a new folder for TransmitSMS implementing the `ISmsProvider`.

Attaching a short explanation on our docs https://docs.notifire.co/docs/community/create-provider (still needs to be improved).

Feel free to create a PR and I'll merge it for our

[2021-10-05 17:54] painotpi commented on #24
Hey, can I pick this?

[2021-10-05 18:23] scopsy commented on #24
@painotpi Sure!

What you can do is copy the SendGrid provider and create a new folder for NodeMailer implementing the `IEmailProvider`.

Attaching a short explanation on our docs https://docs.notifire.co/docs/community/create-provider (needs to be improved but a good start).

[2021-10-05 18:38] scopsy commented on #24
@painotpi Just noticed that the `doc` link I gave you is not updated, instead of cloning the template, create a fork of this project `notifire` and create a folder in `providers` and add the new provider there.

Sorry for the confusion

[2021-10-05 18:42] scopsy commented on #30
@lyndonbuckley just noticed the the docs link I gave was out of dated prior us moving to a monorepo. You don't need to clone the template provider repository, just clone this repo and create a new provider under `providers` folder here: https://github.com/notifirehq/notifire/tree/master/providers

[2021-10-06 03:55] painotpi commented on #24
@scopsy No worries, I had started by cloning the template, should I redo it by copying an existing provider folder instead?

[2021-10-06 06:02] ComBarnea commented on #30
Just updated the labels to be consistent with other providers, @lyndonbuckley thanks for this provider! Do you need any help?

[2021-10-06 10:28] scopsy commented on #24
@painotpi Yes, it's better to integrate it already to the monorepo. You can just copy the directory you cloned (without the .git file) and add it to the `providers` folder here.

[2021-10-06 10:59] lyndonbuckley commented on #30
I think I should be alright.

They don't have any pre-built node client, so i'll have to make direct calls to their APIs.
Is there a preference to reduce dependancies? Axios?

[2021-10-06 11:56] scopsy commented on #30
@lyndonbuckley Axios should be fine :)

[2021-10-06 12:17] #12 closed

[2021-10-06 19:26] scopsy opened #31 "Allow custom template function or handlebars template syntax"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Give the ability to create template content based on user-defined functions and as well as handlebars.
so changes will be as follows

[code]

- **Other information** (e.g. detailed explanation, stack traces, related

[2021-10-10 05:03] #25 closed

[2021-10-10 09:56] scopsy commented on #26
@painotpi Sure, assigned you. Let me know if you need any help 🙌

[2021-10-10 13:33] ComBarnea commented on #15
### SendGrid Success Response
[code]
### Postmark Success Response
[code]

### Mailgun Success Response
[code]

### Final Interface
So an API with this interface should be good. status has been removed, if an error rises the lib is going to throw a formatted error.

[code]

[2021-10-11 05:53] ComBarnea commented on #24
Closed by #32.

[2021-10-11 05:53] #24 closed

[2021-10-12 04:38] #28 closed

[2021-10-12 05:03] ComBarnea opened #38 "Add new mandrill provider"
### What?
New [Mandrill](https://github.com/mailchimp/mailchimp-transactional-node) Email Provider

### Why?
To have the ability to use [Mandrill](https://github.com/mailchimp/mailchimp-transactional-node)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Mandrill provider registration needs to be finali

[2021-10-12 05:20] ComBarnea opened #39 "Add new AWS SES email provider"
### What?
New [SES](https://github.com/aws/aws-sdk-js) Email Provider

### Why?
To have the ability to use [SES](https://github.com/aws/aws-sdk-js)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for SES provider registration needs to be finalized.

[code]

### Notes
This [blog](https://betterprogramming.p

[2021-10-12 05:26] ComBarnea opened #40 "Add new emailjs provider"
### What?
New [emailjs](https://github.com/eleith/emailjs) Email Provider

### Why?
To have the ability to use [emailjs](https://github.com/eleith/emailjs)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for emailjs provider registration needs to be finalized.

[code]

[2021-10-12 12:26] artfuldev commented on #40
Hi!

From https://docs.notifire.co/docs/community/create-provider, I see that we have an `IEmailProvider` interface, and we need an implementation of that interface for https://github.com/eleith/emailjs

I suppose the registration would look something like:
[code]

Is that correct?

[2021-10-12 16:02] ComBarnea opened #42 "Add text field for IEmailOptions"
- **I'm submitting a ...**
  [ ] bug report
  [X] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
For fallback, it is required for some providers to supply simple text (not HTML), this field is just for that.

- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions how to fix

[2021-10-12 16:31] #42 closed, assigned to nobody

[2021-10-15 18:19] artfuldev opened #45 "Describe and enforce patterns in our providers better (with TypeScript)"
- **I'm submitting a ...**
 [ ] bug report
 [x] feature request
 [x] question about the decisions made in the repository
 [ ] question about how to use this project

- **Summary**
While using the project, I noticed that there are a few places where the typing information could be better. Enforcing some patterns is also possible by providing an abstract class to derive from, for example. Just wante

[2021-10-16 13:17] ComBarnea opened #46 "Fix documentation edit link"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Currently clicking on "edit this page" on any of the links in [our docs](https://docs.notifire.co/docs/overview/introduction)  is directing to the wrong (previous) Github link, we need to update [docusaurus](https://

[2021-10-16 13:20] ComBarnea opened #47 "Add recommended knowledge to contributing article"
- **I'm submitting a ...**
  [ ] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project
  [x] documentation update

- **Summary**
The contributing article is lacking recommended/suggested/required section, to align potential contributors on what's needed, and expected.

- **Other information** (e.g. detailed explanati

[2021-10-16 13:21] #15 closed

[2021-10-16 14:08] artfuldev commented on #45
I would like to understand what we think of this so we can decide if it can be picked up.

[2021-10-16 20:25] ComBarnea commented on #46
closed by #48.

[2021-10-17 07:46] #40 closed, assigned to artfuldev

[2021-10-17 15:22] diganta413 commented on #38
Can I work in these issue?

[2021-10-17 15:56] scopsy commented on #38
@diganta413 No problem, you can create a `Draft` pr of the progress to advise if you are stuck. And you can also join our discord server: https://discord.gg/zuJBrUbfgs

[2021-10-17 16:20] scopsy opened #50 "Improving Developer Experience for new contributors and maintainers"
Following up on our previous conversation at #44 and https://github.com/notifirehq/notifire/pull/44#issuecomment-943648944 in particular.

To help new people who aren't familiar with Lerna and working with monorepos here is a brief outline of things we can do to improve the DX:

- [x] #51
- [x] #52
- [x] #53
- [x] #54

Would love to hear your thoughts on how we can improve onboarding even more 🚀

[2021-10-17 16:20] scopsy opened #51 "Add workspace configuration for vscode users + recommended extensions config"

[2021-10-17 16:20] scopsy opened #52 "Update contributing MD with info about running & bootstrapping the project"
Add documentation for bootstrapping the project:
- yarn install
- lerna bootstrap
- monorepo folder structure overview
- Starting a build:watcher for the core library
- Running tests

[2021-10-17 16:20] scopsy opened #53 "GitHub Codespaces quick setup"

[2021-10-17 16:20] scopsy opened #54 "Add new provider scaffolding script (using hygen or similar)"

[2021-10-18 12:36] #53 closed, assigned to nobody

[2021-10-19 15:06] PhakornKiong opened #57 "[NV-183] - Add Whispir sms provider"
### What?
New [Whispir](https://www.whispir.com.sg) SMS Provider, Whispir is one of the famous SMS providers here in Singapore.

### Why?
To have the ability to use [Whispir](https://www.whispir.com.sg)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Whispir SMS provider registration needs to be finali

[2021-10-20 07:12] scopsy commented on #57
Thank you @PhakornKiong. Let me know if you want to take this one.

[2021-10-20 07:14] scopsy opened #58 "Normalize release and version management"
Add the ability to create tags and pinned version management with Lerna and conventional commits.

[2021-10-20 10:08] #58 closed, assigned to nobody

[2021-10-20 11:24] ComBarnea commented on #57
@PhakornKiong, I just updated the description to include some more information on what we are trying to get here, thanks!

[2021-10-22 00:19] ivorpad commented on #39
I'm interested in taking this, I don't care if it's hacktoberfest 😅 but I need AWS SES and I really like Notifire's API. I might also create a Nest.js module.

How should the API look with all the *send* methods AWS SES has?

- sendEmail
- sendRawEmail
- sendTemplatedEmail
- sendBulkTemplatedEmail

I ask because we have this trigger method: `trigger(eventId: string, data: ITriggerPayload): Promise

[2021-10-22 17:23] ComBarnea opened #64 "Add Mailjet email provider"
### What?
New [Mailjet](https://github.com/mailjet/mailjet-apiv3-nodejs Email Provider

### Why?
To have the ability to use [Mailjet](https://github.com/mailjet/mailjet-apiv3-nodejs)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Mailjet provider registration needs to be finalized.

[code]

### Notes

[2021-10-24 18:55] #64 closed, assigned to deepak-sreekumar

[2021-10-24 19:43] ComBarnea opened #67 "Missing docs for provider template command"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
A new provider template command was added in #61. Documentation is missing in [how to add a provider](https://docs.notifire.co/docs/community/create-provider)

- **Other information** (e.g. detailed explanation, stac

[2021-10-28 08:36] laurynas-wn opened #68 "Bug: ITheme and ITriggerPayload throws type errors with strict mode enabled"
- **I'm submitting a ...**
  [ x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Calling `const notifire = await new Notifire()` with Typescript strict mode enabled causes type errors.

- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions how to fix, link

[2021-10-30 03:50] DamsithKarunaratna commented on #68
@laurynas-wn Your approach is correct. The contention between types comes from declarations like this, where `$theme_id?: string;` which translates to "_string | undefined_" conflicts with `[key: string]: string | boolean | number;`
https://github.com/notifirehq/notifire/blob/f45886f452a34b2f6137d5083282e4274dd3139e/packages/core/src/lib/template/template.interface.ts#L21-L27

If the intention is

[2021-10-30 08:02] #68 closed

[2021-10-30 15:41] ComBarnea commented on #39
Hey @ivorpad it looks ulentini, just created a PR for this, I am opening a new issue for NestJS module, care to take that? I'll mention you there as well

[2021-10-30 15:44] ivorpad commented on #39
@ComBarnea Sure thing. Yeah I didn't had time this week to work on anything else.

[2021-10-30 15:47] ComBarnea opened #74 "Create NestJS module wrapper"
### I'm submitting a ...
-  feature request

### Summary
Add a module for [NestJS](https://nestjs.com/), for nice and easy usage within NestJs based code-bases.

#### Module API
The initialization module should create a notifire instance registered with providers and templates. Accessing the module at a later stage should allow adding more templates and providers at run time.

[code]

### Injectab

[2021-10-30 19:51] #39 closed

[2021-10-31 11:14] devblin commented on #74
Hey, I would like to work on this issue if it's unassigned, and would like to know more.

[2021-10-31 12:17] scopsy commented on #74
Hi, @devblin sure thing!

Basically, we want to create a nestjs root module that will allow registering provider and templates easily (It should call the appropriate methods from the notifire/core library).
And we also should expose an Injectable of the `notifire` library instance to allow an easy trigger.

Let me know if you need more specific API design, or you can also prepare a draft PR with y

[2021-10-31 13:03] devblin commented on #74
@scopsy , Hey thank you for assigning this issue to me.
And, if `notifire` follows specific API design I would like to know more.

[2021-10-31 13:04] scopsy commented on #74
@devblin Sure, I'll try to provide more information until tomorrow.

[2021-10-31 22:58] ComBarnea opened #76 "[NV-182] - Add Bandwidth sms provider"
### **What?**

New [Bandwidth](https://github.com/Bandwidth/node-messaging) SMS Provider.

### **Why?**

To have the ability to use [Bandwidth](https://github.com/Bandwidth/node-messaging) as a provider.

### **How?**

Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### **Usage**

Example for Bandwidth SMS provider registration needs to be finalized

[2021-10-31 23:07] ComBarnea opened #77 "Add Ringcentral sms provider"
### What?
New [Ringcentral](https://github.com/ringcentral/ringcentral-js) SMS Provider.

### Why?
To have the ability to use [Ringcentral](https://github.com/ringcentral/ringcentral-js)  as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Ringcentral SMS provider registration needs to be finalized.

[code]

[2021-11-01 06:55] ComBarnea opened #79 "Add new SendinBlue provider"
### What?
New [SendinBlue](https://github.com/sendinblue/APIv3-nodejs-library) Email Provider

### Why?
To have the ability to use [SendinBlue](https://github.com/sendinblue/APIv3-nodejs-library) as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for SendinBlue provider registration needs to be finalized.

[co

[2021-11-01 06:57] ComBarnea opened #80 "[NV-180] - Add new SparkPost provider"
### **What?**

New [SparkPost](https://github.com/SparkPost/node-sparkpost) Email Provider

### **Why?**

To have the ability to use [SparkPost](https://github.com/SparkPost/node-sparkpost) as a provider.

### **How?**

Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### **Usage**

Example for SparkPost provider registration needs to be finalized.

[2021-11-01 08:54] scopsy commented on #74
@devblin Updated the issue description with API proposal. Let me know what you think about it

[2021-11-01 11:09] themisir opened #82 "Suggestion: separate providers from core"
- **I'm submitting a ...**
 [ ] bug report
 [x] feature request
 [ ] question about the decisions made in the repository
 [ ] question about how to use this project

- **Summary**
I think currently notifire core (pubsub system) and providers are all in the same package. I think to reduce bundle size and bloat-ness it would be great to separate providers to individual packages and make core package

[2021-11-01 11:30] scopsy commented on #82
Hi, @themisir ,

Currently, every provider has its own npm package `@notifire/sendgrid`, `@notifire/postmark` and etc...
So I believe that what you are suggesting already exists.

Let me know if I missed something.

[2021-11-01 12:38] themisir commented on #82
Oops, missed that. I thought providers are written inside core package (the examples on website imports them from core pkg). So it's alright. Keep it up 😇

[2021-11-01 12:38] #82 closed

[2021-11-01 16:59] devblin commented on #74
@scopsy , Hey thanks for the updated, the proposal is clear to me, and also I have been going through nestjs doc. for dynamic modules, so I will start the implementation soon, and will let you know for doubts.

[2021-11-01 17:03] scopsy commented on #74
@devblin Amazing! Feel free to join us on discord and ask for help if you need it 🙏

[2021-11-02 12:54] Agathe-Brusset opened #84 "[NV-179] - Add new MailerSend provider"
### **What?**

New MailerSend Email Provider

### **How?**

API documentation: [www.developers.mailersend.com](http://www.developers.mailersend.com/)\
Using the SDK: MailerSend Node.js.

### **Usage**

Example for MailerSend provider registration needs to be finalized.

[code]

[2021-11-02 13:10] scopsy commented on #84
I've update the issue to comply with our issue template for new providers

[2021-11-02 16:42] davidsoderberg commented on #31
@ComBarnea I have a proposal to solve this enhancement if you like me to do a PR?

[2021-11-02 16:46] scopsy commented on #31
Sure @davidsoderberg sounds amazing. Let me know if you need any help 🤟

[2021-11-02 16:56] davidsoderberg commented on #31
@scopsy what branch should I create PR against?

[2021-11-02 17:21] scopsy commented on #31
@davidsoderberg master is fine

[2021-11-02 22:14] artfuldev commented on #45
@scopsy @ComBarnea What are the issues we want to create out of this? We can probably just edit the issue to be simpler and convert this into a tracker issue of sorts. What do you think?

[2021-11-02 22:17] artfuldev commented on #45
Also @scopsy point 3 is meant to be extensible, we're not getting locked into anything. We kind of have an empty `EmailProviderConfig` interface 😅

[2021-11-03 09:33] scopsy commented on #31
Closed by #85 Thank you so much @davidsoderberg !!

[2021-11-03 09:33] #31 closed

[2021-11-03 12:21] Wyfy0107 opened #86 "Add new SNS provider"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
New SNS SMS Provider

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
use the aws sdk: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SNS.html

**Describe alternatives you've conside

[2021-11-03 12:26] scopsy commented on #86
I think that we can create a new sns provider with `AamazonSMSProvider` and later we can add to the same provider a `Push` provider aswell.

[2021-11-03 12:40] Wyfy0107 commented on #86
May I try with a pull request for this provider ?

[2021-11-03 12:45] scopsy commented on #86
@Wyfy0107 Sure! Assigned you. Let me know if you need any help and feel free to join us on discord for any help: https://discord.gg/SDt3t9RT

[2021-11-03 12:48] scopsy commented on #86
@Wyfy0107 To generate a new provider run : `yarn run generate:provider`. Didn't have the time to update the docs with it

[2021-11-03 16:44] #38 closed

[2021-11-03 17:31] davidsoderberg commented on #4
@scopsy do you guys mind if I dig my head into this issue?

[2021-11-03 17:38] ComBarnea commented on #4
@davidsoderberg sure thing, assigning this to you right now, @scopsy do you have anything else to add here?

[2021-11-03 17:39] scopsy commented on #4
@davidsoderberg sure! You can outline and API for the validations so we can discuss it with the community?

Some initial thoughts: we can create an API that will allow any validation system to work using some sort of plugin approach. This can support validators like Joi or class validators. Or just a simple function validation with custom logic.

[2021-11-03 17:57] davidsoderberg commented on #4
I was thinking of a function that can be a promise and then we do not catch it so the error can be catched by the user of the package. Any thoughts on that?

[2021-11-03 21:08] scopsy commented on #4
This can be the validator schema, the main thing is that each validator should return a validate function, the implementation doesn't matter as long as the validate method exists.
[code]
This is one implementation for JOI, we can use similar once to validate with other validator libraries or custom code.
[code]

Not sure about the `schema` key here maybe we can find a better name?
And I think this

[2021-11-03 21:14] scopsy commented on #45
@artfuldev Yeah we definitely can use this issue to be a tracker. I'll try to review this tomorrow and write the action items to develop from it. Thanks!

[2021-11-03 21:34] scopsy opened #88 "[RLD-58] - [Tracking] - Self-hosted Service"
### What?

Setting up a docker-compose to include all the needed services.

### Why?

Later provide an easy to setup script for bootstrapping the environment from the developer's computer.

[2021-11-03 21:48] scopsy opened #89 "Self-hosted onboarding and organization setup"
### What?
After installing and booting up the docker environment with all services, the use should perform an onboarding as the single tenant of the platform to setup and admin user and the first organization

[2021-11-03 21:48] scopsy opened #90 "Environment variables configuration"

[2021-11-04 11:41] #86 closed

[2021-11-04 16:29] #4 closed

[2021-11-05 17:56] davidsoderberg commented on #21
Maybe I could help with this?

[2021-11-06 06:57] juniormiguel opened #92 "Is this coding to read my text messages?"
I found this installed into my computer and I tried to learn coding but someone else is up loading stuff. What do I do lol

[2021-11-06 06:58] juniormiguel commented on #92
I don't even know where to save the file of the codes to install an app.

[2021-11-06 07:35] #92 closed

[2021-11-06 07:39] ComBarnea commented on #92
@juniormiguel would you care to elaborate on what seems to be the issue? this is a Github repo for Notifire. We don't accept issues that are unrelated. Please let me know if you require any assistance, have any ideas or suggestions.

[2021-11-06 09:02] alceil commented on #80
I would like to work on this issue. Can anyone assign me this issue?

[2021-11-06 10:10] scopsy commented on #80
@alceil Amazing! You kick off the needed code by running `yarn run generate:provider` from the root directory.

Feel free to reach us on Discord for any help 🚀

[2021-11-06 10:16] alceil commented on #80
Thanks @scopsy

[2021-11-06 10:18] scopsy commented on #21
@davidsoderberg Sure! One thing that is missing is the `$attachment` attribute on the `ITriggerPayload` interface. So when triggering an event the attachment will pass to the appropriate provider.

Another thing I've been thinking on is the ability to control the attachments per message. For example, you want to add attachments on email but not on SMS. What do you think is the best approach to sol

[2021-11-06 10:20] scopsy commented on #21
Also, I think it's best to just allow a buffer for now instead of a URL path, since managing and downloading external assets is quite dangerous from our end and is better to be controlled by the user.

So instead of a `path` attribute I would use: `data` and it will be of Buffer type.  wdyt? @ComBarnea @davidsoderberg

[2021-11-06 10:24] davidsoderberg commented on #21
Do you mean that SMS should not handle attatchments or did I understand you wrong?

[2021-11-06 10:25] davidsoderberg commented on #21
I agree can be very dangerous to handle it in this package 😄

[2021-11-06 10:30] davidsoderberg commented on #21
[code]

What do you guys think?

[2021-11-06 10:39] scopsy commented on #21
Sounds good to me! @davidsoderberg  Just make the attachments optional.

About the SMS part, For example, I want to send attachments to email and not to slack or SMS. Or in other cases, I want to send them to all of the channels. I think we should provide an option to manage the sending of attachments.

[2021-11-06 10:44] davidsoderberg commented on #21
Adding ChannelTypeEnum to IAttachmentOptions and then we can filter them out in each handler?

[2021-11-06 10:49] scopsy commented on #21
@davidsoderberg Good idea we can add an array of them. And if no array was provided all the providers that support attachments will send them.

[2021-11-06 10:53] davidsoderberg commented on #21
[code]

Like this?

[2021-11-06 10:55] scopsy commented on #21
I think `channels` would be great in plural

[2021-11-06 10:58] davidsoderberg commented on #21
Yeah agree I thought first it would be a single one but totally understand why it should be an array 😄

[2021-11-06 12:20] galezra commented on #79
I'd like to try this issue :)

[2021-11-06 12:39] scopsy commented on #79
Sure thing! Assigned you

[2021-11-06 12:41] scopsy commented on #79
To get you started just run `yarn run generate:provider` from the root folder

[2021-11-07 18:44] scopsy opened #94 "Sendgrid attachments support"
## What?
Add support for sending attachments for our [Sendgrid](https://github.com/notifirehq/notifire/tree/master/providers/sendgrid) provider.

### Why?
To have the ability to use send attachments.

### How?
Based on Notifire IAttachmentOptions interface found [here](https://github.com/notifirehq/notifire/blob/master/packages/core/src/lib/template/template.interface.ts).
And Sendgrid methods fou

[2021-11-07 18:49] scopsy opened #95 "Create an RootEmailProvider parent class for common functionality"
## What?
Create a base class that email providers can extend to provide common functionality and fallback functions.

## Why?
This can help with adding common functionality to all of our email providers.

[2021-11-07 18:49] scopsy opened #96 "Add missing functionality warning when attachments are not handled"
## What?
The `RootEmailProvider` should provide a `buildAttachments` function and it should run a `console.warn` that the method for the current provider is not implemented.

## Why?
For providers not supporting attachments, and for providers, we still don't add the attachments API to and warn message should be shown.

[2021-11-07 18:50] scopsy opened #97 "Mailgun attachments support"
## What?
Add support for sending attachments for our [Mailgun](https://github.com/notifirehq/notifire/tree/master/providers/mailgun) provider.

### Why?
To have the ability to use send attachments.

### How?
Based on Notifire IAttachmentOptions interface found [here](https://github.com/notifirehq/notifire/blob/master/packages/core/src/lib/template/template.interface.ts).
And Mailgun methods found

[2021-11-07 18:50] scopsy opened #98 "SES attachments support"
## What?
Add support for sending attachments for our (SES)(https://github.com/notifirehq/notifire/tree/master/providers/ses) provider.

### Why?
To have the ability to use send attachments.

### How?
Based on Notifire IAttachmentOptions interface found [here](https://github.com/notifirehq/notifire/blob/master/packages/core/src/lib/template/template.interface.ts).
Optionally use this [guide](https:

[2021-11-07 18:50] scopsy opened #99 "Postmark attachments support"
## What?
Add support for sending attachments for our [Postmark](https://github.com/notifirehq/notifire/tree/master/providers/postmark) provider.

### Why?
To have the ability to use send attachments.

### How?
Based on Notifire IAttachmentOptions interface found [here](https://github.com/notifirehq/notifire/blob/master/packages/core/src/lib/template/template.interface.ts).
And Postmark methods fou

[2021-11-07 18:50] scopsy opened #100 "NodeMailer attachments support"
## What?
Add support for sending attachments for our [NodeMailer](https://github.com/notifirehq/notifire/tree/master/providers/nodemailer) provider.

### Why?
To have the ability to use send attachments.

### How?
Based on Notifire IAttachmentOptions interface found [here](https://github.com/notifirehq/notifire/blob/master/packages/core/src/lib/template/template.interface.ts).
And NodeMailer metho

[2021-11-07 18:50] scopsy opened #101 "Mailjet attachments support"
## What?
Add support for sending attachments for our [Mailjet](https://github.com/notifirehq/notifire/tree/master/providers/mailjet) provider.

### Why?
To have the ability to use send attachments.

### How?
Based on Notifire IAttachmentOptions interface found [here](https://github.com/notifirehq/notifire/blob/master/packages/core/src/lib/template/template.interface.ts).
And Mailjet method found [

[2021-11-07 18:51] scopsy opened #102 "Mandrill attachments support"
## What?
Add support for sending attachments for our [Mandrill](https://github.com/notifirehq/notifire/tree/master/providers/mandrill) provider.

### Why?
To have the ability to use send attachments.

### How?
Based on Notifire IAttachmentOptions interface found [here](https://github.com/notifirehq/notifire/blob/master/packages/core/src/lib/template/template.interface.ts).
And Mandrill methods fou

[2021-11-07 18:55] scopsy opened #103 "Create an interface for attachments"

[2021-11-07 18:55] scopsy opened #104 "Add support for passing attachments to handlers"

[2021-11-07 19:53] scopsy opened #105 "@notifire/core on npm is missing a readme.md"
### What?
When visiting the [@notifire/core](https://www.npmjs.com/package/@notifire/core) on npm a readme.md is missing.

We should add a step to the publish script to copy the root readme.md file to `packages/core` to keep them consisten

[2021-11-08 13:30] #103 closed

[2021-11-08 13:31] #104 closed

[2021-11-08 17:04] davidsoderberg commented on #96
My proposal to implement this: https://github.com/davidsoderberg/notifire/commit/8ab0db6c9e7149e7beb08f7b4ef94da2b645df5e

[2021-11-10 15:29] scopsy commented on #96
@davidsoderberg This looks solid, but I was wondering, if we can create a parent class `RootEmailProvider ` we can extend from and override something like `getAttachments`, and all providers will need to implement this. If a provider have not implemented it will run the parent class which will print the warn message. Wdyt?

[2021-11-10 15:34] davidsoderberg commented on #96
I think my implementation is cleaner... I do not see the need for a parent class right now more then maybe solve the problem my code already solves.

[2021-11-10 15:58] scopsy opened #108 "Create direct message interface"
### What?
Adds a direct provider interface to send a message based on a channel id.

[2021-11-10 18:09] scopsy commented on #96
@davidsoderberg Totally agree with you about the root class. I'm just thinking about the need in every provider to add this flag **and** the attachments logic. Instead of just adding the attachments logic and all the warnings will run automatically.

Or maybe we can push forward and implement all of the current providers in `v.0.3.0`. And if a single provider does not support attachments he can `w

[2021-11-10 18:22] davidsoderberg commented on #96
I think my flag is the most progressive way to not need to implement it in every provider and when all have it implemented we can remove it :)

[2021-11-10 18:29] scopsy commented on #96
Got ya, so let's just start implementing the current providers in `v0.3.0`, and if we see it takes too much time we can fall back to your idea of adding the flags if we will plan to release 0.3 without all the providers supporting this.

I'll put this issue on hold for now, and we will try to get some help from all the providers, Looks like we have 7 of them so it's not that bad.

We can post this

[2021-11-10 18:32] davidsoderberg commented on #96
My impl of nodemailerprovider... Should I create new PR for that?

[2021-11-10 18:37] #95 closed

[2021-11-10 18:38] scopsy commented on #96
@davidsoderberg Sure! Comment on the issue so I can assign you

[2021-11-10 18:39] davidsoderberg commented on #100
Assign me :)

[2021-11-10 20:28] scopsy opened #109 "Email.js attachments support"
## What?
Add support for sending attachments for our [Email.js](https://github.com/notifirehq/notifire/tree/master/providers/emailjs) provider.

### Why?
To have the ability to use send attachments.

### How?
Based on Notifire IAttachmentOptions interface found [here](https://github.com/notifirehq/notifire/blob/master/packages/core/src/lib/template/template.interface.ts).
And Email.js methods foun

[2021-11-12 19:42] ComBarnea commented on #97
See relevant attachment methods at Mailgun README
### Single attachment
<img width="848" alt="Screen Shot 2021-11-12 at 21 34 24" src="https://user-images.githubusercontent.com/8877285/141525201-de6f8ff1-a7e8-43ec-8d9f-b4d02d0e2251.png">

### Multiple attachments
<img width="845" alt="Screen Shot 2021-11-12 at 21 34 30" src="https://user-images.githubusercontent.com/8877285/141525217-e563db75-90a0

[2021-11-13 06:37] devblin commented on #101
Hey, I would like to work on this issue.

[2021-11-13 06:56] scopsy commented on #101
@devblin Sure! Assigned you. Create your branch from the v0.3.0 branch to get the attachment interface

[2021-11-13 09:17] ComBarnea commented on #99
See relevant attachment methods

## Multiple attachments
<img width="935" alt="Screen Shot 2021-11-13 at 11 16 21" src="https://user-images.githubusercontent.com/8877285/141613384-a2a69d34-a37c-4dfc-972f-f0d3a9f2f76b.png">

## Inline attachment
<img width="930" alt="Screen Shot 2021-11-13 at 11 16 25" src="https://user-images.githubusercontent.com/8877285/141613397-345f7c9a-2ea3-4028-95bd-77feeab8

[2021-11-13 09:29] ComBarnea commented on #101
Just in case that helps,
### How to send single/multiple and inline with Mailjet
<img width="983" alt="Screen Shot 2021-11-13 at 11 27 52" src="https://user-images.githubusercontent.com/8877285/141613717-45b89618-ddad-455d-a828-869440cc089c.png">

[2021-11-13 09:40] ComBarnea commented on #102
See relevant attachment options at Mandrill site

### Full options for single/multiple and inline
<img width="496" alt="Screen Shot 2021-11-13 at 11 38 07" src="https://user-images.githubusercontent.com/8877285/141614052-86073e38-8543-4698-9e50-6b1dbff64142.png">

[2021-11-13 11:24] ComBarnea commented on #94
See relevant attachment methods at Sendgrid use-cases

### Single/multiple and inline
<img width="1036" alt="Screen Shot 2021-11-13 at 13 23 47" src="https://user-images.githubusercontent.com/8877285/141640669-186a4b01-c629-48cc-a6b2-7999ec3ff962.png">

[2021-11-15 14:16] diganta413 commented on #102
Can I try out this issue?

[2021-11-15 14:19] scopsy commented on #102
@diganta413 Sure! Assigning you

[2021-11-15 14:20] scopsy commented on #102
@diganta413 Create your branch from the `v0.3.0` branch so you can get the new attachments interface

[2021-11-16 15:23] devblin commented on #101
Hey, so for inline-attachments there is no `inline-attachment` attribute in `IEmailOptions` interface, so we need to update this https://github.com/notifirehq/notifire/blob/725e5d279ce5ab6f1a85aaefe190db528fda3054/packages/core/src/lib/provider/provider.interface.ts#L11
And, also in given attachment interface, we need to add `id` attribute as for mailjet-inline-attachments there is optional parame

[2021-11-16 20:38] scopsy commented on #101
@devblin for now let's leave the inline attachments out of the scope of this issue and just focus on regular attachments.

[2021-11-17 06:08] scopsy commented on #79
@galezra Merged 🎉🎉🎉

[2021-11-17 06:09] #79 closed

[2021-11-17 06:12] #108 closed

[2021-11-17 06:59] galezra commented on #94
I'd like to work on this issue

[2021-11-17 07:06] scopsy commented on #94
😍 assigned you

[2021-11-17 14:48] SachinHatikankar100 commented on #105
Hi @scopsy would like to fix this bug. Will let you know at the earliest if any issues or I am not able to fix it 👍

[2021-11-17 14:48] SachinHatikankar100 commented on #105
Hi @scopsy would like to fix this bug. Will let you know at the earliest if any issues or I am not able to fix it 👍

[2021-11-18 06:25] l0ne commented on #97
I can take a look :)

[2021-11-18 07:34] #101 closed

[2021-11-18 07:37] #96 closed

[2021-11-18 08:12] scopsy commented on #97
@l0ne you can create your branch out of `v0.3.0` branch and create a PR back to it so you can have the needed interface 🙌🚀

[2021-11-18 08:13] scopsy commented on #97
We currently only do multiple attachments, we will deal with inline-attachments in later stage.

[2021-11-18 18:51] devblin commented on #77
Hey, I would like to work on this provider.

[2021-11-18 19:00] scopsy commented on #77
Sure! Assigned you 🤟

[2021-11-19 13:43] galezra commented on #99
@scopsy I'll take it on

[2021-11-19 13:48] scopsy commented on #99
@galezra assigned 🎉 Thanks for all the effort in this release. Appreciate it a lot 🙏🙏

[2021-11-20 07:12] galezra commented on #100
I'll handle it

[2021-11-20 08:36] ComBarnea commented on #109
See relevant attachment options at Email.js site

### Full options for single/multiple and inline
<img width="880" alt="Screen Shot 2021-11-20 at 10 35 08" src="https://user-images.githubusercontent.com/8877285/142720018-f2928e09-66a3-4d20-9549-1281510f304c.png">

[2021-11-20 08:39] #99 closed

[2021-11-20 08:39] #100 closed

[2021-11-20 08:49] #94 closed

[2021-11-20 09:02] scopsy commented on #105
Thank you @SachinHatikankar100 really appreciate it!

[2021-11-20 09:05] scopsy commented on #105
Nest.js doing something similar with `npm prerelease` hook https://github.com/nestjs/nest/blob/master/tools/gulp/tasks/copy-misc.ts

They use gulp, which we don't but I believe just running some shell script or `cp` will work as npm script.

[2021-11-20 09:54] SachinHatikankar100 commented on #105
Hi @scopsy thanks for the details. I am just going through the details shared. Will get in touch if I require assistance 🙂

[2021-11-20 13:19] SachinHatikankar100 commented on #105
Hi @scopsy Need guidance. I found this link

https://stackoverflow.com/questions/30076596/add-readme-md-to-published-npm-package

Please let me know if this is something I can do to achieve my task?

[2021-11-20 16:04] scopsy commented on #105
Pinged you discord, let me know if you need more help 🙌🚀

[2021-11-20 22:56] ComBarnea commented on #18
So just looked through this one, changes seem to be quite extant major outline is:
### Template Engineer
Need to add minimal attributes to allow standard push options across providers
[code]
These are minimal changes needed for templates unless I missed something major. Most parts are expected to be string, handlebars, or a function.

### Provider
Push Providers are mostly the same as normal ones,

[2021-11-21 14:46] #97 closed

[2021-11-21 16:33] diganta413 commented on #102
@scopsy in mandrill.interface.ts, do I have to make a new attachment interface or I can simply import it?

[2021-11-21 18:24] scopsy commented on #102
@diganta413 so sorry, just seen the message. There is already a provider you need to import it. All of the code is inside the `v0.3.0` branch. just merge from there.

Sorry for the delay :(

[2021-11-21 20:25] galezra commented on #98
After doing some research before I took it on, I ran into two problems:
1. I cannot test the feature for some reason (I tried this doc: https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-email-simulator.html)
2. Could someone please check out a resource that allows the sending of multiple attachments?

[2021-11-22 10:39] scopsy commented on #98
@galezra I can test it on our end with a test access key to our AWS environment.
The SES Api is just horrible, looks like you need to send it as a raw email string and the attachment encoded as a base64 string. I'll try to search if we have someone that have past experience with that.

https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-email-raw.html
https://stackoverflow.com/questions/591

[2021-11-22 11:46] galezra commented on #98
Yes, I agree, it's horrible.
Later on, I'll try to build a raw message convention.
I'll let you know when it's ready for testing.

[2021-11-22 11:58] scopsy commented on #98
[code]

Someone suggested creating the message raw object using emailjs and then sending it. Wdyt (we can add it as a dependency to SES, or reversing it will I assumed will take more time)? @galezra

[2021-11-22 12:38] galezra commented on #98
Sounds like a good suggestion, let me try it later (assign the issue to me)

[2021-11-22 12:57] #105 closed

[2021-11-23 14:18] peoray commented on #109
Hiii 👋🏽. I'm interested in this project and would love to kick things off by contributing to this issue :)

[2021-11-23 16:13] scopsy commented on #109
@peoray Hi!!! so nice to meet you! Sure Assigned you.

Create your branch out of `v0.3.0` so you'll have the attachments interface 🙌

[2021-11-25 15:40] #102 closed

[2021-11-26 10:43] galezra commented on #98
Sorry for the lateness, it's been a busy week.
[I have created a POC branch](https://github.com/galezra/notifire/tree/ses-attachments-support). I think I can send attachments via mail using the "nodemailer" wrapper.
If it's work, it will not be difficult to add attachment support.
To test it, I'll need to set the credentials for SES. Let me know when you're available for testing.

[2021-11-26 18:49] davidsoderberg commented on #74
This one can be closed?

[2021-11-27 07:25] scopsy commented on #74
@davidsoderberg Yep!

[2021-11-27 07:25] #74 closed

[2021-11-27 07:34] scopsy commented on #98
@galezra sounds like a plan! I'll send a test credentials on a DM

[2021-11-28 14:32] samip5 opened #127 "Add new SMS provider: Telnyx"
**Is your feature request related to a problem? Please describe.**
No support for Telnyx SMS

**Describe the solution you'd like**
Support for it

**Additional context**
https://developers.telnyx.com/docs/v2/messaging

[2021-11-28 14:34] samip5 opened #128 "[NV-178] - Add new provider Matrix (matrix.org)"
No support for Matrix notifications

Solution I'd like:
Support for it.

Additional Context:
matrix.org

[2021-12-01 14:50] cloudguruab commented on #67
@ComBarnea I'd like to tackle this issue if it hasnt been done already!

[2021-12-01 15:01] scopsy commented on #67
Amazing @cloudguruab Let me know if you need any help

[2021-12-02 05:34] cloudguruab commented on #67
Sweet, thanks! Will do.

[2021-12-03 01:43] cloudguruab commented on #67
### Notes
Problem statement:
[code]

- [ ] Gather resources
- [ ] Review current docs and iterate through setup
- [ ] Retrospective of experience, along with solutions to any roadblocks
- [ ] Collect notes and complete `outcome` section above

[2021-12-04 00:24] cloudguruab commented on #67
@scopsy I have a question in regards to issue #54, I noticed the needed changes to implement a tool that allows for auto generation of code. I wanted to know what exactly is a provider? Is this entities like sendGrid, or is this something completely else? I noticed in #61 Hygen was added to accomplish auto generating templates for providers, so I am just trying to make a few connections here.

[2021-12-04 00:25] cloudguruab commented on #67
Also what prompted this change as well?

[2021-12-04 09:34] scopsy commented on #67
@cloudguruab Sure!

So a provider is an entity that handles the delivery of a message over multiple channels:
- SendGrid - For email
- Twillio - SMS
- Onesignal - Push
- Webpush
- Slack - Direct

We have multiple providers for each channel(SMS, Email, Push, Web-Push, Direct and others).
For now, we have only about 10 providers but there are a lot more we haven't created. To create new provider eas

[2021-12-04 09:34] scopsy commented on #67
Really loved how you have broken the task into smaller actionable tasks!

[2021-12-04 19:09] cloudguruab commented on #67
Thank you! It definitely helps, and I appreciate the help. I will ping you if I find anything else

[2021-12-06 03:08] cloudguruab commented on #67
@scopsy Hey I have final changes to be commited to my local branch, but I noticed some issues with pushing due to linting rules. I would love some clarity on the following:

[code]

[2021-12-06 07:41] scopsy commented on #67
@cloudguruab Sounds like commitizen issue, try `git commit -m "--your message here--" --no-verify`

I'll take a look at commitizen soon, had this issue yesterday aswell :|

[2021-12-06 07:48] scopsy commented on #67
Just pushed a fix for master, you can pull it from there :)

[2021-12-06 07:50] #98 closed

[2021-12-06 11:02] cloudguruab commented on #67
Thanks! Pushing my branch soon.

[2021-12-06 21:48] galezra commented on #19
Hey @ComBarnea, is this issue still relevant? If yes, I don't see any email/sms response interface to be consistent with them in the code, just "ISendMessageSuccessResponse"

[2021-12-06 22:00] ComBarnea commented on #19
Hey @galezra this issue is blocked by issue #18, and should be looked at again after this one. I think as much as we can, we should aim to get the same interface response messages for all channels, as much as we can.

[2021-12-06 22:07] galezra commented on #19
I missed that, thanks for letting me know.

[2021-12-07 04:23] Abobos commented on #127
@scopsy I would like to add support for the new provider Telnyx

[2021-12-07 04:33] scopsy commented on #127
@Abobos Sure! You can read https://docs.notifire.co/docs/community/create-provider to get you started

[2021-12-07 14:19] scopsy commented on #67
@cloudguruab Thank you so much for all the help 🎉

[2021-12-07 14:19] #67 closed

[2021-12-08 00:52] cloudguruab opened #133 "Mailchimp provider"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to work on adding MailChimp as a provider for Email based OCL

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
This integration will support Email based communication between cli

[2021-12-08 00:53] cloudguruab commented on #133
I would like to be assigned to this issue and push this feature request @scopsy

[2021-12-08 14:26] scopsy commented on #133
I'm not familiar with MailChimp transactional API, as far as I remember they use mandrill which we already have support.
Does Mailchimp offer an API for sending an email to a specific user as oppose to a list/campaign ?

[2021-12-08 16:10] cloudguruab commented on #133
You can use Mailchimp Transactional for personalized, one-to-one e-commerce emails, as well as automated emails like password resets, order confirmations, and welcome messages. I see in their docs they are migrating mandrill into the transactional api they offer so I'll go ahead close this issue since implementing Mailchimp would be in ways pretty redundant!

[2021-12-08 16:10] #133 closed

[2021-12-15 10:09] #109 closed

[2021-12-15 10:09] scopsy commented on #21
@davidsoderberg Looks like we are done with all of them 🎉🚀

[2021-12-15 10:09] #21 closed

[2021-12-15 16:12] scopsy commented on #26
Sorry, @painotpi missed your message here about looking for help :( Looks like Nexmo was already added by someone at https://github.com/notifirehq/notifire/pull/136

Went over your fork, I believe there is some issue with jest mock there. Thank you so much for your contribution regardless, I really appreciate it.

[2021-12-16 07:28] #26 closed

[2021-12-16 14:49] scopsy opened #138 "Docs: Add SMS sending examples and guides"
**Is your feature request related to a problem? Please describe.**
As pointed out by @ranrib we are lacking an article on the docs about sending an SMS with the library.

**Describe the solution you'd like**
Adding a new section in the SMS article under providers describing how to send an SMS with Notifire.

**Describe alternatives you've considered**
Maybe there is a better place to showcase the

[2021-12-16 14:58] peoray commented on #138
@scopsy I'd like to work on this issue :)

[2021-12-17 00:08] ccollie opened #139 "[NV-1633] [Feature Request] Webhook Provider"
**Is your feature request related to a problem? Please describe.**
I was excited to see the `DirectProvider`, hoping I could use it as the base for sending arbitrary content to webhook endpoints. However it seems that the content is typed as a string.

**Describe the solution you'd like**
A dedicated Webhook provider interface, or a genericized DirectProvider where we parameterize the content type

[2021-12-17 11:05] scopsy commented on #139
Thanks for the feedback @ccollie ! Direct is indeed for more of a direct messaging channels, like slack, discord, telegram and etc...

Adding a `WEBHOOK` channel type is definitely something we can add and were planning to.

We can create a new entry in the `ChannelType` enum and an appropriate handler to manage the webhook with maybe something like `got` library which can manage basic retry polic

[2021-12-17 14:05] ccollie commented on #139
@scopsy Thanks for the quick response!
It's funny you mentioned `got`, as this is exactly what I'm using locally in the system I hope to replace with `Notifire`.
With regards to payload, I had a similar idea, and in fact I have a payload mapper to do simple transforms. Here's a passing test:

[code]
As far as more complex logic, I think it's ok to start with what `got` supports natively, but with

[2021-12-18 16:42] ccollie commented on #139
@scopsy if you add a `WEBHOOK` channel type I'd be happy to get started on a `PR`

[2021-12-19 09:25] scopsy commented on #139
Oh got ya, you can add the WEBHOOK enum as part of your PR. Do you want to write down an outline of how you think of implementing the API for it here? What do you think of the proposal I made in the previous comment?

[2021-12-19 14:08] ccollie commented on #139
Your proposal sounds good. Give me a day or so to put my thoughts together.

[2021-12-19 14:35] scopsy commented on #139
@ccollie Amazing, let me know if you need any help 🎉

[2021-12-20 11:10] osbornetunde commented on #90
@scopsy I would like to work on this.

[2021-12-20 11:55] scopsy commented on #90
Hey @osbornetunde ! Thanks for reaching out, this issue is very tied to #88 and the configurations are related as inputs to the docker-compose set up there.  I've started experimenting there https://github.com/notifirehq/notifire/blob/scopsy/issue88/docker-compose.yml
Currently, the configuration comes from https://github.com/notifirehq/notifire/blob/master/apps/api/src/.env.local

We want to allo

[2021-12-20 12:30] osbornetunde commented on #90
Okay, I have some experience with docker-compose but I can take it up as a challenge.

[2021-12-20 13:16] scopsy commented on #90
I've created #141 with all the things I managed to do so far. I will update #88 with the missing things there are left to do there.

Could you please comment on the issue there so I can add you?

[2021-12-20 14:02] osbornetunde commented on #90
Okay

[2021-12-20 14:03] osbornetunde commented on #88
Hi @scopsy

[2021-12-21 15:03] scopsy opened #142 "Created base `docker-compose.yml` file"

[2021-12-21 15:04] scopsy opened #143 "Integrations screen"

[2021-12-21 15:05] scopsy opened #144 "Github Authentication"

[2021-12-21 15:13] #142 closed

[2021-12-21 15:27] scopsy opened #145 "[NV-43] - [Tracking] - CLI On-boarding"
## Why?

Provide an easy onboarding setup for new users using the CLI without visiting the admin panel for it. The outcome of this onboarding process is to show the developer how the product works and create an API key for him to use.

## How?

Main highlights of the cli onboarding:

* Create an application and a user account with a GitHub authentication flow
* Show the developer a demo dashboard

[2021-12-21 16:28] #52 closed

[2021-12-21 16:29] #50 closed

[2021-12-24 16:35] scopsy opened #147 "AWS SES: undefined is not iterable"
**Describe the bug**
When trying to send an email with was ses without attachments getting this error:

[code]

[2021-12-24 16:35] scopsy commented on #147
Fixed in `v0.3.4`

[2021-12-24 16:35] #147 closed

[2021-12-27 13:55] CharlieBrownCharacter opened #151 "HTML is not being rendered in `mailtrap` using `emailjs`"
**Describe the bug**
HTML is not being rendered in Mailtrap when using `emailjs` provider

**Expected behavior**
HTML version of the email should be rendered in Mailtrap when using `emailjs` provider

**Additional context**
To fix this issue simply update your `package.json` with the newest version:

[code]

[2021-12-27 14:19] scopsy commented on #151
Thanks for the report! As you mentioned this was fixed at `@notifire/emailjs@0.3.5`

[2021-12-27 14:19] #151 closed

[2021-12-27 14:29] CharlieBrownCharacter opened #152 "Allow `subject` to be passed a `function` and not only `string`"
**Is your feature request related to a problem? Please describe.**
When sending notifications we need to localize the content of the message to the target user. Currently it is only allowed for `template` to be passed as a `function` [see here](https://github.com/notifirehq/notifire/blob/ed8f6b8d85035e85aa7075b6c22e6bd3d93a5772/packages/core/src/lib/handler/email.handler.ts#L37). It is useful to b

[2021-12-27 14:29] scopsy opened #153 "PNPM dependency management"
### Why?
From multiple tests i've made [pnpm](https://pnpm.io/installation) performs much faster than our current yarn setup.
- yarn install > `4.6 minutes`
- pnpm i > `1.6 minutes`

The main goal for this change is to reduce the setup time for new developers and our CI pipeline in which currently we spent almost 5 minutes on the install part alone.

Speaking with multiple companies doing monorepo

[2021-12-27 16:39] scopsy commented on #152
We definitely can go with this implementation, I like the API for it. We later can facilitate a first-class citizen for translations, but this will solve it with some extra custom use-cases.

One thing I think we can do is call the `compileTemplate` on the `template` key and on the `subject` key, for the sake of consistency.

If someone will want to bypass our handlebars engine for good, we can pr

[2021-12-27 16:42] scopsy opened #154 "[Docs] - Provide an example of how to manage translation"
Following the conversation with @CharlieBrownCharacter about #152, we should add a recipe for our docs about how can people can integrate translations using the library.

[2021-12-27 23:25] CharlieBrownCharacter commented on #152
PR have been opened here for this issue https://github.com/notifirehq/notifire/pull/155

[2021-12-27 23:26] CharlieBrownCharacter commented on #154
Docs have been added in this PR as well https://github.com/notifirehq/notifire/pull/155 (specifically here https://github.com/notifirehq/notifire/pull/155/files#diff-f06b2aa4b0ed7f6742355afe6023ea21a1d4a6c583ab8df4a1fa58b981a9ea3cR1

[2021-12-28 10:46] scopsy opened #156 "[Tracking] UI/UX improvements"
# Why?
For the upcoming alpha release, we want to uplift the current user(developer) experience in multiple areas of the already built features in the platform. We want to provide the best experience for developers that want to integrate Notifire as their notification infrastructure.

# Scope
The following areas are part of the scope for the redesign:
- Admin Panel
- Embeddable notification center

[2021-12-28 12:12] scopsy opened #157 "[Tracking] UI Onboarding"
# Why?
Currently, after the user registration, he arrives at an empty notification templates screen without any guidance on what he needs to do. To improve TTS (Time-to-Success) a new onboarding flow will be generated to facilitate and reduce the time from account creation to the first notification sent and received.

# The flow
### Account creation
- The user should be able to register with his G

[2021-12-28 15:37] scopsy opened #158 "[NV-131] - [Tracking] Providers store"
# Why?
Currently, in the admin panel, we only support SendGrid and Twilio, since the library was released to open-source the community helped build more than 14 different providers. We need a place for the user to manage credentials and discover supported providers.

# Details
- Providers are divided by channels: Email, SMS, In-app(coming soon), Push(Coming soon), Direct (Coming soon)
- Provider c

[2021-12-28 18:40] #154 closed

[2021-12-28 18:41] #152 closed

[2021-12-31 12:39] davidsoderberg commented on #14
Is this something I can do?

[2021-12-31 21:46] sjschweber commented on #84
Hey can I pick up this issue @scopsy ?

[2022-01-01 08:55] kishorliv commented on #76
@ComBarnea Can i work on adding this new provider?

[2022-01-01 09:08] ComBarnea commented on #76
Hey @kishorliv sure thing :) Just assigned you, good luck!

Let us know if we can assist you in any way.

[2022-01-02 09:24] scopsy commented on #14
@davidsoderberg yeah sure, in terms of the API was thinking more about the passport.js approach, where the id is not mandatory in terms of the interface. When not passed the internal identifier from the provider is used. If the `id` was specified it is used instead.

[2022-01-03 13:25] #89 closed

[2022-01-04 09:04] scopsy opened #161 "[RLD-33] - Dark mode theme"
## Why?

Because it looks shiny :)

[Navigation Menu - Relayed Design System (Figma)](https://www.figma.com/file/KprcTdnkZz0bxFepI8ZSHP/Relayed-Design-System?node-id=529%3A1440)

[2022-01-04 09:05] scopsy opened #162 "Storybook for admin panel"

[2022-01-05 17:02] #162 closed

[2022-01-05 17:06] scopsy opened #164 "[Tracking] NX workspaces support"
## Why?
Currently, the `lerna build` is quite slow locally and on GitHub actions during CI. Additionally, we can use nx to run diffs on changed services and other features.

## How?
Integrate using the nx [guide](https://nx.dev/l/r/migration/adding-to-monorepo)  for adding nx to an existing monorepo.
To set up the project for development run `npm run setup:dev` in the root directory for installing

[2022-01-05 18:43] nishit-g commented on #164
Hey can I work on this @scopsy ?

[2022-01-05 18:45] scopsy commented on #164
@nishit-g sure thing! Let me know if you need any help or stuck with some errors

[2022-01-07 17:25] nishit-g commented on #164
Hey @scopsy , followed the steps and tried to run build all using nx.
Stuck here

<img width="799" alt="Screenshot 2022-01-07 at 10 38 55 PM" src="https://user-images.githubusercontent.com/32142878/148580586-75df198b-fceb-4f23-9712-5496b945d19a.png">

But if I go ahead and remove the "config" option from package.json ( say from `packages/core/` ). the build command w/ nx works.

I am having troubl

[2022-01-07 17:36] scopsy commented on #164
Let's go with your solution using the cz file. Amazing job finding the solution!

[2022-01-08 04:41] nishit-g commented on #164
@scopsy  have made changes and nx builds 👇 these successfully. PR created just need to test the commitizen part.

<img width="799" alt="Screenshot 2022-01-08 at 10 05 42 AM" src="https://user-images.githubusercontent.com/32142878/148631529-0bf38aa4-8f2a-4167-b774-bb6113a580c4.png">

<img width="799" alt="Screenshot 2022-01-08 at 10 06 56 AM" src="https://user-images.githubusercontent.com/32142878/

[2022-01-08 10:17] scopsy commented on #164
@nishit-g Looks very good, I will check out the nx cloud option, if it can help with distributed caching and improve build times on CI I'm in for it.

About the update of the `generate:provider` I'll create a dedicated issue for that.

Thank you so much for this one, super excited for this and it will help reduce the build time for all of our contributors 🥰

[2022-01-08 11:20] scopsy opened #166 "Update generate:provider to use `.czrc` file instead of `package.json`"
## Why?
When migrated to NX at #165 there was an error mentioned by @nishit-g from the commitizen action with NX. So we decided to move the commitizen config from `package.json` to a dedicated `.czrc` file.

[2022-01-08 11:20] scopsy opened #167 "Update build scripts in the root `package.json` to use NX"
## Why?
After migrating to NX we want to update all the `build:*` scripts in the root `package.json` so we can speed up our builds in GitHub actions and docker.

[2022-01-08 11:21] scopsy commented on #164
@nishit-g Created the new issues and attached them here for tracking. I'll handle the package.json scripts :)

[2022-01-08 11:32] nishit-g commented on #164
Done! you can check PR #168

[2022-01-08 11:34] nishit-g commented on #166
Hey @scopsy, I think I understand the flow for this script. Can you assign me this ?

[2022-01-08 11:36] scopsy commented on #166
Sure! Btw, are you on our Discord channel?

[2022-01-08 11:47] nishit-g commented on #166
No @scopsy, joining it right away though, want to contribute more! 💯

[2022-01-08 11:56] #166 closed

[2022-01-08 11:57] scopsy opened #171 "Integrate nx cloud cache for distributed caching"
## Why?
To speedup caching on CI and local dev machines, integrate NX with the cloud caching functionality

[2022-01-08 13:27] #167 closed

[2022-01-08 14:19] #171 closed

[2022-01-08 15:10] #164 closed

[2022-01-08 19:12] jotabraga commented on #144
Hi @scopsy I would like to work on this.

[2022-01-09 04:58] kishorliv commented on #76
@ComBarnea I worked on it but to get the api keys, they need organisation email and phone numbers for the trial. So, I am kinda stuck here...

[2022-01-09 11:21] scopsy opened #173 "[RLD-47] - Implement OAuth flow with GitHub"
## Why?

Allow developers to onboard quickly with their GitHub account.

## What?

GitHub OAuth flow is currently available in the code we just need to test it with some GitHub Client Id to make sure it works and creates a user correctly in the DB. The GitHub strategy is in [this file](https://github.com/notifirehq/notifire/blob/master/apps/api/src/app/auth/services/passport/github.strategy.ts) an

[2022-01-09 13:05] scopsy commented on #144
Hey, @jotabraga unfortunately we still working on the visual designs of this issue. GitHub OAuth flow is currently available in the code we just need to test it with some GitHub Client Id to make sure it works and creates a user correctly in the DB. The GitHub strategy is in [this file](https://github.com/notifirehq/notifire/blob/master/apps/api/src/app/auth/services/passport/github.strategy.ts) a

[2022-01-10 12:22] scopsy opened #174 "[RLD-11] - Test"
Test issue

[2022-01-12 09:57] MatanMaimon opened #176 "[RLD-45] - Border style on window widget #176"
**Describe the bug**\
The window of the widget ([https://widget.notifire.co/K6TeacX0ig6Y](https://widget.notifire.co/K6TeacX0ig6Y)) displays an annoying border that corrupts the border radius.

**Screenshots**

[https://user-images.githubusercontent.com/6213171/149118496-2b65ce21-4c2a-476d-bcea-410fda5c3452.png](https://user-images.githubusercontent.com/6213171/149118496-2b65ce21-4c2a-476d-bcea-41

[2022-01-12 10:03] scopsy commented on #176
Thanks for reporting @MatanMaimon are you experiencing this also when embedding the notification using the iframe embed script aswell? This border only exist in the dev mode when visiting the link you mentioned directly and not via the iframe.

[2022-01-12 10:07] MatanMaimon commented on #176
Yes we do use the iframe (code below).
*Please note to my edit
![image](https://user-images.githubusercontent.com/6213171/149119840-ad7e67d4-6f81-4397-b34c-feb735057805.png)

[2022-01-12 10:19] scopsy commented on #176
@MatanMaimon got ya. Taking a look.

[2022-01-16 13:28] davidsoderberg commented on #14
@scopsy I think I need to get this clarified a bit before I start with it so here are some questions 😄
1. Should the `registerProvider` look like this:
```notifire.registerProvider('<ID>', new SendgridEmailProvider({...}))```
or like this:
```notifire.registerProvider(new SendgridEmailProvider({...}), '<ID>')```
The first one would break the API... Should I go with the second one to not break the

[2022-01-16 13:37] davidsoderberg commented on #14
Also please assign me to this one :)

[2022-01-16 14:09] MatanMaimon commented on #176
did you notice the problem? is there a fix expected?

[2022-01-16 17:56] scopsy commented on #176
@MatanMaimon we see it, I believe a fix will be shipped during this week. I'll update here once it's live 🎊.

[2022-01-17 09:46] scopsy opened #177 "[RLD-44] - Add build command on setup:project"
## Why?

In order to build the project in the time of the initial setup after cloning it from git, the user won't need to do it manually.

[2022-01-17 10:51] #177 closed

[2022-01-17 16:36] #176 closed

[2022-01-17 17:59] scopsy commented on #14
Sure! @davidsoderberg

1. We can go with the first one and make it optional. so that both options will work, we can check the param type for string to get that. that's how passport and a lot of libraries are doing it. So it won't break the API's
[code]
2. That's a good point, we definitely can do a Map there. How do you think about finding a provider by a channel in that case?
3. I think we can ad

[2022-01-18 01:46] ChakshuGautam opened #180 "Async Delivery Reports to Other Services"
## What?
Ability to send reports of delivery to an external service using a webhook.

## Why?
Extensibility to other services.

## How?
Currently there is no way for a provider to send delivery reports to the application. Is this currently in the pipeline?

On the downstream of what to do with success/failure of a notification,
EventEmitter `postSend` can be used to handle sending this and can be

[2022-01-18 01:52] ChakshuGautam opened #181 "Queuing of notifications"
## What and Why?
We have a bunch of notification providers that don't provide good uptime and have to tried again and again. Need a mechanism for failure management and re-trigger notifications after a backoff. Currently I wasn't able to find a queue being persisted for the following use cases
- Bulk notifications
- Scheduled notifications
- Retrying on failure

If there is something already there

[2022-01-18 06:28] djabarovgeorge commented on #176
Hey, @MatanMaimon we just released a fix. Please let us know if you're still noticing any issues.

[2022-01-18 13:29] scopsy commented on #180
Hey @ChakshuGautam thanks for opening the issue!

If I understand you correctly you want to get the provider (for example sendgrid) webhook response about if the message was delivered or not, bounced and etc?

If so, yes we definitely plan to support this on the API component we will announce soon and webhook integrations to all providers is on our roadmap very soon.

[2022-01-18 13:35] scopsy opened #182 "[RLD-51] - Add npx only-allow-pnpm to avoid people running yarn install"
## Why?

So that new contributors will know to use pnpm instead of yarn so they won't have to wait for the long `yarn install` process.

## How?

You can follow the guide from pnpm [here](https://pnpm.io/only-allow-pnpm).

[2022-01-18 13:40] ChakshuGautam commented on #180
Hey I would start forking the repository and implementing features based on our requirements keeping this as base. If there is a design doc for the features, I would love to contribute back. If there is an issue/branch that already exists where this is being contributed, I will be able to put some effort on that front. Since I have to implement this part of my day job. Thanks.

[2022-01-18 13:50] scopsy opened #183 "[RLD-53] - Deploy images to DockerHub"
## Why?

Instead of building the image every time when doing docker-compose up we want to prebuilt the images so users can easily consume them without the need to rebuild everything from the stretch.

## How?

Add build scripts for the relevant services in the root `package.json` in the following structure `build:docker:api` and etc. for each service in `docker-compose.yml` respectively.

The imag

[2022-01-18 14:21] scopsy commented on #180
We still don't have the design docs for that, we have a backlog of tasks to complete a bit before we can tackle this one. Would be really interested in jumping on a quick discord call? Are you on our server?

[2022-01-18 14:24] ChakshuGautam commented on #180
Sure. Can we do in 2 hours?

[2022-01-18 14:26] scopsy commented on #180
Sounds like a plan, send me a message on discord :)

[2022-01-18 14:37] relayedbot opened #184 "[RLD-11] - Test"
Test issue

[2022-01-20 10:34] #173 closed

[2022-01-20 10:47] renovate[bot] opened #190 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency passport to v0.5.2
 - [ ] Update dependency react-css-theme-switcher to v0.3.0
 - [ ] Update dependency rollup to v0.68

[2022-01-20 14:20] relayedbot opened #196 "[RLD-49] - Update all GitHub actions to use pnpm"
Why?

In order to reduce our CI pipeline.

[2022-01-20 14:27] djabarovgeorge commented on #196
## Why?

In order to reduce our CI pipeline.

[2022-01-20 15:01] relayedbot opened #198 "[RLD-50] - Update docker files to use pnpm"
## Why?

To speed up docker build times.

## How?

Replace all npm and `yarn bootstrap`with `pnpm i` .

[2022-01-20 17:10] relayedbot opened #202 "[RLD-52] - Search for other npm usages in the repository to replace with pnpm"
## Why?

We still might have some usages of npm or yarn in the repository. For example internal `package.json` files or docs examples.

[2022-01-21 02:20] jotabraga commented on #128
Hi @scopsy  I would like to work on this task

[2022-01-21 04:04] samip5 commented on #183
I would recommend to deploy to Github Container Registry too.

[2022-01-21 05:05] scopsy commented on #128
@jotabraga thank you! Assigned you to this. Reach out if you need any help 🙏

[2022-01-22 19:57] scopsy commented on #183
Hi @samip5 thanks for the suggestion. I'm actually not very familiar with the GitHub container registry. Does it offer benefits over DockerHub? One thing I'm I'm concerned is how easy is to use the images.
With the docker hub repo it's just running `notifirehq/notifire`, for the GitHub repository a user needs to log in somewhere to access the public images?

[2022-01-23 00:50] samip5 commented on #183
You can only push images to the Github Docker regiatry from Github Actions and they don't have an annoying ratelimit for pulling unlike DockerHub has.

Usee doesn't need to log-in,  it's pretty much the same as DockerHub but without ratelimits for pulling.

So you could have a `ghcr.io/notifirehq/notifire`.

[2022-01-23 18:22] relayedbot opened #218 "[RLD-69] - Fix subscriber capitalization on Activity List Page"
### Why?

On the activity page currently, the subscriber name is lowercased, people names should be capitalized for better UX.

![Screen Shot 2022-01-23 at 20.16.22.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/6f22e9f7-35fd-4bcf-8a7e-8e18481af460/fc95bd52-7c80-4c00-9002-09487ffebe77)

[2022-01-23 22:14] notubot opened #219 "[NV-12] - Design system integration foundations"
# Why?

Have a design system in place for reusable parts connected from baseline brand colors, typography, shadows to more higher-level components. Such a system can help iterate faster when new pages and features can reuse the lower level atoms of the design system to generate new views and components. Read more about atomic design [here](https://atomicdesign.bradfrost.com/chapter-2/).

# Conside

[2022-01-24 18:39] peoray commented on #57
Hi @scopsy can I work on this? :)

[2022-01-25 13:39] #218 closed

[2022-01-26 11:34] #196 closed

[2022-01-26 11:34] #198 closed

[2022-01-26 11:35] #202 closed

[2022-01-26 14:10] scopsy commented on #182
@djabarovgeorge looks like writing Closes ISSUE_NUMBER doesn't close it automatically :(

[2022-01-26 14:10] #182 closed

[2022-01-26 16:07] rrhythmsharma commented on #23
Hi @ComBarnea

Should I pick this up?

[2022-01-26 16:28] scopsy commented on #23
Sure @rrhythmsharma ! I'll assign you, feel free to reach out if you need any help or clarification :)

[2022-01-27 16:54] kharbanda14 commented on #181
Hi @ChakshuGautam how about bull queue package ? it uses redis for queuing messages and can cover the scheduled notifications and retrying on failure.

for more info : https://www.npmjs.com/package/bull

[2022-01-31 13:30] djabarovgeorge opened #228 "[RLD-35] - Environment variables configuration"
## What?

Docker env variables should be easily configurable thru a config/env file.

API_PORT
WEB_PORT
WIDGET_PORT
WS_PORT
MONGO_DB_PORT
JWT_SECRET

Service routes (API route or WS endpoints configured using docker-compose network)

[2022-02-02 21:39] #228 closed

[2022-02-03 09:21] djabarovgeorge commented on #183
Closing this issue due to the first push to the Github Container Registry.
Thanks, @samip5 for pointing us forward the pros regarding GHCR 🤟

[2022-02-03 09:21] #183 closed

[2022-02-03 09:42] djabarovgeorge opened #234 "[RLD-41] - Update docker-compose to use pre-built images from GHCR"
## What?
Push the images into GitHub Container Registry.

## Why?
Save time and headache from the user in building the images and thus the user will be able to get stable images version and concentrate on the deployment.

## How?
Pushing the latest version to the ghcr, and updating the docker-compose file to fetch the images from it.

[2022-02-03 11:25] #234 closed

[2022-02-03 11:50] djabarovgeorge opened #236 "[RLD-80] - Update docker files location"
## Why?

So we have more clear and more relevant root directory.

## How?

Moving the docker files from the root directory to its app folder.

For example './Dockerfile.api'

From path: ./Dockerfile.api, to: ./apps/api/Dockerfile

[2022-02-03 15:04] #236 closed

[2022-02-06 09:42] relayedbot opened #240 "[RLD-79] - Create CLI project scaffold"
### Why?

To provide a great framework to extend from and easily maintain additional features.

### What?

Decided on an initial framework for generating a CLI project under the apps folder in the project. The cli should handle installation and usage using npx pr global npm tool.

**Tool selection considerations**: Developer Experience, Good looking "UI", community support.

### Open Questions?

*

[2022-02-06 12:31] relayedbot opened #243 "[RLD-23] - Checkbox component"
## Why?

We are in the process of creating our new core components using [mantine](https://mantine.dev/core/checkbox/) and creating our very own [storybook](https://storybook.js.org/docs/react/get-started/introduction) for easier UI development.

To learn more about our design system see [https://github.com/notifirehq/notifire/issues/219](https://github.com/notifirehq/notifire/issues/219)

## How?

[2022-02-07 05:51] rockingrohit9639 commented on #243
I would like to work on this issue. @relayedbot

[2022-02-07 07:36] notubot opened #245 "[RLD-98] - Radio components"
## **Why?**

We are in the process of creating our new core components using [mantine](https://mantine.dev/core/radio-group/) and creating our very own [storybook](https://storybook.js.org/docs/react/get-started/introduction) for easier UI development.

To learn more about our design system see [#219](https://github.com/notifirehq/notifire/issues/219)

## **How?**

To start contributing you need t

[2022-02-07 19:51] Suveksha commented on #245
Can I work on this issue?

[2022-02-07 21:06] scopsy commented on #245
Sure thing @Suveksha, assigning you here. Feel free to jump on Discord if you need any help 🙏

[2022-02-07 21:06] #127 closed

[2022-02-08 08:19] notubot opened #246 "[RLD-24] - Tabs - Horizontal Menu"
## **Why?**

We are in the process of creating our new core components using [mantine](https://mantine.dev/core/tabs/) and creating our very own [storybook](https://storybook.js.org/docs/react/get-started/introduction) for easier UI development.

To learn more about our design system see [#219](https://github.com/notifirehq/notifire/issues/219)

## **How?**

To start contributing you need to run s

[2022-02-08 08:44] Abobos commented on #246
@ainouzgali Seems like a good one to harness my super powers

[2022-02-08 08:51] ainouzgali commented on #246
@Abobos don't hesitate to reach out to us with any question  :)

[2022-02-09 09:24] #240 closed

[2022-02-10 10:07] djabarovgeorge opened #251 "[RLD-103] - Application name & Providers selection"
## What?
Into prompts of the application name and the providers.

[2022-02-13 08:22] rrhythmsharma commented on #23
@ComBarnea @scopsy

Please review the PR

[2022-02-13 09:42] ainouzgali commented on #243
Thank you @rockingrohit9639 !!🚀

[2022-02-13 09:42] #243 closed

[2022-02-13 13:18] scopsy opened #254 "Missing Telnyx provider in docs"
## What?
Currently on the main Readme.md file under the providers' list we are missing the Telnyx provider added in #127

## Needs to be done
Add the provider to the list with a link to the main provider readme file.

[2022-02-13 13:18] pearceman commented on #254
On it

[2022-02-13 13:19] scopsy commented on #254
@pearceman Amazing! Added you :) Let me know if you need any help

[2022-02-13 14:06] #251 closed

[2022-02-14 08:48] #157 closed

[2022-02-14 08:48] #156 closed

[2022-02-14 08:48] #23 closed

[2022-02-14 09:02] #88 closed

[2022-02-14 19:16] djabarovgeorge opened #256 "[RLD-105] - Create a local server on ephemeral port"
## Why?
For the API usage after the authentication, the API can replay to the CLI with the GitHub OAth payload.

## How?
The CLI will raise a native HTTP server because it is the

http-server was chosen because is is light wight and we do not need any complex functionality/features.

### Ref:
https://javascript.plainenglish.io/fastify-express-benchmark-4c4aebb726d6

[2022-02-14 20:28] djabarovgeorge opened #258 "[RLD-106] - Initialize the GitHub auth flow"
## Why?

In order to spare from the user to sign up for the service the old long time-consuming way.

## How?

Use GitHub OAuth.

## ref:

OAuth tutorial with redirect: [https://thecodebarbarian.com/oauth-in-nodejs-cli-apps.html](https://thecodebarbarian.com/oauth-in-nodejs-cli-apps.html)

[2022-02-14 20:45] djabarovgeorge opened #260 "[RLD-108] - Persist JWT token in the users CLI storage"
## Why?
Easily load and persist config without having to think about where and how.

## How?
Saving the token on disk on the machine.

### ref:
Config store for saving API key and credentials locally: https://www.npmjs.com/package/configstore

[2022-02-15 22:02] djabarovgeorge opened #266 "[RLD-109] - Create Organization & Application"
## Why?

So the user will have a fully registered account.

## How?

Save the organization name via API (post endpoint /organizations) with the application name as the organization name.

[2022-02-16 12:16] rannn505 commented on #256
Hey, @djabarovgeorge here's an optimization suggestion: use [get-port](https://github.com/sindresorhus/get-port) to find a free TCP port.

[2022-02-16 12:31] djabarovgeorge commented on #256
Hey @rannn505, currently I am using a pre-drawn port number but your solution seems much more durable, I will consider adding it.
Thank you for raising it up! 💪

[2022-02-17 11:32] djabarovgeorge commented on #256
Closed by #257

[2022-02-17 11:33] #256 closed

[2022-02-17 11:33] djabarovgeorge commented on #258
Closed by #259

[2022-02-17 11:33] #258 closed

[2022-02-17 11:34] djabarovgeorge commented on #260
Closed by #261

[2022-02-17 11:34] #260 closed

[2022-02-17 11:34] djabarovgeorge commented on #266
Closed by #267

[2022-02-17 11:34] #266 closed

[2022-02-17 11:36] djabarovgeorge opened #268 "[RLD-104] - Authentication flow"
## Why?

We want the user to get the identification experience as pleasant and light as possible.

## How?

We take into account that our user is already registered with Github Therefore that the user won't have to enter his own credentials, we can withdraw the information from the user through OAth.

[2022-02-17 12:18] #268 closed

[2022-02-17 16:10] abrl91 opened #271 "npm run setup:project failed"
**Describe the bug**
npm run setup:project failed

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/abrl91/notifire.git
2. cd notifire
3. npm run setup:project
4. See errors on init.ts and http-server.ts
[code]

**Expected behavior**
![image](https://user-images.githubusercontent.com/39680385/154521720-18894cb1-31f7-45ce-9f8d-864ea06d42d6.png)

**Details (please co

[2022-02-17 16:16] scopsy commented on #271
Thanks for the report!
Looks like `REDIRECT_ROUTE` was translated to pirate language 🤣

@djabarovgeorge I think it's related to #269, could you take a look?

[2022-02-17 16:17] #254 closed

[2022-02-17 20:21] djabarovgeorge commented on #271
Sure think!  looks like pirates to me 😅

[2022-02-18 10:29] #271 closed

[2022-02-22 01:56] fredsossa1 commented on #245
Is this still open ? Looks like it was taken care in this [Pull Request](https://github.com/notifirehq/notifire/pull/272)

[2022-02-22 06:33] ainouzgali commented on #245
@fredsossa1 it was! thank you 😄

[2022-02-22 06:33] #245 closed

[2022-02-22 08:50] djabarovgeorge opened #278 "[RLD-112] - Create a Demo dashboard HTML"
## Why?

In order to demonstrate the widget.

## How?

Currently, we can use the static HTML client that we use on the cypress test.

[2022-02-22 12:11] djabarovgeorge opened #280 "[RLD-113] - Create HTTP Server to server this demo panel"
## Why?

In order to demonstrate the widget.

## How?

By opening a static HTML server with the widget in it.

### ref:

Opening browser from CLI: https://github.com/sindresorhus/open

[2022-02-22 15:29] djabarovgeorge opened #282 "[RLD-148] - Validate and switch use application"
## Why?

If the user is already assigned to the application then use the same application, no need to create a new one on every run.

If the user-created application switch to the new one jwt in order to get a new valid jwt token.

[2022-02-22 19:02] djabarovgeorge opened #284 "[RLD-121] - During application, creation create a demo template"
## Why?

We will present a default template so the user won't need to build his first template on the onboarding.

Notification Content

Channels: In-App

CTA: Link to the platform with the user token in the query.

## How?

By saving the default template on the application creation.

### Other

Mark template as "demo"

[2022-02-22 21:07] djabarovgeorge opened #286 "[RLD-150] - Raise demo dashboard"
## What?
Open the dashboard panel

## Why?
In order to present to the user the widget UI

[2022-02-23 12:40] djabarovgeorge opened #288 "[RLD-111] - Demo Web Application"
## Why?

In order to demonstrate to the user how easy and flawless the flow is.

## How?

Open the browser and send to the widget the cient.

[2022-02-23 13:44] #288 closed

[2022-02-25 13:32] #286 closed

[2022-02-25 13:45] #282 closed

[2022-02-25 13:45] #280 closed

[2022-02-25 13:48] #278 closed

[2022-02-25 13:48] #284 closed

[2022-02-25 14:45] djabarovgeorge opened #293 "[RLD-120] - Test notification template"
## Why?

So the user will have the full experience of sending a notification on onboarding.

## How?

Create the first default template and send it via the CLI.

[2022-02-27 08:18] #293 closed

[2022-02-27 11:01] djabarovgeorge opened #296 "[RLD-163] - Copy curl on box click"
## What?
When clicking on the code box, copy the curl command and notify the user that it was copied.

## Why?
Improve the user experience

[2022-02-27 11:34] djabarovgeorge opened #299 "[RLD-163] - Hide jwt token in the code box, but copy when clicked"

[2022-02-27 12:32] #299 closed

[2022-02-27 15:43] djabarovgeorge opened #305 "[RLD-161] - Account Creation Flow"
## What?

After selecting providers we need to show follow-up questions to provide better user context.

[code]

[2022-02-28 08:42] djabarovgeorge opened #312 "[RLD-191] - Widget bell style jump"
After the count reaches +99 notification the style of the counter changes.

![image](https://user-images.githubusercontent.com/39195835/155951705-08ffcdcd-cbbc-4790-b9be-2f6d53d1be01.png)

[2022-02-28 09:55] #312 closed

[2022-02-28 13:25] #305 closed

[2022-02-28 13:42] pearceman commented on #30
@lyndonbuckley Hey! Any updates?

[2022-02-28 13:56] pearceman commented on #84
Hey @sjschweber, How r u? Any updates on the issue? Can we help with something?

[2022-02-28 13:58] pearceman commented on #128
Hey, @jotabraga How are things? Have you got an update on the issue? Can we help with something?

[2022-03-01 05:33] #246 closed

[2022-03-01 11:59] djabarovgeorge opened #315 "[NV-155] - Create Integration Data-Model"
[Integration Store - Ready for Dev (Figma)](https://www.figma.com/file/IpAw7sGWYZ8DHTem0tSM8r/Ready-for-Dev?node-id=241%3A3737)

[2022-03-01 12:45] #161 closed

[2022-03-01 14:37] notubot opened #317 "[NV-153] - Migrate React Router v5 to v6"
### Why?

To be up to date with the latest react-router library on the web admin project.

### How?

Upgrading the "web" project under the "apps" library within the repository. After migrating we need to make sure that the project compiles successfully and all the different pages and references are pointing to the correct usage of react router v6.

[https://reactrouter.com/docs/en/v6/upgrading/v5]

[2022-03-01 15:31] talShtark opened #318 "Add async module configuration to @notifire/nest"
## What?
Add the ability the configure the NotifireModule using factory method or class

## Why?
In most cases, notifire providers must be configured with some secret like API Key.
These values are usually found in the environment and in Nestjs architecture, typically supplied by some configService (or other async modules).
In order to be able to pass these values in runtime to the NotifireModule,

[2022-03-02 12:09] scopsy commented on #318
Hi @talShtark thanks for adding this one, so if I understand correctly we need to modify our @notifire/nest module to support this correct?

I'll add a need help label for it maybe some can help with it, currently busy releasing the new admin panel so probably won't be able to implement this myself in the near time.

If this is something you really need ping me, I'll try to find time :) Or feel fr

[2022-03-02 12:36] ninjadev101 commented on #317
Ready for the work!

[2022-03-02 12:42] #315 closed

[2022-03-02 13:44] ainouzgali opened #322 "test bot -- not a real issue --"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Details (please complete the followi

[2022-03-02 13:47] #322 closed

[2022-03-02 20:33] notubot opened #327 "[NV-154] - Create Integration API"

[2022-03-02 21:32] notubot opened #329 "[NV-194] - Fetch integration API"

[2022-03-02 22:32] notubot opened #331 "[NV-139] - Edit integration API"

[2022-03-03 12:30] pearceman opened #332 "test"
## What?
Describe what is your feature/change request

## Why?
A clear and concise description of why this feature is important or you need it as a user...

## How?
If you have an idea of how this can be implemented write your solution here

## Other information
Add any other context or screenshots about the feature request here.

[2022-03-06 10:04] djabarovgeorge opened #338 "[NV-212] - Add deactivation of old providers on creation of new active one"
## What?
If a second provider was created and activated on the same channel, other providers should be deactivated

## Why?
Because only one provider can be used per channel.

[2022-03-06 12:23] novubot opened #340 "[NV-243] - Activity Page Table and filters"
## Why?

To display the activities of the page based on the user's activity log.

## How?

Using the current logic provided in the `apps/web/src/legacy/pages/activities/ActivitiesPage.tsx` page, we need to create a new page under: `apps/web/src/pages/activities/ActivitiesPage.tsx`, after generating the page we need to exclude the page path from displaying under the old layout can be configured her

[2022-03-06 12:26] djabarovgeorge opened #341 "[NV-213] - Add constrains on update request"
Add DTO on the shared lib.

Update update-usecase

[2022-03-06 12:39] novubot opened #343 "[NV-216] - Team invite page"
## Why?

To allow people to invite new team members to their instance.

## How?

Using the current logic provided in the `apps/web/src/legacy/pages/organization-settings/OrganizationSettingsPage.tsx `page, we need to create a new page under: `apps/web/src/pages/invites/MembersInvitePage.tsx`, after generating the page we need to exclude the page path from displaying under the old layout can be con

[2022-03-06 13:19] notubot opened #344 "[COM-10] - Upgrade cypress on web to latest version"
## Why?

To enjoy the latest features of cypress and bug fixes we need to upgrade to the latest runner currently we are on version `^7.3.0` and latest cypress version is `^9.5.1` .

### What?

The update should only affect the `apps/web` project.

* Migration guide - [https://docs.cypress.io/guides/references/migration-guide](https://docs.cypress.io/guides/references/migration-guide)

## Done crit

[2022-03-07 13:13] Abobos commented on #340
@ainouzgali looks like a good one for me to work on

[2022-03-07 13:15] scopsy commented on #340
@Abobos Amazing! assigned you, feel free to ping me or @ainouzgali if you need any help to setup things :)

[2022-03-08 09:04] aggmoulik commented on #343
Hey @pearceman I can work on this issue.

[2022-03-08 10:46] scopsy commented on #343
Hi, @aggmoulik sure! Assigning you to this one. Ping me or @ainouzgali if you need help setting up the project locally or have any other questions.

We are planning to make a release next week including this page, do you think you'll make it by then?

[2022-03-08 13:59] aggmoulik commented on #343
@scopsy Yeah, I can totally make that happen, But In the figma there is no design for light mode.

[2022-03-08 14:09] scopsy commented on #343
@aggmoulik oh yeah just noticed that as well :o . Is that ok if you will take the colors similar to the templates list page?
https://www.figma.com/file/IpAw7sGWYZ8DHTem0tSM8r/Ready-for-Dev?node-id=254%3A4257

It uses the same table so borders and etc should be similar

[2022-03-09 01:52] ninjadev101 commented on #344
@scopsy I can work on this.

[2022-03-09 01:59] ninjadev101 commented on #317
This is done and also passed all test cases.
#333

[2022-03-09 07:11] scopsy commented on #344
Fantastic! Assigned you, let me know if you need any help <3

[2022-03-09 15:47] #317 closed

[2022-03-10 04:08] ninjadev101 commented on #344
This is done. #347

[2022-03-10 05:25] aggmoulik commented on #343
@scopsy Awesome 👍

[2022-03-10 15:18] #344 closed

[2022-03-10 15:18] #219 closed

[2022-03-11 12:19] ninjadev101 commented on #22
@scopsy I can work on this.

[2022-03-11 13:00] ninjadev101 commented on #22
[Draft Link](https://docs-git-fork-ninjadev101-nv-185-variable-protect-a4f6ba-novuhq.vercel.app/docs/templates/variable_protection)

[2022-03-11 13:12] ninjadev101 commented on #318
@scopsy I can work on this.

[2022-03-12 13:20] aggmoulik commented on #340
Hey @Abobos, Are you still working on this ?

[2022-03-12 13:46] Abobos commented on #340
@aggmoulik yes.. but if this is very urgent, you can pick it up

[2022-03-12 13:50] aggmoulik commented on #340
I think @scopsy can be define the urgency here.

[2022-03-12 15:47] scopsy commented on #340
If this can happen next week this will be amazing 🙏

[2022-03-12 16:33] eugenewere opened #353 "Cant Pull This Image "ghcr.io/notifirehq/notifire/sdk:latest ""
I am getting this error:

Error response from daemon: Head "https://ghcr.io/v2/notifirehq/notifire/sdk/manifests/latest": denied

[2022-03-13 05:17] Abobos commented on #340
@scopsy noted

[2022-03-13 09:29] scopsy commented on #353
Hi @eugenewere yes we still working on the upcoming release and the SDK docker image is not pushed yet to the ghcr repository. I believe it will be pushed during this week. I will update this asap.

In the meantime, you can clone the repo and run it locally using "pnpm start". I will let you know once the SDK image is up

[2022-03-13 09:37] #341 closed

[2022-03-13 10:04] djabarovgeorge commented on #327
Closed by #328

[2022-03-13 10:04] #327 closed

[2022-03-13 10:05] djabarovgeorge commented on #329
Closed by #330

[2022-03-13 10:05] #329 closed

[2022-03-13 10:05] djabarovgeorge commented on #331
Closed by #334

[2022-03-13 10:05] #331 closed

[2022-03-13 10:05] djabarovgeorge commented on #338
Closed by #339

[2022-03-13 10:05] #338 closed

[2022-03-13 10:41] djabarovgeorge opened #355 "[NV-141] - Trigger engine connected provider usage"

[2022-03-14 13:13] ninjadev101 commented on #22
https://github.com/notifirehq/notifire/pull/351

[2022-03-14 13:14] #22 closed

[2022-03-14 15:34] novubot opened #361 "[COM-12] - Fix Storybook color scheme"
## What?

When the color scheme is toggled in canvas view, it does not work.

To reproduce:

* cd apps/web and run storybook using `npm run storybook`
* visit a component page [http://localhost:6006/?path=/story/components-table--primary-use](http://localhost:6006/?path=/story/components-table--primary-use)
* On the "Canvas" tab change the light/dark theme
* The component blog is not changed until

[2022-03-15 02:02] ninjadev101 commented on #361
@scopsy I can work on this

[2022-03-15 02:05] ninjadev101 commented on #361
#363

[2022-03-15 07:40] scopsy commented on #361
Fantastic! Checking the PR right now <3

[2022-03-15 13:24] novubot opened #365 "[NV-220] - TypeError: Cannot read properties of null (reading '_id')"
### What?

When a request to initialize session is made with an invalid application identifier we don't throw and continue to the next section where the API throws the following exception.

Sentry Issue: [API-1](https://sentry.io/organizations/novu-r9/issues/3085983507/?referrer=Linear)

[code]

### How?

We can add an `if` statement and throw an `ApiException` indicating the the application was n

[2022-03-15 13:24] novubot opened #366 "[NV-91] - Missing mail normalization on api tests UserSession().initialize()"
### What?

From time to time our tests failing in the \`should change a password after reset\` test case, this is not predictable and happens from time to time. This is probably due to the fact we don't normalize the UserSession before saving it with the userRepository there.

An example failing case: [https://github.com/notifirehq/notifire/actions/runs/1789556718/attempts/1](https://github.com/no

[2022-03-15 13:30] #361 closed

[2022-03-15 13:58] #145 closed

[2022-03-15 14:48] scopsy commented on #365
Hi @AlexVCS thank you so much! Assigning this right now. We still finalizing the contributing guide. But you can run `npm run setup:project` that will run everything needed. We can than add an e2e test for this case aswell.

Ping me on Discord if you need any help <3

[2022-03-16 03:55] ninjadev101 commented on #366
@scopsy I will have a look at this

[2022-03-17 02:02] ninjadev101 commented on #366
#371

[2022-03-17 06:26] eugenewere commented on #353
Thanks alot

[2022-03-17 11:06] nevo-david opened #373 "Move Sendgrid setApiKey to sendMessage"
### What?

We might want to load multiple Sendgrid providers in the future.
The Sendgrid API key is being defined in the constructor, but statically.
It means that every new Sendgrid instance we make will override the previous one.

## How to reproduce

* Register 2 SendGrid providers, put the second one to be invalid.
* Run the trigger

(This issue is valid after the provider's tasks)

[2022-03-17 11:23] scopsy commented on #373
This is not really I direction we want to take since it will require updating all the current providers not only SendGrid to this paradigm. This means we are breaking the responsibilities and border between a trigger and a trigger.

If someone wants to register to duplicate send grid provider he needs to be able to register 2 providers with different IDs. Please refer to #14, in that case, you can

[2022-03-17 11:58] #365 closed

[2022-03-17 12:50] rrhythmsharma commented on #17
@ComBarnea, Should I pick this?

[2022-03-17 13:35] novubot opened #377 "[NV-211] - Default redirect to templates"
## Why?

Currently when visiting the main page "http://localhost:4200/" the page shows an empty page. This should fallback the redirect to "/templates".

### How?

Create a fallback redirect in react-router under the `apps/web` project to further prevent this from happening we can create a new cypress test to validate this behaviour.

[2022-03-17 15:32] scopsy commented on #76
Hey @kishorliv missed this message between all the notifications on GH. If this is still relevant could you jump on our discord server so I can send you a test credentials to use ?

[2022-03-17 15:34] scopsy commented on #128
Hey, @jotabraga removed you from the assignee for time being maybe someone else can jump and help with one. If that's ok on your ned 🙏

[2022-03-17 15:41] novubot opened #378 "[NV-241] - Enable runtime dynamic environment variables in web project"
### Why?

Currently when we want to pass dynamic variables for example the API URL (check out `apps/web/src/config/index.ts for example`). We do this using the Create-react-app env variables mechanism that replaces revert process.env with the appropriate value during **build** time. Since there is no such thing as process.env within the browser environment.

When running within a docker environmen

[2022-03-17 15:44] scopsy commented on #378
@rrhythmsharma this is the one we spoke about earlier. Let me know if this makes sense in terms of requirements 🙏

[2022-03-18 03:31] ninjadev101 commented on #377
#379

[2022-03-19 22:47] fredsossa1 commented on #84
Hi, I can work on this

[2022-03-19 23:13] scopsy commented on #84
Thanks @fredsossa1! Assigned you❤️🙏

[2022-03-20 08:40] #377 closed

[2022-03-20 08:40] #373 closed

[2022-03-20 08:45] scopsy commented on #353
Hi @eugenewere published the missing SDK library 🎊, we currently facing an issue due to the dynamic environment variables passing to the "web" and "widget" project that requires quite a lot of resources when running the docker. This is tracked at #378 closing this issue for now as it is resolved, but the run optimization will be tracked there.

[2022-03-20 08:45] #353 closed

[2022-03-20 21:53] #355 closed

[2022-03-22 07:55] nevo-david commented on #14
@scopsy can we close this?

[2022-03-23 20:18] djabarovgeorge commented on #84
Closed by #389
With @fredsossa1 help

[2022-03-23 20:18] #84 closed

[2022-03-28 21:27] #343 closed

[2022-03-28 21:27] #158 closed

[2022-03-28 21:28] #340 closed

[2022-03-29 14:02] novubot opened #417 "[NV-283] - Hide pagination when less than items per page returned"
### What?

When less than the number of items per page is returned from the server, hide the pagination element.

### Where?

On the Activity feed page in the apps/web project

![CleanShot 2022-03-29 at 16.56.45.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/032e8e71-cd14-4940-88c0-63ad3e57a8f7/30faa19c-a9f9-43b3-9301-bdf36ed31381)

[2022-04-03 08:11] #417 closed

[2022-04-04 20:51] AlexVCS commented on #138
Hi, I see the issue was assigned back in December. Is it still available to be worked on? Thanks

[2022-04-06 10:08] peoray commented on #138
hey @AlexVCS 👋🏽, if you're available to work on this immediately, feel free to take a stab at it :)

[2022-04-08 18:25] DomnicAmalan opened #452 "Discord Integration"
## What?
Discord Provider

## Why?
A clear and concise description of why this feature is important or you need it as a user...

## How?
If you have an idea of how this can be implemented write your solution here

## Other information
Add any other context or screenshots about the feature request here.

[2022-04-08 18:26] DomnicAmalan commented on #181
We should create queue based on external solutions like rabbitMQ and Kafka, etc

[2022-04-09 05:04] davidsoderberg commented on #318
This could maybe guide someone to fix this issue:
https://dev.to/tkssharma/creating-dynamic-modules-in-nest-js-part-2-g1j

[2022-04-11 08:40] #378 closed

[2022-04-11 12:53] novubot opened #461 "[NV-24] - Tabs - Horizontal Menu"
## **Why?**

We are in the process of creating our new core components using [mantine](https://mantine.dev/core/tabs/) and creating our very own [storybook](https://storybook.js.org/docs/react/get-started/introduction) for easier UI development.

To learn more about our design system see [#219](https://github.com/notifirehq/notifire/issues/219)

## **How?**

To start contributing you need to run s

[2022-04-11 12:59] #461 closed

[2022-04-11 13:09] novubot opened #462 "[NV-325] - SegmentedControl switch component"
## Why?

To provide a support for switching environments between development and production, we need to create a UI component to represent that.

## How?

[Environments - Concepting (Figma)](https://www.figma.com/file/9jalQvImfHtbbExZPLW3XO/Concepting?node-id=1006%3A21319)

We can create a component in our "design-system" based on [https://mantine.dev/core/segmented-control/](https://mantine.dev/c

[2022-04-13 02:16] ninjadev101 opened #470 "Testing libraries are showing several errors..."
**Describe the bug**
Errors found when running `pnpm start`

**To Reproduce**
Steps to reproduce the behavior:
1. `pnpm install`
2. `pnpm start`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
[code]

**Details (please complete the following information):**
 - OS: macOS 11.5.2
 - Node Version v14.15.0

**Additional context**

[2022-04-13 02:21] ninjadev101 opened #471 "API is returning 404 and requiring environmentId field..."
**Describe the bug**
`GET http://localhost:3000/v1/integrations 400 (Bad Request)`

**To Reproduce**
Steps to reproduce the behavior:
1. `pnpm start`

**Expected behavior**
Pulling integration array from `/v1/integrations`

**Screenshots**
![image](https://user-images.githubusercontent.com/52289096/163086955-98e58683-4446-4053-94fb-52056dbc0cab.png)

[2022-04-13 02:40] ninjadev101 commented on #470
`pnpm setup:project` fixed this issue...

[2022-04-13 02:40] #470 closed

[2022-04-13 03:03] ninjadev101 opened #472 "Storybook of web is crashing on-load"
**Describe the bug**
storybook of web is crashing...

**To Reproduce**
Steps to reproduce the behavior:
1. `git pull origin main`
2. `cd apps/web`
3. `pnpm storybook`

**Expected behavior**
Working properly....

**Screenshots**
![image](https://user-images.githubusercontent.com/52289096/163091806-989549e0-e9e5-4651-b7bc-3a16512f5fdb.png)

[2022-04-13 07:01] scopsy commented on #471
Thanks for reporting @ninjadev101, could you please prefetch from `main` and reload the application? We've just merged the infra to support multiple #468 . If that doesn't work you can just clear your local DB and create another local user.

If you need to keep the local data, you can create a migration in the following way (we will release final migration guide once the version will be ready)
1)

[2022-04-13 07:05] scopsy commented on #472
Might be caused from the latest PasswordInput addition. I think we should also add a storybook github action to validate it builds and runs on web project changes.

Thanks for the quick fix!

[2022-04-13 07:05] #472 closed

[2022-04-13 12:37] ninjadev101 commented on #471
Worked like charm!!

[2022-04-13 12:37] #471 closed

[2022-04-13 13:46] #14 closed

[2022-04-13 16:59] #462 closed

[2022-04-13 17:01] novubot opened #481 "[NV-332] - Get user environments REST endpoint"
## Why?

Provide a way for the api consumer to get all environments available to the organization.

## How?

Adding a new `/v1/environments` endpoint to fetch a list of all authenticated organization environments and return them to the user. The result should contain only the following fields:

* _id
* name
* _parentId

## Done Criteria

* A working REST GET Api for fetching only the users environ

[2022-04-13 17:01] novubot opened #482 "[NV-311] - Environment switch functionality"
## Why?

Allowing the user to switch between Develoment and Production environments.

## How?

1) Fetching the \`/v1/environments' for all the environments associated with the user. And assigning the appropriate Environments in the Segmented Control component in the application sidebar.

2) Using the `/v1/auth/environments/:environmentId/switch` API endpoint to toggle between the 2 environments, u

[2022-04-13 17:04] scopsy commented on #482
This one is dependent on #481

[2022-04-14 04:26] ninjadev101 commented on #482
@scopsy To work on this, we need to merge `multi-environments-support` branch to `main`

[2022-04-14 05:50] scopsy commented on #482
Oh sorry forgot to mention it. Yes exactly, you can get out of this branch and create a pr against it back.

@ninjadev101

[2022-04-14 11:54] #481 closed

[2022-04-14 11:58] novubot opened #486 "[NV-296] - Update page meta title on-page navigation"
## Why?

To better indicate the current page the user visits when he navigates across the platform.

## How?

Update the meta title using react-helm or any other suggested method.

* Notification Templates Page - **Templates**
* Activity Feed Page - **Activity Feed**
* Settings Page - **Settings**
* Team Invite - **Team**
* Template Editor Create Mode - **Create Template**
* Template Editor Edit M

[2022-04-16 08:01] #482 closed

[2022-04-17 08:11] #486 closed

[2022-04-17 17:12] novubot opened #493 "[NV-339] - React helmet warning - Switch to react-helmet-async"
## What?

react-helmet in the `apps/web` causes the following warning:

Looks like the way to go is to switch to using [https://www.npmjs.com/package/react-helmet-async](https://www.npmjs.com/package/react-helmet-async) instead of react helmet.

## How?

Migrate from react-helmet to use react-helmet-async

## Done Definition

* The warning UNSAFE message is removed from the console

[2022-04-18 04:09] ninjadev101 commented on #493
it is strange why it's adding a strange merge... @scopsy

[2022-04-18 06:52] scopsy commented on #493
Yeah :| Very strange indeed. How are you fetching from upstream? If you are doing rebase maybe, worth trying a merge from main

[2022-04-18 06:52] #493 closed

[2022-04-18 10:38] scopsy commented on #493
@ninjadev101 Oh I think it might be because you've merged from the environments support branch and not from main? Because the PR contained the segmentedControl which we didn't push to main yet.

[2022-04-19 14:38] novubot opened #500 "[NV-338] - Passing a subscriber object to the template compilation"
## Why?

Currently inside the message template the information of the subscriber cannot be accessed, and must be duplicated inside the payload. We want to easily allow using subscriber information inside the template.

## What?

When compiling a template, we want to add a `subscriber` object that can be accessed inside the message template as follows:

[code]

## How?

Currently inside `apps/api/s

[2022-04-20 15:51] rrhythmsharma commented on #500
@scopsy , I'm interested, please assign me

[2022-04-21 07:28] nevo-david opened #501 "Change Providers Constructor Into An Interface"
**Describe the bug**
Today except for SES and EmailJS, providers don't have an interface.
You can import the interface in different libraries, and you need to copy the object that might change in the future.

**To Reproduce**
Try to import any provider config interface

**Expected behavior**
Convert the provider's object type into an interface

[2022-04-25 17:06] djabarovgeorge opened #503 "Widget cypress test fail"
**Describe the bug**
Whenever you run 'notifications-list.spec' on widget with 'cypress:run' the test fails while on 'cypress:open' they succeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to widget pakage.json
2. Click on Run 'cypress:run' script command.
3. Scroll down to console
4. See the error.

**Expected behavior**
The tests pass successfully.

**Screenshots**
Screenshot of th

[2022-04-26 10:27] novubot opened #504 "[NV-295] - Delete notification template API"
Add an API for the notification template DELETE command.

As with the integrations dal model, we should never delete it from the database but rather mark it as deleted and when queried it shouldn't be returned.

[2022-04-27 12:19] ninjadev101 commented on #504
@scopsy I can work on this.

[2022-04-28 13:07] ninjadev101 commented on #503
A question! Why still use cypress v7.7.0???

[2022-04-28 13:08] scopsy commented on #503
@ninjadev101 haha good question. We only updated the web project once you upgraded it :)

[2022-04-28 13:11] ninjadev101 commented on #503
Damn. I will upgrade it then.

[2022-04-29 08:51] isikhi opened #512 "Docker images require authorization."
[code]

**Expected behavior**
I need to fetch the repo for development. So maybe we can release images to a public repo

[2022-04-29 09:03] scopsy commented on #512
Thanks for the report @isikhi , looks like a config was missed. Made it public now, can you refetch?
Please note the docker-compose setup is still a work-in-progress if you will encounter any issues please let us know 🙏

[2022-04-29 09:20] #512 closed

[2022-04-29 12:39] ninjadev101 commented on #504
You can close this issue.

[2022-05-01 12:44] #504 closed

[2022-05-01 12:48] djabarovgeorge commented on #503
Hey @ninjadev101, It is strange on my machine they passed successfully.
Could you share the errors you get?

[2022-05-01 12:57] novubot opened #513 "[NV-361] - Bug: Cannot read properties of null (reading '0') when firstName or lastName is null"
## What?

When a user is created using the GitHub integration and he doesn't have a firstName or lastName the members Invite Page throws an error on the client-side.

More details on the stack trace:

[code]

## How to reproduce

Update the local firstName or lastName using a mongo client to be `null` and visit the members page.

## Where

The error occurs in the @novu/web project under `apps/web`

[2022-05-01 13:12] novubot opened #514 "[NV-367] - API - Remove google.com ping from health-check request"
## Why?

Really an un-needed check for network connectivity causes some false positives when calling the health check endpoint.

## What?

Remove the ping for google.com when performing the health-check request.

## Where?

Located under the `apps/api/src/app/health/health.controller.ts`

[2022-05-01 13:27] novubot opened #515 "[NV-368] - WS - Remove google ping from health-check"
## Why?

Really an un-needed check for network connectivity causes some false positives when calling the health check endpoint.

## What?

Remove the ping for google.com when performing the health-check request.

## Where?

Located under the `apps/ws/src/health/health.controller.ts `

[2022-05-01 15:17] novubot opened #517 "[NV-370] - Templates - Handlebars - new titlecase helper"
## Why?

When triggering an event on the `@novu/api`a message is compiled using handlebars. We want to allow the user to specify some handlebars helpers when creating a message template in the UI.

## What?

A new handlebars helper read more about it ([https://handlebarsjs.com/guide/#custom-helpers](https://handlebarsjs.com/guide/#custom-helpers)) called `titlecase` when applied, the variable cont

[2022-05-01 15:17] novubot opened #518 "[NV-369] - Angular component wrapper for the notification-center embed script"
## Why?

Currently, we allow to embed the notification center using 2 ways:

* A react component using @novu/notification-center [https://docs.novu.co/docs/notification-center/react-components](https://docs.novu.co/docs/notification-center/react-components)
* An **embed** script [https://docs.novu.co/docs/notification-center/iframe-embed](https://docs.novu.co/docs/notification-center/iframe-embed)

[2022-05-02 07:08] scopsy opened #523 "[NV-374] - [Tracking] - Workflow Editor"

[2022-05-02 07:09] scopsy opened #524 "[NV-271] - React Notification Center Component"

[2022-05-02 07:10] #524 closed

[2022-05-02 07:19] scopsy opened #525 "[NV-311] - Multi Environments Support"

[2022-05-02 07:19] #525 closed

[2022-05-02 07:25] scopsy opened #526 "[NV-375] - Direct Channel Support"

[2022-05-02 07:47] scopsy opened #527 "[NV-300] - [Tracking] - HMAC support"
## Why?

Currently, when Novu's user adds the notification center to his application he is required to pass a `$user_id` which identifies the user end-customer identifier and the application Identifier which is acted as a public key.

A malicious actor can access the user feed by accessing the API and passing another `$user_id` using the public application identifier.

HMAC will make sure that a $

[2022-05-02 12:40] ninjadev101 commented on #503
@djabarovgeorge
![image](https://user-images.githubusercontent.com/52289096/166235029-46347b09-36c4-4fd8-a3ef-7bc9397f3f02.png)

[2022-05-02 12:56] ninjadev101 commented on #503
@djabarovgeorge @scopsy
I think time out happens because of too many requests from `packages/notification-center`

![image](https://user-images.githubusercontent.com/52289096/166237180-009513ea-0a33-425f-8a74-585c52ff4030.png)

[2022-05-02 13:08] djabarovgeorge commented on #503
Hey @ninjadev101, I tend to agree the strange thing is that I could not reproduce the issue on development or cypress:open, the only time it failed for me was on cypress:run

[2022-05-02 13:16] ninjadev101 commented on #503
Sometimes it works but it fails often... I console logged at that case, and in the notification list component, the `hasNextPage` prop was false...

[2022-05-02 22:09] AlexVCS commented on #517
I'd like to work on this issue. Please assign it to me :)

[2022-05-03 06:50] scopsy commented on #517
Sure @AlexVCS ! Let me know if you need any help with running the environment locally or the tests :)

[2022-05-03 12:42] ninjadev101 commented on #513
@scopsy I can work on this issue. Do we need to pull the data from Github? Or any other suggestions??

[2022-05-03 12:46] scopsy commented on #513
Hi :) So you can just update regular user in the local DB to be "firstName": null, and you will see this error

[2022-05-03 15:20] aggmoulik commented on #80
Hey @scopsy What was the issue with the previous PR? I am looking to work on this.

[2022-05-03 15:23] scopsy commented on #80
So I think it was closed automatically when the target branch was deployed for some reason, just now noticed that :( @alceil deeply apologize I missed it, if you can maybe reopen it and @aggmoulik can contribute to it to finalize everything so we can merge this.

[2022-05-03 15:23] #515 closed

[2022-05-03 15:38] alceil commented on #80
Sure

[2022-05-04 03:31] ninjadev101 commented on #77
@iampearceman I want to work on this.

[2022-05-04 03:44] ninjadev101 commented on #77
![image](https://user-images.githubusercontent.com/52289096/166620459-4335672d-b530-45d3-b004-902678f2178f.png)

[2022-05-04 12:53] ninjadev101 commented on #513
@scopsy you can close this issue

[2022-05-04 12:53] ninjadev101 commented on #514
@scopsy you can close this issue

[2022-05-04 13:01] #513 closed

[2022-05-08 09:55] djabarovgeorge opened #540 "Empty notification group on creation of notification-templates"
**Describe the bug**
When a user wants to create a new template he needs to specify a Notification Group.
If the user deletes the default 'General' group and does not create a new one (leaves it empty) the Notification Group will be missing on the payload and a bad request will be sent to the API.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create a new template (`/templates/create

[2022-05-08 11:07] novubot opened #541 "[NV-383] - Vue component wrapper for the notification-center embed script"
## Why?

Currently, we allow to embed the notification center using 2 ways:

* A react component using @novu/notification-center [https://docs.novu.co/docs/notification-center/react-components](https://docs.novu.co/docs/notification-center/react-components)
* An **embed** script [https://docs.novu.co/docs/notification-center/iframe-embed](https://docs.novu.co/docs/notification-center/iframe-embed)

[2022-05-08 11:24] novubot opened #542 "[NV-385] - Templates - Handlebars - new pluralize helper"
## Why?

When triggering an event on the `@novu/api`a message is compiled using handlebars. We want to allow the user to specify some handlebars helpers when creating a message template in the UI.

## What?

A new handlebars helper read more about it ([https://handlebarsjs.com/guide/#custom-helpers](https://handlebarsjs.com/guide/#custom-helpers)) called `pluralize` when applied, receives the firs

[2022-05-08 11:25] novubot opened #543 "[NV-384] - Add Sentry breadcrumb on the CommandHelper validation"
## Why?

Currently, when viewing errors in Sentry, in the case of Bad Exception we can't really know what was the validation error that caused the issue.

![CleanShot 2022-05-08 at 14.14.09@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/ec268415-261f-4f6d-b260-312839ce895e/575202d1-8ed6-4627-9230-43e17dd81e9c)

## How?

Sentry supports breadcrumbs [https://docs.sentry.io/p

[2022-05-08 11:41] novubot opened #544 "[NV-386] - Redirect to /auth/application in case no environmentId inside token"
## What?

In some cases, a user might skip the `/auth/application` screen when creating the environments, in such case, we need to redirect the user only if no _environmentId is present on the token, but the token exists.

## Reproduce

* Create a new user from `https://localhost:4200`
* When entered the `` /auth/application `` change the url to \``` https://localhost:4200` `` without completing t

[2022-05-09 04:09] ninjadev101 commented on #544
This is done, @scopsy

[2022-05-09 05:26] #544 closed

[2022-05-09 09:03] novubot opened #546 "[NV-388] - GitPod integration setup"
## Why?

GitPod can new contributors setup the project faster and to avoid versioning issues for global dependencies such as Node, pnpm and etc…

## What?

Currently, we have partial support, but looks like a couple of things are missing:

* When compiling the project during rebuild time, we need to run the `npm run setup:project` command instead of just running npm install in the root
* When runn

[2022-05-09 10:51] #500 closed

[2022-05-10 03:19] ninjadev101 commented on #542
@scopsy this is done

[2022-05-10 06:42] ainouzgali commented on #542
@ninjadev101 it looks good! This will be great, it will add so many options in the future.

[2022-05-10 06:46] #542 closed

[2022-05-10 16:16] #543 closed

[2022-05-11 06:38] #540 closed

[2022-05-12 07:25] steinroe commented on #18
Congrats on the funding!

Do you plan to also support expo push? As far as I understand your concept, [Expo Push](https://docs.expo.dev/push-notifications/overview/) would not require sub- / multi-providers and can be a quick win when it comes to push support in novu.

[2022-05-12 08:47] scopsy commented on #18
Thank you @steinroe ! We definitely plan on adding support for the expo push. We are currently making some work on underline token subscriber token management #526 as part of this ticket. Once it's finalized, we can have support for direct and push channels aswell :)

[2022-05-12 08:52] djabarovgeorge commented on #527
Closed by #539

[2022-05-12 08:52] #527 closed

[2022-05-12 12:16] VictorLlanir commented on #518
I'd like to work on this. Please, could you assign that to me, @scopsy ?

[2022-05-12 12:32] ninjadev101 commented on #541
Let me have a look...

[2022-05-12 20:15] aaron5670 opened #560 "Notification Center doesn't work with Next.js"
## Notification Center doesn't work with Next.js

**To Reproduce**
Steps to reproduce the behavior:
1. Installed on latest Next.js 12.1.6
2. Followed this instructions: https://docs.novu.co/docs/notification-center/getting-started
3. See error:
![image](https://user-images.githubusercontent.com/17295145/168160080-bd597c4b-f89d-496a-b14f-9c79ef77387c.png)
4. See code:
![image](https://user-images.g

[2022-05-13 01:19] iampearceman commented on #541
You've been assigned

[2022-05-13 06:47] scopsy commented on #560
@djabarovgeorge Looks like this is happening during SSR loading on the server and window.localstorage is not accessible.

One thing we can do is we can skip the initialization of the session on the server and only do this on the client side. we might have some other things to adjust so maybe we can test this using Next.js and @davidsoderberg can help with testing on Remix as well :)

[2022-05-13 06:50] davidsoderberg commented on #560
@scopsy a rule of mine is if it works with Next.js SSR it works with Remix :) But yeah if we have an example with Next.js it will be easy to port to Remix 😄

[2022-05-13 11:21] 13colours commented on #560
Hi! I have made a draft PR to fix this issue here https://github.com/novuhq/novu/pull/561
I would appreciate some help to test this implementation before I make it a proper PR.
Thanks!

[2022-05-16 15:19] proDOOMman opened #567 "Can't checkout repository on Windows"
**To Reproduce**
Steps to reproduce the behavior:
1. Try to checkout repo on Windows:
D:\>git clone https://github.com/novuhq/novu
2. Catch error:
Cloning into 'novu'...
remote: Enumerating objects: 21945, done.
remote: Counting objects: 100% (1493/1493), done.
remote: Compressing objects: 100% (633/633), done.
remote: Total 21945 (delta 857), reused 1414 (delta 836), pack-reused 20452
Receiving o

[2022-05-16 16:38] ainouzgali commented on #567
Hi @proDOOMman Thank you for reporting! @BiswaViraj  just merged a fix. Please let us know if all is well :) And if you have any more issues.

[2022-05-17 10:29] singhgulshan opened #569 "TypeError: (0 , tslib__WEBPACK_IMPORTED_MODULE_9__.__spreadArray) is not a function"
**To Reproduce**
Steps to reproduce the behavior:
1. Create new Next JS App 'yarn create next-app --typescript'
2. Setup novu notification center using following instructions https://docs.novu.co/docs/notification-center/react-components.
3. Add `typeof window !== 'undefined'` to avoid localstorage undefined issue.
4. Start dev server
5. Trigger one or multiple notifications from backend
6. Click

[2022-05-17 12:17] aravindarc opened #570 "Is there a documentation page for the http apis"
## What?
I need http api documentation

## Why?
I don't want to use the nodejs sdk, I want to trigger, create subscribers from golang.

## How?
We can use swagger for documentation, sdk generation and more

[2022-05-17 12:28] davidsoderberg commented on #570
@aravindarc, right now we do not have one... I suggest that you check out the nodejs sdk to figure out how you can use the endpoints from golang 😄

[2022-05-17 12:40] davidsoderberg commented on #569
@singhgulshan is this the same problem as https://github.com/novuhq/novu/issues/560 ?

[2022-05-17 12:45] #567 closed

[2022-05-17 13:52] singhgulshan commented on #569
@davidsoderberg no its not the same as #560. You can see in step 3 i'm using `typeof window !== 'undefined'`.  So, rendering of notification center is on client side only.

[2022-05-17 17:43] singhgulshan commented on #569
@BiswaViraj Output of command `npm list tslib`
<img width="470" alt="Screenshot 2022-05-17 at 11 04 36 PM" src="https://user-images.githubusercontent.com/36273489/168876677-b16f9f6e-794c-439f-983a-c694a2764b5d.png">

Code snippet:
![carbon](https://user-images.githubusercontent.com/36273489/168876770-1d5f49b8-b126-4c4b-afff-7ed47b207e7e.png)

[2022-05-18 04:41] aravindarc commented on #570
Thanks

[2022-05-18 04:41] #570 closed

[2022-05-18 06:09] BiswaViraj commented on #569
@singhgulshan
I was able to reproduce the error
![image](https://user-images.githubusercontent.com/29251776/168967202-db9e2d60-1617-4203-80ca-d5ef9828d22c.png)

The issue is due to the outdated version of `tslib` used by the dependencies of `next` as listed in the hierarchy `npm list tslib`.
So, it is more of an issue regarding **Next**. nonetheless, I was able to fix it with a workaround.

1. By

[2022-05-18 06:16] davidsoderberg opened #571 "Swagger json for api documentation"
## What?
Swagger json to be able to create an api documentation

## Why?
So the community can create sdks in other lang then NodeJs and also using our api without any sdk if they like...

## How?
Using the express alternative here: https://docs.nestjs.com/openapi/introduction

[2022-05-18 06:19] vickywane commented on #571
Hi David 👋 ,

I'd like to work on this.

[2022-05-18 06:34] ainouzgali commented on #570
Hi @aravindarc , its in the works. An issue was opened about this. Thank you for bringing it up!

[2022-05-18 08:16] Ekman commented on #571
Novu seems like a cool project and we're investigating if we should use it or not.

I'd say this is extremely important for Novu as you market yourself as "one unified API" but without API documentation you defeat your own purpose. Unfortunately, our back end does not run JS.

Looking forward to this.

[2022-05-18 11:55] singhgulshan commented on #569
This worked!! thanks.
@BiswaViraj thanks for quick resolution and @davidsoderberg for fast response.
Closing the issue.

[2022-05-18 14:36] ComBarnea commented on #571
Hey @Ekman, I think you are very right,  thank you for taking the time to write this down, super appreciated. Would love to get your help about the API once the first version of the interactive API is up and running as @vickywane is working on this, thanks to you two!

[2022-05-18 21:50] VictorLlanir commented on #518
Hi there, I'm sorry for this, but some unexpected things happened and i will need to be away for a while.
I've unassigned this issue and am really sorry.

[2022-05-19 06:10] vickywane commented on #571
@davidsoderberg Going through the [bootstrap.js](https://github.com/novuhq/novu/blob/main/apps/api/src/bootstrap.ts) file for the API, I can see that [Nest.js swagger documentation](https://docs.nestjs.com/openapi/introduction) has already been implemented.

A user using the service can view the entire swagger docs at `http://localhost:3000/api` (see screenshot).

Is this issue here having an offi

[2022-05-19 08:18] nevo-david commented on #560
As a temporary solution, you can make your component dynamic.
https://nextjs.org/docs/advanced-features/dynamic-import

[2022-05-19 12:58] davidsoderberg commented on #571
Okay lets start adding docs for /v1/subscribers in this issue :)

[2022-05-20 04:54] proDOOMman opened #580 "i18n for notification widget"
## What?
Widget localization ("Notifications", "Mark all as read")

## Why?
Novu users speaks different languages

[2022-05-20 11:08] SaschaWebDev opened #582 "Problem with SMS Integration through novu.co web platform"
**Describe the bug**
I have tried to integrate sms77 and nexmo through the web.novu.co panel for SMS integration, but always run into an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to web.novu.co
2. Integrate sms77 or nexmo with their API keys
3. Integrate Trigger code in own project
4. Trigger End point
5. Go into Activity Feed on web platform
6. SMS will appear with red error

[2022-05-20 16:53] scopsy commented on #582
Thank you for the detailed report!

I think I have a clue to might what has happened:
https://github.com/novuhq/novu/blob/caeb2aab7413b5b79dccd5778c21df1dc83f9a3e/apps/api/src/app/events/services/sms-service/handlers/sms77.handler.ts#L8

Looking at the provider handler implementation `sns` is passed to the `constructur` call. Looks like a mistake and `sms77` should be passed there.

Not sure if th

[2022-05-21 14:11] ysaakpr commented on #526
Would be interested to contribute here.. Are there any regular calls/meets happening.. I can spend few hours daily on this.

If we can sort out the interface design for push provider .. it will be great to start with FCM for push.

[2022-05-22 06:40] scopsy commented on #526
Hi @ysaakpr ! @djabarovgeorge is currently working on the Direct channel this is mainly for things like Discord, Slack and etc... Push channels are next on the line and would love to chat with you about some of your ideas on this topic since we haven't started implementing the interface yet for push. Feel free to send me a Discord DM and we can schedule a quick call.

And we will share the results

[2022-05-22 07:19] scopsy commented on #560
@aaron5670 just merged @13colours fix to main, will also push a new package version soon 🙏

[2022-05-22 07:33] scopsy commented on #518
Sure thing @VictorLlanir no problem at all, thank you so much for trying to help with this <3

[2022-05-22 07:37] scopsy commented on #580
@proDOOMman Thank you for opening this issue. Are you using the react component for this? I think the best would be to provide an object with the entire texts contents of the notification center and than customers can override it using their preferred i18n library. What do you think about this approach?

[2022-05-22 14:18] SaschaWebDev commented on #582
I have opened a PR [here ](https://github.com/novuhq/novu/pull/584)

[2022-05-23 06:11] djabarovgeorge commented on #582
Hey @scopsy,
You are right we need a provider handler in order to map the credentials, so nexmo needs one as well.

[2022-05-23 06:56] aggmoulik commented on #80
@alceil @scopsy Update on PR.

[2022-05-23 07:57] novubot opened #587 "[NV-412] - Add support for attachments passing with the Novu API"
## Why?

Currently, the interface of the `trigger` payload exposes an `attachments` interface but the `trigger-event.usecase.ts` is not passing the attachments payload to the provider handlers.

## How?

When attachments are passed to  the `trigger-event.usecase.ts` they should be passed successfully to the provider and received by the user.

## Done Criteria

* The user is able to receive attachm

[2022-05-23 14:13] proDOOMman commented on #580
Yes, I use react component.

I agree. Great idea.

[2022-05-23 17:56] devblin commented on #587
Hey @scopsy , I would like to help, if possible can you elaborate more onto this issue ?

[2022-05-24 07:39] scopsy commented on #587
Hi, @devblin sure!

So basically the current trigger endpoint allows inside the payload to pass the `attachments` array to it. But we don't handle them on the backend at all. The part that actually manages the trigger input is in the file called `trigger-event.usecase.ts` it receives the requests and sends the email using one of the providers.

We need to pass the attachments to the provider so th

[2022-05-24 10:51] novubot opened #591 "[NV-416] - Upgrade and add support for pnpm v7"
## Why?

We use PNPM heavily in the project, so in order to keep up with recent changes we should support the v7 breaking changes support.

## How?

There is some initial work started at a branch named: `feature/pnpm-upgrade`  Work can continue from there by updating local pnpm to the latest v7 and trying to run pnpm install and pnpm build locally (remove all node_modules before running those comm

[2022-05-24 12:36] devblin commented on #587
Ok, so this is the part where currently, the `attachments` array is not passed correctly ? And, instead we need to use `new FormData(...)` to correctly pass the payload ?
https://github.com/novuhq/novu/blob/9ea4c77cc5d72b5e727ffa014774a9e4bd0d9599/packages/node/src/lib/novu.ts#L34

[2022-05-24 12:42] scopsy commented on #587
@devblin yes exactly! I think that the new FormData is indeed mandatory to correctly pass the files

[2022-05-24 13:14] remirobichet opened #593 "Allow passing custom backend URL to iFrame embed"
**Describe the bug**
In-App Widget not working for self-hosted solution with iFrame embed

---
@scopsy (cf Discord 05/24/2022 14:40)

Add `backend` option to iFrame embed solution (same behavior as React Component)

[2022-05-24 15:19] BiswaViraj opened #594 "Page crash on CRA React 18"
**Describe the bug**
The page crashes when importing the Novu react component.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new react app using `npx create-react-app <project-name>`
2. install `npm install @novu/notification-center`
3. use the code snippet provided on [https://docs.novu.co/docs/notification-center/react-components](url)

**Expected behavior**
Should not crash

**

[2022-05-24 15:25] devblin commented on #587
Ok, so
1. Updating the payload passed in `@novu/node` for files using FormData.
2. Then, updating this function, to correctly handle the attachemets passed. https://github.com/novuhq/novu/blob/c68a3d6589afabf351c224e083c6cb812b257ae7/apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts#L491
Is this correct ?

[2022-05-24 15:26] davidsoderberg commented on #594
@BiswaViraj, yes this is known to us, right now the notification-center do not work with React 18...
Is this something you like to investigate?

[2022-05-24 15:43] devblin commented on #587
Cool, can you assign me this issue ? I would like to make PR for the same 😄

[2022-05-25 08:37] #517 closed

[2022-05-25 11:36] AlexVCS commented on #593
Hi, I'd like to work on this issue. Please assign it to me :)

[2022-05-25 11:44] scopsy commented on #593
Thanks alex! You look at the following packages: @novu/embed and @novu/widget they handle this functionality.

As always feel free to ask questions if you will have any ♥️

[2022-05-25 12:45] micalevisk opened #599 "Improve the `repository` entry on `package.json` to respect the monorepo structure"
## How?

change this:

https://github.com/novuhq/novu/blob/a4b2c1d4f5edbd25b940406f5d583b35995fa519/packages/nest/package.json#L9

to this:

[code]

## Why?

When we run `npm docs @novu/nest`, it opens the page https://github.com/novuhq/novu#readme instead of https://github.com/novuhq/novu/tree/main/packages/nest

The same happens if we click on Homepage link at https://www.npmjs.com/package/@novu

[2022-05-26 01:35] ninjadev101 commented on #541
@iampearceman For me, it's the first time making vue3 library. It is taking too much time & effort and I think I can't make quality code on this. So please assign this to others.

[2022-05-26 03:22] ninjadev101 commented on #591
@scopsy I want to work on this.

Should we replace `standard-version` with `release-please`?
`standard-version` is deprecated.

And can we upgrade `rollup` to the latest? We are using an ancient version...

[2022-05-26 07:50] scopsy commented on #591
Sure @ninjadev101! We can bump rollup, let me first still checkout the release-please thing, since I'm creating a versioning and branching to release discussion right now so we can chat on it there.

[2022-05-26 09:48] scopsy commented on #569
Reopening this so we can fix this without the workaround since we seen that a couple of more users experienced this.

[2022-05-26 09:49] abrl91 opened #602 "When editing the message name, the code snippet is not updated"
**Describe the bug**
When editing the message name, the code snippet is not updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Notification'
2. Click on 'the edit button of the notification you want to edit'
3. Edit the name
4. Click on Trigger Snippet
5. See that the notification name on `novu.trigger` was not updated

**Expected behavior**
The notification name string on `novu

[2022-05-26 09:53] scopsy commented on #602
@abrl91 Thanks for reporting, we currently do not allow updating the trigger identifier after initial creation from the UI. We had some blocking issues we needed to update, and we just can add a field for this. I'm creating a detailed issue right now and will update you once it's released.

[2022-05-26 13:56] scopsy opened #604 "Add Clickatell SMS provider"
### What?
New [Clickatell](https://github.com/clickatell/clickatell-node) SMS Provider.

### Why?
To have the ability to use Clickatell as a provider.

### How?
Add new provider based on [this guide](https://docs.notifire.co/docs/community/create-provider)

### Usage
Example for Clickatell SMS provider registration needs to be finalized.

[code]

[2022-05-27 04:13] ninjadev101 commented on #591
@scopsy Could you have a look at `codecov` library? It is deprecated...

[2022-05-27 04:17] ninjadev101 commented on #591
I am removing `travis-deploy-once` library since it is deprecated...

[2022-05-27 07:53] singhgulshan opened #605 "CTA not working - NextJs"
**Describe the bug**
CTA for notification not working

**To Reproduce**
Steps to reproduce the behavior:
1. Create In-App Notification template with redirect url
2. Trigger notification
3. Clicking on notification does not redirect to desired page

**Expected behavior**
It should redirect to desired page.

**Details:**
 - OS: Mac M1
 - Node Version: v14.18.3
 - NPM Version: 8.10.0
 - @novu/notific

[2022-05-27 08:31] scopsy commented on #591
@ninjadev101 yeah we can def remove codecov. Not really using it. travis-deploy-once can be def removed aswell

Thanks!

[2022-05-27 08:34] cananda opened #606 "Add support for PostgreSQL DB"
## What?
Most applications would use some sort of RDBMS and most new age BaaS also use RDBMS. Just for using an notification engine supporting self-hosted NoSQL like MongoDB is an overhead. If Novu supports RDBMS, a managed service or a developer would be familiar and easy to work with.  PostgreSQL for example has great JSON support too.

## Why?
Managing multiple services/technologies in producti

[2022-05-27 08:42] scopsy commented on #606
Thanks for reporting this @cananda, I will take a look at some more generic ORMS, but from experience working with some of them, they are either very lacking in a NO-SQL use case or the other way around :(

Novu goal is to be a microservice dedicated to managing the communication stack of the application, this is the reason we provide the service in the enclosed docker-compose environment working

[2022-05-27 08:50] scopsy commented on #605
Thanks for reporting @singhgulshan i've just noticed that since our move to the standalone notification library the CTA navigation was not well documented. I will make sure to add this to the docs part.

For now you can use the `onNotificationClick` prop from the NotificationCenter component the data passed to it can be used to navigate to the new page using your framework of choice navigation par

[2022-05-27 09:01] cananda commented on #606
@scopsy Thank you for your comments and I understand the decisions made.  As a micro service, the service should be reliable, performant, scalable and secure. Running a DB on a docker, will be challenging to secure, backup and scale unless there is expertise available.  Most micro services will rely on some RDBMS and hence easy to use novu with RDBMS as a datastorel.

At this stage of the project,

[2022-05-27 09:31] singhgulshan commented on #605
@scopsy thanks for the solution. Also, useNotification hooks is not working. i was getting empty array for the notifications also useSocket was returning null. Hope you can provide the solution for this also. Thanks in advance.

[2022-05-29 05:43] singhgulshan opened #607 "Invalid regular expression: invalid group specifier name"
**Describe the bug**
SyntaxError: Invalid regular expression: invalid group specifier name.
Notification is not working on safari browser but working on chrome.

**Expected behavior**
Notification should work

**Screenshots**
![Screenshot 2022-05-29 at 11 05 48 AM](https://user-images.githubusercontent.com/36273489/170854048-349fa07f-af34-49af-9385-94a6ad3fde7e.jpg)

**Details (please complete the

[2022-05-29 07:29] BiswaViraj commented on #607
For anyone interested to take this issue, you need to change the below regex
https://github.com/novuhq/novu/blob/5637f7132626ce9797d6b4f4cce9c3a4834da2c5/packages/notification-center/src/shared/utils/getLinearGradientColorStopValues.ts#L6

`(?<=` part to be specific

[2022-05-29 08:22] scopsy commented on #607
@singhgulshan thanks for reporting!

@djabarovgeorge can we achieve this without the look behind part?

[2022-05-29 11:54] #599 closed

[2022-05-29 11:55] scopsy commented on #569
Looks like the error was reseolved in latest `0.4.1-alpha.0` release! Amazing Work @singhgulshan @BiswaViraj and all the others <3

[2022-05-29 11:55] #569 closed

[2022-05-30 07:38] singhgulshan commented on #607
@scopsy @BiswaViraj is there any temporary solution to this?? As we are using this on production and its making ow web app unresponsive on safari and ios device.

[2022-05-30 07:58] scopsy commented on #607
@singhgulshan taking care of this today and will release a hotfix asap.

[2022-05-30 08:15] #594 closed

[2022-05-30 10:45] djabarovgeorge commented on #607
Hey @singhgulshan,
Thank you for raising this issue and opening the 'issue'.
I will look into it right away and hopefully, we will release a hotfix shortly.

[2022-05-30 10:48] djabarovgeorge commented on #580
Hey @scopsy @proDOOMman,
Currently, we support custom `header` and `footer`, so you could override the header component and design it as you please. Is this approach will answer your needs?

[2022-05-30 15:35] djabarovgeorge commented on #605
Hey @singhgulshan
Excuse me for joining late, but could you present some snipped of the issue of useNotification returning empty array and null socket? so we could address your issue.

My guess is that you are not waiting for the response to get to the client and the data is not yet fetched and socked still not initialized.

Please let us know if you still experiencing any issues.

[2022-05-31 03:51] vbylen commented on #18
👍  for Expo push integration

[2022-05-31 05:09] singhgulshan commented on #605
@djabarovgeorge This is the code snippet i'm using.
![carbon](https://user-images.githubusercontent.com/36273489/171096532-2d0a9442-e622-47a5-b5d0-689098b075bd.png)

Also when i call `fetchNextPage` or `refetch` following error occurs.
**TypeError: Cannot read properties of null (reading 'getNotificationsList')**
<img width="971" alt="Screenshot 2022-05-31 at 10 36 38 AM" src="https://user-images.

[2022-05-31 06:46] djabarovgeorge commented on #605
Hey @singhgulshan
Thank you for taking your time in order to present a snippet 😊  , from the snippet and the second error `TypeError: Cannot read properties of null (reading 'getNotificationsList')`  i can conclude that you are not wrapping your component with NovuProvider component that is mentioned in the documentation, please let me know it is a correct conclusion or is it missing from the snip

[2022-05-31 10:03] singhgulshan commented on #605
@djabarovgeorge its working after NovuProvider, my bad.
But i cannot see the payload in the notification which i have sent from backend, is this expected behavior??

[2022-05-31 10:04] singhgulshan commented on #607
@scopsy @djabarovgeorge  are we merging this soon??

[2022-05-31 10:24] djabarovgeorge commented on #605
No worries we here to help 😊.

Regarding the missing notifications, it is not expected.
In order to examine the issue first of all we need to validate two things:
1. Subscriber - make sure you use the same subscriber id when you send the notification and when you initialize the NovuProvider component.
2. Environment - We need to make sure we use the same one. If you send to Novus cloud environment

[2022-05-31 10:28] scopsy commented on #607
@singhgulshan just merged this to main, will publish a patch version of the library today 🙏

[2022-05-31 11:03] singhgulshan commented on #605
I think i was not clear in above query.
I'm getting all the notifications, none of the notification is getting missed. I will make it clear with one example.
Suppose i'm triggered one notification with following payload:
[code]
but in notification ` payload : { someKey : 'Some data' }` is not present.
I hope i'm clear this time.

[2022-05-31 11:52] singhgulshan commented on #605
Yes, m using double curly brackets for some of the variables, but it will be better if we can pass this payload to notification so that we can handle some UI requirement accordingly. Just a enhancement request.

[2022-05-31 11:54] scopsy commented on #605
This is a great suggestion @singhgulshan  actually needed this aswell for myself a couple of days back. I will create an issue for this so we can collaborate on it there.

[2022-05-31 12:47] novubot opened #612 "[NV-438] - Add payload content to notification object"
## Why?

After triggering an event and passing a `payload` object to it, the payload object is never saved on the message entity returned by the notifications API specifically for the notification center usecase.

## What?

Persist the payload object inside the generated Notification Message for the channel including the original `payload` object sent by the API Users.

## Where?

The unit respons

[2022-05-31 12:49] scopsy commented on #605
@singhgulshan created #612 let me know if this is what you had in mind aswell

[2022-05-31 16:23] scopsy commented on #560
This was fixed an 0.4.1 let me know if someone still experience this 🙏

[2022-05-31 16:23] #560 closed

[2022-05-31 16:23] scopsy commented on #607
@singhgulshan just released @novu/notification-center@0.4.2 let me know if this fixes your issue 🥳

[2022-05-31 16:46] Abobos commented on #604
@scopsy I think I can look into this.

[2022-05-31 17:22] djabarovgeorge commented on #604
Sure, so the new provider handlers currently serve as data mappers. and are located at
https://github.com/novuhq/novu/tree/main/apps/api/src/app/events/services/sms-service/handlers
where you can see all the current SMS handlers.

[2022-05-31 17:32] Abobos commented on #604
@djabarovgeorge got you.

[2022-05-31 18:13] singhgulshan commented on #607
@scopsy this fixed the issue. Thanks.

[2022-06-01 11:12] singhgulshan opened #616 "Socket Api Breaking on Safari Browser: Failed to load resource: the server responded with a status of 400 ()"
**Describe the bug**
Socket.io api for novu is responding with
[code]
Same is working on chrome.

Also Socket api keeps on triggering in a loop.
<img width="1440" alt="Screenshot 2022-06-01 at 4 31 41 PM" src="https://user-images.githubusercontent.com/36273489/171391101-e8b5c6fa-9761-4a66-a681-6e752a2c22a8.png">

**Expected behavior**
Socket connection should establish a connection for real time u

[2022-06-01 16:55] scopsy commented on #616
@singhgulshan I think the approach would be to add to the socket client of the `@novu/notification-center` library since looks like this issue is caused by sticky session behavior on other transport methodologies.

[code]

[2022-06-01 23:19] narzaut opened #619 "Activity Feed breaks down and can't resubscribe a user with same phone and different id"
**Describe the bug**
After subscribing and unsubscribing a user, the Activity Feed breaks down and I cannot subscribe another user with different id and same phone number as the previously unsubscribed user

**To Reproduce**
Steps to reproduce the behavior:
1. Using '@novu/node' module
2. Connected to Novu Cloud account and using its API and Web Dashboard
3. Set up an active notification template

[2022-06-02 04:42] singhgulshan opened #620 "Unseen Count for Custom UI Component"
**Describe the bug**
Not able to get unseen count for custom component using `useNotifications` hook. I used useSocket to get unseen count on real time, which is working fine. But on page reload unseen count state is reset to 0.

**Expected behavior**
There should be a new hook or new entity in `useNotifications` to get the unseen count.

**Details:**
 - OS: Mac
 - Node Version: v14.18.3
 - NPM Ve

[2022-06-02 08:17] scopsy commented on #620
@singhgulshan thanks for mentioning this! We added this to our upcoming release. I will keep you up to date around this Sunday on update for it.

[2022-06-02 08:19] scopsy commented on #619
@narzaut Thanks for reporting this! We are looking at it ASAP. Will reproduce and create a test to verify this won't happen again.

On another note, you can keep the subscriber entity alive without removing it, and just don't trigger events to it. Could you elaborate on your need to remove the subscriber? (This is nothing to do with the issue you encountered, will fix it regardless.)

[2022-06-02 10:52] djabarovgeorge commented on #620
Hey @singhgulshan
Actually, we do have useUnseenController hook you can use please let us know if it answers your need, the missing part is a mention of the hook in the documentation that we should add.

[2022-06-02 11:35] djabarovgeorge commented on #620
@singhgulshan Yes you are right you can use the socket `unseen_count_changed` message in order to update the count on setUnseenCount.

[2022-06-02 18:17] djabarovgeorge commented on #620
@singhgulshan Awesome i glad we could help :)

[2022-06-02 18:17] #620 closed

[2022-06-02 22:03] narzaut commented on #619
Hi George,

I initially thought that both problems were linked (client failure and my
subscription problem), but now I see that's not the case. I'm embarrased to
say that maybe the latter is product of my own incompetence.

I haven't tried further yet, but I will keep working on my implementation
and will update if I fix it, and report any other problems that I might
encounter

El jue, 2 jun 2022

[2022-06-02 22:30] djabarovgeorge commented on #619
I am not saying there is no issue on creation on the second subscriber (just that i could not reproduce it), please note that without your contribution we would  not be aware about of the client bug.
Please do not hesitate to contact us at any point, and you are more then welcome to join our discord if you did not yet, in order to chat with me or the rest of our community, i will try to reproduce

[2022-06-03 06:49] #619 closed

[2022-06-03 16:23] CavalcanteLeo commented on #541
Hi guys, it will be implemented?

[2022-06-04 08:53] scopsy commented on #541
Hi @CavalcanteLeo unfortunately at this point you can only use the iframe embed method and wrapping this with some wrapper Vue component. As @davidsoderberg mentioned we don't have any one currently assigned to this, tho we will try to get to it soon, right now we don't have anyone familiar with the VUE framework so hopefully we will find someone to help us bootstrap a library outline with the vue

[2022-06-06 06:41] vickywane commented on #571
I'm back on this :) @davidsoderberg .

I have added some swagger decorators to the `/subscribers` endpoint.

[2022-06-06 11:30] #587 closed

[2022-06-06 13:44] #616 closed

[2022-06-07 07:12] scopsy commented on #605
Added the explanation on the Docs site for the onNotificationClick prop, closing this for now.

[2022-06-07 07:12] #605 closed

[2022-06-07 07:20] chirag-ghosh opened #625 "Invite not working when self-hosted"
**Describe the bug**
The invite team members feature does not work in self-hosted novu instance. It shows a wrong toast message notifying that the invite has been sent successfully. However, I don't get any mails.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Profile picture'
2. Click on 'Invite Members'
3. Fill an email and click 'invite'
4. Toast appears saying it is successful

[2022-06-07 08:00] novubot opened #626 "[NV-469] - Hide GitHub OAuth when running inside Docker"
## Why?

Without the proper GitHub OAuth app setup github authentication cannot be performed, to avoid confusion the button should be removed.

## What?

In the `apps/web` project in the Login and Signup pages we should hide the GitHub Oauth buttons based on if the application is currently running in the docker-compose.yml setup.

(we can think about adding a new ENV variable inside docker-compose

[2022-06-07 08:00] novubot opened #627 "[NV-468] - Update Contributors.md to explain ports for different services"
## Why?

Currently the contributor can't know what ports are used by different services.

## What?

Add in the `contributors.md` file an outline of the different ports used by the services the projects spins up:

* 3000 - API
* 3002 - WebSocket service
* 4200 - Web Management UI
* 4500 - Iframe embed for notification center

[2022-06-07 08:00] novubot opened #628 "[NV-467] - Upgrade Widget project to use cypress@10"
## Why?

To keep up with the latest cypress updates and features

## How?

Upgrading the `apps/widget` project and verifying that the test suite has passed using cypress.

## Definition of Done

* apps/widget cypress test suite is passing

[2022-06-07 08:00] novubot opened #629 "[NV-455] - Add exception in Notification-Center if NovuProvider if not initialized"
## Why?

If a user tries to access the react hooks without first initializing the `NovuProvider` context first unexpected exceptions are thrown.

## What?

To better indicate to the user what is missing we should throw an exception telling that a NovuProvider must be configured in order to use the hooks.

## Done definition

* When using `useNotifications` or other provided hook an exception shoul

[2022-06-07 08:00] novubot opened #630 "[NV-466] - Upgrade WEB project to use cypress@10"
## Why?

To keep up with the latest cypress updates and features

## How?

Upgrading the `apps/web` project and verify that the test suite has passed using cypress.

## Definition of Done

* apps/web cypress test suite is passing

[2022-06-08 14:43] scopsy commented on #630
Sure <3 @devblin

[2022-06-08 15:02] Antonio-Riccelli commented on #76
Hi all,
Is this still required and unassigned? It seems to be a beginner-friendly issue and I would like to help 👍🏻

[2022-06-08 16:57] kymppi commented on #628
Hey, could i work on this? @scopsy

[2022-06-08 16:58] scopsy commented on #628
hi @kymppi ! assigned you, please let me know if you will any help 🙏

[2022-06-09 04:00] AakashRaj20 commented on #627
I want to try this issue.
/assign

[2022-06-09 04:11] AakashRaj20 commented on #627
@scopsy I would like to try this issue.
/assign

[2022-06-09 05:17] davidsoderberg commented on #627
@AakashRaj20 I assigned you now

[2022-06-09 05:18] davidsoderberg commented on #76
@Antonio-Riccelli it is, should I assign you to it?

[2022-06-09 06:26] AakashRaj20 commented on #627
Thank you

[2022-06-09 06:58] AakashRaj20 commented on #627
Hey I am new to open source so I will have to fork clone, make a new branch and then make changes in the contibutors file and then push it right

[2022-06-09 07:05] davidsoderberg commented on #627
Yes exactly 👍

[2022-06-09 07:06] AakashRaj20 commented on #627
thanks for the help

[2022-06-09 07:39] AakashRaj20 commented on #627
Hey I made the changes to the contributing.md file and when I am using the git push origin branch name command it ask me for my username and password which I am entering correctly yet it shows that authentication failed.

[2022-06-09 07:41] souravjain540 opened #635 "Add Twitter and Support on readme"
## What?
1. There should be a link to the Twitter page of the project in the starting on readme where discord is mentioned. Twitter is a tech community.
2. There should be a separate section for support on the readme where it should be mentioned clearly where one should go to get priority support(most probably discord or whatever maintainers want)

## Why?
1.) Twitter should be mentioned to show t

[2022-06-09 07:51] AakashRaj20 commented on #627
Hey I have created the PR can you it and tell me everything is alright or I have to make more changes.

[2022-06-09 08:15] Antonio-Riccelli commented on #76
Hey @davidsoderberg, please do. I'd like to give it a go :)

[2022-06-09 08:19] davidsoderberg commented on #76
@Antonio-Riccelli Assigned you now 😄

[2022-06-09 09:50] BiswaViraj commented on #629
@scopsy Please assign this to me.

[2022-06-09 09:51] davidsoderberg commented on #629
@BiswaViraj I have assigned you now 😄

[2022-06-09 09:52] BiswaViraj commented on #629
@davidsoderberg Thanks 🤗

[2022-06-09 12:09] BiswaViraj commented on #626
I would like to look into this.

[2022-06-09 12:11] davidsoderberg commented on #626
@BiswaViraj Assigned 😄

[2022-06-09 15:56] BiswaViraj opened #643 "start script fails on windows"
**Describe the bug**
when running npm start:dev on windows it throws an error and upon investigating it seems to be an issue with the
scripts having PORT=4200,  PORT=3000 in the package.json.
This can be confirmed by running apps/web individually using `npm run start:web` as it throws the error
`PORT is not recognized as an internal or external command`

**To Reproduce**
Steps to reproduce the beh

[2022-06-09 17:43] rashi-jaiswal-007 opened #645 "Widget auth token clashing with gateway auth token"
## What?
Have a setting to use react component widget without auth (bearer) token being appended to it.

## Why?

We're facing this scenario where  on trying to use the react component for in-app notifications, the component internally takes care of the auth and applies a bearer token for the same. Now this token is actually clashing with our API gateway's auth token. I don't see a way to disable

[2022-06-10 11:06] meehawk commented on #612
@scopsy can I take this up?

[2022-06-10 14:29] scopsy commented on #628
Hehe no worries @kymppi :)

[2022-06-10 14:49] scopsy commented on #612
Sure @meehawk! Assigned you, let me know if you need any help.

[2022-06-12 04:29] #627 closed

[2022-06-12 04:36] AakashRaj20 commented on #604
@scopsy if this issue is not resolved I would like to try it

[2022-06-12 04:52] AakashRaj20 commented on #635
@souravjain540  is this still open I would like to try it?

[2022-06-12 08:31] scopsy commented on #643
Hi @BiswaViraj I think it's because the way windows sets env params right? Do you know a better way to handle this in order to support both mac, linux and windows?

[2022-06-12 08:50] BiswaViraj commented on #643
@scopsy, I moved the params to the `.env` file and it seems to work on all OS.
I will update the scripts of other packages and create a PR.

[2022-06-12 08:52] scopsy commented on #643
@BiswaViraj for default params that might be totally fine, but in some case we modify params for testing purposes and etc...
So for those cases this might not work. Are you familiar with https://www.npmjs.com/package/cross-env ? Maybe better adding it?

[2022-06-12 09:10] #629 closed

[2022-06-12 11:04] BiswaViraj commented on #643
@scopsy, I saw now that we are already using cross-env for a few scripts and will update the broken scripts with cross-env then.

[2022-06-12 11:26] scopsy commented on #643
@BiswaViraj good to know aswell :P

[2022-06-12 12:14] djabarovgeorge commented on #645
@scopsy How about using another custom header on the notification-center authentication and creating auth guards with the same logic that uses the new custom header?
Will such an approach will be proper in order to address our issue of the shared use of the authentication header?

[2022-06-12 12:56] scopsy commented on #645
Regardless of the way we solve this we need to add the new custom header on the API authorized headers on the CORS plugin.

We can either modify this at the @novu/notification-center component by changing the `Authorization` header to something custom like "X-Novu-Authorization". @rashi-jaiswal-007 will this help?

We can also allow the user to select his own header name, but this will require to

[2022-06-12 17:22] ainouzgali commented on #635
Thank you both! I am closing this as this was merged

[2022-06-12 17:22] #635 closed

[2022-06-13 04:28] rashi-jaiswal-007 commented on #645
@scopsy
1. Yes novu having header `X-Novu-Authorization` sounds good.
2. Can't we set the `Authorization` header additionally? (So in any case authorization is still being performed)
3. We're using self-hosted version

[2022-06-13 11:23] kymppi opened #654 "Rust server SDK"
## What?
A Rust server SDK

## Why?
Probably a lot of people will write their APIs in Rust or have already wrote.

## How?
You could follow [doc.rust-lang.org](https://doc.rust-lang.org/cargo/guide/creating-a-new-project.html)

## Other information
Add any other context or screenshots about the feature request here.

[2022-06-13 19:41] AakashRaj20 commented on #604
Oh ok no problem

[2022-06-14 03:44] ComBarnea opened #656 "Team invite is not working when already logged in"
**Describe the bug**
When inviting some to my team on the Cloud version of Novu, and opening the link on the same browser, the invite link page isn't working.
![Screen_Shot_2022-06-13_at_3 06 02_PM](https://user-images.githubusercontent.com/8877285/173488588-9a47125f-0438-4bda-97de-81119aa31edb.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.novu.co/team
2. Invite anot

[2022-06-14 09:51] #626 closed

[2022-06-14 11:30] kymppi commented on #654
Ive been learning Rust for the last month or so, so i think I could do it :+1: And that link i sent has a section for publishing.

[2022-06-14 11:36] kymppi commented on #628
I was a little sleepy and didn't realize that i should probably link this issue in the pull request, but as you can [see](https://github.com/novuhq/novu/pull/658) the PR has been merged and this issue can be closed.

[2022-06-14 16:20] #628 closed

[2022-06-14 16:37] novubot opened #665 "[NV-481] - Capitalize API in settings screen"
## Why?

For better textual consistency

## What?

The Api key label is not consistent across the app, all Api mentions should be written as "API" all caps.

![image.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/0d0773c5-720a-4778-a0a0-2edbc9ca7da3/7f340c25-68b4-416f-a44d-776c6a4c98e1)

## Where?

In our `apps/web` folder project navigates to the settings screen from the lef

[2022-06-14 16:37] novubot opened #666 "[NV-474] - Fit to screen's lentgh/size"
## Why?

For some screens the bottom third is totally empty today. For larger screen it's very limiting the usable space.

## How?

Let's take advantage of that space by modifying the UI to fit the screen size. Making the screen fit inside the viewable port 100vh-(the existing header and spacing)

### Where?

In the apps/web project, to get the latest workflow editor, checkout from the `workflow`

[2022-06-14 16:37] novubot opened #667 "[NV-472] - Change text from "Integration Store" to "Integrations Store""
## Why?

For better consistency in product terminology.

## What?

Updating the text in the navigation menu from "Integration Store" to "Integrations Store".

![image.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/e1233cf5-16d6-4539-bb48-291e3d47ac9f/8fc66d96-0f2b-4637-a7e7-e8093e861a61)

## Where?

The relevant code located in "apps/web" project.

[2022-06-14 16:50] novubot opened #668 "[NV-482] - Remove trailing comma after REPLACE_WITH_USER_ID"
## Why?

When no email exists in the variables, extra "," added and it breaks the validity of the curl request.

## What?

Removing the extra variable to make sure we create a valid curl request payload.

[code]

Same issue is also happens in the @novu/node example, when no email present:

![image.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/372c9777-8ea9-4bb2-9310-823b7398

[2022-06-14 16:53] AlexVCS commented on #667
I'm going to take this issue if it's ok!

[2022-06-14 16:59] scopsy commented on #667
@AlexVCS sure!

[2022-06-14 19:57] Tosin-webdev commented on #665
I would like to work on this issue

[2022-06-14 20:00] ainouzgali commented on #665
Much appreciated @Tosin-webdev . Don't hesitate to reach us/me on our discord or here with any problems

[2022-06-14 20:14] ainouzgali commented on #667
I was already jealous, but now I'm certain  I should definitely do my next vacation  in the Dominca. You are on fire today!

[2022-06-14 20:14] #667 closed

[2022-06-14 21:42] Tosin-webdev commented on #668
fixed it #671

[2022-06-14 22:02] novubot opened #672 "[NV-526] - Add instructions how to use branches in Contributing.md"
## Why?

It is important to follow specific conventions so branches don't get out of hand and contributors understand how to contribute.

## What?

Explanation on where to create a branch, how to merge and how we manage branches.

## Where?

Contributing.md

## Definition of Done

Clear explanation in the file committed.

[2022-06-14 23:25] #665 closed

[2022-06-15 06:03] samsoft00 commented on #656
@scopsy can I jump on this?

[2022-06-15 06:27] davidsoderberg commented on #656
@samsoft00 I have assigned you :)

[2022-06-15 07:21] samsoft00 commented on #656
Awesome, thank you.

[2022-06-15 10:20] rashi-jaiswal-007 commented on #645
Hey sure @scopsy. There are some other minor changes too, for which I'd wish to create a PR. I'll discuss with you soon.

Thanks @djabarovgeorge for taking this up

[2022-06-15 10:21] scopsy commented on #645
Sure thing! @rashi-jaiswal-007 Im available here or on Discord :)

[2022-06-15 21:55] samsoft00 commented on #656
@davidsoderberg check your Discord DM for, quick clarification.

[2022-06-16 05:50] samsoft00 commented on #672
Can i jump on this?

[2022-06-16 08:48] AakashRaj20 commented on #76
Hey are still working on this issue or can I give it a try

[2022-06-16 08:53] AakashRaj20 commented on #666
@scopsy hey I would like to try this issue

[2022-06-16 08:56] scopsy commented on #672
Sure @samsoft00 ! @oba2311 could you please give a bit more context on this? You mean naming conventions for branches? Doesn't really matter how they will call their own branch since they will create a PR from their fork.

We can explain and guide people to fork the project and then make changes on the forked version and then create a PR against the upstream novu. @samsoft00 what are your thoughts

[2022-06-16 09:02] scopsy commented on #630
Hi @devblin how are you doing? Do you need any help on this? @kymppi just upgraded the widget project to the latest cypress version at #658 so you can also take a look there.

[2022-06-16 09:19] devblin commented on #630
Hey @scopsy , sorry for being inactive, I have been a little busy for a while, I will look into #658, thanks for highlighting.

[2022-06-16 10:15] fosa-ij commented on #666
okay @scopsy thanks a lot, but React is not part of my stack, I would like to pass it on to @AakashRaj20.
But anything in the mix of CSS and javascript would fit just fine. Thanks for the effort.

[2022-06-16 10:22] davidsoderberg commented on #666
@AakashRaj20 I have now assigned you 😄

[2022-06-16 11:10] AakashRaj20 commented on #666
Thank you 😁

[2022-06-16 15:35] samsoft00 commented on #672
yes @scopsy! we can add instructions around the following steps with images
1. Fork repository
2. Clone repository
3. Create a branch (talk a bit about naming conventions), we can adapt this -> https://www.conventionalcommits.org/en/v1.0.0/
4. Make necessary changes and commit those changes
5. Push changes to GitHub
6. Submit your changes for review

Then, maybe talk about keeping the fork synced

[2022-06-17 15:14] BiswaViraj commented on #643
@scopsy, while building the project,
`rm -rf dist` command inside `cli` package is throwing the error of `rm is not recognized as an internal or external command`
and `cross-env` or `cross-env-shell` doesn't solve that.
we need [rimraf](https://www.npmjs.com/package/rimraf) to solve that.

Please note that this error only occurs while using `Command Prompt` on windows, it works fine on `Powershell

[2022-06-17 19:53] samsoft00 opened #686 "Add Termii SMS provider"
## What?
New [Termii](https://developers.termii.com/messaging) SMS Provider.

## Why?
To have the ability to use Termii as a provider.

## How?
Add new provider based on [this guide](https://docs.novu.co/docs/community/create-provider)

## Other information
Termii SMS provider registration needs to be initialized.

[code]

Currently working on this, assign me 👌  thank you

[2022-06-18 05:39] BiswaViraj opened #687 "Docker boolean env error"
**Describe the bug**
using boolean field in environments throws the below error on some platforms.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start the Novu using docker-compose
2. it will throw the error

**Expected behavior**
It should launch the Novu

**Details (please complete the following information):**
 - OS: Mac

[2022-06-18 07:35] #687 closed

[2022-06-19 06:46] samsoft00 opened #691 "Provider generator still import old @novu/node package"
**Describe the bug**
Provider generator file import the old @novu/node instead of @novu/stateless

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the project directory
2. Run the following cmd `yarn run generate:provider` and follow the prompt
3. cd `provider/YourProviderName` Check the generated file under `lib/YourProviderName.provider.ts`
4. See line 6

**Expected behavior**
Should

[2022-06-19 07:56] #643 closed

[2022-06-19 11:37] Antonio-Riccelli commented on #76
Hey @AakashRaj20 , please feel free to have a go. I've got kind of busy with work in the meantime.

Apologies, @davidsoderberg, could you kindly reassign it to Aakash?

[2022-06-19 18:46] AakashRaj20 commented on #76
Hey actually right now I am working on another issue, so when I will be done with it, I will give this issue a try 😅

[2022-06-20 03:47] carlaulloa commented on #501
Can I work on this?

[2022-06-20 03:47] carlaulloa commented on #501
Hi. Can I work on this?

[2022-06-20 06:57] Abobos commented on #604
@scopsy @djabarovgeorge

Context

1. Clickatell platform package does not return the messageId it logs internally. Hence after the message is been submitted to Clickatell ends, We don't have the messageId.

2. Clickatell platform also sends a delivery notification that contains nitty-gritty details about the SMS.

Questions.

1. Should I amend the Clickatell platform package to return the messageI

[2022-06-20 11:05] iampearceman commented on #612
@meehawk Hey! How is it going with adding the payload? Could you maybe give an ETA?
**We thought about adding it to our next release**

[2022-06-20 13:02] Lorakus opened #697 "Documentation update: "PopoverNotificationCenter", colorScheme"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.novu.co/docs/notification-center/react-components#dark-mode-support'
2. Try to add colorScheme into NovuProvider
3. PopoverNotificationCenter does not change color, it stays in "light" mode

or

1. open novu documentation
2. go to notification-center
3. Click on 'react-components'
4. Scroll down to 'dark-mode-support'
5. Try

[2022-06-21 04:18] AakashRaj20 commented on #76
@davidsoderberg I would like to try this issue please assign it to me 😀

[2022-06-21 04:23] davidsoderberg commented on #76
@AakashRaj20 assigned :)

[2022-06-21 06:22] ainouzgali commented on #697
Thank you @Lorakus !🚀

[2022-06-21 06:22] #697 closed

[2022-06-21 10:15] scopsy commented on #656
Looks like this was merged, thanks @samsoft00 !

[2022-06-21 10:15] #656 closed

[2022-06-21 10:16] samsoft00 commented on #691
@scopsy Yes, quick fix, i can jump on it.

[2022-06-21 12:55] davidsoderberg commented on #691
@samsoft00 I have assigned you now 😄

[2022-06-21 14:33] samsoft00 commented on #691
Yeah, thanks, done.

[2022-06-22 07:54] kymppi commented on #654
Hey just wondering where i should store the source code, probably a new repo? Since it's rust and not javascript so it cant use the multirepo that well.

[2022-06-22 08:38] scopsy commented on #654
Totally aggree, I think it's best to have a separate repo for this. Created https://github.com/novuhq/rust/ 🚀

[2022-06-22 08:54] scopsy commented on #691
Looks amazing @samsoft00 !!! Merged and closing this one

[2022-06-22 10:39] devblin opened #715 "Update favicon url and remove unused default images from `apps/web`"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
  - Updating href for below mentioned favicon-link with novu's favicon.
   https://github.com/novuhq/novu/blob/963b3c9f594b368b5b9725624943a1da8160a21e/apps/web/public/index.html#L9
  - Removing default unused-react

[2022-06-22 10:51] ainouzgali commented on #630
Thank you @devblin !

[2022-06-22 17:02] scopsy commented on #715
Good idea to fix this! @devblin 🚀

[2022-06-23 11:16] #715 closed

[2022-06-26 07:47] scopsy commented on #612
Hi @meehawk we really want to push this ticket in the upcoming version since it's blocking a lot of our users for some usecases. Assigning @djabarovgeorge for this one 🙏

[2022-06-27 12:58] aggmoulik commented on #654
Hey, @kymppi Can we pair on the SDK for rust? I am also learning Rust and I am a TypeScript Developer maybe I can bring something to the table.

[2022-06-27 13:00] kymppi commented on #654
Sure, wanna work on my fork? Then we can make a single PR

[2022-06-27 13:37] #523 closed

[2022-06-27 13:37] scopsy commented on #503
Closing this as it looks like for now it passes with latest cypress version

[2022-06-27 13:37] #503 closed

[2022-06-27 13:39] scopsy commented on #612
@singhgulshan we have merged this and will deploy soon, regarding the option to update the payload object with API we are planning to add this support in v0.6.0 in the next couple of weeks. Will update you on it.

[2022-06-27 14:01] novubot opened #734 "[NV-585] - Create cypress component test scaffold"
## Why?

For now we only do e2e tests with cypress on the `apps/web` project, to have an easy framework to write component level test would be useful for a lot of edge case scenarios.

## How?

Using the latest cypress implementation in the web project create and configure component testing structure.

Writing a first test for the `Button` component with some basic assertions for props modificatio

[2022-06-27 15:12] kymppi opened #735 "Add some color to contributors page"
## What?
The contributors page currently is pretty much black and white. It would be cool to have some color or something

## Why?
not really important but something for UX

## How?
Possibly show the right color of the user profile pic when hovering? Also these:
![image](https://user-images.githubusercontent.com/48528700/175974053-6d2791bf-bef2-4d22-8bc2-7fb7d0671f61.png)
could have some hover eff

[2022-06-27 16:45] kymppi commented on #735
There probably is a better repo for this issue...

[2022-06-28 09:21] scopsy commented on #735
![novu-сontributors-1920](https://user-images.githubusercontent.com/8872447/176143162-47f16a4b-d9d7-41e0-92e3-80caad7bd053.jpeg)

So @kymppi looks like we actually changing the entire hero to match better with our community heroes theme. Check the design out ^

[2022-06-28 09:29] Keyruu opened #739 "Make Nodemailer options optional"
## What?
I have a local novu running inside docker. In my network is a plain SMTP server without authentication. With the current Nodemailer in novu I can't use it without specifying username and password. I also would have to specify "Secure" which I also don't use. Please make these properties optional instead of mandatory.

## Why?
For a test setup or a setup where the SMTP server authenticates

[2022-06-28 09:47] shreyazz commented on #739
I'd like to look into it...

[2022-06-28 09:51] scopsy commented on #739
Hi @shreyazz sure! Let me know if you will need any help or direction

[2022-06-28 11:11] kymppi commented on #735
The colors on the big badges have the colors o though of :tada:

Looks good, i think the hover effect would be good.

[2022-06-28 12:58] Keyruu opened #741 "Don't mount /var/run/docker.sock in the docker-compose"
## What?
Don't mount the docker socket in the docker-compose.

## Why?
I don't think mount the docker socket is even necessary for novu. Mounting the docker socket is also a security concern, because you give every container a lot of power with including the socket. Also this would be confusing for people who don't use docker, because they don't have the docker socket :D

## How?
Just remove the v

[2022-06-28 20:46] kymppi opened #744 "Some margin issue on Setting page of web app"
**Describe the bug**
There seems to be some margin/padding issue on the web apps settings page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.novu.co
2. Reduce resolution to 1200px~
3. Click on Settings
4. Click on In App Center
5. See horizontal scrollbar appear

**Expected behavior**
It should not have a horizontal scrollbar

**Screenshots**
![image](https://user-images

[2022-06-29 09:16] scopsy commented on #741
Yep, don't see a problem with it. Initially it was just added because seen this in other similar setup, so included this blindly. But actually don't see why not removing this from the default template, and people might add this if they will need it regardless..

[2022-06-29 09:19] kymppi commented on #741
I can do this, expect a PR in few hours.

[2022-06-29 12:10] novubot opened #752 "[NV-560] - Notifications (Alert Messages) Design"
## Why?

We use [Mantine's Notification system](https://mantine.dev/others/notifications/) default design for our alert notifications. We would like to make them fit our design better, and make it easier to use.

This is how it currently looks:

![Screen Shot 2022-06-12 at 18.19.23.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/44b4149c-8e56-4f05-af55-b3b3aae01ddc/0cc843be-a5

[2022-06-29 14:28] novubot opened #754 "[NV-592] - Make Nodemailer options optional"
## What?

I have a local novu running inside docker. In my network is a plain SMTP server without authentication. With the current Nodemailer in novu I can't use it without specifying username and password. I also would have to specify "Secure" which I also don't use. Please make these properties optional instead of mandatory.

## Why?

For a test setup or a setup where the SMTP server authenticat

[2022-06-29 14:53] Ciggzy1312 commented on #744
I can give this a try

[2022-06-30 00:19] AlexVCS commented on #752
Hey I'd like to work on this issue. Please assign it to me :)

[2022-06-30 02:22] davidsoderberg commented on #752
@AlexVCS I have assigned you now :)

[2022-06-30 04:36] singhgulshan commented on #612
@scopsy can we update the same in documentation, so that it is easy for us to integrate payload specific changes?

[2022-06-30 08:59] novubot opened #761 "[NV-559] - Dots Menu - not closing on click outside"
**Why?**

Dots menu on a step not closing when clicking somewhere else, or selecting a different step.
![Screen Shot 2022-06-23 at 16.45.16.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/cffeb995-a4be-47d9-85cd-be59f57817fe/5ba85b4c-74ca-46ea-9cc0-1d644d3286df)

**What?**
We are using [Mantine's Menu component](https://mantine.dev/core/menu/) for the drop down. The steps are

[2022-06-30 10:04] aggmoulik commented on #546
@scopsy I will look into this issue.

[2022-06-30 10:11] scopsy commented on #546
@aggmoulik this would be super helpful!
I actually did some progress on this one, but we still need to figure out the 2nd bullet

[2022-07-01 08:48] scopsy commented on #744
Hi @Ciggzy1312 sure thing! Aassigned you

[2022-07-02 16:50] aggmoulik commented on #752
Hey @davidsoderberg, Is this still an active issue? If yes, I can work on it.

[2022-07-02 16:51] davidsoderberg commented on #752
I thin @AlexVCS is working on it already :)

[2022-07-03 06:09] rizdev99 commented on #602
Hi, @scopsy  is the detailed issue ready for this to look into?

[2022-07-03 08:14] novubot opened #763 "[NV-598] - Some margin issue on Setting page of web app"
**Describe the bug**\
There seems to be some margin/padding issue on the web apps settings page.

**To Reproduce**\
Steps to reproduce the behavior:

1. Go to [https://web.novu.co](https://web.novu.co)
2. Click on Settings
3. Click on In App Center
4. See horizontal scrollbar appear

**Expected behavior**\
It should not have a horizontal scrollbar

**Screenshots**

![](https://uploads.linear.app/f

[2022-07-03 08:54] scopsy commented on #612
Hi @singhgulshan i've added the interface of `IMessage` to the docs. You can checkout the `payload` property: https://docs.novu.co/notification-center/react-components#the-notification-imessage-model

[2022-07-03 08:56] scopsy commented on #602
Hi @rizdev99! Yes,we can work on this one :)

We can add a new input on the workflow editor settings page that will be automatically generated on input change of the name field (Only in new creation mode)

In Editor mode, this will not be automatically updated but must be updated by the user.

Let me know if that makes sense, and let me know if you will have any further questions :)

[2022-07-03 11:32] #763 closed

[2022-07-03 12:44] rizdev99 commented on #602
Okay. I'll look into this issue
Thanks :)

[2022-07-03 12:53] scopsy opened #764 "Node v18 support for the project"
## Why?
Currently, when running `pnpm install` using node v18, an error is thrown during installation.

## How?
Updating the relevant dependencies to support v18 usage

Some Errors:
<img width="925" alt="CleanShot 2022-07-03 at 15 53 17@2x" src="https://user-images.githubusercontent.com/8872447/177040597-d0a9bbe5-0389-4d67-abdc-014ef8c4e9e1.png">

<img width="1027" alt="CleanShot 2022-07-03 at 15

[2022-07-03 17:22] raikasdev opened #768 "Allow regenerating API keys"
## What?
Users should be able to regenerate their API keys

## Why?
For example if they get leaked, you can just regenerate new ones and they cannot get abused.

## How?
Add a button that refreshes the app secret and api key.

[2022-07-04 06:13] samsoft00 commented on #768
@scopsy kindly assigned to me.

[2022-07-04 06:14] ainouzgali commented on #768
Sure @samsoft00 :) I assigned you

[2022-07-04 14:35] kymppi commented on #735
Looks awesome but i think when hovering it should show the original colors of the pfp. Or i might not have noticed it since im on a phone.

[2022-07-04 15:55] scopsy opened #781 "Infinite Loop in colors.js #5"
https://github.com/novuhq/novu/security/dependabot/5

## Info
The package colors after 1.4.0 are vulnerable to Denial of Service (DoS) that was introduced through an infinite loop in the americanFlag module. Unfortunately this appears to have been a purposeful attempt by a maintainer of colors to make the package unusable, other maintainers' controls over this package appear to have been revoked i

[2022-07-04 15:56] #781 closed

[2022-07-04 16:44] #686 closed

[2022-07-05 07:16] raikasdev opened #783 "Getting started "Embed Now" wrong link"
**Describe the bug**
The "Embed now" button on getting started page links to wrong page.

**Expected behavior**
Go to the IFrame Embed page

**Additional context**
It goes to https://docs.novu.co/docs/notification-center/iframe-embed instead of https://docs.novu.co/notification-center/iframe-embed

[2022-07-05 08:34] novubot opened #784 "[NV-626] - Focus Should move to "Yes" in modal"
## Context (Business / Community):

* See:

  ![CleanShot 2022-07-05 at 11.17.09.gif](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/9f35839f-767a-477c-9713-625a87d822bd/197592ec-3139-495d-b751-e68011c74c16)

## DoD / Acceptance Criteria:

Enter click deletes the step.

[2022-07-05 12:43] #783 closed

[2022-07-05 17:49] ainouzgali commented on #784
Of course! Thank you! Don't hesitate to reach us here or on discord with any questions or problems

[2022-07-05 17:55] dcbartlett opened #788 "Vercel Redirection not working for docs."
**Describe the bug**
Vercel Redirection not working for docs.

https://github.com/novuhq/novu/blob/main/docs/vercel.json

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.novu.co/docs/overview/introduction'
4. See Page not Found

**Expected behavior**
Redirection will happen and send to correct documentation page.

**Screenshots**
https://cdn.discordapp.com/attachments/9437

[2022-07-05 20:07] raikasdev opened #790 "Add Svelte component"
## What?
Add a notification center componenet for Svelte.

## Why?
To provide a more stable experience for Svelte users, than using iframe.

[2022-07-05 20:08] raikasdev opened #791 "Add Vue.js component"
## What?
Add a notification center componenet for Vue.js.

## Why?
To provide a more stable experience for Vue.js users, than using iframe.

[2022-07-06 06:49] ainouzgali commented on #791
Hi @raikasdev ! There is actually an issue open about that one. Check out #541

[2022-07-06 07:09] #791 closed

[2022-07-06 10:15] novubot opened #799 "[NV-631] - Choose getting started by default for first timers"
Getting started tab management panel - after registration, have the getting started tab chosen by default.

![CleanShot 2022-07-06 at 13.12.58@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/a968593c-8ec9-4385-92cf-6e73d50bb0d7/bd143e33-a96d-4b2a-bd31-6ea5d1d1cfd6)

[2022-07-06 16:03] zakariaelas commented on #761
Hey @ainouzgali, can I jump on this one?

[2022-07-06 16:05] ainouzgali commented on #761
Definitely! Let me know if you need anything :) @zakariaelas

[2022-07-06 17:05] WinterCore commented on #784
Thank you 🎉
Btw quick question is there a limit on how many "good first issue" tasks I can take. cuz I'm down to work on somewhat more involved tasks to get to know the codebase more.

[2022-07-06 19:36] ainouzgali commented on #784
@WinterCore sure thing! I'll DM you on discord tomorrow and we can chat about it :) Maybe find you something that is more involved.

[2022-07-06 19:41] WinterCore commented on #784
That's great. Thank you.

[2022-07-07 07:41] scopsy opened #804 "Upgrade vulnerable passport version on API"
Based on the last dependabot alert, we should upgrade our passport version to `0.6.0` on the apps/api project

https://github.com/novuhq/novu/security/dependabot/147

[2022-07-07 08:19] #804 closed

[2022-07-07 08:57] raikasdev commented on #788
Fixed by #806

[2022-07-07 09:14] scopsy commented on #80
@oba2311 it was actually closed without every being merged :( And some much have changed since then that we will have to re-do a lot of the integration parts based on the guide here: https://docs.novu.co/community/create-provider

[2022-07-07 09:33] #788 closed

[2022-07-07 10:13] scopsy commented on #591
Fixed in #740

[2022-07-07 10:13] #591 closed

[2022-07-07 10:15] scopsy commented on #735
Oh got ya, it will be nice indeed.

[2022-07-07 10:53] raikasdev opened #807 "Allow deleting notifications"
## What?
Allow users to remove notifications.

## Why?
Disabling isn't enough, I want the notifications I don't need removed. Also someone can typo the notification name.

## How?
If you have an idea of how this can be implemented write your solution here

## Other information
Add any other context or screenshots about the feature request here.

[2022-07-07 11:20] scopsy commented on #807
Also add a comment for Shlomy our designer to where this can fit in the UI. https://www.figma.com/file/9jalQvImfHtbbExZPLW3XO?node-id=1451:23817#224130926

[2022-07-07 12:40] AlexVCS commented on #752
Sorry I'm a little behind after a holiday here in the US. I hope to have updates on this ASAP

[2022-07-07 14:19] raikasdev opened #810 "Addind users to organization not working"
**Describe the bug**
When a user is invited to a organization multiple bugs occur:
- After creating account (settings password and name), user is showed the "active session" error instead of redirecting to dashboard
- User is required to create a own organization
- User cannot access the invited organization, because the user is now in own organization

**To Reproduce**
Steps to reproduce the beha

[2022-07-07 14:20] raikasdev opened #811 "Allow users to belong to multiple organizations"
## What?
Users should be able to be in multiple organizations, create new ones and switch between them.

## Why?
If user wants to host different projects on same instance or cloud version, it is not possible.

## How?
If you have an idea of how this can be implemented write your solution here

## Other information
Add any other context or screenshots about the feature request here.

[2022-07-07 14:56] scopsy commented on #811
That is a good one, we actually already support this in the backend data structure, just need to add a UI part for switching and generating organization specific tokens.

From my memory there is an organizations/switch endpoint for it