[2022-07-07 15:35] WinterCore commented on #580
Hey. can I work on this :smile:?

[2022-07-07 15:36] ainouzgali commented on #580
@WinterCore great! Thank you!

[2022-07-07 16:00] ainouzgali commented on #761
Thank you @zakariaelas :)

[2022-07-07 16:00] #761 closed

[2022-07-08 15:01] FidalMathew commented on #807
@scopsy I would like to work on this issue. It might take some time for me to get started cause I have to set up novu locally in my system. I had also been pondering over this issue for some time 😄.

[2022-07-08 17:15] raikasdev commented on #807
This has already been done, forgot to close, sorry!
Resolved by #809

[2022-07-08 17:15] #807 closed

[2022-07-09 08:42] #799 closed

[2022-07-09 14:53] FidalMathew opened #817 "Theme preference is not persistent."
**Describe the bug**
Every time someone lands on the web page, that person comes across the light theme UI, even if they have previously changed their preference to a dark theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [web.novu.co](https://web.novu.co/).
2. Click on the 'Toggle screen theme option' (Moon icon) will result in the page theme changing to dark.
3. Refresh the page

[2022-07-09 15:01] FidalMathew commented on #817
I would like to work on this issue.

[2022-07-10 06:43] iampearceman commented on #817
@FidalMathew ping here or on discord if you need any help :)

[2022-07-10 06:47] ainouzgali commented on #817
Hi @FidalMathew ! If I remember correctly, currently the default theme is chosen by the user's preferred color scheme. For me it is always dark theme. You are right that after actively changing it, the change should persist.

What do you think about initially getting the preferred theme and setting that. But if the user changes it, then it will save it to local storage?
and if it's the same as his

[2022-07-10 07:54] FidalMathew commented on #817
Hi @ainouzgali! Thank you for your advice, I'll keep this in mind while working on the issue.😀

[2022-07-10 08:19] oba2311 commented on #811
@raikasdev  is this something you want to work on?

[2022-07-10 09:03] ahmedhesham6 commented on #30
I can work on the integration

[2022-07-10 09:05] ainouzgali commented on #30
Great @ahmedhesham6 ! Ping us with any questions here or on discord :)

[2022-07-10 13:36] scopsy commented on #817
@FidalMathew @ainouzgali I think we can solve this with introducing a third mode: System Preference
So when the user clicks on the light/dark icon, a new icon will be added for system preference. So the 3 states are:
- Light - Always light mode
- Dark - Always dark mode
- System - Syncs to system preference

@FidalMathew wdyt? If so I can ask from our designer to create a new icon

[2022-07-10 13:42] FidalMathew commented on #817
@scopsy I have a doubt. Suppose, the user has a system theme as light mode. As expected when the user lands on the page, the person views the webpage in light mode. If the user clicks on the toggle button, thus changing the state to dark mode and then does a refresh. What mode would the person see?

[2022-07-10 14:02] FidalMathew commented on #817
I would like to point out a problem I'm facing while working on localStorage theme preference. Mantime offers a solution to set up theme preferences using local storage. Check it out [here](https://mantine.dev/theming/dark-theme/#save-to-localstorage-and-add-keyboard-shortcut). While trying to use the solution, I faced issues and joined the Mantime discord server for a solution.

![image](https://

[2022-07-10 14:51] scopsy commented on #817
@FidalMathew feel free to upgrade the mantine version, shouldn't be a problem with it I believe :)

[2022-07-10 14:52] scopsy commented on #817
@FidalMathew If he selected dark mode it will be "dark mode" after the refresh, if user selects "System" it will be the system configuration light/dark accordingly. This is usually how most platforms handle this.

We just need a new Icon for System Preference mode

[2022-07-10 15:46] FidalMathew commented on #817
@scopsy Since, Novu is built on Mantime and the component attributes it supports, I feel it might be a bit difficult to work with a two-button system.

I feel the user is only concerned about the theme when the person lands on the webpage. So, keeping this in mind, I thought of the following steps:

- If no preference in local storage is present, then the system preference is set.
- If the user ch

[2022-07-10 15:53] scopsy commented on #817
@FidalMathew What I actually meant is only single button, that everytime you click on it changes it's state out of 3 optional states:
- Light
- Dark
- System

We are not adding another button to the menu, just another state to the existing button. Let me know if this is still confusing we can jump on a quick discord call so I can illustrate that.

For many users theme is dynamic depending on the t

[2022-07-10 16:10] FidalMathew commented on #817
@scopsy I think I got this. So every time we click on the button, the theme changes to the next option: light->dark-> system and again back to light along with their respective icons. Did I get it correctly?

[2022-07-10 16:16] scopsy commented on #817
Exactly 👌

[2022-07-10 16:24] FidalMathew commented on #817
I'll start working on it 👍

[2022-07-11 00:48] WinterCore commented on #580
@scopsy

Are you talking about something like the following?
[code]

[2022-07-11 16:26] raikasdev opened #823 "Allow nested access to payload with handlebars"
## What?
Users cannot access data in payload, if it is nested.

## Why?
Users might want to use nested objects instead of long variable names to make payloads more clear.
Discord [thread](https://discord.com/channels/895029566685462578/895029567125872653)

## How?
Currently [customly made](https://github.com/novuhq/novu/blob/main/apps/api/src/app/shared/helpers/content.service.ts#L4-L14), but a li

[2022-07-12 07:50] scopsy commented on #823
This is already fixed by @davidsoderberg as part of #771 and will be merged in v0.6.0 release 🙏

Thanks for reporting!

[2022-07-12 07:54] oba2311 commented on #823
@raikasdev  - sounds like a quick fix, WDYT?

[2022-07-12 07:55] #823 closed

[2022-07-12 08:16] AakashRaj20 commented on #666
Hey I have tried setting up the project multiple times but nothing loads on the web page it remains empty. Please help me setting up the project Locally.

[2022-07-12 08:55] scopsy commented on #666
Sure @AakashRaj20 could you please send me a DM on Discord so we can schedule a call ?

[2022-07-12 18:38] devblin opened #829 "🐛 Bug(s) and improvment(s) in settings page"
**Describe the bug**
1. Every selected logo-image gets uploaded to AWS-S3 bucket, even the ones which are not the final logo.
2. On changing logo, the old logo isn't getting deleted from S3 bucket, even though new logo has been updated in settings page.
3. Currently, the logo-image selected by user isn't processed in the client-side. If logo-image size is large (both in size and dimension), it sho

[2022-07-12 18:44] devblin commented on #829
I would like to work on this issue 👍🏽

[2022-07-12 20:25] scopsy commented on #829
Hi @devblin all are great suggestions except the removal of the old logo. This might break some email client who don't cache the image.

We can replace the asset using the same key on S3, which might be ok in this case. But to be honest, I don't belive that pricing on S3 is a big concern when it comes to hosting those image types.

Limiting the client and also on the backend for the actual image u

[2022-07-13 10:14] novubot opened #834 "[NV-668] - auto-test for vendor for channels before clickin on `Update`"
We want to little red dots to be added before update is clicked - see:

![CleanShot 2022-07-13 at 13.06.26.gif](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/e28a36ca-e128-4cb6-9e0e-8c796e554a49/7e3c8da4-d64b-4f81-b613-a52082a0cb59)

**WHY:**

We want to allow better UX by prompting the users for missing vendor within context.

[2022-07-13 11:02] scopsy commented on #817
@FidalMathew adding a figma link: https://www.figma.com/file/9jalQvImfHtbbExZPLW3XO/Concepting?node-id=2301%3A30464

you can export the icon from there, I think SVG would be best.

[2022-07-13 11:42] raikasdev opened #836 "[NV-2436] Add NTFY provider"
## What?
Add support for https://ntfy.sh/

## Why?
For more providers. This was requested on [Reddit](https://www.reddit.com/r/selfhosted/comments/vxywzx/comment/ifz575j/?utm_source=share&utm_medium=web2x&context=3)

## How?
If you have an idea of how this can be implemented write your solution here

## Other information
Add any other context or screenshots about the feature request here.

<sub>[N

[2022-07-13 15:36] PrateekGoyal18 opened #839 "Firebase FCM Support"
## What?
As you are giving Pushwoosh and SNS suuport for push notificatio, Firebase FCM is also a good add-on as lot of Saas products I have seen use FCM for sending notifications.

## Why?
1. It would be a added functionality for the user/dev/product
2. FCM has a better limit on notifications than other platforms

## How?
Can integrate backend SDK provided by Firebase

[2022-07-13 18:08] shahriar-shojib commented on #318
I would like to work on this

[2022-07-13 19:10] amirhmoradi opened #840 "UI issues in Settings menu, Branding Tab"
**Describe the bug**
In "Settings" Menu, "Branding" tab:
* Logo is streched and not showing properly ( rendered size 80x100, original logo size: 512x512)
* I cannot input HEX code in the Brand color input field, quite impossible to get my brand color if not a standard one.
* The Font Family seems to be from Google Fonts, maybe better if we have a full list (or a search box) to choose the our own,

[2022-07-13 19:20] amirhmoradi opened #841 "Team Members management"
**Describe the bug**
As a team admin, I need to be able to remove/re-invite/change role for team members.
(bonus) When I am not an admin, there is no need to see full email addresses of my team colleagues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Team Members' menu
2. Add a team member by inviting via email
3. Try to remove the newly invited team member -> no way
4. Try to rese

[2022-07-13 19:28] amirhmoradi opened #842 "Clarify API Keys vs Application Identifier"
## What?
In 'Settings' menu, 'Api Keys' tab, I am not expecting to have my 'Application identifier', it is confusing.

On the other hand, to enable HMAC for subscriberId encryption, the documentation does not make it clear enough and I got confused between API key and Application identifier to use for hashing.

## Why?
To make it easier for developers to understand the mechanism and have a better

[2022-07-13 19:49] amirhmoradi opened #843 "UI Bug in Settings menu, In App Center tab"
**Describe the bug**
When in settings page, if I switch from Development to Production (from top left menu), the content of the 'In App Center' tab, in the 'Security' section does not refresh.

**To Reproduce**
Steps to reproduce the behavior:

1. In 'Development' environment, in 'Settings' menu, 'In App Center' tab, **disable** HMAC
2. In 'Production' environment, in 'Settings' menu, 'In App Cent

[2022-07-14 07:48] djabarovgeorge opened #846 "Disable 'delete template' on production"
**Describe the bug**
You can see that the button of the 'delete template' is clickable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.novu.co/templates/edit/

**Expected behavior**
The production environment should be only read-only.

**Screenshots**
![image](https://user-images.githubusercontent.com/39195835/178928494-bbe6a158-1c34-4e7a-a4c5-ff7e20dd26ff.png)

[2022-07-14 08:00] djabarovgeorge opened #847 "Validate the the existence of a template on activity page render"
**Describe the bug**
If the user deleted a template, we need to make sure we validate the check if the template exists or not, because if we do not the page will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Activity Page

**Expected behavior**
The page should not crash if a template was deleted.

**Screenshots**
![image](https://user-images.githubusercontent.com/39195835/1789

[2022-07-15 07:47] #810 closed

[2022-07-15 13:36] #839 closed

[2022-07-15 18:51] WinterCore commented on #846
Hey. Can I take this?
Also do we wanna remove the button completely, or just disable it and show a tooltip?

[2022-07-16 05:39] scopsy commented on #846
@WinterCore i think we can just remove it, wdyt?

[2022-07-16 06:01] davidsoderberg commented on #846
@scopsy disable everything else today maybe we should follow that pattern?

[2022-07-16 10:49] djabarovgeorge commented on #846
I tend to agree with David following the same pattern will be more intuitive, won't it?

[2022-07-16 13:04] scopsy commented on #846
Let's do it :)

[2022-07-17 04:49] WinterCore commented on #754
Can I grab this.

[2022-07-17 05:48] davidsoderberg commented on #754
@WinterCore I have now assigned you :)

[2022-07-17 07:12] #846 closed

[2022-07-18 05:47] chavda-bhavik opened #861 "Email attachment is received empty"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
  - While sending email with attachment, attachment (image) is received with valid size but it's not opening. It looks like image is sent empty.
  - I test it with `Amazon SES` and `Sendgrid` integrations, same issue

[2022-07-18 08:23] #318 closed

[2022-07-18 21:25] alaboudi opened #865 "Allow non AWS infrastructure setups NV-681"
## What?
Currently, Novu is coupled to AWS through its .env config. It would be nice to allow a developer to setup with an alternative infrastructure provider, such as Google Cloud Platform (a.k.a GCP), instead.

## Why?
Some company's are known to be a complete AWS, GCP, or Azure shop. They wouldn't be able to adopt this repo on-prem if they were not on AWS. The only way about this is to fork thi

[2022-07-19 08:12] oba2311 commented on #861
Thanks @chavda-bhavik !
We will look into it this week.

[2022-07-19 08:18] novubot opened #867 "[NV-671] - NTFY support"
## What?

Add support for [https://ntfy.sh/](https://ntfy.sh/)

## Why?

For more providers. This was requested on [Reddit](https://www.reddit.com/r/selfhosted/comments/vxywzx/comment/ifz575j/?utm_source=share&utm_medium=web2x&context=3)

## How?

If you have an idea of how this can be implemented write your solution here

## Other information

Add any other context or screenshots about the featur

[2022-07-19 08:31] novubot opened #868 "[NV-678] - Validate the the existence of a template on activity page render"
**Describe the bug**\
If the user deleted a template, we need to make sure we validate the check if the template exists or not, because if we do not the page will crash.

**To Reproduce**\
Steps to reproduce the behavior:

1. Go to Activity Page

**Expected behavior**\
The page should not crash if a template was deleted.

**Screenshots**

![](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3f

[2022-07-19 08:31] novubot opened #869 "[NV-676] - Hosted Novu: UI Bug in Settings menu, In App Center tab"
**Describe the bug**\
When in settings page, if I switch from Development to Production (from top left menu), the content of the 'In App Center' tab, in the 'Security' section does not refresh.

**To Reproduce**\
Steps to reproduce the behavior:

1. In 'Development' environment, in 'Settings' menu, 'In App Center' tab, **disable** HMAC
2. In 'Production' environment, in 'Settings' menu, 'In App Ce

[2022-07-19 08:31] novubot opened #870 "[NV-673] - Hosted Novu: Team Members management"
**Describe the bug**\
As a team admin, I need to be able to remove/re-invite/change role for team members.\
(bonus) When I am not an admin, there is no need to see full email addresses of my team colleagues.

**To Reproduce**\
Steps to reproduce the behavior:

1. Go to 'Team Members' menu
2. Add a team member by inviting via email
3. Try to remove the newly invited team member -> no way
4. Try to

[2022-07-19 08:31] novubot opened #871 "[NV-674] - Hosted Novu: UI issues in Settings menu, Branding Tab"
**Describe the bug**\
In "Settings" Menu, "Branding" tab:

* Logo is streched and not showing properly ( rendered size 80x100, original logo size: 512x512)
* I cannot input HEX code in the Brand color input field, quite impossible to get my brand color if not a standard one.
* The Font Family seems to be from Google Fonts, maybe better if we have a full list (or a search box) to choose the our own

[2022-07-19 08:31] novubot opened #872 "[NV-675] - Clarify API Keys vs Application Identifier"
## What?

In 'Settings' menu, 'Api Keys' tab, I am not expecting to have my 'Application identifier', it is confusing.

On the other hand, to enable HMAC for subscriberId encryption, the documentation does not make it clear enough and I got confused between API key and Application identifier to use for hashing.

## Why?

To make it easier for developers to understand the mechanism and have a bette

[2022-07-19 08:39] oba2311 commented on #865
Sounds like a good request to me  - @scopsy  WDYT?  Can this be communitized?

[2022-07-19 08:54] scopsy commented on #865
Thanks for the suggestion @alaboudi !

I definitely thinks it's ok to introduce another `StorageService` to interact with GCP depending on the actually provided keys. We can use the existence of `S3_BUCKET_NAME` or `GCP_BUCKET_NAME` to identify which storage service to actually use.

Same methodology might be relevant when using other cloud-related services in the future.

[2022-07-19 09:00] novubot opened #873 "[NV-682] - Notification badge should update when notifications are seen"
As seen in this cast - after all notification are seen, the badge should be empty i.e. without the red dot.

See here:

![CleanShot 2022-07-19 at 11.44.50.gif](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/4d8d7778-ceee-442b-8512-4f66d257eaec/5d0dde56-ea30-490b-bfe7-40526495d60c)

[2022-07-19 09:25] scopsy commented on #873
@oba2311 today we are marking them as `seen` after a click. We've discussed this is a behavior we want to change, but we need to reflect this on the UI itself and also let the user actually specify if he wants it based on `read` or `seen` where read would be a click and seen is just seen :)

[2022-07-19 13:45] alaboudi commented on #865
Yes, exactly what I was thinking. We can let the `StorageService`, or any other service concerned with infrastructure, to abstract away any cloud-service providers. And ya, I like the idea of using something like the key used for the bucket name as the discriminator to decide between cloud storage providers

[2022-07-20 07:41] oba2311 commented on #865
Cool, then @alaboudi  are you going to take this one?
No pressure, but if you need this little fix fast, then that would be the fastest way :)

[2022-07-20 07:55] davidsoderberg commented on #861
@chavda-bhavik are you available to debug this with me?
Because I get Sendgrid to work with you exampled set up locally?

[2022-07-20 08:18] #872 closed

[2022-07-20 08:18] #870 closed

[2022-07-20 08:18] #868 closed

[2022-07-20 08:18] #867 closed

[2022-07-20 09:47] muhammadawais-rogers commented on #843
assign this to me please. thanks

[2022-07-20 09:50] muhammadawais-rogers commented on #840
i have tested and did it in my local. assign this to me, i have already did this in Novu by inspecting it. thanks

[2022-07-20 09:54] scopsy commented on #840
@muhammadawais-rogers Thanks! :)

[2022-07-20 09:58] scopsy commented on #843
Thank you @muhammadawais-rogers, just did

[2022-07-20 10:33] peoray commented on #541
What's the starting point for this? Where can I initialize Vue CLI ti create a project?

[2022-07-21 05:51] Lancelot03 commented on #873
It is based on user whether he want read or seen?

[2022-07-21 05:53] davidsoderberg commented on #861
Close this because SES was fixed in https://github.com/novuhq/novu/pull/876 and Sendgrid can't be reproduced

[2022-07-21 05:53] #861 closed

[2022-07-21 06:47] djabarovgeorge opened #878 "update mailjet logo in dark theme"
**Describe the bug**
Looks like the Mailjet logo is not the most compatible in dark mode. The error in the logo is black.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to IntegrationStore page

**Expected behavior**
We won't have too dark colors on the dark theme.

**Screenshots**
![image](https://user-images.githubusercontent.com/39195835/180146258-781aa059-9fa8-4ee5-b9ee-7ce5c20c393e.

[2022-07-22 08:39] chavda-bhavik commented on #861
Sorry @davidsoderberg for not being able to reply early. Thank you for having a look.

Did you tried sending large image `img/img-large.jpg`, It's still sending `413 (Request Entity too large)` error. Because of axios i believe.

[2022-07-22 08:45] davidsoderberg commented on #861
No I did not look into the large attachments could you open a new issue for this?

[2022-07-22 08:45] scopsy commented on #861
@chavda-bhavik what is the size of the attachment? We currently limit attachments size on the API level aswell.

[2022-07-22 08:46] chavda-bhavik commented on #861
It's `2.6 MB`.

[2022-07-22 16:50] alaboudi commented on #865
I can take this on. First Novu contribution 🙌

[2022-07-22 17:16] davidsoderberg commented on #865
@alaboudi I have assigned you now :)

[2022-07-24 16:55] nevo-david opened #891 "Clicking on a menu item in the workflow editor submits the form"
**Describe the bug**
When creating a new workflow, if you click on the menu item without dragging them, it submits the form.
Need to add type="button" on the buttons

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new workflow
2. Click on a menu item

**Expected behavior**
Nothing happens if you just click

[2022-07-24 19:57] scopsy commented on #891
Thanks for the report, uploading a fix at #894

[2022-07-24 20:30] #891 closed

[2022-07-24 22:10] jesusantguerrero commented on #541
Hello there's someone working on this? I would like to give a try and implement it with Vue 3.

[2022-07-25 05:13] davidsoderberg opened #896 "Add tabs style for notification center to theme"
## What?
Would like to be able to at least change color on tab border

## Why?
I can customize all other colors in notification center but not the tab borders color

## How?
Add it to the theme

## Other information
<img width="377" alt="Skärmavbild 2022-07-25 kl  07 11 53" src="https://user-images.githubusercontent.com/2233092/180703250-a0f05bc0-f1f8-49a1-9707-c08020ef020d.png">

[2022-07-25 13:20] WinterCore opened #898 "Replace moment.js with something lighter in the React notification center component"
More info: https://github.com/novuhq/novu/pull/854#issuecomment-1192069233

[2022-07-25 21:59] amirhmoradi opened #901 "Handlebars variable replacement not working in Email Template Subject"
**Describe the bug**
Handlebars variable replacement not working in Email Template Subject

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new email template
2. Use a dynamic variable in the email subject
3. Trigger the send with a correct payload
4. The handlebar var set in step 3 will not be replaced by its value from the payload.

**Expected behavior**
The email subject shall be

[2022-07-26 07:35] ainouzgali commented on #873
@Lancelot03 Right now it refers to whether the user read the notifications (Meaning, clicked on them). We are planning to  implement "read" and "seen" functionality as two different approaches soon. Will open an issue about that.

[2022-07-26 07:38] ainouzgali commented on #873
Closing this for now, a detailed issue about creating the actual functionality will be opened.

[2022-07-26 07:38] #873 closed

[2022-07-26 08:21] Lancelot03 commented on #873
Thanks for explaning

[2022-07-26 08:21] #901 closed

[2022-07-26 16:24] MaurerKrisztian commented on #878
@djabarovgeorge I did it, could you check if it's good enough to close this issue?

[2022-07-26 16:34] scopsy commented on #878
Closing :)

[2022-07-27 21:03] nawed2611 commented on #840
Hey, is this issue open to work on?

[2022-07-28 07:35] scopsy commented on #840
@nawed2611 really up to @muhammadawais-rogers not sure if he got the time to go over it yet :)

[2022-07-28 07:55] oba2311 commented on #873
@ainouzgali so did you open an issue for that, or should I?

[2022-07-28 07:59] oba2311 opened #911 "Intercom Implementation (Ways to submit feedback)"
### Discussed in https://github.com/orgs/novuhq/discussions/632

Intercom will be used to collect feedback as well as send emails to new users.

<div type='discussions-op-text'>

<sup>Originally posted by **oba2311** June  8, 2022</sup>
**How would you want to submit your feedback? Intercom? Email? Discord bots?**

We would love your feedback on how to gather feedback (see what we did here 🤯 ). We

[2022-07-28 08:15] scopsy commented on #911
Working on a PR to add support for this, will be merged to day 🥳

[2022-07-28 08:15] #911 closed

[2022-07-28 09:50] noftaly opened #914 "In App template editor input glitches"
**Describe the bug**
When creating an In-App Notification template, the input where you write your notification content makes you write right-to-left.
Everytime you enter a character, it places your cursor back to the beginning of the input

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://web.novu.co/templates/create
2. Create an in-app template
3. Try to write in the notificati

[2022-07-28 10:15] scopsy commented on #914
@djabarovgeorge could you check that? Was quite sure this was already resolved and the test seem to pass normally for that :o

[2022-07-28 10:40] WinterCore commented on #754
@davidsoderberg This can be closed.

[2022-07-28 10:41] #754 closed

[2022-07-28 11:53] scopsy commented on #739
Thanks @WinterCore closing this one 🚀

[2022-07-28 11:53] #739 closed

[2022-07-28 13:09] scopsy commented on #847
Closed in #913

[2022-07-28 13:09] #847 closed

[2022-07-28 18:19] nawed2611 commented on #840
Sure!

[2022-07-29 04:41] chavda-bhavik opened #918 "User should be logged out when API sends 401 Unauthorized error"
**Describe the bug**
The user should be logged out when API sends **401 Unauthorized** error

**To Reproduce**
Steps to reproduce the behavior:
1. Login with credentials
2. Wait for **1 day** till the token expires or modify the `auth_token` manually in localstorage.
3. Refresh the page
4. See API throwing **401** errors but user stay signed in.

**Expected behavior**
The user should be logged out

[2022-07-29 16:03] davidsoderberg commented on #918
@chavda-bhavik did you like to work on this?

[2022-07-29 23:51] LetItRock commented on #914
hi @scopsy!
yes, this is still happening in Safari, but not in Chrome:

Safari:

https://user-images.githubusercontent.com/2607232/181861208-0959635f-3b4a-4f94-ae11-0e727fd56269.mov

Chrome:

https://user-images.githubusercontent.com/2607232/181861224-d10e3fe5-87d8-4a96-a650-81dc8ede6e7f.mov

I'll take a look in to this if you don't mind ;)

[2022-07-30 05:56] scopsy commented on #914
@LetItRock would really appreciate it! Please let me know if you would need some help with it there. Available here or on Discord 🙏

[2022-07-30 06:02] chavda-bhavik commented on #918
Yes, @davidsoderberg I would like to work on it.

[2022-07-31 06:47] nevo-david opened #919 "Merge Unread Digested Notifications"
## What?
If you have multiple unread digested notifications, merge them into a single one (can work mainly with in-app notifications).
Here is an example: I have digested four batches of "10 people liked your picture" (4 notifications).
But I haven't logged in to the app for a while.
I would prefer to see one notification of "40 people liked your picture." rather than four notifications of "10 peo

[2022-07-31 06:57] scopsy commented on #744
Hi @Ciggzy1312 how is it going? Do you need some help? Would love to jump on board to help or in other case let me know if you want me to un-assign you 🙏

[2022-07-31 07:18] nevo-david opened #920 "Prioritize In-App Notifications"
## What?
Not all notifications are born equal; some are more important than others.
For example, a "friend request" on Facebook is more important than a "like" on a picture.
So, we need to allow to add a priority number to notifications for sorting.
For example:
Friend request - 1
Like on a picture - 2

So my In-app feed would look like
friend request
friend request
friend request
like on a pictur

[2022-07-31 10:09] Ciggzy1312 commented on #744
It is not showing any horizontal scrollbar in my device at least. So probably this issue has been solved

![image](https://user-images.githubusercontent.com/65884232/182021348-af0990e7-98d6-4f00-9fc8-3c074da915c9.png)

[2022-07-31 10:51] kymppi commented on #744
It is probably not solved, it might happen only with specific screen resolutions

[2022-07-31 11:29] novubot opened #922 "[NV-725] - Move the drop area one step further down"
As seen in this clip, the drop area is shown ON TOP of the last existing step, instead of the newly created step - we want to drop area to be under the plus sign.

Today:

[617d0140-4b27-4abb-8c65-6e72afc60a5a](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/27c4ed5d-8553-4726-a40c-3138d2ecec50/617d0140-4b27-4abb-8c65-6e72afc60a5a)

[2022-07-31 11:36] scopsy commented on #922
@oba2311 looks like the video is missing here, can you edit the issue or provide a direct link ?

[2022-07-31 13:03] oba2311 commented on #922
BTW - @scopsy  I understand from Gali this is not a good community feature.

[2022-07-31 13:03] PritamSarbajna opened #923 "change the scrollbar or make same"
## What?
change the scrollbar  of novu.co and docs.novu.co or make same.

## How?
I can change the scrollbar entirely with a custom scrollbar or I can make both scrollbar look same.

## Other information :
![Screenshot (169)](https://user-images.githubusercontent.com/90236635/182027552-8d2b059c-1c5d-4f7e-8903-88772496a25f.png)

![Screenshot (168)](https://user-images.githubusercontent.com/90236635

[2022-07-31 13:06] scopsy commented on #923
I think the docs look better so we can make both look the same. @andrewgolovanov what do you think? @PritamSarbajna the project of the web is at https://github.com/novuhq/website/

[2022-07-31 13:11] scopsy commented on #672
@samsoft00 I'm closing this issue since I think we improved the contributing guide quite a lot since then. If you want to add more things there let me know 🙏

[2022-07-31 13:11] #672 closed

[2022-07-31 13:50] PritamSarbajna commented on #923
@scopsy Thank you so much for the project link.

[2022-07-31 17:02] PritamSarbajna opened #978 "[FEATURE REQUEST] Add button to go from docs.novu.co to novu.co"
### describe the issue :

In _docs.novu.co_ there isn't anything which redirect user from `docs.novu.co` to `novu.co`

### suggestive solution:

-  We can add a button at navbar to `novu.co`
or
-  adding `novu.co` to the novu logo also solves the problem
or
-  We can add something on footer which will redirect user to `novu.co`

[2022-08-01 09:54] novubot opened #928 "[NV-363] - Improve command.create static method to be reused"
## What?

Right now each usecase command in our API does a code duplication for the static create method for example in the `CompileTemplateCommand` command:

[code]

This is repetitive and prone to errors, would be great if we could abstract this static call and still preserve the validation functionality and type support from typescript from each individual command.

The command `create` method

[2022-08-01 16:39] jainpawan21 commented on #922
@scopsy, I would like to work on this, can you please assign this to me?

[2022-08-01 17:21] scopsy commented on #922
Sure @jainpawan21, attaching the UI on figma on how it should look like: https://www.figma.com/file/9jalQvImfHtbbExZPLW3XO/Concepting?node-id=1790%3A25255

Let me know if you will have any questions 🙏

[2022-08-01 17:22] scopsy commented on #843
@muhammadawais-rogers how are you? Do you need any help with this? Let me know if I can be of any help here

[2022-08-01 17:23] scopsy commented on #829
Hi @devblin just wanted to check-in to see if you will need any help here :) I'm available for any questions you might have 🙏

[2022-08-01 17:24] scopsy commented on #811
@oba2311 can we create a UI design for this? of where we can have it in the UI maybe? I think it will help with working on this

[2022-08-01 17:26] scopsy commented on #744
From the image looks like your screen width is larger thank the one on @kymppi image. could you try to reduce it a bit to approximately matches kympis screen? @Ciggzy1312

[2022-08-01 17:27] scopsy commented on #768
Hi @samsoft00 just wanted to ask if you need some help or guidance. Or otherwise if you want me to un-assign you 🙏

[2022-08-01 17:29] scopsy commented on #666
@AakashRaj20 unfortuantly looks like we couldn't meet, let me know if you want to try and schedule again 🙏

[2022-08-01 17:47] devblin commented on #829
Hey @scopsy, sorry for being inactive, was caught up due to some academic stuffs. I will share my approach and realted queries by tommorow and hope to fix this issue within this week 🙌.

[2022-08-01 17:54] abayomii commented on #768
Hi @scopsy, yes, I'll reach out to you, apologies for the delay.

[2022-08-01 17:55] samsoft00 commented on #768
Hi @scopsy, yes, I'll reach out to you, apologies for the delay.

[2022-08-02 08:20] Anishpras commented on #842
@scopsy May I work on this? If yes, how would you like me to proceed?

[2022-08-02 08:24] Anishpras commented on #811
@scopsy @oba2311  May I work on this? If yes, how would you like me to proceed?

[2022-08-02 08:29] scopsy commented on #811
Sure @Anishpras ! We would only need a design from @oba2311 for the switcher of the organizations and how a user will be able to switch between them.

[2022-08-02 09:05] oba2311 commented on #914
Hi, @LetItRock ,  we are always here to help if needed.

[2022-08-02 16:24] novubot opened #936 "[NV-707] - [Design] Loading state For Select Component"
## Why?

Currently, our select/multi-select component has a loading state that covers the label, description and not just the input.

![Screen Shot 2022-07-07 at 10.18.06.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/a486dc38-b521-4a98-a25f-889d9939ba0c/06336c77-eb78-4bad-ad4d-59844a21c86e)

## What?

Change the select component so that the loading would be only on the input

[2022-08-02 16:41] AakashRaj20 commented on #666
Yes I tried setting up the project but I was not  able to it would he great if you can take a look again tommorow any time you are free.

[2022-08-02 17:05] alaboudi commented on #865
I'm unassigning myself in favor of @Lian1230. He just put up a PR for this https://github.com/novuhq/novu/pull/934

[2022-08-03 08:44] saroj990 commented on #936
@ainouzgali could you assign this issue to me ?

[2022-08-03 08:54] ainouzgali commented on #936
Sure @saroj990 ! Let me know if you need any help or clarifications

[2022-08-03 08:57] ainouzgali commented on #936
Just noticed the figma is missing the design for light mode, will add it asap. But you can definitely start working on that, it will not block you.

[2022-08-03 11:34] scopsy commented on #865
Merged at #934 🥳

[2022-08-03 11:34] #865 closed

[2022-08-03 11:41] novubot opened #939 "[NV-743] - i18n - Italian Support"
## Why?

Recently we introduced an easy way to add translations for the `@novu/notification-center` component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?

* Add a new translation file here: `packages/notification-center/src/i18

[2022-08-03 11:41] novubot opened #940 "[NV-741] - i18n - Russian support"
## Why?

Recently we introduced an easy way to add translations for the `@novu/notification-center` component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?

* Add a new translation file here: `packages/notification-center/src/i18

[2022-08-03 11:41] novubot opened #941 "[NV-742] - i18n - Bengali support"
## Why?

Recently we introduced an easy way to add translations for the `@novu/notification-center` component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?

* Add a new translation file here: `packages/notification-center/src/i18

[2022-08-03 11:41] novubot opened #942 "[NV-740] - i18n - French support"
## Why?

Recently we introduced an easy way to add translations for the `@novu/notification-center` component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?

* Add a new translation file here: `packages/notification-center/src/i18

[2022-08-03 11:41] novubot opened #943 "[NV-739] - i18n - Hindi Support"
## Why?

Recently we introduced an easy way to add translations for the `@novu/notification-center` component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?

* Add a new translation file here: `packages/notification-center/src/i18

[2022-08-03 11:41] novubot opened #944 "[NV-738] - i18n - Spanish Support"
## Why?

Recently we introduced an easy way to add translations for the `@novu/notification-center` component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?

* Add a new translation file here: `packages/notification-center/src/i18

[2022-08-03 12:44] oba2311 commented on #920
Thanks.

Some thought tho, in app feed is usually sorted chronologically… so WDYT?

[2022-08-03 15:08] BiswaViraj commented on #898
@scopsy, @davidsoderberg

So will `date-fns` work or any other library needs to be used?
Also, assign this to me.

[2022-08-03 15:10] scopsy commented on #898
@BiswaViraj I think `date-fns` will be great, assigning 🙏

[2022-08-03 15:21] novubot opened #947 "[NV-744] - Disallow the use of .only when committing code"
## Why?

We had instances where `.only` it was accidentally committed, and none of the tests actually run because of that in CI.

## How?

We can add a pre-commit hook with husky using [https://github.com/bahmutov/stop-only](https://github.com/bahmutov/stop-only) to disallow its usage of it. Preferably using lint-staged so we don't have to scan the entire codebase.

[2022-08-03 16:52] jainpawan21 commented on #947
@scopsy, Can you please assign this to me?

[2022-08-03 17:09] scopsy commented on #947
Sure @jainpawan21 assigning you 🙏

[2022-08-03 20:52] LetItRock opened #948 "Failing e2e test in the notifications-editor.spec.ts file"
## What?
The e2e test `should edit notification` in the `notifications-editor.spec.ts` file is failing.
In the PR: #937 I've marked it with `it.skip` so it will be skipped by now.
We should verify the cause and fix it.

## How?
Remove the `.skip` from the test, then run the e2e tests by `pnpm run cypress:open` in the `web` app folder.
Choose the browser and select the `notifications-editor.spec.ts

[2022-08-03 22:28] LetItRock commented on #928
@scopsy I can take a look into this ;)

[2022-08-04 06:34] nevo-david commented on #920
The notifications with the priority should ignore the date order.
They should have their on-date order inside the priority.
For example, if you give two notifications the same priority.

[2022-08-04 06:57] scopsy commented on #948
This was fixed on #949 and should be ok now 🥳

[2022-08-04 06:57] #948 closed

[2022-08-04 09:51] novubot opened #955 "[NV-586] - Mark all as read"
**What this is about:**

In our notification center, we want to indicate when a notification is read or seen. This is the notification center:

![CleanShot 2022-07-28 at 13.55.42@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/a96fbcfc-d495-4b33-9a05-f3158821ca57/b1129687-24e4-4e4c-a2e6-4de37701ab9a)

**Challenge:**

When users receive a large amount of notifications it’s h

[2022-08-04 16:36] #668 closed

[2022-08-04 16:54] raikasdev commented on #955
Assign to me

[2022-08-04 17:15] jainpawan21 commented on #955
I will like to work on this @scopsy

[2022-08-04 17:17] jainpawan21 commented on #943
@scopsy I will like to work on this issue.
Can you please assign this to me?

[2022-08-04 17:21] jainpawan21 commented on #834
I did not get exactly what need to be done.
Can you elaborate a bit @scopsy ?

[2022-08-04 22:22] aggmoulik commented on #896
@scopsy I can pick it up.

[2022-08-04 22:26] aggmoulik commented on #898
@BiswaViraj dayjs would be more good choice vs date-fns.

[2022-08-04 22:31] aggmoulik commented on #843
@scopsy Can I pick this up ?

[2022-08-05 07:56] scopsy commented on #843
Sure thing, @muhammadawais-rogers I will un-assign you now. If you did start to work on it please let me know 🙏

[2022-08-06 12:32] aggmoulik commented on #843
@scopsy Can you help me with setting up the different environment for development and production.

[2022-08-06 18:56] aggmoulik commented on #955
Hey @scopsy Can you help me with generating notifications for my feed ?

[2022-08-07 06:06] csachdeva83 commented on #944
I would like to work on this issue. Can it be assigned to me?

[2022-08-07 07:13] #943 closed

[2022-08-07 07:41] csachdeva83 commented on #942
Please assign this issue to me.

[2022-08-07 07:51] ainouzgali commented on #942
Hi @csachdeva83 Feel free to reach out here or on Discord if you need anything :)

[2022-08-07 07:57] csachdeva83 commented on #942
ok, thnx @ainouzgali

[2022-08-07 08:08] ainouzgali commented on #944
Thanks @csachdeva83 !

[2022-08-07 08:08] #944 closed

[2022-08-07 10:58] #625 closed

[2022-08-07 14:07] #918 closed

[2022-08-07 14:07] scopsy commented on #752
Awesome @AlexVCS !! Merged this :)

[2022-08-07 14:07] #752 closed

[2022-08-07 14:07] scopsy commented on #947
Merged this 🔥

[2022-08-07 14:07] #947 closed

[2022-08-07 14:08] scopsy commented on #914
Merged this! Thanks @LetItRock for your contribution 🙏

[2022-08-07 14:08] #914 closed

[2022-08-07 14:09] scopsy commented on #580
Merged at #854

[2022-08-07 14:09] #580 closed

[2022-08-07 14:09] #734 closed

[2022-08-07 14:11] scopsy commented on #666
Couldn't find you on Discord @AakashRaj20 what is your handle there?

[2022-08-07 14:13] AakashRaj20 commented on #666
itachi20#7614

[2022-08-07 15:43] scopsy commented on #896
Sure thing @aggmoulik assigning you!

[2022-08-07 15:44] scopsy commented on #955
Hi @aggmoulik, you can create a template as David suggested, get your user._id from the network requests or if running locally from mongo and than trigger the event locally with your userId as a subscriberId. You should see the notification on localhost:4200

Also, we have automatic seeding inside the apps/widget cypress tests. So you can just work inside the "test" environment withing the widget

[2022-08-07 16:29] #19 closed

[2022-08-07 16:30] #20 closed

[2022-08-07 16:30] #18 closed

[2022-08-07 16:30] #17 closed

[2022-08-07 16:31] scopsy commented on #45
A lot has changed since :) Closing this one as we have moved more toward an HTTP API approach. Thanks everyone involved here

[2022-08-07 16:31] #45 closed

[2022-08-07 18:55] #501 closed

[2022-08-07 20:11] scopsy commented on #744
Hi @Ciggzy1312 did you had a chance to take a look at this?

[2022-08-07 21:21] thisaakash opened #973 "Midka Profile - Bio Url Need To Fix"
The Current Bio Link Is https://novu.co/contributors/kymppi/midka.dev

It Should Be https://midka.dev

[2022-08-07 21:27] kymppi commented on #973
I'd guess the problem is that, when providing a website in github. You can add it without the protocol (http://, https://) and that's my case. The best solution would be checking if the protocol is present on the website link, if not, it would automatically add it.

[2022-08-08 06:39] chavda-bhavik commented on #57
Hey, @iampearceman I would like to work on this issue.

[2022-08-08 08:29] ainouzgali commented on #922
@jainpawan21 You did a great job! Thank you for your contribution!

[2022-08-08 08:29] #922 closed

[2022-08-08 09:36] proDOOMman opened #977 "Querying of subscribers from MongoDB is "slow""
I find in logs many messages with text:

{"t":{"$date":"2022-08-08T09:21:54.466+00:00"},"s":"I",  "c":"COMMAND",  "id":51803,   "ctx":"conn1","msg":"Slow query","attr":{"type":"command","ns":"novu-db.subscribers","command":{"find":"subscribers","filter":{"_environmentId":{"$oid":"62a326e670c45900183eee85"},"subscriberId":"338c823d-19f9-4868-ab60-daa1ad1a0bd6","deleted":{"$ne":true}},"projection":{

[2022-08-08 09:52] scopsy commented on #977
We actually have this index on the hosted version, but looks like it's missing in the DAL configuration as a default index. So I think adding a compound index with mongoose there will solve the issue.

[2022-08-08 18:51] atompie opened #986 "Wrong response status on missing template"
**Describe the bug**
Wrong response status on missing template

**To Reproduce**
I have sent na API request with the wrong template name and got this response:
status: 201
content: {
  data: {
    acknowledged: true
    status: "template_not_found"
  }
}

**Expected behavior**
Some other status 422 maybe

[2022-08-08 22:20] #940 closed

[2022-08-09 08:16] oba2311 commented on #919
So basically a digest of digests? 🤯

[2022-08-09 08:43] nevo-david commented on #919
Yup 🚀

[2022-08-09 11:46] proDOOMman opened #993 "Add support for Azure storage"
## What?
Currently, Novu is coupled to AWS/GCP through its .env config. It would be nice to allow a developer to setup with an alternative infrastructure provider, such as Azure, instead.

## Why? How? Other information...
See #865

[2022-08-09 11:49] scopsy commented on #993
I think it's a great idea. We can follow the same pattern as with GCP there. 🚀 I think after that we should add a section in docs about the different configuration related for each cloud provider

[2022-08-09 13:57] oba2311 commented on #896
@aggmoulik good luck! Let us know if you need any help.

[2022-08-09 14:16] aggmoulik commented on #896
Hey @oba2311 If you can, I just need a help with notifications, as I am not able to render any notifications.

[2022-08-09 14:19] ainouzgali commented on #896
@aggmoulik sure, how can I help?

[2022-08-09 15:26] #942 closed

[2022-08-09 15:27] ainouzgali commented on #928
Amazing @LetItRock ! Much appreciated

[2022-08-09 15:27] #928 closed

[2022-08-09 15:50] aggmoulik commented on #896
Need some help in triggering notifications to show in my notifications panel for some testing and also not able to run cypress tests.

[2022-08-09 16:12] PritamSarbajna commented on #978
Hey @ComBarnea I'd love to do it so yeah assign this to me

[2022-08-09 16:14] PritamSarbajna commented on #978
also I have a question so you're saying that I should change the link of the logo to `docs.novu.co` to `novu.co` as per [docusaurus.io](https:///docs/api/themes/configuration) ??

[2022-08-09 17:03] crismxiex commented on #898
Is this issue still open?

[2022-08-09 17:21] scopsy commented on #898
@BiswaViraj did you had a chance to start working on this? If not, let me know and I can assign @crismxiex for this one 🙏

[2022-08-09 17:25] BiswaViraj commented on #898
@scopsy , I've just done the bare minimum setup for it, been traveling this week, so I'm not able to get back to it till Saturday or Sunday when I reach home.
I'm fine with @crismxiex working on this, if he is interested.

[2022-08-09 18:43] crismxiex commented on #898
@BiswaViraj Apologize I was checking on the phone and I missed this issue was already assigned.

[2022-08-10 05:42] #977 closed

[2022-08-10 08:24] #939 closed

[2022-08-10 13:53] novubot opened #1002 "[NV-767] - Switch deprecated faker.name.title function to jobTitle"
## Why?

Faker.js has deprecated `faker.name.title` in favor of the `jobTitle`.

## What?

Update all the place that used `faker.name.title` to the new method.

[2022-08-10 14:37] novubot opened #1003 "[NV-770] - Add lint-staged for husky pre-commit hooks on changed code"
## Why?

In some case we only get the linter errors for projects only in CI, it takes a lot of time for the whole cycle.

## How?

We can add lint-staged for the existing husky setup on a recommit hook.

We should handle the lint-staged for all the packages in the app, including docs folder.

[2022-08-10 14:37] novubot opened #1004 "[NV-768] - Add a cypress:run:components command on web project"
## Why?

Today we only have the `cypress:run` command on the `apps/web` project, recently component tests are added with cypress and we can run them other than the UI runner.

## How?

Add a package.json command inside `apps/web/package.json` to run the component tests in the CLI.

[2022-08-10 16:23] Rutam21 commented on #1002
@scopsy I would love to take this up. It would be great if you can point me to all the files that need this change. Thanks.

[2022-08-10 16:24] Rutam21 commented on #986
@scopsy I would love to take this up. Kindly confirm the correct status code and point me to the file that needs to be changed.

[2022-08-10 18:04] jainpawan21 opened #1007 "[feature request]support for notification-center for android and ios"
## What?
We have notification center as a react component for web. Can we have a similar component/library for android and ios?

## Why?
A clear and concise description of why this feature is important or you need it as a user...
This feature will help users to use In App notification feature in most of the mobile devices

[2022-08-10 18:11] jainpawan21 opened #1008 "Unread notification count is not updating real time in notification-center"
**Describe the bug**
In the main branch, this notification count is not updating in real-time. I have 3 unread notifications, still it is showing 1. If I refresh this page then it will show 3

**To Reproduce**

Steps to reproduce the behavior:
1. Run the project in local
2. Create one notification and workflow with in-app as one of the step
3. Trigger the notification to yourself using subscriberI

[2022-08-10 19:29] scopsy commented on #986
Sure @Rutam21, this is handled in the `trigger-event.usecase.ts` file. Nestjs has a NotFoundException you can throw there. Regarding the status I think 404 should be appropriate here @atompie what do you think ?

[2022-08-10 19:30] scopsy commented on #1002
@Rutam21 I would suggest to just search for it in the code and replacing the occurrences :)

[2022-08-10 19:30] scopsy commented on #1008
Hi @jainpawan21 could you please verify `apps/ws` is running correctly on your local machine? And also what browser are you using?

[2022-08-11 05:18] ArshErgon commented on #1004
Like this?
[code]

[2022-08-11 09:35] #1004 closed

[2022-08-11 13:11] atompie commented on #986
@scopsy well 404 means that there is no endpoint or data. This is not true as the endpoint exists.  422 is en error that indicates that the sent data is incorrect. If you would like a proper rest api then this is the correct status.

[2022-08-11 15:55] jainpawan21 commented on #1008
@scopsy, Yes apps/ws is running. I am using chrome browser.

[2022-08-11 16:31] jainpawan21 commented on #181
Is this issue still relevant @scopsy?

[2022-08-11 16:45] jainpawan21 commented on #919
Hi @nevo-david, I would like to work on this.
Can you please assign this to me?

[2022-08-11 16:47] jainpawan21 commented on #920
@scopsy I would like to work on this
Can you please assign this to me?

[2022-08-11 17:01] ainouzgali commented on #920
Thanks @jainpawan21 !  As usual, feel free to discuss and debate in our engineering channel  on discord

[2022-08-11 18:46] Nike682631 commented on #1003
Is this issue available to work on?

[2022-08-11 18:46] Nike682631 commented on #1002
Is this issue available to work on?

[2022-08-11 18:48] Nike682631 commented on #842
@scopsy  Is this issue available to work on?

[2022-08-11 18:48] Nike682631 commented on #841
@scopsy  Is this issue available to work on?

[2022-08-11 18:49] Nike682631 commented on #602
@scopsy  Is this issue available to work on?

[2022-08-11 18:49] Nike682631 commented on #582
@scopsy  Is this issue available to work on?

[2022-08-11 18:49] Nike682631 commented on #138
@scopsy  Is this issue available to work on?

[2022-08-11 18:49] Nike682631 commented on #128
@scopsy  Is this issue available to work on?

[2022-08-11 18:50] Nike682631 commented on #80
@scopsy  Is this issue available to work on?

[2022-08-11 18:50] Nike682631 commented on #77
@scopsy  Is this issue available to work on?

[2022-08-11 19:48] ainouzgali commented on #77
Sure @Nike682631 ! Reach out if you need anything

[2022-08-11 20:04] scopsy commented on #841
Hi @Nike682631 looks like this was already implemented and merged 🙏

[2022-08-11 20:04] #841 closed

[2022-08-11 20:06] scopsy commented on #1003
Looks like we already have a PR by venarious open for this one 🚀

[2022-08-12 00:52] JimboCee commented on #1002
Are other users able to replace the `faker.name.title` occurences despite a user being assigned? I'm more than happy to help tackle this, a problem shared is a problem halved :)

[2022-08-12 03:37] davidsoderberg commented on #452
@scopsy this can be closed now right?

[2022-08-12 05:23] yvan-wyf opened #1016 "[NV-780] - DingTalk Support"
## What?
Describe what is your feature/change request

DingTalk Support ：https://www.dingtalk.com/

## Why?
very popular in China

## How?
ChatOps

## Other information

[2022-08-12 06:31] Rutam21 commented on #1002
@JimboCee Thanks for your interest but there were not many files to be changed that it would require a helping hand. So, I have managed it on my own and raised the PR. 🙂

[2022-08-12 09:03] EnyngS opened #1018 "Notification time and header translation issue"
**Describe the bug**
Part of the translations in i18n does not work, in particular "markAllAsRead, notifications, lang"

**To Reproduce**
1. Run the project in local
2. Create one notification and workflow with in-app as one of the step
3. Trigger the notification to yourself using subscriberId as your userid
4. Add translation language to i18n property
5. Only the notification footer changes

**E

[2022-08-12 09:15] #1002 closed

[2022-08-12 09:18] scopsy commented on #986
Do you think that an entity doesn't exist here? Since the template with the provided identifier doesn't exist. This is why I was thinking about the 404 here. But I think 422 fits here too @Rutam21 🚀

[2022-08-12 09:19] scopsy commented on #920
Thanks @ainouzgali for the intro, as Gali mentioned this one is not really ready for work yet because we need to understand where it sits with functionality and what API will manage it and how exactly it will be configured. Let me know if you had a chance to think about a way to solve this and we can brainstorm on how this can be achieved here or Discord 🚀

[2022-08-12 09:20] scopsy commented on #919
Hi @jainpawan21 do you mind if chat over this one in a week or so, it is part of the digest engine and we want to release 0.7.0 first because we might have some conflicts there in case we start to work on it right now

[2022-08-12 09:21] scopsy commented on #898
No worries @crismxiex just assigned you for this one 🚀

[2022-08-12 09:23] scopsy commented on #842
Sure @Nike682631 do you have some ideas on how this can be solved and be more clear? Maybe see how other applications treat those situations?

[2022-08-12 09:24] scopsy commented on #834
@oba2311 could you please eloborate here?

[2022-08-12 09:25] scopsy commented on #829
Sure think @devblin no worries. thanks for your contribution!

[2022-08-12 09:25] scopsy commented on #811
@oba2311 did you have a chance to chat with Shlomi about this one?

[2022-08-12 09:26] scopsy commented on #128
Sure think @Nike682631 assigning you right now 🚀

[2022-08-12 09:27] scopsy commented on #138
This would be really helpful @Nike682631!

[2022-08-12 09:37] scopsy commented on #582
Hi @Nike682631 this was already fixed 🙏

[2022-08-12 09:37] #582 closed

[2022-08-12 14:48] dcbartlett commented on #986
I agree with @atompie  here.  404 is SUPPOSED to be used by REST APIs to give feedback that a route does not exist at the given URI.  In this case, the route does exist, thus it is invalid input data that caused the error.  Status code 422 should be the correct code to use here.

[2022-08-12 15:23] scopsy commented on #898
Yes 🙏

[2022-08-12 16:20] escobar5 opened #1019 "[NV-782] - WhatsApp Provider"
## What?
It would be nice to have a provider to send WhatsApp notifications

## Why?
WhatsApp is being currently used in many use cases to notify users about deliveries, app updates, etc.

## How?
Integrating WhatsApp for Business API. The difficult part, I think, may be the WhatsApp enterprise onboarding, after that, integrating the API is simpler. Another option would be Twillio Messaging for Wh

[2022-08-13 07:02] jainpawan21 commented on #920
Sure @scopsy, I will share and discuss my findings and approach in doscord.

[2022-08-13 07:04] jainpawan21 commented on #919
Sure @scopsy, We can.
let me research a bit and I will share my findings with you, and how I want to approach this feature.

[2022-08-14 08:29] oba2311 commented on #1016
@yvan-wyf will you be interested in tackling this?

[2022-08-14 08:32] oba2311 commented on #1019
@escobar5 interested in working on this?

[2022-08-14 10:16] Nike682631 commented on #77
@ainouzgali  #1021
Could you check this pr and lemme know if I need to correct something?

[2022-08-14 12:40] Rutam21 opened #1022 "Upgrade Novu Issue Templates to use Github Issue Forms"
## Introduction
GitHub has already rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This allows to create interactive issue templates and validate them.

Novu currently uses the older [issue template format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-request

[2022-08-14 12:44] Rutam21 commented on #1022
@scopsy Please check this issue and assign it to me so that I can work on it. Thanks.

[2022-08-14 12:50] scopsy commented on #1022
This is so cool! Let's do it 🚀

[2022-08-14 13:18] novubot opened #1023 "[NV-790] - Fix the visible/hidden API key for an email vendor"
See:

[cbbc908f-e35a-4ec8-92eb-6c862fb55c2f](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/df071b56-33c5-42ab-a895-e2e21171e652/cbbc908f-e35a-4ec8-92eb-6c862fb55c2f)

[2022-08-14 13:18] novubot opened #1024 "[NV-789] - Remove the arrow since it does nothing :)"
Here:

![CleanShot 2022-08-14 at 16.12.33@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/157b4d5c-615e-491f-9c11-4aeacd8c407c/4163b350-0e23-4fbe-b893-ee8edc80475a)

[2022-08-14 13:31] escobar5 commented on #1019
yes, let me check the code first

[2022-08-14 16:19] Rutam21 commented on #1024
@scopsy I would love to take this up. Kindly point me to the UI File that needs this change.

[2022-08-14 16:30] ainouzgali commented on #1024
Hi, path is apps/web/src/components/templates/LackIntegrationError.tsx
But I kind of think it will be better to keep the arrow and change it to navigate to integrations (same as the 'configure it' text)
What do you think?
@oba2311 @Rutam21

[2022-08-14 18:40] PritamSarbajna commented on #978
@ComBarnea  also I have a question so you're saying that I should change the link of the logo to `docs.novu.co` to `novu.co` as per [docusaurus.io](https:///docs/api/themes/configuration) ??

[2022-08-14 18:55] ComBarnea commented on #978
@PritamSarbajna the question is, should we navigate to Novu's docs, or to the main website when clicking on the logo on the top. Originally I thought it should be to Novu's main website, but after looking into other implementations I think we should **keep** it the way it is.

But add on the footer another link for Home.
<img width="1574" alt="Screen Shot 2022-08-14 at 21 54 04" src="https://user-

[2022-08-14 19:12] PritamSarbajna commented on #978
Hey @ComBarnea when we click on the logo it takes us to `docs.novu.co` which I think is correct so let it as it is. We can also add HOME as shown above but wouldn't it be odd like `4 : 3`. I'm thinking to add `novu.co` in the footer's novu logo but the question is how will users know that if we click on that it'll take me to `novu.co`

Also I've an idea we can add `novu.co` in footer's logo as wel

[2022-08-15 03:24] sachinsom93 commented on #1023
I would love to work this issue, and it would be really great if I could point to the file that needs to be changed :)

[2022-08-15 05:56] ComBarnea commented on #978
I think we can navigate the bottom logo to nove.co as a new tab. And for now we can skip the additional link as you suggested. @scopsy any thoughts here?

[2022-08-15 08:14] oba2311 commented on #986
😎
@Rutam21 ping us if you need any help with this :)

[2022-08-15 08:23] sachinsom93 opened #1027 "[Bug]: Password visibility toggle buttons inside `PasswordInput` are not accessible by keyboard."
**Describe the bug**
Password visibility buttons present in Sign Up and Login In pages are not accessible by keyboard. User can't focus on them using `tab` or `shift + tab` keys.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup project locally.
2. Run `npm run start:web` and go to `http://localhost:4200/auth/signup` on your browser.
3. Try to input fields using keyboard (`tab` or `shift

[2022-08-15 08:57] #452 closed

[2022-08-15 09:02] Rutam21 commented on #1024
@ainouzgali I guess we can move the navigation to the Arrow instead of keeping it at both places. From a UX perspective, the user will definitely click here for further actions if there's an arrow at the end. Let me know what you think.

[2022-08-15 09:16] PritamSarbajna commented on #978
Hey @ComBarnea I was not asking for adding a extra link with extra area. I was just asking if we click on this copyright area's words we can also add a link to `novu.co`

[2022-08-15 09:20] scopsy commented on #744
Looks like this happens for resolutions at around 1200px and the code snippet is just to high on width. Updated the description for this

[2022-08-15 09:26] scopsy commented on #936
Hi @saroj990, how are things going? Please let me know if you want me to un-assign you in case you don't have the time for that.

[2022-08-15 09:41] scopsy commented on #1023
Ended up not being a bug since actual "*" were saved in the field. we will validate the API Key against the provider to prevent those accidents from happening. A new issue will be created for this. Thanks @sachinsom93 for your willingness to help 🙏

[2022-08-15 09:41] #1023 closed

[2022-08-15 10:41] ComBarnea commented on #978
@PritamSarbajna our docs are managed in our main repo, and not on the website repo. And while we were discussing our design team updated the logo to include documentation.
![Screen Shot 2022-08-15 at 13 37 26](https://user-images.githubusercontent.com/8877285/184621137-58567f03-a75d-4adf-986d-bfb0280b14c7.png)

I think that adding another column with a Home link would be the best option, as clicki

[2022-08-15 10:47] PritamSarbajna commented on #978
Yeah sure @ComBarnea. Now we can't add `novu.co` into the logo. Okay so you're saying make another column not another row ?

[2022-08-15 11:44] scopsy commented on #978
I think just adding another row on the existing columng with work there :)

[2022-08-15 16:03] Rutam21 opened #1037 "Add a CODE_OF_CONDUCT file for this repository"
## Description
Novu is a growing open source project that will be collaborating with a huge Contributor base in the times to come. So, this repository needs to have a standard CODE_OF_CONDUCT file that would drive and govern the interaction of each of the individual contributors participating here.

## Solution
The Github [CODE_OF_CONDUCT](https://docs.github.com/en/communities/setting-up-your-pro

[2022-08-15 16:04] Rutam21 commented on #1037
@scopsy Please assign this issue to me and I can submit a PR soon.

[2022-08-16 09:00] oba2311 commented on #1024
@ainouzgali @Rutam21  yup you guys rock, let's make it clickable :)
wanted to move it only because it did nothing 👍

[2022-08-16 09:18] #1022 closed

[2022-08-16 09:54] oba2311 commented on #1027
@scopsy let's assign to @sachinsom93 ?

[2022-08-16 11:02] novubot opened #1040 "[NV-769] - Add link to docs from the "web" dashboard"
## Why?

For easier access to documentation of our users.

## How?

Add 2 links fixed on the bottom of the navigation menu with links to:

* Documentation - https://docs.novu.co
* Support - [https://discord.gg/novu](https://discord.gg/novu)

[Deafult picker - Concepting (Figma)](https://www.figma.com/file/9jalQvImfHtbbExZPLW3XO/Concepting?node-id=3274%3A34643)

[2022-08-16 11:14] #1027 closed

[2022-08-16 11:15] scopsy commented on #1037
@Rutam21 we already have a conduct here: https://docs.novu.co/community/code-conduct Maybe we can create a file in the github repo and from the file to point to our site in docs?

[2022-08-16 11:15] #1003 closed

[2022-08-16 12:05] luizgununes opened #1041 "🚀 Feature: iFrame Embed Customization"
### 🔖 Feature description

It would be nice if it was possible to customize the colors, text, font, etc.

### 🎤 Why is this feature needed ?

In my use case, my software has a color palette that doesn't match Novu colors. It would be interesting to change the language too, because my software is in Portuguese, for example.

### ✌️ How do you aim to achieve this?

This functionality would be of gre

[2022-08-16 13:30] scopsy commented on #1041
Right now we only support theme customization on the notification center component as written https://docs.novu.co/notification-center/react-components#customizing-the-notification-center-theme

What we will need to do it to provide the same interface for the embed widget aswell. Thanks for suggesting this @luizgununes

[2022-08-16 14:39] robjean9 commented on #1041
Create an embed script that inject directly in HTML the Novu Notification Center instead of iFrame would be amazing!

One possible solution to pass custom CSS to iFrame could be add a variable on `novu.init` to pass a css string to the iFrame. This requires that `novu.init ` accept this variable in the iFrame using the postMessage() and add the css as a `style` tag on the iFrame.

[2022-08-16 16:46] Rutam21 commented on #1037
@scopsy We can rather create a file and use the same content here. Generally, all the repos have the content in the repository file itself.

[2022-08-17 03:32] davidsoderberg commented on #526
@scopsy will close this now, will be a part of the 0.7.0 release.

[2022-08-17 03:32] #526 closed

[2022-08-17 05:37] ComBarnea opened #1050 "Add Kannel SMS provider"
## What?
To add [kannel](https://kannel.org/) as a new SMS provider, similar the the NodeMailer Email provider, an underlying protocol provider.

## Why?
So kannel users, and people who want to use SMS gateway could do that with Novu, while simply hosting kannel on their network.

## How?
First thing, the assumption is a kannel server is already up and running. Looking into [kannel userguide](http

[2022-08-17 05:56] davidsoderberg commented on #1040
Solved in 0.7.0 branch that will be released...

[2022-08-17 05:56] #1040 closed

[2022-08-17 07:03] saroj990 commented on #936
@scopsy apologies, I don't have time to look at this, please do un-assign me from this one.

[2022-08-17 09:43] oba2311 commented on #1007
@jainpawan21  is that something you would like to work on?

[2022-08-17 09:51] jainpawan21 commented on #1007
I have limited knowledge of native android and ios. Previously I have worked with react-native.
Let me explore, how to create libraries for ios and android

[2022-08-17 09:56] oba2311 commented on #1041
@robjean9 / @luizgununes  interested in working on this one?

[2022-08-17 10:24] novubot opened #1057 "[NV-795] - Align Center is missing in email row editing"
Align left and right exist but not center:

![CleanShot 2022-08-15 at 19.03.43@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/c8f004b5-69ec-4ca3-9aa9-5f06e49c6188/67a53311-d3d5-45b0-b783-26bf766ead14)

It is common standard and needed feature to be able to configure text (row) to center in emails.

[2022-08-17 10:24] novubot opened #1058 "[NV-794] - Missing success indication + accept input on Enter click"
**Why What**

We would like the end user to get an indication that the inputs for a button where saved successfully.

See:

[f89a3ba9-727a-45bd-afa4-1b5457cc054f](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/e53ea097-8acd-45d1-9970-85070670a150/f89a3ba9-727a-45bd-afa4-1b5457cc054f)

**DoD:**

1. Enter saves and closes the dialogue.
2. Success toast is shown.

[2022-08-17 11:11] Rutam21 commented on #1057
@scopsy @davidsoderberg We are currently using the HTML Direction directives `ltr` and `rtl` currently to enable the functionality for these. The available ones are `ltr` and `rtl` and `auto`. So, how do we plan to achieve this center functionality now?

[2022-08-17 14:27] #1024 closed

[2022-08-17 14:29] scopsy commented on #1037
Got ya, so let's copy it's contents than.

[2022-08-17 14:30] #1018 closed

[2022-08-17 14:30] scopsy commented on #936
Sure thing, no worries at all 🙏

[2022-08-17 14:41] #898 closed

[2022-08-17 14:42] scopsy commented on #898
Sorry @crismxiex looks like it was already implemented at #1032

[2022-08-17 16:25] crismxiex commented on #898
All good glad it was fixed

[2022-08-17 17:19] MohammedBajuaifer commented on #936
Hi @scopsy, Can you assign it to me?

[2022-08-17 17:19] MohammedBajuaifer commented on #936
Hi @scopsy, Can you assign it to me?

[2022-08-17 21:36] LetItRock commented on #1057
@Rutam21 @scopsy this functionality probably shouldn't be based on the `direction`, because it's more for the "language text direction" for ex. Arabic is "right to left" written.

currently, this functionality has a **bug**:

https://user-images.githubusercontent.com/2607232/185241486-d49ce985-485f-4d25-baf1-3687b4deab48.mov

and when there is a button it does nothing (also the Popover radio butto

[2022-08-18 06:36] scopsy commented on #1057
Thanks for the detailed look @LetItRock! I totally agree with you that `direction` is no the best option here. Perhaps we can split this functionality in 2:
- Align: Right, Left, Center
- Direction: RTL, LTR

So then we can support both, something similar to google docs or any text editor out there. Wdyt?

[2022-08-18 07:03] davidsoderberg commented on #744
@adarshajit I have assigned you now, just reach out to us if you need help 😄

[2022-08-18 08:32] djabarovgeorge opened #1068 "🚀 Feature: Change 'support documentation' location on the web"
### 🔖 Feature description

The following section should be at the bottom of the page.

![Uploading image.png…]()

### 🎤 Why is this feature needed ?

At the user will switch between the pages this section won't be moving intuitively.

### ✌️ How do you aim to achieve this?

At the moment this section lives under AppShell -> SideNav.
Maybe this section can go on the outer footer component.

### 🔄️

[2022-08-18 17:06] Rutam21 commented on #1068
@djabarovgeorge The image seems to be broken. Can you please re-upload it? Also, you can assign this to me. I would like to give it a try.

[2022-08-18 17:41] Rutam21 commented on #1058
@scopsy This issue can be closed now as #1060 is completed and merged already.

[2022-08-18 17:45] Rutam21 commented on #1057
@scopsy It seems like @venarius has already opened PR #1063 to solve the alignment problem. And for the text direction part of it, I believe this property should be rather tied to the language selection itself. For e.g., if I set my language to `Arabic`, it should automatically use the RTL direction, rather than the user selecting the language first and then setting the direction of text one by on

[2022-08-18 17:49] Rutam21 commented on #1068
/assign

[2022-08-18 18:39] jainpawan21 opened #1074 "🚀 Feature: Add support to add user from website"
### 🔖 Feature description

Currently, If I want to add a user as a subscriber, then I have to do it using SDK. What If I can add a single user or multiple users from the website itself?

### 🎤 Why is this feature needed ?

Installing SDK and then setting up things is time-consuming. Having this feature in the website will increase my productivity.

### ✌️ How do you aim to achieve this?

For sinlg

[2022-08-19 07:35] djabarovgeorge commented on #1068
Hey @Rutam21,
You are right looks like it is broken, thanks for raising it up! :)

Let me try to update it again

![image](https://user-images.githubusercontent.com/39195835/185567811-bdf2ea3f-08e2-4b9c-95fc-17adebeeff22.png)

[2022-08-19 07:37] djabarovgeorge commented on #1068
@Rutam21
I Assigned you, let us know if you need any further assistance.

[2022-08-19 11:26] scopsy commented on #1057
@Rutam21 setting it automatically is a great idea for RTL languages. Mind creating an issue for adding support for RTL prop to the notification center component? And maybe adding an RTL languages map to include hebrew, Arabic and any other possible options there. The notification center has already a flag for RTL somewhere there, but not sure if it's exposed for props.

[2022-08-19 11:26] #1057 closed

[2022-08-19 12:12] Rutam21 opened #1076 "Update the Novu Docs Site CODE_OF_CONDUCT from v1.4 to v2.0"
## Description
The current CODE_OF_CONDUCT present on the Novu Docs site is outdated as Github has released its v2.0 CODE_OF_CONDUCT for the open source projects already.

## Solution
We need to update the template as per v2.0.

## Are you willing to submit a PR?
Yes

[2022-08-19 12:12] Rutam21 commented on #1076
@scopsy You can assign this to me.

[2022-08-19 17:33] #1037 closed

[2022-08-19 17:33] #1076 closed

[2022-08-19 18:09] scopsy opened #1082 "Jarvis Test"

[2022-08-19 20:23] Rutam21 opened #1083 "[NV-795] - Align Center is missing in email row editing"
Align left and right exist but not center:

![CleanShot 2022-08-15 at 19.03.43@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/c8f004b5-69ec-4ca3-9aa9-5f06e49c6188/67a53311-d3d5-45b0-b783-26bf766ead14)

It is common standard and needed feature to be able to configure text (row) to center in emails.

[2022-08-19 20:24] Rutam21 commented on #1083
@scopsy Please assign this to me as I am a Native Speaker of this.

[2022-08-19 20:25] Rutam21 opened #1084 "[NV-796] - i18n - Sanskrit Support"
## Why?
Recently we introduced an easy way to add translations for the @novu/notification-center component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?
- Add a new translation file here: packages/notification-center/src/i18n/lan

[2022-08-19 20:26] Rutam21 commented on #1084
@scopsy You can assign this to me as this I am well-versed in Sanskrit.

[2022-08-20 03:00] jwilridge opened #1085 "Multiple accounts"
- **I'm submitting a ...**
  [ ] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions how to fix, links for us to have context, eg. StackOverflow, personal fork, etc.)

[2022-08-20 07:22] davidsoderberg commented on #571
@scopsy I will close this now because this is included in next weeks release 😄

[2022-08-20 07:22] #571 closed

[2022-08-20 08:00] katyasamarskaya opened #1086 "13:35"
[****]()

[2022-08-20 08:02] scopsy commented on #1086
Hi @katyasamarskaya was this created by mistake? :)

[2022-08-20 08:06] #1086 closed

[2022-08-20 13:02] JustinBack opened #1090 "[NV-1250] 🐛 Bug Report: No counter nor any popup running Safari browsers"
### 📜 Description

On: iOS 16 B4 and iPadOS 16 B3, but also on mac devices running safari.

See the top right corner (Bell)

Embedded using the JS Method on a self hosted environment running master images.

https://user-images.githubusercontent.com/40178814/185747234-f5b2327e-6cae-414b-b3d3-2621e164606f.MOV

The embed doesn‘t popup nor is there any unread counter (it works on Windows!)

The consol

[2022-08-20 15:51] varghesejose2020 opened #1092 "Internal Server Error 500"
`https://novu.co/contributors/` Internal Server Error 500

![image](https://user-images.githubusercontent.com/71702982/185755467-b6748755-2a4c-409b-9b06-37876a736f5c.png)

[2022-08-20 16:02] abhinavsaurav commented on #1068
@djabarovgeorge  Can you assign this to me ?

I was looking into it and have successfully figured out the changes that need to be done for this. Also, does the "support documentation" section just to the bottom like the image you shared or needs to be added in a footer like below (as mentioned above)?

![image](https://user-images.githubusercontent.com/25846741/185755906-3504d475-e925-4c8b-98b6-84

[2022-08-21 06:05] scopsy commented on #1092
Thanks for submitting, taking a look right now. Will update here

[2022-08-21 06:05] #1082 closed

[2022-08-21 06:59] jainpawan21 commented on #1090
What is your URL?
http://localhost:4701/embed.umd.min.js or
https://embed.novu.co/embed.umd.min.js

I just tested with https://embed.novu.co/embed.umd.min.js
it is not reproducible for me.

[2022-08-21 08:12] JustinBack commented on #1090
https://embed.novu.jrbit.de/embed.umd.min.js is the URL,

just tested with the `dev` images and its the same issue

[2022-08-21 15:12] JustinBack opened #1098 "API inconsistency for the subscriber endpoint"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

Querying the GET subscribers endpoint should get the following keys

![B754F67E-BD8E-49C1-BBA5-DD1AD0790AE6](https://user-images.githubusercontent.com/40178814/185797810-15550ef0-dfe8-41a2-8229-adbb8ce30a01.jpeg)

h

[2022-08-21 16:15] #1058 closed

[2022-08-22 07:36] oba2311 commented on #1068
@scopsy I thought we had in ming the top right corner no?
https://linear.app/novu/issue/NV-769/add-link-to-docs-from-the-web-dashboard

[2022-08-22 07:46] oba2311 commented on #1074
Thanks @jainpawan21  this is an interesting idea. Currently we can add it to our backlog and LMK if you want to work on it :)

[2022-08-22 07:49] oba2311 commented on #1085
@jwilridge  would be great if you could please follow our guidelines for how to submit a ticket, as without necessary details it's hard for us to move forward.

[2022-08-22 08:03] oba2311 commented on #1090
@scopsy sounds like a good community issue to me.

[2022-08-22 08:40] jainpawan21 commented on #1074
Yes, I can work on this feature.
I will need your help with designs

[2022-08-22 11:13] novubot opened #1104 "[NV-822] - Flaky widget test for update realtime notifications"
## What?

Recently looks like the `should update real time for new notifications` test in `apps/widget` fails with the following assertion:

[code]

Re-running this test usually solves the problem.

Looks like it's some sort of a race condition with the socket or updating sequence.

My suspect is the following file: `packages/notification-center/src/components/novu-provider/NovuProvider.tsx`

Wher

[2022-08-22 11:18] #1041 closed

[2022-08-22 11:41] novubot opened #1105 "[NV-820] - Error in logs: (0 , hub_1.withScope) is not a function"
## What?

Unfortuently couldn't find the exact reason when it happens or how to replicate this, the log below is the only thing we have available:

[code]

[2022-08-22 11:56] #936 closed

[2022-08-22 12:50] scopsy commented on #1090
@JustinBack just to verify something, is in any case you used Safari on the IOS machines? If it was Safari, @djabarovgeorge it might be related to what you have encountered with the safari tests you had.

[2022-08-22 12:52] scopsy commented on #1092
Was resolved, looking for a better way to handle this for the future with a more stable DB deployment. Closing for now.

[2022-08-22 12:52] #1092 closed

[2022-08-22 12:54] JustinBack commented on #1090
Yes on all iOS Devices and iPads I've used Safari

[2022-08-22 12:57] scopsy commented on #1090
So it's defiently a Safari issue here, related to what @djabarovgeorge has encountered. Will update the title of the issue

[2022-08-22 13:41] djabarovgeorge commented on #1068
Hey @Rutam21
Have you managed to handle this issue? or would you like @abhinavsaurav to handle it?

[2022-08-22 13:45] djabarovgeorge commented on #1068
Hey @oba2311
At the moment the location of this component is not consistent in comparison to the page.

For example :

![image](https://user-images.githubusercontent.com/39195835/185935534-1a60035d-634c-4c51-9ea3-cea9ddbd6bad.png)

![image](https://user-images.githubusercontent.com/39195835/185935782-5d371bbf-b08a-4cf5-8949-ced22ec5d7a7.png)

Do you think we should keep it like this?

[2022-08-22 17:10] varghesejose2020 opened #1107 "Website Footer Typo"
GitHub **H** should be capital

https://novu.co/ site footer

![image](https://user-images.githubusercontent.com/71702982/185979180-a58fd926-df60-4ef9-a706-e44569691b2c.png)

[2022-08-22 17:18] jainpawan21 commented on #986
@Rutam21 Any update on this?

[2022-08-22 18:19] has9800 commented on #1050
Hey, I want to give this a try, can someone assign it to me? Thanks

[2022-08-23 08:30] scopsy commented on #1098
Thanks for reporting @JustinBack ! Merged at #1100

[2022-08-23 14:46] scopsy commented on #1050
Hi @has9800 sure thing, assigning you right now 🙏

[2022-08-23 17:18] varghesejose2020 opened #1114 "[NV-825] disappearing Points in the list"
`https://docs.novu.co/api/`  The points will disappear  if we hover the mousepointer on the points
![image](https://user-images.githubusercontent.com/71702982/186222948-7a25949d-1423-41ff-9a32-59bbdfc24449.png)

[2022-08-23 22:20] LetItRock commented on #1090
@scopsy hi, can I take this one?
I was able to reproduce this issue. It seems like calling `postMessage` from the embed code is not working in Safari, I have a workaround for this but I'm looking for a better options ;)

[2022-08-24 06:48] scopsy commented on #1090
@LetItRock Super curious to see the solution 🥹

[2022-08-24 07:05] scopsy commented on #1114
Thanks for reporting! @varghesejose2020

[2022-08-24 09:16] JustinBack commented on #1098
Great! Thank you 👍🏻

[2022-08-24 09:16] #1098 closed

[2022-08-24 21:01] JustinBack commented on #1090
I‘d suggest to change the title to WebKit and not Safari as all Browsers are affected (Since all browsers run webkit in the background on iOS and iPadOS)

[2022-08-25 06:06] Prajnaprabhu3 commented on #1114
This is the issue with the light theme. This is because when you hover on the list items the color is set to white or a light color.

[2022-08-25 16:09] scopsy commented on #1114
Sure @KumarDhananjaya just assigned 🙌

[2022-08-26 04:02] ACPixel opened #1128 "🚀 Feature: Disable additional sign ups for self-hosted"
### 🔖 Feature description

The ability to disallow new sign ups/registrations for a self-hosted instance.

### 🎤 Why is this feature needed ?

To add additional security when using for a single org

### ✌️ How do you aim to achieve this?

Likely via an environment variable

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check if this feature request has been raised

[2022-08-26 05:35] ACPixel opened #1129 "🐛 Bug Report: React Notification Center causes full page changes"
### 📜 Description

When the React notification widget is loaded, it causes the entire page to change font family and color.

### 👟 Reproduction steps

Load the notification center on any page with a stylesheet loaded to add colors/fonts to body.

### 👍 Expected behavior

Not do this :wink

### 👎 Actual Behavior with Screenshots

![gif](https://up.pxl.ac/2022/uSnjm/PLLsMElTIL.gif)

### 💻 Operating

[2022-08-26 06:59] MohammedBajuaifer commented on #896
I can work on this if its available

[2022-08-26 12:00] MohammedBajuaifer commented on #1114
Hi @scopsy, Is this issue still open?

[2022-08-26 12:02] Rutam21 commented on #1083
@venarius Please take a look at this. Probably you have worked on this previously.

[2022-08-26 12:03] MohammedBajuaifer commented on #744
Hi @davidsoderberg, is this issue still open? i would like to give it a try if so

[2022-08-26 12:13] davidsoderberg commented on #744
@MohammedBajuaifer there is someone that is already working at this one...

[2022-08-26 12:19] davidsoderberg commented on #1114
@MohammedBajuaifer some one is already working on this as well...

[2022-08-26 12:19] davidsoderberg commented on #896
@MohammedBajuaifer someone is already working on this

[2022-08-26 12:20] venarius commented on #1083
Hi @Rutam21,

yes, this already exists 🙂
![Screenshot 2022-08-26 141945](https://user-images.githubusercontent.com/13546486/186902099-5aeca113-2e7d-407e-806a-5cb1e443e8da.png)

[2022-08-26 12:22] davidsoderberg commented on #1083
@venarius so this is already fixed?

[2022-08-26 12:38] venarius commented on #1083
Yes 🙂

[2022-08-26 17:47] jainpawan21 commented on #1128
Hi @ACPixel, Can you please explain about this feature?

[2022-08-26 17:50] ACPixel commented on #1128
Not really sure what else there is to explain but basically just adding a way to disable new account registrations from being allowed. If I'm self hosting, I don't want someone to find the dashboard URL and make an account on my servers.

Ideally I set Novu up, make the primary account, then change an environment variable like "allowSignups" and reboot the servers, then the dashboard stops showing

[2022-08-26 18:11] jainpawan21 commented on #1128
Thanks @ACPixel for detailed explanation

[2022-08-27 09:46] JoelBonetR opened #1137 "🚀 Feature: SSE (Server Sent Events) support"
### 🔖 Feature description

Support for SSE

### 🎤 Why is this feature needed ?

SSE is best used when it's not necessary to send data from client to server. In status updates and push notification applications, the data flow -usually- follows a single path that is from the server to the client only.

This is what SSE is designed for, so WebSocket would be overkill as you are opening UDP bi-directi

[2022-08-27 09:58] xioxin opened #1138 "[NV-1248] 🚀 Feature: Use the Provider's template."
### 🔖 Feature description

Provides a new type of integration that serves to combine the template id and Variable and forward it to the SMS provider.

### 🎤 Why is this feature needed ?

In China SMS templates must be reviewed by the provider.
The provider's interface is to pass the SMS template id and variables, not the full text content.

### ✌️ How do you aim to achieve this?

Add a forward typ

[2022-08-27 18:06] #1083 closed

[2022-08-28 12:50] oba2311 commented on #834
Oh @jainpawan21  thanks for the ping on Discord - see here, the red dot is added only after Update is clicked:

https://user-images.githubusercontent.com/8249349/187074907-caf73c6f-7684-4c02-8c7b-6b953236ae2d.mp4

[2022-08-28 12:52] jainpawan21 commented on #834
So this red dot should be there by default, if user does not edit template after adding the step?

[2022-08-28 13:36] scopsy commented on #1137
Thank you @JoelBonetR for the detailed writeup here, will take a deep look soon and will chat with the team about it aswell. <3

[2022-08-28 13:38] scopsy commented on #1138
Thank you for reporting this @xioxin! What providers support this behavior of passing a template id? Do we have those integrations in Novu or it is for new providers targeting china?

[2022-08-28 21:20] revskill10 opened #1144 "🐛 Bug Report: Can't update workflow editor in cloud"
### 📜 Description

After creating template, i couldn't update the workflow editor after editing.

### 👟 Reproduction steps

1. Got web.novu.co and login
2. Create new template
3. Go to workflow editor and make some changes, then click on Update
4. Nothing happens.

### 👍 Expected behavior

The change should be saved.

### 👎 Actual Behavior with Screenshots

Nothing changes.

### 💻 Operating system

[2022-08-28 21:30] #1144 closed

[2022-08-28 22:48] LetItRock commented on #1090
@scopsy sorry for taking this that long...

but when I've implemented the `postMessage` fix for Safari then I've noticed that it still doesn't work 😄
so the real issue wasn't with `postMessage` but with the order of how JS/React code is executed in Chrome and Safari...
the call stacks are different 😮

Chrome:
![Screenshot 2022-08-29 at 00 24 30](https://user-images.githubusercontent.com/2607232/18

[2022-08-29 01:09] xioxin commented on #1138
new providers targeting china.

SMS provider related api documentation (Chinese, may need translation software help)
https://help.aliyun.com/document_detail/419273.htm
https://www.mysubmail.com/documents/OOVyh

[2022-08-29 03:38] JustinBack commented on #1090
Interesting! Correct me if I'm wrong, but can't you use Events?

https://developer.mozilla.org/en-US/docs/Web/Events/Creating_and_triggering_events

Should make it easier and the code cleaner rather than using localStorage :-)

I haven't looked at the code at all though, so I'm not up to date if its feasible.

[2022-08-29 07:23] #1104 closed

[2022-08-29 09:45] JoelBonetR commented on #1137
Thank you @scopsy , I added this "minimal" (to say something 😅) [Pull Request as initial commit](https://github.com/novuhq/novu/pull/1140) on this topic if you want to extend the thingy from here. I tried to build something bigger but I noticed a lack of knowledge about how is that supposed to work inside the Novu implementation.

Ping me on Discord if anyone need support on the topic, I'll try my

[2022-08-29 13:12] scopsy commented on #1138
Thank you for this information @xioxin this is very helpful!

[2022-08-29 13:20] scopsy commented on #1090
Thanks for the detailed writeup @LetItRock! I agree that the correct approach would be actually to reverse the order rather than a random timeout call.

The implementation with localStorage is totally fine by me, ofcourse if there is other working and better suited API for this one this would be great as @JustinBack suggested. The problem with it from my quick glance is our ability to send those m

[2022-08-29 13:21] scopsy commented on #1137
Amazing, I will be taking a look at the PR soon. Been a really busy week here 😄

[2022-08-29 13:44] scopsy commented on #180
Hi @Swahjak we plan to start to work on it probably in 3-4 weeks from now, as part of `0.9.0` which focus on the activity dashboard with extra debugging capabilities and webhook support.

Could you share a bit on your use case of why you need this functionality? Just to make sure we speak about the same thing as this issue is quite old :)

[2022-08-29 13:45] sioex opened #1148 "🚀 Feature: use notification actions with iframe embed"
### 🔖 Feature description

Be able to set methods on the notification buttons by using the Vue iframe

### 🎤 Why is this feature needed ?

It is needed for better UX

### ✌️ How do you aim to achieve this?

Add Vue components or adjustment to add methods to the buttons

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check if this feature request has been raised bef

[2022-08-29 13:51] scopsy commented on #1148
We need to allow to add a handler for action click just as we do with the react component here: https://docs.novu.co/notification-center/react-components#notification-actions

[2022-08-29 14:43] oba2311 commented on #1074
@jainpawan21 awesome! let me know what's needed over Discord :)

[2022-08-29 14:44] oba2311 commented on #1068
@djabarovgeorge can we close it ?

[2022-08-29 14:47] oba2311 commented on #1008
@jainpawan21 are you currently working on this one?

[2022-08-29 14:47] jainpawan21 commented on #1008
Yes, I am working

[2022-08-29 15:00] djabarovgeorge commented on #1068
Hey @oba2311 was the issue resolved?

[2022-08-29 15:09] oba2311 commented on #829
Hi @devblin , how's it going? need some help with this one?

[2022-08-29 16:56] devblin commented on #829
@scopsy @oba2311 Sorry for the delay, so, I will be proceeding with the implementation and creating 3 PRs for each of the following fix/refactor mentioned below along with the approaches.
Currently, working on 1st, will make the PR soon.
Let me know if, should I work on below mentioned 3rd refactor too ?

1. Trigger image update on S3, only when update button is clicked.
2. Update existing key ass

[2022-08-29 16:57] devblin commented on #829
I will let you know, in case I get stuck 👍🏽

[2022-08-29 21:24] andrewgolovanov commented on #1114
Hi guys!
I think I already [made a correction](https://github.com/novuhq/api-docs/commit/a98b237cd27aaa28c17e33272f63ecdca5a3b782) for this :sweat_smile:
Unfortunately I didn't know that there was an open issue on this problem and as soon as I noticed the problem I decided to fix it quickly :grimacing:

Example: https://docs.novu.co/api/

[2022-08-30 05:47] #1114 closed

[2022-08-30 07:07] Swahjak commented on #180
Cool! I'm mostly talky about delivery reports (i.e. https://postmarkapp.com/developer/webhooks/delivery-webhook) and bounce reports (i.e. https://postmarkapp.com/developer/webhooks/bounce-webhook) to be able to track if an e-mail was actually delivered (or bounced). In extend it would be really cool if there would also be support for open tracking.

This is all due to the fact that we sometimes ha

[2022-08-30 07:31] LetItRock commented on #1090
@scopsy @JustinBack
The issue with the `DOM Events` is that you **can't** send them across **different domains** because of **CORS**.
In our case, the `embed` might be added to the domain "a" and the widget might be deployed on the domain "b".
That's why there is `postMessage` API.

I'll give a second try for the `postMessage` API, if it doesn't work then I'll go with a `localStorage` hack...

[2022-08-30 07:50] scopsy commented on #1090
Yep, that was my thought on this too. @LetItRock sounds like a plan!

[2022-08-30 09:39] novubot opened #1151 "[NV-831] - Add a save buton to digest"
Save button is important from UX perspective in a UI like ours - without it it is not clear whether the action is saved to the DB or not.

![CleanShot 2022-08-28 at 19.44.40@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/7a879c28-1393-41ba-b37b-613f79dba9bf/630190c9-be4d-4a12-a351-ff8263f67972)

See: (current, without the button):

UI: Use our design system, nothing specia

[2022-08-30 09:42] SajMohammed opened #1152 "Documentation not updated to show usage of email arrays in trigger event"
I am submitting an issue to update the Novu documentation with usage of email parameter in trigger event as an array of emails as well

Currently, it is ambiguous in its usage as it shows only one email per trigger event

[2022-08-30 10:43] mrpher opened #1153 "🐛 Bug Report: 0.7.0 release zip points to 0.6.2 docker images"
### 📜 Description

Downloading the `https://github.com/novuhq/novu/archive/refs/tags/v0.7.0.zip` file from the 0.7.0 release assets results in a docker-compose.yml file that still points to 0.6.2 docker images.
For example:
[code]

Should it not point to the same images as main branch in this case?

[code]

### 👟 Reproduction steps

Go to releases page and download the zip file from release assets

[2022-08-30 12:20] MyWay commented on #139
This would be very interesting.

[2022-08-30 14:59] ianchagas commented on #1105
Looking for a possible solution to the problem, I found this issue. I have the same problem (maybe in another context) but I don't know what to do.
Localhost running on Docker works, but on the server, and in only one specific route of my application this error happens.

If anyone can help, I appreciate it!

![unknown](https://user-images.githubusercontent.com/71187950/187470570-36742a6f-917b-403c

[2022-08-30 15:02] JoelBonetR commented on #1137
Thank you! :)

[2022-08-30 18:20] mrajen27 commented on #1152
Team, I will work on this documentation.

[2022-08-30 18:21] krupalitrivedi opened #1160 "Linking License and Contribution Guidelines Internally in ReadMe"
Please consider linking the docs of License and Contributing Guidelines in ReadMe for people to have easy access to these files.
Something like attached screenshot.

![Screenshot_20220830-234725.jpg](https://user-images.githubusercontent.com/99717469/187513571-982ff7f3-be86-4474-9c63-8702a9b2a42e.jpg)

[2022-08-30 18:30] scopsy commented on #1152
Thank you @mrajen27 🙏 assigning you

[2022-08-30 19:43] Wyfy0107 commented on #1151
May I take this issue ?

[2022-08-30 19:51] scopsy commented on #1151
Sure @Wyfy0107 🙏

[2022-08-30 20:24] Tfanios commented on #1160
Hey, could i work on this issue?

[2022-08-31 03:18] #1085 closed

[2022-08-31 10:12] oba2311 commented on #840
Hi guys, how's it going? @nawed2611  @muhammadawais-rogers

[2022-08-31 10:39] scopsy commented on #1160
Hi @krupalitrivedi thanks for opening the issue! GitHub already has a dedicated place for the license and contributors on the information panel. Could you elaborate on why we need to duplicate this information to the readme aswell?

![CleanShot 2022-08-31 at 13 39 18](https://user-images.githubusercontent.com/8872447/187660270-be982b6d-e662-4db8-ac31-1cc797d8ec90.png)

[2022-08-31 14:10] guy-wal opened #1169 "🐛 Bug Report: api url incorrect in API reference"
### 📜 Description

The [api docs](https://docs.novu.co/api/) point to an incorrect url: https://api.novu.app/v1

### 👟 Reproduction steps

make a request to https://api.novu.app/v1 and get `ENOTFOUND`

### 👍 Expected behavior

should refer to https://api.novu.co/v1

### 👎 Actual Behavior with Screenshots

![image](https://user-images.githubusercontent.com/95572228/187699163-9f9b4e54-3945-41fd-bc1d

[2022-08-31 14:47] scopsy commented on #1169
Closed by @kymppi 🚀

[2022-08-31 14:47] #1169 closed

[2022-08-31 14:52] #744 closed

[2022-08-31 16:18] scopsy commented on #1105
Wonder if thats a bug from @nestjs/sentry.
Will try to upgrade it maybe will help :|

[2022-08-31 20:21] ianchagas commented on #1105
@scopsy

I removed everything related to Sentry from the application, and after that, it pointed out in the server log that what happened was a TypeORM error (which I also use here) that is using some deprecated methods when deleting information in the route, thus generating a silent error.
That is, it could be that the error is not directly related to Sentry, but rather related to a repository er

[2022-09-01 04:46] chavda-bhavik opened #1173 "🐛 Bug Report: Email sent with large attachment are failing with status code 413"
### 📜 Description

Novu email trigger fails when sending emails with attachments that are medium to large in size.

### 👟 Reproduction steps

1. Set up an account in the [Novu](https://web.novu.co/) platform and create one `Notification Template` with one email template.
2. Clone this [repo](https://github.com/chavda-bhavik/attachment-issue) and run `yarn install`.
3. Update the following variable

[2022-09-01 08:14] scopsy commented on #896
@aggmoulik did you managed to figure the sending notification part? I can jump on a call if needed 🙏

[2022-09-01 08:44] SajMohammed opened #1174 "🐛 Bug Report: Different positions to the notification center"
### 📜 Description

Alignment issue with Notification Center while trying to place it in a side navbar. The notification center component overlaps the sidebar. It should be positioned on the left of the bell and not only beneath it.

### 👟 Reproduction steps

1. Place the notification center on a side navbar
2. You should see the notification center overflows the sidebar

### 👍 Expected behavior

I

[2022-09-01 09:13] #1152 closed

[2022-09-01 10:16] #1129 closed

[2022-09-01 10:19] scopsy commented on #1068
We decided right now to just fix the location to be fixed at the bottom instead of floating in the middle of the screen. @Rutam21 do you think you will be able to do it?

[2022-09-01 10:22] scopsy commented on #1105
Thanks, @ianchagas it's definitely something we will try to look at it. Will update if found something

[2022-09-01 11:26] MohammedBajuaifer commented on #1068
Hey @scopsy, If @Rutam21 isn't available to work on it, I can work on it

[2022-09-01 13:14] lawweiliang opened #1176 "Really sad if these package is only applicable for Javascript Project."
I found out that this package currently is just applicable only for javascript. It would be sad in that case.

I suggested turning the bottom layer into API layer. Then, create SDKs on top of these APIs for different languages. 😃

[2022-09-01 13:44] novubot opened #1177 "[NV-445] - Switch 2 nodes without deleting by drag and drop"
Switch the order of two nodes without needing to delete and start from the beginning.

[2022-09-01 13:50] raikasdev commented on #1177
Assign to me :)

[2022-09-01 15:10] chavda-bhavik commented on #1173
It's strange that the `20MB` limit is already specified for `v1/events/trigger` routes at https://github.com/novuhq/novu/blob/main/apps/api/src/bootstrap.ts#L69-L70. Still, the image attachment is failing.

[2022-09-01 16:04] davidsoderberg commented on #1176
Hi @lawweiliang, we have just started creating SDKs for some languages 😄
Do you miss a specific language? Do you like to contribute on any language SDK?

I would love to help you getting started with Novu and creation of an SDK 🤩

[2022-09-01 19:29] Wyfy0107 commented on #1176
This's a good idea. I can help with go sdk if possible :)

[2022-09-02 01:25] chavda-bhavik commented on #1173
Not sure, but I tested issue with `Sendgrid` and `Amazon SES` providers.

[2022-09-02 04:21] scopsy commented on #1176
Hi @Wyfy0107, the Go SDK Source is available [here](https://github.com/novuhq/go-novu), it supports the most basic API requests right now. Would appreciate the help of extending it to more methods 🚀

[2022-09-02 06:52] lawweiliang commented on #1176
@davidsoderberg
Just a little suggestion over here yeah.

The bottom layer(API layer) should go as fast as possible(Using Rust instead of other languages).

Then, SDK layer.
SDK layer(Go for Python, Java, Go, Javascript, PHP).
Why? Because these languages cover most of the applications in the market.

For my part. Currently, I am working on my side project more toward Rust. Maybe I could help out

[2022-09-02 06:53] lawweiliang commented on #1176
Thanks, brother. Good sharing.

[2022-09-02 07:28] lawweiliang commented on #654
This is what I am looking at.  @kymppi @aggmoulik. Mind to share with me the github link. We might work together to turn the underground into rust as well. What do you think?

I had put a discussion over this section. Let discuss. 😃
https://github.com/novuhq/novu/discussions/1181

[2022-09-02 07:32] kymppi commented on #654
Heyy, you can find the repo at https://github.com/novuhq/rust

[2022-09-02 07:37] lawweiliang commented on #654
The beauty of Rust is it is a memory-safe and high-performance bottom layer(system) language. Adding a layer of Rust on top of NodeJs would not bring any beauty of Rust to the surface.

Hmm, but since the project had been started with node. Then, we follow yeah. 😄

[2022-09-02 07:48] kymppi commented on #654
Yea, rust doesnt bring any performance, this is just an sdk for the rust server applications

[2022-09-02 07:48] kymppi commented on #654
Any performance in this case*

[2022-09-02 08:03] lawweiliang commented on #654
Alright, noted. Thanks @kymppi.

[2022-09-02 08:09] kymppi commented on #654
Yea, i see i didnt mention it in the issue :D

[2022-09-02 10:53] dcamarasa opened #1183 "Add new MS Teams provider"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Add MS Teams provider to the list of Chat providers.

- **Detailed information**

This is just to add a new integration for MS Teams the same way it is done for Slack.

This provider should post messages to MS Teams

[2022-09-02 13:01] lawweiliang opened #1186 "🐛 Bug Report: Why am I being forced to key in full name?"
### 📜 Description

![image](https://user-images.githubusercontent.com/34936929/188151164-f3cc9852-7296-4f34-baa1-4151214fc8f6.png)

### 👟 Reproduction steps

1. Sign in to the https://web.novu.co/ as admin and invite A.
2. Then, accept the invitation using email A.
3. It will direct you to this page
![image](https://user-images.githubusercontent.com/34936929/188150833-638197e7-3d86-4f01-9f0f-15614

[2022-09-02 13:17] lawweiliang opened #1187 "🐛 Bug Report: People invited directly assign as an admin?"
### 📜 Description

![image](https://user-images.githubusercontent.com/34936929/188151916-4f274db8-6987-4ae9-b1c8-d0ec87763678.png)

First problem
I am literally getting shocked by this. I think it would be better to assign them as a `normal member` first and allow the admin to modify it over the backend. Any clue on this?

Second problem
When I first invite a user, I don't even know I can modify t

[2022-09-02 13:34] lawweiliang opened #1189 "Standardize the name of the SDK. Please"
![image](https://user-images.githubusercontent.com/34936929/188155354-47211405-b7b7-4560-a241-58f72350a643.png)

Suggestions
1. phpsdk
2. rustsdk

The name itself, explains everything.
If we only have "PHP", what do you mean, is that a "PHP website"? Is that a "PHP testing framework repository"? I need to guess.

Why do I choose to put `phpsdk` and not `sdkphp`?
My logic is when people search for

[2022-09-02 13:48] lawweiliang opened #1190 "Standardize Naming Convention of the repository"
![image](https://user-images.githubusercontent.com/34936929/188158008-6064a8ad-2195-4b89-84e5-51ff8cb3452e.png)

Both are correct, just stick with one.
Whether you want a  dash "-" or without the dash?

Do not look down on all this small nitty gritty stuff.
The coding standard is the rule that every developer needs to follow. You need to craft this as early as possible and put it in the contributi

[2022-09-02 18:25] krupalitrivedi commented on #1160
Usually, it is for accessibility. I do realize that the license and Code of Conduct are present on the information panel but when someone is reading about the project, 'ReadMe' file, the information panel is already scrolled up. And even though - not necessary, it provides easy access to License and Contributing Guidelines if added in ReadMe towards the end as the reader now knows about the projec

[2022-09-03 01:13] qw-in opened #1191 "🐛 Bug Report: notification center attempts to include child_process, fs, etc."
### 📜 Description

[code]

This appears to be due to the reliance on `axios` which does not support esm (or at least known issues with vite).

Ref: https://github.com/vitejs/vite/issues/174, https://github.com/vitejs/vite/issues/184, etc.

Please consider using fetch instead.

### 👟 Reproduction steps

1. Use vite (ts react)
2. `import { NovuProvider } from "@novu/notification-center";`
3. There y

[2022-09-03 02:20] AmanNegi commented on #1160
Hey there, can I work on this issue

[2022-09-03 05:02] jainpawan21 commented on #1160
@AmanNegi this is still not ready to work

[2022-09-03 05:16] AmanNegi commented on #1160
@jainpawan21 Is something else also needed? Didn't quite get you.

[2022-09-03 07:08] abhaytaras7 commented on #1160
guess it is

[2022-09-03 08:33] AmanNegi commented on #1160
So can you please merge this pull request?

[2022-09-03 12:07] chavda-bhavik commented on #1173
@scopsy @davidsoderberg While digging into this issue I found the solution, we only need to alter the order of these set of  commands and bring the default `bodyParser` configuration below the `/v1/events/trigger` routes configuration,
![image](https://user-images.githubusercontent.com/50201755/188269076-1e69c042-f3b5-4776-b260-f87f35d99312.png)

As we are storing trigger `payload` information in

[2022-09-03 14:45] kymppi opened #1196 "🚀 Feature: A demo site for posting and receiving notifications"
### 🔖 Feature description

A Demo site that uses all the features of novu

### 🎤 Why is this feature needed ?

This is very crucial to let people test novu without adding it to their project straight away.

### ✌️ How do you aim to achieve this?

By writing code :D

### 🔄️ Additional Information

I'm willing to work on this

### 👀 Have you spent some time to check if this feature request has been

[2022-09-04 10:25] guy-wal opened #1198 "🐛 Bug Report: new team member got different organization"
### 📜 Description

added a teammate to our novu organization through the UI. He received the email and clicked to join but was sent to a brand new team (not members, templates, etc...). then tried removing him and re-inviting and he got this error
![image](https://user-images.githubusercontent.com/95572228/188308778-a830c34c-f717-4496-903a-cd617f334be9.png)

### 👟 Reproduction steps

see descripti

[2022-09-04 10:41] djabarovgeorge commented on #1173
Great job on finding the source of the issue @chavda-bhavik! :)
Maybe it will be a good idea to reduce the size of the file, or even remove it if not needed as you suggested.

[2022-09-04 11:37] #1128 closed

[2022-09-04 11:38] scopsy commented on #1160
@krupalitrivedi this defiently makes sense, thank you for raising it up and @AmanNegi for the contribution <3

[2022-09-04 11:54] #1160 closed

[2022-09-04 11:56] scopsy commented on #1196
@kymppi I think that is a great idea! We will be working on something soon with @andrewgolovanov. I will update on the outputs of it, and we might be able todo some migrations of it to different front end frameworks aswell!

[2022-09-04 11:57] scopsy commented on #1190
Hi @lawweiliang thank you for opening this issue! We are using dashes, just the envirocheck repository is the name of the project itself. So it's not 2 separate words but a name of the actual project. So other than envirocheck every thing will be with dashes :) Did you found other places where we used other convention rather than dashes?

[2022-09-04 11:58] #811 closed

[2022-09-04 12:25] bablu4195-1 commented on #518
Does this issue still exist and can I work on this issue?

[2022-09-04 14:35] scopsy commented on #1173
@chavda-bhavik @chavda-bhavik 100% let's remove the attachments from being store in our DB. Good catch! We can only store the metadata without the actual size! @chavda-bhavik do you want to open a PR for this?

[2022-09-04 15:06] AmanNegi commented on #1160
Thanks a lot @scopsy ✌

[2022-09-04 15:08] scopsy commented on #1068
Closed this as part of the multiple organizations support issue. Thank you everyone for the support and help!

[2022-09-04 15:08] #1068 closed

[2022-09-04 15:09] scopsy commented on #1198
What happens is that existing Novu users are prompted to create a new account and this fails. Instead of adding them directly to an organization in case they are already Novu users in the system based on their EMail.

[2022-09-04 15:10] scopsy commented on #986
I think that @asedmammad worked on this, but can't find the PR Associated to the fix.

[2022-09-04 15:10] scopsy commented on #829
Sure thing @devblin please let us know 🙏

[2022-09-04 17:58] lawweiliang commented on #1190
@scopsy

Oh I see.  I think this one is the project name as well.
![image](https://user-images.githubusercontent.com/34936929/188327108-ff5085fe-1da3-4ad7-8639-3ce019633eeb.png)

In that case, you might close this issue. Brother.

[2022-09-04 18:08] lawweiliang commented on #1008
@scopsy,

Since @jainpawan21 is working on this task.
Maybe you can directly assign this task to him.
Other contributor like me can ignore this issue and  focus on other. 😃

[2022-09-04 18:20] lawweiliang commented on #1176
Close this issue.

[2022-09-04 18:20] #1176 closed

[2022-09-04 18:24] #1190 closed

[2022-09-05 01:04] chavda-bhavik commented on #1173
Yes, @scopsy I will create PR for it, Thank you.

[2022-09-05 02:17] asedmammad commented on #986
Yes, but I did not create the PR since I've noticed that this issue has already been assigned to @Rutam21.

[2022-09-05 07:13] scopsy commented on #986
@Rutam21 if you hadn't a chance yet to take a look, please let me know because looks like @asedmammad already implemented this :)

[2022-09-05 07:30] oba2311 commented on #834
@djabarovgeorge  So the behaviour should be as follows:
- red dot signifies that a step cannot be executed for whatever reason (usually vendor integration is missing, or some parameter).
- We expect the same behaviour for all kinds of steps (red dot if something is missing).

[2022-09-05 09:02] oba2311 commented on #1074
@jainpawan21  if you need some help, @BiswaViraj  will help you getting started, and I'll help with the designs.

[2022-09-05 11:08] jainpawan21 commented on #1074
Thanks, I will surely ping Biswa if I will face any issue

[2022-09-05 11:58] scopsy commented on #1187
Hi @lawweiliang, as of know our permission system is not very evolved when it comes to defining boundaries correctly. This is why the admin account is used by default when a person gets invited. this is also why this featured doesn't have "High" discoverability level.

We are looking to redefine this in the next couple of months. In the meanwhile could you share your usecases with inviting multipl

[2022-09-05 17:02] lawweiliang commented on #1187
@scopsy , based on current feature. I don't see a need for different roles.

[2022-09-06 02:32] chavda-bhavik commented on #1173
Hey @scopsy, @djabarovgeorge Buffer size exceed issue occurs while storing the payload in the `Job` collection as well. We can filter out actual files while storing in `Log`, but I believe we cannot stop file storing from the `Job`.

Here is the code in `trigger-event.usecase.ts` that makes an entry in the `Job` collection,
https://github.com/novuhq/novu/blob/main/apps/api/src/app/events/usecases/

[2022-09-06 05:14] Nabhag8848 opened #1215 "🐛 Bug Report: shortcut Ctrl + K for opening search not working as expected, when CapsLock is on in docs"
### 📜 Description

When trying to use shortcut **`Ctrl + K`** for opening search field with **`CapsLock ON`** it's not working as expected. Instead of opening the search bar, its opening chrome search URL field.

![opening chrome search field](https://user-images.githubusercontent.com/65061890/188551308-164143bd-192d-47be-8dbc-3079b3af437a.png)

### 👟 Reproduction steps

1. Go to [novu docs]( http

[2022-09-06 06:57] ainouzgali commented on #1187
Hi @lawweiliang, you are right, based on our current management of roles there is no real need for the different types of roles. But it is planned for the near future.

If you would like to share, it will be helpful for us to hear what you think each role should be allowed to do. For example, would you expect only admins to be allowed to promote changes to production? Should all members be allowed

[2022-09-06 07:06] ainouzgali commented on #1084
Hi @Rutam21 sorry for the delay 😅 Would you still like to be assigned?

[2022-09-06 07:18] Rutam21 commented on #1084
@ainouzgali Yes, Please.

[2022-09-06 10:28] scopsy commented on #1105
@ianchagas managed to fix this at: #1218 by upgrading the @sentr/node package. It was hiding the real exception behind this crypting message before. After the upgrade I don't see these errors any more.

[2022-09-06 11:30] lawweiliang commented on #1187
Hi @ainouzgali, instead of thinking which role can do which action. I would rather pass this task to the client itself.

For eg, they can create role based on their own preference.
Role A can do action a, b ,c.
Role B can do action t, y.
Then, assign the task to it's member accordingly.

[2022-09-06 11:59] #1105 closed

[2022-09-06 12:15] SpencerMiller23 opened #1220 "[NV-1247] 🚀 Feature: Add websocket event for new notifications"
### 🔖 Feature description

This feature would resolve some issues that you might encounter when implementing some custom functionality on the frontend. In addition to the existing `unseen_count_changed` event, I propose to add another event such as `notification_received` which would contain all the relevant data for a new notification as follows:

[code]

### 🎤 Why is this feature needed ?

While

[2022-09-06 13:58] MohammedBajuaifer commented on #1215
I can work on it

[2022-09-06 16:08] JustinBack commented on #1090
I've just tested the fix on the dev branch and unfortunately it still won't open the iframe.

Due to a missing mac on my end I cannot export any console activity either, iDevices are pretty hard to debug without a mac...

Even with a cache clear, it does exactly the same as before the patch

[2022-09-06 19:03] LetItRock commented on #1090
@JustinBack @scopsy
From my quick look, I can see that the iframe with embed is there and it's reacting to the touch events, but the wrapper `novu-container` is not positioned properly on the mobile devices...

I've mentioned it before:

So the fix covered macOS Safari but did not fix the positioning issue on iOS...
I didn't have an iOS device at that time...

![Screenshot 2022-09-06 at 20 53 18](

[2022-09-07 06:37] scopsy commented on #1173
@chavda-bhavik oh, I didn't even think about it. The correct solution would be not to store the contents of the file in the DB 100%. I think what we can do here, is to upload the file to S3 and fetch it from there when sending the actual email. In the end of the workflow we can schedule a removal of the file from S3 since we don't really need it. @davidsoderberg what do you think about this situat

[2022-09-07 06:40] davidsoderberg commented on #1173
@scopsy I think this sounds good 😄 lets schedule the removal a while after we sent the email so we can resend it if it is needed, when we have resend I mean...

[2022-09-07 07:18] scopsy commented on #1220
@SpencerMiller23 let me know if you want me to assign you to this one :)

[2022-09-07 07:21] SpencerMiller23 commented on #1220
@scopsy I will look into it when I have some spare time but feel free to assign to someone else in the meantime

[2022-09-07 07:25] BiswaViraj commented on #1215
@MohammedBajuaifer Assigned you 🙂

[2022-09-07 08:12] scopsy opened #1232 "🐛 Bug Report: Don't allow removing organization member who is tied to an API Key"
### 📜 Description

An organization owner, the creator of the organization generates API keys that are associated with his user. When removing this organization member, it invalidates all the existing API Keys used by this organization.

### 👟 Reproduction steps

1. Create organization
2. Invite another Admin to it
3. Remove the old creator from the organization members
4. Try to trigger an event u

[2022-09-07 10:10] theeleb opened #1234 "🐛 Bug Report: API call with curl to notification-groups endpoint responds error 500"
### 📜 Description

When I make the call to retrieve the groups from the API with Curl (following the documentation), the response is a 500 error

Call:

`curl -X GET \
 -H "Authorization: ApiKey YOUR_API_KEY" \
https://api.novu.co/v1/notification-groups`

Response:

`{"statusCode":500,"message":"Internal server error"}%`

In the same way, I make a call to:

`curl -X POST \
  -H "Content-Type: appl

[2022-09-07 11:12] #1232 closed

[2022-09-07 16:08] SachinHatikankar100 opened #1237 "[FEATURE REQUEST] Add option to launch Novu docs in jarvis cli"
### 🔖 Feature description

I recently got to know about  Jarvis, a cli tool to help new contributors and maintainers navigate our code base and perform everyday tasks such as running part of the monorepo, testing, automatically installing and building dependencies.

### 🎤 Why is this feature needed ?

 Adding a option to launch Novu docs in Jarvis cli will make it more comprehensive for new contri

[2022-09-07 16:11] SachinHatikankar100 commented on #1237
@scopsy If this issue is not complicated enough I can give it a try. Will also let update incase I am unable to work on it. Hence, I would love to have guidance on how it can be achieved. Hence, for now I am kept it unassigned :)

[2022-09-07 16:15] MarkusTarn opened #1239 "🚀 Feature:"
### 🔖 Feature description

Section in dashboard to see API errors, or at least queue.

### 🎤 Why is this feature needed ?

Currently when emails are not sent out, then this is not displayed anywhere on the dashboard.
Would be nice if you could see it straight from dashboard with error messages also.

### ✌️ How do you aim to achieve this?

Dashboard showing also emails not sent out

### 🔄️ Additio

[2022-09-07 16:16] #1239 closed

[2022-09-07 16:22] MarkusTarn opened #1240 "[NV-1246] 🐛 Bug Report: Can't find a way to edit custom attributes on the email template button"
### 📜 Description

Can't find a way to edit custom attributes on the email template button.

### 👟 Reproduction steps

1. Open Dashboard
2. Edit any template
3. Try to find a way to edit button attributes

### 👍 Expected behavior

I should be able to see a way to edit button attributes

### 👎 Actual Behavior with Screenshots

I could not find a way to edit button attributes

### 💻 Operating system

[2022-09-07 17:48] shanehughes1990 opened #1241 "🐛 Bug Report: Invite user to org, email isn't being sent"
### 📜 Description

I set up a self hosted environment on gke, when I go to invite someone to the org that I created the email itself for the invite never gets sent, Now I'm sure it's something I have overlooked but I am unable to find any docs/env variables about what the novu app itself uses to send the invite email. we currently have mailgun setup as a provider and tested functionality via the n

[2022-09-07 18:04] shanehughes1990 opened #1242 "🐛 Bug Report: Chrome console error when uploading company logo"
### 📜 Description

When attempting to upload a company logo, after selecting what image you want to add and pressing open, nothing happens visually. Upon inspecting the chrome console logs I am getting a couple of errors.

We originally thought it was the proxy buffer size on nginx ingress in front of these services, we increased it from the default 1m to 1g (just so we could rule out any picture

[2022-09-07 20:21] scopsy commented on #1239
Hi @MarkusTarn seen that you closed this issue, but just wanted to say we are working right now on a debuggining and analytics dashboard to show all the step results in more detailed way 🙏

[2022-09-07 20:51] scopsy commented on #1237
Sure thing @SachinHatikankar100 let me know how I can help 🙏

[2022-09-08 05:35] gaurav-d9 opened #1245 "🐛 Bug Report: Notifications triggering from disabled provider"
### 📜 Description

I have integrated two providers one is disabled but notifications are triggering from the disabled provider

### 👟 Reproduction steps

1. Integrate two providers in my case one is SendGrid another one is NodeMailer.
2. Disable one, I disabled SendGrid
3. Try to trigger notification
4. It will trigger from disabled one

### 👍 Expected behavior

It should trigger from the enabled

[2022-09-08 10:21] theeleb commented on #1234
![Captura de pantalla 2022-09-08 a las 12 15 15](https://user-images.githubusercontent.com/2861833/189097348-793358b9-e682-4a67-91d5-494060e9b72a.png)

I tested the call in the same way as on the Novu Website. A bearer token is sent in the call. By making the call with the token and not with the API-KEY as the documentation says. Works as expected. But, i think i missing something

<img width="100

[2022-09-08 10:33] theeleb commented on #1234
In the same way:

1 - I tried post https://api.novu.co/v1/notification-templates with this body:

`{
      "name": "new-request",
      "notificationGroupId": "62fe05b7cd5afb6ad3c08b08",
      "tags": ["chat", "decathlon"],
      "description": "New  request  ",
      "steps": [],
      "active": true,
      "draft": true,
      "critical": true,
      "preferenceSettings": {"email":false,"sms":fa

[2022-09-08 13:08] shanehughes1990 opened #1246 "🚀 Feature: Misc/Other class for providers"
### 🔖 Feature description

A misc class for providers would be nice to have

### 🎤 Why is this feature needed ?

We have a custom provider in mind that would not fit in the sms/chat/email categories, we have intention to make a mysql provider (for a legacy IVR system), that would use the notification bus to write a row into a sql database for the IVR to pick up (a telephony notification in the end

[2022-09-08 13:15] shanehughes1990 opened #1247 "[NV-1245] 🚀 Feature: Validate email provider emails sent"
### 🔖 Feature description

Validate email bounce back and update the event status in novu ui to errored

### 🎤 Why is this feature needed ?

We use the mailgun provider and was testing what happens when we sent to a known bad email address, and as far as novu displaying that email was successful, and technically it was mailgun successfully triggered the email, but it bounced back in another event

[2022-09-09 13:01] Keyruu opened #1249 "🐛 Bug Report: ENV for widget doesn't change anything"
### 📜 Description

Using the docker compose with the newest version the widget always points to localhost:3500 and it's not changable with env variables.

### 👟 Reproduction steps

Use the docker compose setup for novu.
Change the ports for novu widget.
It will not work.

### 👍 Expected behavior

You should be able to change the urls for widget with envs.

### 👎 Actual Behavior with Screenshots

-

[2022-09-09 23:07] #1245 closed

[2022-09-11 04:58] chavda-bhavik commented on #1173
Hey @davidsoderberg @scopsy, I figured out how to store, retrieve, and delete attachments from S3 (via localstack). Currently, I'm looking into how Notification is being sent.

From https://github.com/novuhq/novu/blob/main/apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts#L30-L111, can you say How a notification is being added in the job queue, how it gets retrieved and being

[2022-09-11 05:03] davidsoderberg commented on #1173
I think you can do it in the send-message -email file and we add the jobs in workflow.queue.service file :)

@scopsy let me know what you think but maybe we should introduce a new queue for file management to be able to scale in the future...

[2022-09-12 12:09] udnes99 opened #1251 "🐛 Bug Report: Mailgun provider does not work for EU domains"
### 📜 Description

When using Mailgun on an EU domain, email notifications are not sent due to the wrong base URL being used.
As per https://documentation.mailgun.com/en/latest/api-intro.html#base-url-1

This can very easily be resolved by providing `url` in the constructor of the Mailgun client.

### 👟 Reproduction steps

Use a EU registered domain, and setup the Mailgun provider in the usual man

[2022-09-12 12:16] AlexVCS commented on #1191
Hey there, I'd like to work on this issue. Can you assign it to me please?

[2022-09-12 15:49] davidsoderberg commented on #896
Hey @aggmoulik I will unassign you now but if you still like to work on it am happy to help you and assign you again :)

[2022-09-12 15:51] thevinitgupta opened #1252 "🐛 Bug Report: Readme Typing Error"
### 📜 Description

I think there is a typing error in the `readme.md` file.
The highlighted textin *yellow* shows the error :

![bug](https://user-images.githubusercontent.com/65801700/189698731-3b5cc8bd-058b-4016-aabd-91ce6d591946.PNG)

Since I am beginner I would like to fix this

### 👟 Reproduction steps

Go to the *WHY* part of `readme` to see this error.

### 👍 Expected behavior

I think it s

[2022-09-12 16:11] jainpawan21 commented on #896
I would like to work on this @davidsoderberg !

[2022-09-12 16:14] scopsy commented on #1173
@davidsoderberg, as discussed previously, I think we can just use the initial task receiver to upload the files instead of adding another queue, because we might introduce problems with the ordering of the uploaded attachments.

I suggest just adding a function to upload it instead of a new job. @chavda-bhavik what do you think?

[2022-09-12 16:16] davidsoderberg commented on #896
I have now assigned you now @jainpawan21

[2022-09-12 16:22] jainpawan21 commented on #834
This issue is fixed with #1143

[2022-09-12 16:35] #834 closed

[2022-09-12 16:36] scopsy commented on #1174
This was added by @BiswaViraj 🚀

[2022-09-12 16:39] #1148 closed

[2022-09-12 17:56] #1251 closed

[2022-09-13 07:33] BiswaViraj commented on #1191
@AlexVCS , I've assigned you 🚀 , let me know if you need any help

[2022-09-13 09:10] oba2311 commented on #1183
Let's make this community ready :) @scopsy
How can we put it in the Hacktoberfast pack?

[2022-09-13 09:41] oba2311 commented on #1187
@ainouzgali @scopsy how about we fix it in the meantime for the normal member, and revisit this when redefine roles?

[2022-09-13 12:35] scopsy commented on #1187
@oba2311 for now let's leave it like this. Because I'm afraid, it will create more confusion for the invited person. To make it default, we will need to add a role input near the email so it will be more clear for the person who invites him. So will close this for now.

[2022-09-13 12:35] #1187 closed

[2022-09-13 15:27] SpencerMiller23 opened #1255 "[NV-1244] 🐛 Bug Report: UI making requests to localhost when deployed on remote server"
### 📜 Description

The first issue is that the console hangs on the line reading `Attaching to ws, api, web, widget, embed`. In addition, when trying to sign up, I get a message reading "Network error".

### 👟 Reproduction steps

1. Setup a new remote server with the appropriate SSH keys (I'm using Digital Ocean)
2. Create a docker context for the remote server and change the current context to us

[2022-09-14 16:20] Nabhag8848 commented on #1220
Hey, @scopsy can you assign it to me, would love to work on it. 😊

[2022-09-14 16:59] MohammedBajuaifer commented on #1215
If anyone can guide me, where can i find the the search component?

[2022-09-14 20:48] scopsy commented on #1220
Sure @Nabhag8848 thank you!

[2022-09-14 20:50] scopsy commented on #1215
Hi @MohammedBajuaifer this components is generated by algolia, and you can find the associated code in the 'docs' folder on the root of the monorepo.

[2022-09-16 19:27] KyleKreutzer opened #1259 "🐛 Bug Report: GET to notification-groups endpoint using ApiKey causes 500 error"
### 📜 Description

Sending a GET to the notification-groups endpoint using the API key results in a 500 error. However, accessing this endpoint using the bearer token seems to work fine. Hitting the cloud service.

### 👟 Reproduction steps

Run this command with your own apiKey.

[code]

### 👍 Expected behavior

Return notification groups.

### 👎 Actual Behavior with Screenshots

Returned:
[code]

[2022-09-16 23:21] matigumma commented on #920
what if you use delay....

[2022-09-16 23:29] matigumma commented on #1144
confirm same behavior

[2022-09-17 07:42] BiswaViraj commented on #1259
I think this endpoint is behind the auth wall, so you'll need to provide the `Authorization` header with the JWT bearer token, not the API key.
@scopsy, @davidsoderberg We might need to update the API doc for this instance, maybe remove the `@ExternalApiAccessible()` from the route.

[2022-09-17 08:09] scopsy commented on #1259
@BiswaViraj This should work with the api key aswell like the other endpoints :(

[2022-09-18 12:07] oba2311 commented on #1187
So giving admin permissions for the person invited?
Sounds quite outside of what user would expect

[2022-09-18 12:07] #1174 closed

[2022-09-18 12:07] oba2311 commented on #1187
@scopsy

[2022-09-18 12:12] scopsy commented on #1187
"Member" role may lead to strange behaviour until we define all scopes of what a "member" means. Right now the definition of Member rights was put as a placeholder. Until now the default invite was "Admin", this functionality will just leave it as-is until we will finalize the scope and test the behaviour of a "member" role I suggest leaving it like this, otherwise, we will get a lot of support is

[2022-09-18 12:19] oba2311 commented on #1252
@BiswaViraj  WDYT?

[2022-09-18 12:21] oba2311 commented on #1247
@shanehughes1990 thanks for this idea! This is part of the webhooks effort we are planning for next month.
If that is valuable to you, you are more than welcome to help us by creating the necessary webhooks when we work on this in 3-4 weeks.

@ainouzgali  FYI :)

[2022-09-18 12:21] scopsy commented on #1252
@oba2311 the meaning should be around the **code**, and not around the `globe` here. I agree it might be a bit strange so maybe we can rephprase it entirely. But the I don't think it should be `globe` in any case :)

[2022-09-18 12:29] oba2311 commented on #1240
This seems to me like webhooks are needed for this - @ainouzgali  @scopsy correct?

[2022-09-18 12:31] scopsy commented on #1240
@oba2311 not really, there is no connection the webhook.

I think that what @MarkusTarn means here, is that under our "visual" email editor on the button it generates, there is no way to add custom HTML attributes like `clicktracking=off` as it's only available on the HTML editor at the moment

[2022-09-18 12:33] oba2311 commented on #1240
Sounds like the functionality exist through the HTML editor tho, wouldn't that suffice for the time being?

[2022-09-18 12:49] oba2311 commented on #1242
Thanks @shanehughes1990  for this.

Seems like we need to fix this + figure out the documentation. @BiswaViraj  have you had a chance to take a look?

[2022-09-18 12:49] oba2311 commented on #1259
I think that @ainouzgali  is on this one.

[2022-09-18 13:28] scopsy commented on #1240
It is a workaround, but then the user will miss the prebuilt design. Maybe we can add some button to import the visual editor HTML to the custom HTML block? @MarkusTarn wdyt?

[2022-09-18 14:10] jainpawan21 commented on #602
This is fixed and can be closed

[2022-09-18 14:26] #602 closed

[2022-09-18 15:00] ainouzgali commented on #1234
Hi @theeleb thank you for reporting and for being so detailed. Was super helpful. You are right, I am working on a solution now. Will probably be merged to main tomorrow and included in our next release.

[2022-09-18 15:05] ainouzgali commented on #1198
I am closing this as fixed. @guy-wal Let me know if there are any additional problems. Thank you so much for reporting this!

[2022-09-18 15:05] #1198 closed

[2022-09-18 15:08] #843 closed

[2022-09-18 15:13] ainouzgali commented on #1074
Correct me if I'm wrong - this is a request for adding a new subscriber through the web UI.
The current feature added (thank you for that @jainpawan21 !) is to view your subscribers list.

@oba2311 We should make sure it is added to our backlog. I think this will be a useful feature.

[2022-09-18 16:33] DanishOnGit opened #1263 "🐛 Bug Report: UI- Hover effect on cards in Workflow Editor"
### 📜 Description

If you hover on the Step card itself, then no change in background color of the card.
But, if you hover on the 3 dots inside the card, then the background color of card changes.
Also, the error tooltip comes over the Delete confirmation modal.

### 👟 Reproduction steps

Add any Step to the workflow, for example: Email.
Just hover on the Step card with 3 dots. Change of backgroun

[2022-09-18 20:29] oba2311 commented on #1187
Yes sounds good, I hadn't realize that a new invitee gets member, I thought this issue was because new invitee got admin permissions...

[2022-09-18 23:25] MarkusTarn commented on #1240
Would be more than enough for me 🙏

[2022-09-19 06:36] scopsy commented on #1008
@jainpawan21 is that something we can close? I couldn't reproduce this on multiple scenarios. Are you still experiencing this?

[2022-09-19 06:43] ainouzgali commented on #1259
@KyleKreutzer, should be ok now. It is in main and will be in the next release :)

[2022-09-19 06:43] #1259 closed

[2022-09-19 06:44] ainouzgali commented on #1234
Merged @theeleb :)

[2022-09-19 06:44] #1234 closed

[2022-09-19 06:45] ainouzgali commented on #1263
Great @DanishOnGit ! I am assigning you.

[2022-09-20 08:53] #1249 closed

[2022-09-20 13:02] JakovGlavac opened #1269 "🐛 Bug Report: Wrong API call for updating user data"
### 📜 Description

When using js library
[code]
I got an error
[code]

And if you check your [API docs](https://docs.novu.co/api/update-subscriber/) url for updating the subscriber data is actually  https://api.novu.co/v1/subscribers/:userId. I think someone just inverted it.

### 👟 Reproduction steps

Use Node libery

### 👍 Expected behavior

It should request https://api.novu.co/v1/subscribers/:

[2022-09-20 14:42] ainouzgali commented on #1269
Thank you @JakovGlavac !

[2022-09-20 14:42] #1269 closed

[2022-09-20 17:05] codeser opened #1274 "Can Novu be installed as part of my current Express project or does it have to be a standalone service in a separate package?"
- **I'm submitting a ...**
  [ ] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [x] question about how to use this project

- **Summary**

I noticed the way to install Novu is using

`npx novu init`

Can I instead do an npm install novu in my current Express project, save novu as a library and call it internally from my other files/functions?

- **Othe

[2022-09-20 17:08] JakovGlavac opened #1275 "🐛 Bug Report: Typescript theme"
### 📜 Description

When customizing the `PopoverNotificationCenter`
When
[code]

![image](https://user-images.githubusercontent.com/34971091/191319673-959b00b2-3ef2-4261-a65a-aeab45b63758.png)
I get an error that styling button is not optional and I think it should be.

### 👟 Reproduction steps

It's self explanatory :)

### 👍 Expected behavior

In this file https://github.com/novuhq/novu/blob/0ae

[2022-09-21 07:13] scopsy commented on #1246
Hi @shanehughes1990! So if I understand correctly, you would just want to create an HTTP call instead of using a provider class? So we can have an `HTTP Request`  provider on almost all channels, and it will just create a call to the HTTP endpoint of your choosing?

[2022-09-21 09:27] ainouzgali commented on #1275
Thank you!

[2022-09-21 09:27] #1275 closed

[2022-09-21 10:10] ainouzgali commented on #1263
Merged! Thank you @DanishOnGit

[2022-09-21 10:10] #1263 closed

[2022-09-21 10:31] #1189 closed

[2022-09-21 10:33] scopsy commented on #1186
Hi @lawweiliang we require the full name because we might need with some personalization usages inside the web platform later. If you prefer to stay anonymous you could always use some nickname in this field, just make sure to include a space in between. For example: "Weiliang Developer"

Closing this for now

[2022-09-21 10:33] #1186 closed

[2022-09-21 11:15] DanishOnGit commented on #1263
Thanks a lot @ainouzgali !!

[2022-09-21 11:44] scopsy opened #1280 "⭐ Want to contribute? Start here!"
# Welcome to the Novu!

Hacktoberfest is here, and there are many ways you can contribute to Novu. Here we will write some suggestions, and feel free to submit your ideas.

## Find where to contribute
The easiest way to start is to **Find an existing issue**: visit the [issues page](https://github.com/novuhq/novu/issues) and search for any issue with a `help wanted` or a `good first issue` label.

[2022-09-21 12:08] shanehughes1990 commented on #1246
Well ideally we want to remove our http api that talks to the sql db in Lue of a provider MySQL with what table and content to write in it, then our legacy ivr reads the db and does what it does.

[2022-09-21 12:49] JakovGlavac commented on #1274
Yeah sure, but if you are wondering what does init script do check the source code: https://github.com/novuhq/novu/blob/main/packages/cli/src/commands/init.ts

[2022-09-21 13:13] raikasdev opened #1282 "Mention environments/local/docker-compose in running locally"
https://docs.novu.co/community/run-locally/ should include the environments/local docker-compose file that can be used to easily start required services (MongoDB, redis)

[2022-09-21 13:59] oba2311 commented on #1237
Adding here the Hacktoberfast tag on Linear.

[2022-09-22 13:55] surajprabhuaissel opened #1286 "Chat Integration with Mattermost🚀 Feature:"
### 🔖 Feature description

Mattermost is an Open Source Slack alternative that also allows managed as well as  Self hosting.
It is used by a lot of teams and would be an excellent point for notifications similar to Slack, MS Teams or Discord.
Mattermost supports REST API

https://mattermost.com/platform-overview/

https://api.mattermost.com/

### 🎤 Why is this feature needed ?

While email notific

[2022-09-22 16:14] scopsy commented on #1282
That's a great suggestion!

[2022-09-22 16:16] scopsy commented on #1274
Hi @codeser! Unfortunately, novu can only be consumed as a standalone service using the HTTP API. You can either self-host it yourself or use our cloud offering, regarding each path you will choose would love to assist setting it up 🙏

You could still install @novu/node to make the trigger calls to the Novu Platform API, but you won't be able to do that before the API is running somewhere as a sta

[2022-09-22 16:17] scopsy commented on #1252
Will be closing for now, but thanks a lot for the suggestion. Really appreciate this 🙏

[2022-09-22 16:17] #1252 closed

[2022-09-23 07:55] ComBarnea commented on #1286
@AisselTechnologiesPvtLtd following our chat I am assigning this one to you. You can find how to add a new provider [here](https://docs.novu.co/community/create-provider). Also you can checkout the [slack provider](https://github.com/novuhq/novu/tree/main/providers/slack) as a very close example.

[2022-09-23 09:40] surajprabhuaissel commented on #1286
Thanks Tomer. I will go through the documentation. Since I am not an expert in coding, I hope I get help from the community to get this take care of.

[2022-09-23 09:41] florian-lefebvre commented on #768
Hi, I'm interested in this. Any news ?

[2022-09-23 09:50] scopsy commented on #768
Hi @samsoft00 I'll un-assign you for the time being, perhaps someone can help with this aswell. Since it's quite an asked functionality just as @florian-lefebvre mentioned.

[2022-09-23 09:55] florian-lefebvre commented on #768
I could try I guess @scopsy, just need a few infos:
- Is there an existing endpoint for this already? And if it's not the case, where should it be created?
- Do we want to regenerate all tokens at once or per environment?

Just for references:
- https://github.com/novuhq/novu/blob/main/apps/web/src/pages/settings/tabs/ApiKeysCard.tsx

[2022-09-23 10:16] scopsy commented on #768
Sure!
- There is no endpoint for this yet. You can look at the fetch existing API keys endpoint and locate the use case and endpoint close to there.
- Only for the existing environment

You could add an integration test on the API for this (you can look at the get API keys as a starting point). And ofcourse feel free to reach out here or on Discord if you will need any help.

[2022-09-23 12:43] davidsoderberg commented on #541
@peoray any progress on this and if not @jesusantguerrero are you up for it to give it a try?

[2022-09-23 12:49] ahmed-classtra opened #1289 "🐛 Bug Report: No way to reset / destroy the `widget_user_auth_token` in the iFrame embed."
### 📜 Description

I have a Vue app that embeds the iFrame option for displaying the notification center. When I log out the existing user and log in as a new user, the notifications don't get updated.

The `widget_user_auth_token` is not reset and remains the same. Only after a hard refresh on the page does the notification list update.

### 👟 Reproduction steps

1. Embed the iFrame in your app.

[2022-09-23 13:54] Cliftonz commented on #1282
I can handle this, will have a pr in soon.

[2022-09-23 14:13] Cliftonz commented on #654
@scopsy I think this issue can be closed now the repo is created.

[2022-09-23 17:14] florian-lefebvre commented on #768
Hey @scopsy, I just made a PR (#1292)

[2022-09-24 10:05] florian-lefebvre opened #1294 "🚀 Feature: Change Admin features access"
### 🔖 Feature description

Would be great if the access to admin features (`@Roles(MemberRoleEnum.ADMIN)` decorator) used a special token instead, like Supabase and its SERVICE_ROLE key.

### 🎤 Why is this feature needed ?

When interacting with the API programmatically, some endpoints are only available for Admin users. However, it requires them to be logged in, which may not be possible for inst

[2022-09-25 03:36] Cliftonz commented on #1294
I agree with OP, there are admin tasks that should be able to be done by api.
For example, giving an AD group access to an entity with the api.

[2022-09-25 08:37] #654 closed

[2022-09-25 08:39] #1151 closed

[2022-09-26 11:00] amandesai01 commented on #541
We at https://battlebrains.xyz are thinking of using Novu as our primary notification service. Our frontend is in Vue. Thus, we would be more than happy to opensource component we make and submit a PR. However, it's not until next month in our roadmap. So, we would love if someone could make it. If not, expect a PR from us in upcoming month. 👍

[2022-09-27 11:06] NarHakobyan opened #1302 "🚀 Feature: Expiration Time for FCM Tokens"
### 🔖 Feature description

Following to [Firebase docs](https://firebase.google.com/docs/cloud-messaging/manage-tokens), They recommend us to store tokens with expiration time and remove token if it staled. Also it would be nice to have option to remove token from user if it's being connected to another.

### 🎤 Why is this feature needed ?

- Avoid forcing user to have a cron job and update all us

[2022-09-27 11:35] saby22 opened #1303 "🐛 Bug Report: Integration store FCM is not at par with the docs"
### 📜 Description

Steps mentioned in the docs to integrate FCM with Novu.

However, the form to add FCM as an integration only contains one field by the name of service account. What are we supposed to paste over there? The whole JSON file or something else?

### 👟 Reproduction steps

1. Navigate to the Integration Store in admin panel
2. Try to connect FCM , which is mentioned under Push

### 👍

[2022-09-27 16:36] BiswaViraj commented on #1242
Closing this issue, for now, feel free to re-open it if needed

[2022-09-27 16:36] #1242 closed

[2022-09-28 07:19] BiswaViraj commented on #1303
Hello @saby22, thank you for raising this issue.
You'll need to paste the entire `service account` JSON in that field.
I'll look into the docs and update them later with the proper steps.
Let me know if you need any more help.

[2022-09-28 08:06] saby22 commented on #1303
Got it.
It works. Thanks for the clarification @BiswaViraj

[2022-09-28 09:36] scopsy commented on #541
That's amazing @amandesai01 please let me know if I can be of any help there 🙏

[2022-09-28 09:43] scopsy commented on #1303
@saby22 @BiswaViraj maybe worth adding this in the field description? @saby22 do you want to create a PR for that?

[2022-09-28 10:03] florian-lefebvre commented on #768
Hey @scopsy can be closed now. Thanks for your help (and the rest of the team) on the PR!

[2022-09-28 10:20] scopsy commented on #768
Amazing work @florian-lefebvre thanks for you contribution!

[2022-09-28 10:20] #768 closed

[2022-09-28 14:06] KlausMikhaelson commented on #1302
Sounds good would like to work on it if it has been approved !

[2022-09-28 18:03] saby22 commented on #1303
@scopsy cool, I can take that up. Reopening just to track this one.

[2022-09-29 06:06] SpencerMiller23 commented on #1255
Hey, @djabarovgeorge thanks for getting back to me. I can confirm both that the .env file is located in the same directory as the docker-compose.yml file and that hosting the docker environment locally works as expected.

[2022-09-29 08:05] djabarovgeorge commented on #1255
Hey thanks for looking it up.
Strange the last thing i could suggest checking is to connect to the service and validate if environment variables were updated, however, I am not sure the issue is there.

@scopsy @davidsoderberg do you have any insights on the matter?

[2022-09-29 10:55] JakovGlavac opened #1311 "Feature: send notifications to only one device in case that one subscriber has more than one token."
### Discussed in https://github.com/orgs/novuhq/discussions/1301

<div type='discussions-op-text'>

<sup>Originally posted by **JakovGlavac** September 26, 2022</sup>
I have a use case where I need to send push notification to only one device. For example test push notification so that i don't spam other devices.  It's not a big deal but I think that it is a pretty basic feature. Let me know what

[2022-09-29 10:59] JakovGlavac opened #1312 "[NV-1621] 🐛 Bug Report: Admin UI not deleting templates in production"
### 📜 Description

When the user promotes development changes to production. All changes are not promoted correctly. There is some mismatch.

### 👟 Reproduction steps

Create a few notification templates in the development environment
Then promote those changes to production.
After successful promotion, delete one or two templates from development.
Now promote changes again to production.
Deleted

[2022-09-29 13:22] mohanthilak opened #1313 ""Contribution Guidelines" in README.md file links to the wrong repo."
The "Contribution Guidelines" link in the README.md file does not link to the novuhq/novu's repository's CONTRIBUTING.md file. It is pointing to a forked repository. I have updated the readme.md file. If the change is required I can make a pull request.

[2022-09-29 14:21] oba2311 commented on #1313
Seems like the link leads to https://github.com/novuhq/novu/blob/main/CONTRIBUTING.md

[2022-09-29 14:28] oba2311 commented on #1286
@surajprabhuaissel  let us know is help is needed!

[2022-09-29 14:30] oba2311 commented on #1311
@JakovGlavac interested in working on this one?

[2022-09-29 14:36] mohanthilak commented on #1313
Hey, @oba2311 under the links section in the README.md file the "Contribution Guidelines" link is leading to: https://github.com/AmanNegi/novu/blob/main/CONTRIBUTING.md. But yes, it should lead to https://github.com/AmanNegi/novu/blob/main/CONTRIBUTING.md.

[2022-09-29 15:31] scopsy commented on #1313
@mohanthilak assigned this to you ❤️

[2022-09-29 15:42] florian-lefebvre opened #1315 "🚀 Feature: Complete `@novu/node` API"
### 🔖 Feature description

Many of the features of the API available at https://docs.novu.co/api/overview/ can be only accessed using a "custom" fetch (I mean not the `@novu/node` package).

### 🎤 Why is this feature needed ?

Port all the missing features to the @novu/node package.

### ✌️ How do you aim to achieve this?

This would make interacting with the API programmatically much easier.

###

[2022-09-29 15:44] mohanthilak commented on #1313
Thank You @scopsy! I have made the pull request.

[2022-09-29 16:34] #1313 closed

[2022-09-29 16:35] scopsy commented on #1315
This is a great point @florian-lefebvre! I think it would be best to create multiple issues for the different module just so we can split the work since there is quite a lot of it. Do you mind creating this issue for the submodules we have?

[2022-09-29 17:31] fdelucchijr opened #1316 "🚀 Feature: Arm64 Support"
### 🔖 Feature description

Arm64/aarch64 support for docker images.

### 🎤 Why is this feature needed ?

Cloud is moving to Arm64 compute (probably cost related), many projects are already preparing for this new arch.
An example of this is the Oracle Cloud Offer in Amphere A1 VM’s.

### ✌️ How do you aim to achieve this?

I’ve already downloaded the repo thinking about making a PR with all the cha

[2022-09-29 18:12] florian-lefebvre commented on #1315
Sure!

[2022-09-29 18:58] florian-lefebvre opened #1317 "`@novu/node`: complete the events module"
Trigger, Broadcast, Cancel

- [x] #1357
- [x] https://github.com/novuhq/api-docs/pull/17

Feel free to tell me if there's more I'm missing and I'll update the list.

[2022-09-29 19:05] florian-lefebvre opened #1318 "`@novu/node`: complete the subscribers module"
- [x] #1538
- [x] https://github.com/novuhq/api-docs/pull/19

Moreover, it would be great if naming across API and client was consistent (e.g. "Update subscriber credentials" & "subscribers.setCredendials")

Feel free to tell me if there's more I'm missing and I'll update the list.

[2022-09-29 19:07] florian-lefebvre opened #1319 "`@novu/node`: complete the integrations module"
- [ ] Get all
- [ ] Get one (no endpoint or not documented)
- [ ] Create
- [ ] Get active
- [ ] Update
- [ ] Delete
- [ ] Completed docs

Feel free to tell me if there's more I'm missing and I'll update the list.

[2022-09-29 19:08] florian-lefebvre opened #1320 "`@novu/node`: complete the notification templates module"
- [x] Get all
- [x] Get one
- [x] Create
- [x] Update
- [x] Delete
- [x] Update status
- [x] https://github.com/novuhq/api-docs/pull/18

Feel free to tell me if there's more I'm missing and I'll update the list.

[2022-09-29 19:08] florian-lefebvre opened #1321 "`@novu/node`: complete the notification groups module"
- [x] #1741 (Get all, create)
- [x] Get one (no endpoint)
- [x] Update (no endpoint)
- [x] Delete (no endpoint)
- [x] https://github.com/novuhq/api-docs/pull/32

Feel free to tell me if there's more I'm missing and I'll update the list.

[2022-09-29 19:09] florian-lefebvre opened #1322 "`@novu/node`: complete the changes module"
- [x] Get
- [x] Get count
- [x] Apply one
- [x] Apply many
- [x] https://github.com/novuhq/api-docs/pull/15

Feel free to tell me if there's more I'm missing and I'll update the list.

[2022-09-29 19:11] florian-lefebvre opened #1323 "`@novu/node`: complete the environments module"
- [x] #1928
- [x] #1370
- [x] https://github.com/novuhq/api-docs/pull/22

Feel free to tell me if there's more I'm missing and I'll update the list.

[2022-09-29 19:12] florian-lefebvre opened #1324 "`@novu/node`: complete the feed module"
- [ ] Create
- [ ] Get
- [ ] Delete
- [ ] Update (no endpoint or not documented)
- [ ] Completed docs

Feel free to tell me if there's more I'm missing and I'll update the list.

[2022-09-29 19:15] florian-lefebvre commented on #1315
Hey @scopsy it's done! I think it would to follow something like this for each module:
- Add missing endpoints in the API
- Implement them in `@novu/node`
- Document usage with & without using the client
- Use the client in the web app instead of the custom api folder

Wdyt?

[2022-09-29 19:19] florian-lefebvre commented on #30
Hey @ainouzgali, I'm going through the old issues and looks like this one is stale. You might want to add back the `help wanted` label.

[2022-09-29 19:48] scopsy commented on #1315
Perfect @florian-lefebvre! You are just amazing! This will help also a lot of folks during hactoberfest aswell 🚀

[2022-10-01 04:30] Rutam21 commented on #986
@scopsy It would be great then if @asedmammad submits the PR as he is already done with that. You can assign it to him.

[2022-10-01 04:30] Rutam21 commented on #986
@scopsy It would be great then if @asedmammad submits the PR as he is already done with that. You can assign it to him.

[2022-10-01 05:06] Rutam21 opened #1327 "i18n - Odia Support"
## Why?
Recently we introduced an easy way to add translations for the @novu/notification-center component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?
- Add a new translation file here: packages/notification-center/src/i18n/lan

[2022-10-01 05:07] Rutam21 commented on #1327
@ainouzgali @scopsy Please assign this issue to me as I am a native Odia Speaker.

[2022-10-01 05:48] davidsoderberg commented on #1327
Hi @Rutam21 I did see that you already have two issues assigned to you please complete those first 😄

[2022-10-01 05:52] Rutam21 commented on #1327
@davidsoderberg I have already raised PR for the error response status. And this and the other one are translation issues only which I will complete today itself. Rest assured, I am not overburdened 😅

[2022-10-01 05:55] davidsoderberg commented on #1327
Okay @Rutam21 it is now assigned to you 😄

[2022-10-01 05:58] Ln11211 commented on #128
Hey there, As much as I can understand, are we trying to support Matrix notifications? Am I right? and how does one start doing this?, can you please elaborate a little about the task at hand? :)

[2022-10-01 07:33] alphaolomi opened #1330 "🚀 Feature: Africastalking SMS Provider"
### 🔖 Feature description

SMS Provider for Novu

### 🎤 Why is this feature needed ?

From AT landing page, "Powering Communications Solutions Across Africa"
As one of the leading SMS provider in Africa, Using Novu for African focused application will be easier than ever

### ✌️ How do you aim to achieve this?

building an AT SMS Provider for Novu

### 🔄️ Additional Information

_No response_

###

[2022-10-01 11:00] Josnapkb opened #1334 "🐛 Bug Report:"
### 📜 Description

Messaging

### 👟 Reproduction steps

@asgeirf @

### 👍 Expected behavior

👍 good

### 👎 Actual Behavior with Screenshots

Working

### 💻 Operating system

Something else

### 🤖 Node Version

iOS 15+

### 📃 Provide any additional context for the Bug.

Stucks

### 👀 Have you spent some time to check if this bug has been raised before?

- [X] I checked and didn't find similar issue

[2022-10-01 15:17] Josnapkb opened #1336 "Mine"
__Originally posted by @Josnapkb in https://github.com/awesome-selfhosted/awesome-selfhosted/issues/3329__

[2022-10-01 17:50] Rutam21 opened #1339 "Copyedit the Getting Started Page under Notification Center in Novu Docs Website"
# Why
The [Getting Started](https://docs.novu.co/notification-center/getting-started) page needs to be copyedited and the typos and grammatical errors need to be fixed to make it more readable for the users.

# How
- Fork the repository
- Make suitable changes in `docs/notification-center/getting-started.md`.
- Raise a PR with the changes.

[2022-10-01 17:51] Rutam21 commented on #1339
@scopsy Please assign this to me. I will be raising a PR soon.

[2022-10-01 18:06] jainpawan21 commented on #1008
yes we can close this.

[2022-10-01 18:06] #1008 closed

[2022-10-01 20:17] scopsy commented on #1302
@KlausMikhaelson assigned you 🙏

[2022-10-01 20:17] scopsy commented on #1334
@Josnapkb not sure what this issue is about, but closing this for now.

[2022-10-01 20:17] #1334 closed

[2022-10-01 20:17] #1336 closed

[2022-10-01 20:20] #1339 closed

[2022-10-01 20:25] novubot opened #1341 "[NV-935] - Add navigation to Integrations in command palette"
**Why**

To make the navigation even easier we need to add it to the command palette…

**How**

This should be done in a global place but inside of the SpotLightProvider or inside of the Spotlight.tsx file.

To do this we need to add following: (example exists inside of Spotlight.tsx)

[code]

Please note that navigate comes form `react-router-dom` …

Id needs to be unique for every command and ne

[2022-10-01 20:25] novubot opened #1342 "[NV-937] - Add navigation to team members in command palette"
**Why**

To make the navigation even easier we need to add it to the command palette…

**How**

This should be done in a global place but inside of the SpotLightProvider or inside of the Spotlight.tsx file.

To do this we need to add following: (example exists inside of Spotlight.tsx)

[code]

Please note that navigate comes form `react-router-dom` …

Id needs to be unique for every command and ne

[2022-10-01 20:25] novubot opened #1343 "[NV-926] - Add cypress component test to ConnectIntegrationForm component"
## Why?

To help increase our test coverage within the `novu/web` project, we can add the newly released [cypress component tests](https://docs.cypress.io/guides/component-testing/testing-react).

## How?

A new component test file should be added located near the original source file(see example at `apps/web/src/design-system/button/button.cy.tsx` and could be run after running `npm run start` fr

[2022-10-01 20:25] novubot opened #1344 "[NV-930] - Add cypress component test to ApiKeysCard component"
## Why?

To help increase our test coverage within the `novu/web` project, we can add the newly released [cypress component tests](https://docs.cypress.io/guides/component-testing/testing-react).

## How?

A new component test file should be added located near the original source file(see example at `apps/web/src/design-system/button/button.cy.tsx` and could be run after running `npm run start` fr

[2022-10-01 20:25] novubot opened #1345 "[NV-904] - Errors in Integration Store - change from default"
Currently, errors are shown for all providers as the browser default error.

![Screen Shot 2022-09-21 at 12.05.10.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/3845dee5-71bb-47db-8990-b500138935a6/b8835c66-e9ec-46cd-aa64-4a32c79a9aba)

We should have it like our design where error is shown like this:

![Screen Shot 2022-09-21 at 12.07.43.png](https://uploads.linear.app/f13f1

[2022-10-01 20:25] novubot opened #1346 "[NV-896] - Upgrade Mantine version in Web"
## What

Novu was built with 4.1 version of Mantine. Mantine has kept progressing and now the official version is 5.4

## Why

In order to be able to use the latest and greatest Mantine's features we need to upgrade our codebase to the latest version.  This ticket requires the work needed to make the Web GUI work smoothly with the latest Mantine version.

[2022-10-01 20:25] novubot opened #1347 "[NV-920] - Create a AWS SNS provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-01 20:25] novubot opened #1348 "[NV-917] - Create a Nexmo provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-01 20:25] novubot opened #1349 "[NV-913] - Create a Postmark provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-01 20:30] #1084 closed

[2022-10-01 20:38] novubot opened #1350 "[NV-933] - Activity Feed - fix month day"
The month number broken, should be the month day.

![image.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/d80d19fe-d5e2-473e-b721-e71dd889c3aa/9f6acc23-f7dc-4a3f-b4d0-e60a9df32ddc)

[2022-10-01 22:16] YolandaHaynes commented on #1350
Hi! I'm still new to this but would like to give it a go.

[2022-10-01 23:19] ozanuslan commented on #1350
I seem to have located the problem that causes this behavior. Can open up a PR when I wake up.

[2022-10-02 02:12] DevTomilola-OS commented on #1346
I would like to work on this, kindly assign to me.

[2022-10-02 03:44] chavda-bhavik commented on #1347
@scopsy I will work on It, Please assign it to me.

[2022-10-02 04:59] Asmit2952 opened #1352 "i18n - Kannada Support"
## Why

Recently we introduced an easy way to add translations for the `@novu/notification-center` component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How

* Add a new translation file here: `packages/notification-center/src/i18n/

[2022-10-02 07:31] oba2311 commented on #1289
@scopsy I think that we had several Vue issues.... correct?

[2022-10-02 08:22] #1350 closed

[2022-10-02 08:23] scopsy commented on #1347
Hi @chavda-bhavik! Assigning you to this issue 🚀

[2022-10-02 08:23] scopsy commented on #1346
Hi @DevTomilola-OS! Assigning you to this one ❤️

[2022-10-02 09:07] geisterfurz007 commented on #1345
Hey there, I would love to give this a shot! I would appreciate some rough guidance on where to start (i.e. in which package / file).

Also some questions:

- The "template" for the error is `Required - <field title>`?
- Does this issue only refer to required fields or are other validations like min/max part of this? If the latter, what would the erros look like for those?

[2022-10-02 09:27] yk-jp commented on #1344
Hey there, I would like to give it a try with this issue.

[2022-10-02 09:28] scopsy commented on #1344
Hi @yk-jp, sure thing! Assigning you

[2022-10-02 09:47] #1327 closed

[2022-10-02 09:53] Wyfy0107 commented on #1323
I can work on this. I'll add the 2 missing endpoints fist and complete the doc

[2022-10-02 09:54] florian-lefebvre commented on #1317
@scopsy Assign it to me, I'm working on it

[2022-10-02 09:55] florian-lefebvre commented on #1323
Code examples are located at https://github.com/novuhq/api-docs/tree/main/content/code-examples

[2022-10-02 09:57] mohanthilak commented on #1349
Hey @scopsy, I could work on this.

[2022-10-02 10:04] diwash007 opened #1355 "i18n - Nepali Support"
Recently Novu has introduced an easy way to add translations for the @novu/notification-center component interface. So I would like to add support for the Nepali language.

Please assign this issue to me.

[2022-10-02 10:10] thomasbnt opened #1356 "I18n(FR)"
Recently Novu has introduced an easy way to add translations for the `@novu/notification-center` component interface. So I would like to add support for the French language.

Please assign this issue to me.

[2022-10-02 10:11] oba2311 commented on #1074
@jainpawan21 need any help from us on this one?

[2022-10-02 10:15] scopsy commented on #1317
Just assigned you @florian-lefebvre 🚀

[2022-10-02 10:17] ainouzgali commented on #1356
Hi @thomasbnt! Thank you for wanting to contribute to novu!
But it seems there is already support for [French language ](https://github.com/novuhq/novu/blob/main/packages/notification-center/src/i18n/languages/fr.ts) :)
You can see all supported languages [here](https://docs.novu.co/notification-center/react-components#customize-the-ui-language)

[2022-10-02 10:22] scopsy commented on #1356
@thomasbnt @ainouzgali closing this issue for now. @thomasbnt let me know if we missed something here and we should re open :)

[2022-10-02 10:22] #1356 closed

[2022-10-02 10:23] scopsy commented on #1349
Just assigned you @mohanthilak 🚀

[2022-10-02 10:26] oba2311 commented on #1220
Hi @Nabhag8848 , need any inputs from the team?

[2022-10-02 10:28] thomasbnt commented on #1356
Oooh sadly 😐

[2022-10-02 10:30] nilesh-maurya commented on #1345
Hi @geisterfurz007, I was looking on this and i think i got the rough idea of the solution.

I don't think It is specific "template" because lot of `<Input />` components are using `react-hook-form`'s `register` method to add validation and throw error if not satisfied. I think the problem is Browser default "tooltip" for required field.

Again this also could be handle with `register` method (or

[2022-10-02 10:37] #955 closed

[2022-10-02 10:39] scopsy commented on #1345
@nilesh-maurya you are definitely correct, we only want to make sure the browser won't validate with the default tooltips, and we only validate using react forms. @geisterfurz007 assigning you to this one 🚀

[2022-10-02 10:42] scopsy commented on #1289
@oba2311 i'm not 100% sure it's relevant for Vue, but with the actual IFrame behaviour until we add an official wrapper for vue.

@ahmed-classtra I think that the solution here is to allow a method to remove the notification center session for it. We can add it to the existing embed and react components.

[2022-10-02 11:04] #1355 closed

[2022-10-02 11:12] #1241 closed

[2022-10-02 12:16] oba2311 commented on #1294
@Cliftonz  / @florian-lefebvre  interested in taking this issue?

[2022-10-02 12:17] florian-lefebvre commented on #1294
I'm not interested, I'm already busy with other issues

[2022-10-02 12:19] oba2311 commented on #1303
@saby22  good luck!

[2022-10-02 12:23] ahmed-classtra commented on #1289
Thanks. It's definitely not a Vue issue. The iframe isn't clearing the storage. The best way around it for now is wrapping the React component in your own custom iframe. At least for now.

[2022-10-02 12:23] oba2311 commented on #1312
Let's assign to @JakovGlavac

[2022-10-02 12:25] novubot opened #1362 "[NV-946] - Scheduled Delay step - add to trigger snippet"
With scheduled delay, a novu user can declare a path in payload of where the delayed date would be in the payload when the workflow triggers.

I think it would be nice to add that path to the trigger snippet we show in the web UI especially as we show all other variables used in the templates. It will also help reduce misunderstandings and the need to debug.

So, if this is defined on the web:

![

[2022-10-02 12:26] oba2311 commented on #1316
@fdelucchijr  good luck!

[2022-10-02 12:51] oba2311 opened #1366 "Test APNS provider functionality - iOS"
As you might have seen, we finished the work on APNS integration. We are looking for someone with iOS experience to test end to end the integration.

The idea is to run simple test for functionality -
create notifications through web + API and make sure those are received as expected.

[2022-10-02 12:55] aggmoulik commented on #1324
Hey @florian-lefebvre I can work on this issue.

[2022-10-02 12:58] Asmit2952 opened #1367 "i18n - Marathi Support"
## Why

Recently we introduced an easy way to add translations for the `@novu/notification-center` component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How

* Add a new translation file here: `packages/notification-center/src/i18n/

[2022-10-02 12:58] florian-lefebvre commented on #1324
cc @scopsy

[2022-10-02 13:20] Cliftonz commented on #1294
I am still working on the helm deploy.

[2022-10-02 13:20] geisterfurz007 commented on #1343
After fiddling around in the forms for #1345 a bit already, I was wondering if I could pick this one up as well :) What extent should the test have / are there any specifics you 100% want to have included?

[2022-10-02 13:31] scopsy commented on #1343
@geisterfurz007 Nothing very specific there for now, anything you belive could help :)

[2022-10-02 13:59] scopsy commented on #1324
Added you @aggmoulik 🙏

[2022-10-02 14:01] unnikrishnan2002 commented on #1342
Can I take up that ?

[2022-10-02 14:06] olinabin2004 commented on #1348
Hey, I am new to github. I didn't get the issue ,Can you point out me to what is supposed to be done?

[2022-10-02 14:12] nilesh-maurya commented on #1318
@scopsy assign this to me

[2022-10-02 14:19] ArmanChand opened #1372 "i18n - Urdu Support"
## Why?

Recently we introduced an easy way to add translations for the @novu/notification-center component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?

- Add a new translation file here: packages/notification-center/src/i18n/l

[2022-10-02 14:20] ArmanChand commented on #1372
@scopsy  You can assign this to me as this I am well-versed in Urdu.

[2022-10-02 14:47] ArmanChand opened #1374 "i18n - Punjabi Support"
## Why?

Recently we introduced an easy way to add translations for the @novu/notification-center component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

## How?

- Add a new translation file here: packages/notification-center/src/i18n/l

[2022-10-02 15:13] deepak-sreekumar commented on #1321
@scopsy I'd like to take a stab at it. Can you please assign this to me?

[2022-10-02 15:15] DevTomilola-OS commented on #1374
I would like to work on this. Kindly assign to me.

[2022-10-02 15:15] DevTomilola-OS commented on #1374
I would like to work on this. Kindly assign to me.

[2022-10-02 15:23] ArmanChand commented on #1374
Hi @DevTomilola-OS ,
I am already working on it

[2022-10-02 15:27] DevTomilola-OS commented on #1374
Okay

[2022-10-02 15:44] nidble commented on #1341
Hello there! Could I work on this?

[2022-10-02 16:19] scopsy commented on #1341
Just assigned you @nidble let us know if you need any help

[2022-10-02 17:34] vanyaxk opened #1378 "🚀 Feature: add Polish language support"
### 🔖 Feature description

Add Polish language to the library

### 🎤 Why is this feature needed ?

Recently we introduced an easy way to add translations for the @novu/notification-center component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-langu

[2022-10-02 18:57] L-390 commented on #1322
Can you assign this issue to me? I would like to give it a try

[2022-10-02 19:19] florian-lefebvre commented on #1322
cc @scopsy

[2022-10-02 20:06] developer-diganta commented on #1319
Hello! @scopsy @florian-lefebvre I would like to work on it. But can you please guide me on how to proceed. Like do we have to update this [https://docs.novu.co/api/get-integrations/](https://docs.novu.co/api/get-integrations/) with the routes mentioned in the issue?

[2022-10-02 20:12] florian-lefebvre commented on #1319
Yes you'll need to add code snippets at https://github.com/novuhq/api-docs/tree/main/content/code-examples. You can have a look at the current content to see what you must do, but I'd recommend getting the client PR merged first before writing documentation

[2022-10-02 21:34] codingmickey commented on #1320
I want to try out this issue but can't figure out how to start any tips available. (currently trying to run novu locally)

[2022-10-03 02:44] Josnapkb opened #1383 "__Originally posted by @Josnapkb in https://github.com/awesome-selfhosted/awesome-selfhosted/issues/3329__"
__Originally posted by @Josnapkb in https://github.com/awesome-selfhosted/awesome-selfhosted/issues/3329__

__Originally posted by @Josnapkb in https://github.com/novuhq/novu/issues/1336__

[2022-10-03 03:35] techsavvyash commented on #1342
Hey, I would love to work on this, kindly assign this to me!

[2022-10-03 04:48] Predeactor commented on #1383
?
![Screenshot_20221003-064759_GitHub.png](https://user-images.githubusercontent.com/61093863/193503521-d5c229a5-0835-4885-a4ab-c3bfdec3db1c.png)

[2022-10-03 04:59] Predeactor opened #1385 "Website - Incorrect notification type for service(s)"
- **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question about the decisions made in the repository
  - [ ] question about how to use this project

- **Summary**
- The main page of the website https://novu.co shows a list of available/supported services, including `Discord` & `Slack`, for example, however, it is shown that those services uses Email, but those are chat

[2022-10-03 05:13] davidsoderberg commented on #1342
Hi @unnikrishnan2002 I have assigned you now 😄

[2022-10-03 05:32] nevo-david opened #1386 "🐛 Bug Report: Add to the documentation how to use the "subscriber" variable."
### 📜 Description

There is a way to access the "subscriber" variable, but it's not in the documentation.

### 👟 Reproduction steps

I tried to look for it here
https://docs.novu.co/platform/templates

And couldn't find it, got a message from Gali and George on the discord server.

### 👍 Expected behavior

-

### 👎 Actual Behavior with Screenshots

-

### 💻 Operating system

MacOS

### 🤖 Node Vers

[2022-10-03 06:36] vish-han commented on #1386
Hey I would love to take-up this issue , please assign me

[2022-10-03 07:16] ArmanChand commented on #1372
@scopsy ,Please review

[2022-10-03 07:54] scopsy commented on #1383
Hi @Josnapkb, what is this issue about?

[2022-10-03 07:54] #1383 closed

[2022-10-03 08:03] #1378 closed

[2022-10-03 08:16] scopsy commented on #1320
Hi @codingmickey, assigning you here. Our @novu/node package is a node wrapper on top of the novu API. you can find the SDK code here: https://github.com/novuhq/novu/tree/main/packages/node/src

The help needed here is to at the notification templates section on the API ref https://docs.novu.co/api/overview/ and add this functionality to the node SDK.

[2022-10-03 08:16] scopsy commented on #1320
You can also take a look at the example here: https://github.com/novuhq/novu/pull/1357

[2022-10-03 08:19] #1303 closed

[2022-10-03 08:47] ahmedsilat44 commented on #1385
@Predeactor Are you working on this issue or did you just find this bug ?

[2022-10-03 08:48] Predeactor commented on #1385
I'd like to work on it as indicated.

[2022-10-03 10:03] Susmita-Dey commented on #1386
@nevo-david Kindly assign it to me.

[2022-10-03 10:06] techsavvyash commented on #1255
Hey, I would like to take this up.

[2022-10-03 10:09] 3576892 commented on #1255
Em seg, 3 de out de 2022 08:06, Yash Mittal ***@***.***>
escreveu:

[2022-10-03 10:27] Susmita-Dey opened #1390 "🚀 Docs: Improve line in `Introduction.md` file"
### 🔖 Feature description

I want to change this line.

![image](https://user-images.githubusercontent.com/79099734/193554473-5a3a4665-2b40-45d4-b061-8eaac41d172d.png)

### 🎤 Why is this feature needed ?

The line doesn't seems good.

### ✌️ How do you aim to achieve this?

I'll change this to:

[code]

### 🔄️ Additional Information

This is under hacktoberfest contribution. Kindly assign this to

[2022-10-03 10:32] MrKrishnaAgarwal opened #1391 "Greetings"
- **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] question about the decisions made in the repository
  -  [ ] question about how to use this project

- **Summary**

_I will add a github action which greets user whenever someone makes a PR or Issue by posting a comment._

- **Other information**

Can I do that @nevo-david ?

[2022-10-03 10:36] ainouzgali commented on #1390
@Susmita-Dey I assigned you :)

[2022-10-03 10:38] Susmita-Dey commented on #1390
Thanks

[2022-10-03 10:38] MrKrishnaAgarwal opened #1392 "Bug in Issues"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary with Screenshots**

<img width="459" alt="image" src="https://user-images.githubusercontent.com/100597998/193558408-9352c58f-bb0f-4b71-8361-f70d8724af21.png">

 **The checklist doesn't appears as squares**

![image](ht

[2022-10-03 10:38] ainouzgali commented on #1386
Hi @vish-han I'm assigning you :) Let us know if you need anything.
@Susmita-Dey thank you! I've assigned you to the issue you opened💪🏻

[2022-10-03 10:46] Rutam21 commented on #1348
@scopsy I can work on this. Please assign this to me.

[2022-10-03 11:15] oba2311 commented on #1391
@iampearceman

[2022-10-03 11:42] novubot opened #1396 "[NV-949] - Add subject variables to Variables Manager"
As part of [v0.8.0](https://github.com/novuhq/novu/releases/tag/v0.8.0) release, template variable protection and default value assignation were introduced.

This means - that every variable added to the content of a message template (e.g. ) would be recognized as a variable and immediately added to the bottom of the page with the option of giving it a default value or marking it as required.

But

[2022-10-03 11:42] novubot opened #1397 "[NV-619] - Customize empty state - notification center"
Allow passing an image to the notification center. Similar to users being able to pass stylings or their own notification item/ header.

Currently, we have a default image being displayed in the case of an empty notification list:

![Screen Shot 2022-10-03 at 13.09.17.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/b7827971-57a8-48a7-a2f8-db0962299ea7/9c3e350c-7768-4fb4-a1d9-d

[2022-10-03 12:18] #1392 closed

[2022-10-03 12:27] scopsy commented on #1391
I'm not quite sure about this functionality as it will only add more noise for the notification system on github.

@MrKrishnaAgarwal can we make it only for first-time contributors? And else, what would you write there or suggest writing there?

[2022-10-03 12:52] MrKrishnaAgarwal commented on #1391
I can make it for first-time contributors also, I'll write similar to this:
<img width="668" alt="image" src="https://user-images.githubusercontent.com/100597998/193581204-86fdde8b-0767-43d0-bf81-edbc0a91d15e.png">

[2022-10-03 12:52] MrKrishnaAgarwal commented on #1391
@scopsy

[2022-10-03 13:07] ainouzgali commented on #1390
Thanks!

[2022-10-03 13:07] #1390 closed

[2022-10-03 13:23] #1352 closed

[2022-10-03 13:26] #1372 closed

[2022-10-03 13:29] davidsoderberg commented on #1397
@viveknshah I have now assigned you 😄

[2022-10-03 13:31] AshishSharma1203 opened #1400 "Docs: To make some grammatical changes in introduction.md file"
# Description

I want to make some changes to the following line.

<img width="770" alt="Capture" src="https://user-images.githubusercontent.com/92261209/193584433-fcc08d2c-552e-4b98-b5f2-9b01346894c8.PNG">

# Why is this change needed?
The line doesn't seem good.

## Type of change
I will change this to:

[code]
# Additional Information
This repository is under hacktoberfest contribution. Kindly

[2022-10-03 13:39] ainouzgali commented on #1400
Go for it 🚀 Thanks

[2022-10-03 14:00] ainouzgali commented on #1349
Thank you @mohanthilak !

[2022-10-03 14:00] #1349 closed

[2022-10-03 14:02] AshishSharma1203 commented on #1400
Thanks. Please add hacktoberfest label to it 🥺

[2022-10-03 14:09] MihirShinde-29 commented on #1362
Hey, I would like to work on this issue

[2022-10-03 14:12] MihirShinde-29 commented on #1396
Hey, can I work on this issue

[2022-10-03 14:14] ainouzgali commented on #1396
Hi @MihirShinde-29 , you also asked to be assigned on another issue :) Which one would you prefer to start with?

[2022-10-03 14:49] MihirShinde-29 commented on #1396
I would like to start with this one

[2022-10-03 14:54] ainouzgali commented on #1362
@MihirShinde-29 Assigned you to the other issue you requested⭐️

[2022-10-03 15:09] MihirShinde-29 commented on #1362
Thank you, until I complete the other issue if anyone else wants to work on this issue they can

[2022-10-03 15:10] codingmickey commented on #1362
I can work on this issue, if not assigned

[2022-10-03 15:20] ArmanChand opened #1404 "Copyedit the Subscribers Page under Platform in Novu Docs Website"
Why
The [Subscribers Page under Platform](https://docs.novu.co/platform/subscribers/) page needs to be copyedited and the typos and grammatical errors need to be fixed to make it more readable for the users.

How
Fork the repository
Make suitable changes in docs.
Raise a PR with the changes.

[2022-10-03 15:20] ArmanChand commented on #1404
@scopsy Please assign this to me. I will be raising a PR soon.

[2022-10-03 15:22] ArmanChand commented on #1404
Please label it with hacktoberfest-accepted tag as well. Thanks

[2022-10-03 15:24] AshishSharma1203 commented on #1400
I have made the required change and had created the pull request for it. Please review it and merge it .

[2022-10-03 15:42] abhilipsasahoo03 opened #1405 "i18n - Tamil Support"
## Why?

Recently novu introduced an easy way to add translations for the @novu/notification-center component interface. So we can either specify a translation object or pass a premade translation.

## How?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.

- Add your translation import to the TRANSLATIONS object at packages/noti

[2022-10-03 16:22] codingmickey commented on #1320
I can try this out, but not too confident as it's my first contribution. How about it?

[2022-10-03 16:28] Sukriti-m commented on #1294
Hi @oba2311
I'd like to work on this issue. Please assign it to me.

[2022-10-03 17:20] EmmaDawsonDev opened #1408 "🐛 Bug Report: Problems with husky on windows"
### 📜 Description

I tried to make a small change and when I tried to commit my changes I got the following errors:

First I got a windows script telling me that a file contained an invalid character code 800A03F6

Then husky failed to commit with the following message: ```Oops! Something went wrong! :(

ESLint: 8.23.0

Error: Cannot read config file: C:\Users\squig\Documents\Hacktober\2022\hacksq

[2022-10-03 17:26] codingmickey opened #1409 "🚀 Feature: Api authorization not clear"
### 🔖 Feature description

Not exactly a bug, but there should be specified that the API requests that are to be made required a header which is "Authorization": "ApiKey API_KEY_FROM_ADMIN_PANEL"
So that should be mentioned in the first section of the docs

### 🎤 Why is this feature needed ?

For people to know exactly how the authorization is being done in the API and not randomly looking through

[2022-10-03 18:06] nilesh-maurya commented on #1320
You can also check existing `subscriber` module which already has most of the APIs completed.
[SDK code](https://github.com/novuhq/novu/tree/main/packages/node/src/lib/subscribers)
[API Reference overview](https://docs.novu.co/api/get-subscribers/)

[2022-10-03 18:46] aparna2071 commented on #1320
Hi @florian-lefebvre I want to work on this issue, if it is unassigned, can you please assign it to me?

[2022-10-03 18:48] florian-lefebvre commented on #1320
I'll let @scopsy do it and judge who must be assigned

[2022-10-03 18:52] codingmickey commented on #1320
I've already started working on this and figuring stuff out

[2022-10-03 19:55] gefgu commented on #1289
I would like to work on this issue :)

[2022-10-03 19:56] slim-codes opened #1411 "🐛 Bug Report: Incomplete Heading Information"
### 📜 Description

There are 2 issues that I found with the page in https://novu.co/hacktoberfest

- Firstly, the links under the **How to contribute** section all point to novu.co which isn't right
- Secondly, There are placeholder texts under the subheadings (_Lorem Ipsum...._ ). I suggest replacing these texts with meaningful info that actually summarizes what each subheading represents

### 👟

[2022-10-03 20:59] AshishSharma1203 commented on #1400
Thanks for merging the PR. Closing the issue now .

[2022-10-03 20:59] #1400 closed

[2022-10-03 22:22] 201B153 commented on #1411
Can I work on it?

[2022-10-03 23:19] ComBarnea commented on #1330
Hey @alphaolomi, as you request I am assigning this to you :)

[2022-10-04 06:12] MrKrishnaAgarwal commented on #1391
**This action will check if it's the first pull request or issue to the repo and greet them.**

[2022-10-04 07:51] sebastiaanviaene opened #1417 "🐛 Bug Report: Sendgrid provider ignores credentials.senderName"
### 📜 Description

The sendgrid provider does not take into account the `senderName` property of the credentials, allthough it is required.
I have created a [PR](https://github.com/novuhq/novu/pull/1418) to fix the issue

### 👟 Reproduction steps

1. Configure the sendgrid provider as an email integration
2. Fill in the senderName
3. Trigger a notification with an email block in the workflow
4. Th

[2022-10-04 07:52] sebastiaanviaene commented on #1417
My PR can be found [here](https://github.com/novuhq/novu/pull/1418) 🤞

[2022-10-04 08:35] #1405 closed

[2022-10-04 08:46] codingis4noobs2 opened #1419 "i18n - Gujarati Support"
### 🔖 Feature description

Adding Gujarati Language Support

### 🎤 Why is this feature needed ?

For Gujarati Peoples, Who don't understand other languages or have trouble dealing with them.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages.
Add your translation import to the TRANSLATIONS object at packages/notification-center

[2022-10-04 08:49] #1419 closed

[2022-10-04 09:03] #1374 closed

[2022-10-04 11:00] rahmat-st opened #1422 "🚀 Feature: i18n - Indonesian Support"
### 🔖 Feature description

Adding Indonesian Language Support

### 🎤 Why is this feature needed ?

For Indonesian Peoples, Who don't understand other languages or have trouble dealing with them.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the TRANSLATIONS

[2022-10-04 14:04] sidbelbase commented on #1422
assign this task to me please?

[2022-10-04 14:19] rahmat-st commented on #1422
hey @sidbelbase, I want to wotk for it

[2022-10-04 15:13] pmontp19 opened #1426 "🚀 Feature: i18n - Add catalan support"
### 🔖 Feature description

Adding Catalan language support

### 🎤 Why is this feature needed ?

To reach more customers with a personalized UI for their language

### ✌️ How do you aim to achieve this?

I will add a new translations file in `/packages/notification-center/src/i18n/languages/ca.ts`.
Import the translations in `lang.ts` file, in the parent directory.
Add the new language to docs.
Sub

[2022-10-04 15:57] MihirShinde-29 commented on #1396
Hi @ainouzgali , my PR failed in one check and I can't understand it as I haven't changed anything which I think might cause any failure. Can you please review it once?

[2022-10-04 15:58] KlausMikhaelson commented on #1302
Thank you @scopsy will start working on it !

[2022-10-04 16:01] codingmickey commented on #1409
Yea wasted some of my time yesterday regarding it.. so should I work on this issue?

[2022-10-04 18:01] florian-lefebvre commented on #1409
Yes go for it!

[2022-10-04 18:17] abhilipsasahoo03 opened #1431 "docs: Fix broken image links in markdown files"
### 📜 Description

The image links show broken in Markdown files. The gif in README file shows broken in GitHub Android due to it being a large file.
Example:
![Screenshot_2022-10-04-23-07-30-750_com github android](https://user-images.githubusercontent.com/80174214/193890231-7767be21-9c93-4f19-b73e-64ad9401ad89.jpg)

### 👟 Reproduction steps

1. Click on Markdown files
2. Broken image link shows

[2022-10-04 18:59] mohamed-cherifi opened #1433 "🐛 Bug Report: Pagination issue for subscriber feed endpoint"
### 📜 Description

When querying the `/v1/subscribers/:subscriberId/notifications/feed` [endpoint](https://docs.novu.co/api/get-a-notification-feed-for-a-particular-subscriber/) the returned result only has the `data` object without the pagination.

ie:
[code]

### 👟 Reproduction steps

Query the `/v1/subscribers/:subscriberId/notifications/feed` endpoint

### 👍 Expected behavior

return something

[2022-10-04 19:59] kVarunkk commented on #1280
Hi @scopsy, I had one doubt. Will I be eligible to get swags as I've contributed to the documentation and not the issues?

[2022-10-04 23:28] #1367 closed

[2022-10-04 23:42] scopsy commented on #1280
Yes @kVarunkk this will count aswell!

[2022-10-04 23:46] gefgu commented on #1411
@slim-codes and @201B153 It seems the subheadings problem are already solved:
![image](https://user-images.githubusercontent.com/53129852/193950326-5f0d1b44-2217-414e-84de-ad85b6dab153.png)

[2022-10-04 23:49] 201B153 commented on #1411
ok i will find another issue

[2022-10-04 23:52] Charles502guru commented on #1397
Very nice

[2022-10-05 00:05] #1411 closed

[2022-10-05 01:39] chavda-bhavik opened #1435 "🐛 Bug Report: Missing environment variables"
### 📜 Description

**Error**
When starting a self-hosted `novu` docker container, `API` does not start and shows the following error,
![sentry-dsn_error](https://user-images.githubusercontent.com/50201755/193959129-92689052-3b81-4ec6-b4aa-ab7a74aa6b29.png)

**Warning**
Novu is now using `new-relic`, While starting self-hosted novu, it shows the following warning,
![novu_new-relic_errro](https://us

[2022-10-05 01:42] chavda-bhavik commented on #1435
@scopsy I checked and resolved the error locally, so if you think it's relevant, please assign it to me.

[2022-10-05 05:08] kVarunkk commented on #1280
Thanks!

[2022-10-05 08:53] Yash-sudo-web opened #1443 "🚀 Feature: i18n - Japanese Support"
### 🔖 Feature description

Adding Japanese language support.

### 🎤 Why is this feature needed ?

For Japanese people who are not familiar with English.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the TRANSLATIONS object at packages/notification-center/src

[2022-10-05 08:57] Yash-sudo-web commented on #1443
Pull Request #1444 will add this feature

[2022-10-05 09:19] viveknshah commented on #1397
Allowing others to take a shot as I am stuck on something else. Will circle back over the weekend if no one has picked it up to give it a shot.

[2022-10-05 10:00] novubot opened #1446 "[NV-1010] - Create webhook parser for SES (email)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-05 10:00] novubot opened #1447 "[NV-1007] - Create webhook parser for Mandrill (email)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-05 10:00] novubot opened #1448 "[NV-1006] - Create webhook parser for Mailjet (email)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-05 10:00] novubot opened #1449 "[NV-1013] - Create webhook parser for Twilio (sms)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-05 10:46] abhilipsasahoo03 commented on #1448
Hi @scopsy @ainouzgali @davidsoderberg I'd like to work on this issue!

[2022-10-05 10:47] scopsy commented on #1448
Hi @abhilipsasahoo03 assigning you 🙏

[2022-10-05 11:13] TheLearneer commented on #1449
Hi 👋

I would like to work on this issue 🙇

[2022-10-05 11:26] #1422 closed

[2022-10-05 11:33] Susmita-Dey opened #1452 "🚀 Feature: i18n - Korean Support"
### 🔖 Feature description

Adding Korean language support.

### 🎤 Why is this feature needed ?

For Korean people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: `packages/notification-center/src/i18n/languages`. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at `packages/notification-center/

[2022-10-05 11:57] #986 closed

[2022-10-05 12:04] Susmita-Dey opened #1454 "🚀 Feature: Improve README.md file"
### 🔖 Feature description

The link of Report bug in the `README.md` file needs to be updated.

### 🎤 Why is this feature needed ?

In my opinion, if there a bug then folks can report directly by creating a new issue to report bug

### ✌️ How do you aim to achieve this?

I want to modify the link of Report bug from <a href="https://github.com/novuhq/novu/issues">Report Bug</a> to <a href="https://

[2022-10-05 12:06] scopsy commented on #1454
Just assigned, that makes a lot of sense. Thank you @Susmita-Dey!

[2022-10-05 12:41] #1396 closed

[2022-10-05 13:12] #1426 closed

[2022-10-05 13:12] abhilipsasahoo03 commented on #1452
@Susmita-Dey I think this issue has been resolved in this PR https://github.com/novuhq/novu/pull/1420

[2022-10-05 13:13] scopsy commented on #1447
Sure thing @abhilipsasahoo03, thank you for your contribution!

[2022-10-05 13:15] scopsy commented on #1452
Indeed, closing this one 🙏

[2022-10-05 13:15] #1452 closed

[2022-10-05 13:16] scopsy commented on #1446
Just assigned @Kunal-8789 🙏

[2022-10-05 13:17] scopsy commented on #1408
@EmmaDawsonDev seems that the issue your having is with hacksquad project right? I will move it to the appropriate repository.

[2022-10-05 13:22] scopsy commented on #1409
@codingmickey I believe best would be to add something similar to https://docs.novu.co/api/client-libraries/ as an MD page describing the the Authorization process for the API.

[2022-10-05 13:23] #1404 closed

[2022-10-05 13:24] scopsy commented on #1348
Hi @olinabin2004 are you familiar with Nexmo? The goal of the issue is to create a documentation page for Nexmo similar to https://docs.novu.co/channels/email/sendgrid/ which located under the `docs/docs` folder in this repo

[2022-10-05 13:25] florian-lefebvre commented on #1409
We also have to explain how to access admin feature, using the Bearer token (personal login). Related to #1294

[2022-10-05 13:25] scopsy commented on #1323
@Wyfy0107 should I assign you ?

[2022-10-05 13:29] novubot opened #1456 "[NV-929] - Add cypress component test to NavMenu component"
## Why?

To help increase our test coverage within the `novu/web` project, we can add the newly released [cypress component tests](https://docs.cypress.io/guides/component-testing/testing-react).

## How?

A new component test file should be added located near the original source file(see example at `apps/web/src/design-system/button/button.cy.tsx` and could be run after running `npm run start` fr

[2022-10-05 13:29] novubot opened #1457 "[NV-928] - Add cypress component test to OrganizationSelect component"
## Why?

To help increase our test coverage within the `novu/web` project, we can add the newly released [cypress component tests](https://docs.cypress.io/guides/component-testing/testing-react).

## How?

A new component test file should be added located near the original source file(see example at `apps/web/src/design-system/button/button.cy.tsx` and could be run after running `npm run start` fr

[2022-10-05 13:29] novubot opened #1458 "[NV-927] - Add cypress component test to SideNav component"
## Why?

To help increase our test coverage within the `novu/web` project, we can add the newly released [cypress component tests](https://docs.cypress.io/guides/component-testing/testing-react).

## How?

A new component test file should be added located near the original source file(see example at `apps/web/src/design-system/button/button.cy.tsx` and could be run after running `npm run start` fr