[2022-10-05 13:29] novubot opened #1459 "[NV-934] - Add navigation to Activity feed in command palette"
**Why**

To make the navigation even easier we need to add it to the command palette…

**How**

This should be done in a global place but inside of the SpotLightProvider or inside of the Spotlight.tsx file.

To do this we need to add following: (example exists inside of Spotlight.tsx)

[code]

Please note that navigate comes form `react-router-dom` …

Id needs to be unique for every command and ne

[2022-10-05 13:29] novubot opened #1460 "[NV-938] - Add navigation to Changes in command palette"
**Why**

To make the navigation even easier we need to add it to the command palette…

**How**

This should be done in a global place but inside of the SpotLightProvider or inside of the Spotlight.tsx file.

To do this we need to add following: (example exists inside of Spotlight.tsx)

[code]

Please note that navigate comes form `react-router-dom` …

Id needs to be unique for every command and ne

[2022-10-05 13:29] novubot opened #1461 "[NV-936] - Add navigation to Settings in command palette"
**Why**

To make the navigation even easier we need to add it to the command palette…

**How**

This should be done in a global place but inside of the SpotLightProvider or inside of the Spotlight.tsx file.

To do this we need to add following: (example exists inside of Spotlight.tsx)

[code]

Please note that navigate comes form `react-router-dom` …

Id needs to be unique for every command and ne

[2022-10-05 13:29] novubot opened #1462 "[NV-1008] - Create webhook parser for PostMark (email)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-05 13:29] novubot opened #1463 "[NV-1009] - Create webhook parser for Sendinblue (email)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-05 13:29] novubot opened #1464 "[NV-1016] - Create webhook parser for Plivo (sms)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-05 13:29] novubot opened #1465 "[NV-1017] - Create webhook parser for Gupshup (sms)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-05 13:35] npv12 commented on #1461
Can you assign this one to me?

[2022-10-05 13:44] og118 commented on #1459
I would like to contribute to this issue. Please assign me this issue

[2022-10-05 14:16] novubot opened #1467 "[NV-991] - Test Mandrill provider connection when creating/updating integration"
## Why?

Currently, when the user connects a provider from the Integration store, there's no option to `Test the provider connection` before saving/updating it for wrong/bad credentials or other possible issues.

Without the `Test` functionality, the provider connection is saved with the possible wrong credentials and the issue is discovered at a much later stage.

We want to have a `Test` functio

[2022-10-05 14:16] novubot opened #1468 "[NV-994] - Test Nodemailer provider connection when creating/updating integration"
## Why?

Currently, when the user connects a provider from the Integration store, there's no option to `Test the provider connection` before saving/updating it for wrong/bad credentials or other possible issues.

Without the `Test` functionality, the provider connection is saved with the possible wrong credentials and the issue is discovered at a much later stage.

We want to have a `Test` functio

[2022-10-05 14:16] novubot opened #1469 "[NV-990] - Test Mailjet provider connection when creating/updating integration"
## Why?

Currently, when the user connects a provider from the Integration store, there's no option to `Test the provider connection` before saving/updating it for wrong/bad credentials or other possible issues.

Without the `Test` functionality, the provider connection is saved with the possible wrong credentials and the issue is discovered at a much later stage.

We want to have a `Test` functio

[2022-10-05 14:16] novubot opened #1470 "[NV-995] - Test Postmark provider connection when creating/updating integration"
## Why?

Currently, when the user connects a provider from the Integration store, there's no option to `Test the provider connection` before saving/updating it for wrong/bad credentials or other possible issues.

Without the `Test` functionality, the provider connection is saved with the possible wrong credentials and the issue is discovered at a much later stage.

We want to have a `Test` functio

[2022-10-05 14:16] novubot opened #1471 "[NV-997] - Test Amazon SES provider connection when creating/updating integration"
## Why?

Currently, when the user connects a provider from the Integration store, there's no option to `Test the provider connection` before saving/updating it for wrong/bad credentials or other possible issues.

Without the `Test` functionality, the provider connection is saved with the possible wrong credentials and the issue is discovered at a much later stage.

We want to have a `Test` functio

[2022-10-05 16:34] olinabin2004 commented on #1347
- [x] integrated the delivery provider to Novu,
- [x] linked a dedicated page for each provider with instructions on how to: Get An API Key, and
- [x] connected it to Novu.

#1348
# Updated the monorepo #1472

[2022-10-05 16:42] olinabin2004 commented on #1348
- [x] integrated the delivery provider to Novu,
- [x] linked a dedicated page for each provider with instructions on how to: Get An API Key, and
- [x] connected it to Novu.

#1348
# Updated the monorepo #1472

Is it a right way??

[2022-10-05 16:44] #1347 closed

[2022-10-05 17:13] mstomar698 commented on #1460
Hello! Can you assign this issue to me?

[2022-10-05 17:15] mstomar698 commented on #1458
Hello, Can you assign this Issue to me?

[2022-10-05 17:16] mstomar698 commented on #1456
Hello, Can you assign this Issue to me?

[2022-10-05 17:18] eigengravy commented on #1464
hi, i would love to work on this

[2022-10-05 17:35] Kunal-8789 commented on #1463
hello, Please assign this issue to me. I'm interested.

[2022-10-05 17:44] davidsoderberg commented on #1463
Hi, @Kunal-8789 please create a PR for this first and then I am happy to assign this to you 😄
https://github.com/novuhq/novu/issues/1446

[2022-10-05 17:53] #1443 closed

[2022-10-05 18:29] Yash-sudo-web opened #1475 "🚀 Feature: Danish Support"
### 🔖 Feature description

Adding Danish language support.

### 🎤 Why is this feature needed ?

For Danish people who are not familiar with English.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the TRANSLATIONS object at packages/notification-center/src/i18

[2022-10-05 18:48] no-1ne opened #1478 "🚀 Feature: google chat"
### 🔖 Feature description

Support Google chat

### 🎤 Why is this feature needed ?

Like slack, teams, looking for Google chat Support pls

### ✌️ How do you aim to achieve this?

Send notifications on Google chat

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check if this feature request has been raised before?

- [X] I checked and didn't find similar issue

###

[2022-10-05 19:37] L-390 commented on #1471
I'd like to give this a try.

[2022-10-05 19:43] saimaheshtaduri opened #1479 "🚀 Feature: create floating button to take to top of the page."
### 🔖 Feature description

The feature is to a floating action button, on click takes to the top of the page.

### 🎤 Why is this feature needed ?

As pages are getting longer, it is important to have a FAB that could take you quickly to the nav bar ( top of the page )

### ✌️ How do you aim to achieve this?

I can add a FAB component and add it to each page, so that the user can easily navigate to

[2022-10-05 19:54] saimaheshtaduri opened #1480 "🐛 Bug Report: repeatitive links in the footer"
### 📜 Description

There are two `a` tags that link to the same url. i.e. both contact us and discord have the same links. I think we can remove the contact us link, as the links to discord, twitter and github are already provided.

### 👟 Reproduction steps

1. Scroll to the bottom of the page
2. See that contact us and discord have the same links

### 👍 Expected behavior

I think, its better to r

[2022-10-05 20:15] saimaheshtaduri opened #1481 "🐛 Bug Report: typing a duplicate email in subscribe section"
### 📜 Description

When I type a email twice, The second time, its showing Oops! something went wrong. Instead there should be a specific error message like "email already subscibed"

### 👟 Reproduction steps

1. GO to blog
2. navigate to the subscribe section
3. try to give same email twice
4. the second time, its telling, "something went wrong" instead of "email already exists"

### 👍 Expected b

[2022-10-05 23:02] L-U-C-K-Y commented on #606
I support this enhancement as we can reuse our Postgres database provisioning process and existing knowledge!

[2022-10-05 23:09] krshkun commented on #138
@scopsy, can I work on this? Can I use twilio integration for the guide because I am familiar with it

[2022-10-05 23:14] scopsy commented on #1479
@saimaheshtaduri are you referncing here the novu.co site or the web management platform?

[2022-10-05 23:16] scopsy commented on #1456
Hi @mstomar698 I've already assigned you to a different issue. Unfortuently we don't allow more than one open assignment at this point.

Thank you so much for your support and contribution!

[2022-10-05 23:25] nidble opened #1483 "🐛 Bug Report: Pull request template contains a small typo"
### 📜 Description

After looking at PULL_REQUEST_TEMPLATE.md, I spotted that the second statement contains a tiny typo:
_Why this change was needed? (You can also link to an open issue here)_

### 👟 Reproduction steps

Looking at https://github.com/novuhq/novu/blob/main/.github/PULL_REQUEST_TEMPLATE.md

### 👍 Expected behavior

PULL_REQUEST_TEMPLATE.md with the following text (sort of):
_Why was t

[2022-10-06 00:19] emhng commented on #1462
Hi,
I'd like to work on this issue, can I be assigned?

[2022-10-06 01:30] chavda-bhavik commented on #1469
@scopsy I would like to work on it.

[2022-10-06 02:29] shikhar13012001 commented on #1456
I would like to work on this issue. Can you please assign this to me? @scopsy

[2022-10-06 03:40] jainpawan21 commented on #1433
@scopsy Can I work on this?

[2022-10-06 03:44] adicoder95 commented on #1478
I am willing to work on this issue as Hacktoberfest participant.

[2022-10-06 04:03] jainpawan21 commented on #1074
Yes @oba2311
I am waiting for figma design
ref:- https://discord.com/channels/895029566685462578/1020623095628824607/1021734069253447710

[2022-10-06 04:05] jainpawan21 commented on #1196
@scopsy
Any update on this?

[2022-10-06 04:27] adicoder95 commented on #1478
I am willing to work on this issue as Hacktoberfest participant.

[2022-10-06 05:13] Susmita-Dey commented on #1454
Solved using #1487

[2022-10-06 05:22] Susmita-Dey opened #1488 "🚀 Feature: i18n - Telugu Support"
### 🔖 Feature description

Adding Telugu language support.

### 🎤 Why is this feature needed ?

For Telugu people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: `packages/notification-center/src/i18n/languages`. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at `packages/notification-center/

[2022-10-06 05:37] Susmita-Dey commented on #1488
Completed by #1489

[2022-10-06 05:46] saimaheshtaduri commented on #1479
On novu.co website @scopsy

[2022-10-06 05:49] Susmita-Dey opened #1491 "🚀 Feature: i18n - Basque Support"
### 🔖 Feature description

Adding Basque language support.

### 🎤 Why is this feature needed ?

For Basque people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: `packages/notification-center/src/i18n/languages`. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at `packages/notification-center/

[2022-10-06 05:49] abhilipsasahoo03 opened #1492 "fix: fixes Odia translation for markAllAsRead field"
# Description

The current Odia translation:
 `markAllAsRead: 'ସମସ୍ତଙ୍କୁ ପଢ଼ିବା ପରି ଚିହ୍ନିତ କର'` translates to something in the lines of `mark all as to-be-read` which is not what we want.

# Solution:

It should be fixed to `markAllAsRead: 'ସମସ୍ତଙ୍କୁ ପଢ଼ିଥିବା ପରି ଚିହ୍ନିତ କର'` which most accurately describes the action.

### Note

I'd like to take up this issue.

[2022-10-06 05:56] Susmita-Dey opened #1494 "🚀 Feature: i18n - Lao Support"
### 🔖 Feature description

Adding Lao language support.

### 🎤 Why is this feature needed ?

For Lao people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: `packages/notification-center/src/i18n/languages`. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at `packages/notification-center/src/i1

[2022-10-06 06:46] abhilipsasahoo03 commented on #1492
Completed by PR #1493

[2022-10-06 06:46] #1492 closed

[2022-10-06 06:55] JayKaneriya11 opened #1496 "🐛 Bug Report:"
### 📜 Description

We deploy novu on AWS EC2 instance using docker for the testing purpose and we are very much satisfied with it. But when we are testing SMS  service using twilio, we find out that Handlebars template syntax is not working properly. We send payload in trigger SDK function and also added Handlebars variable in SMS template but still we are getting blank value in place of variable.

[2022-10-06 07:45] #1475 closed

[2022-10-06 08:45] BoseSj opened #1498 ""Table of Contents" in README"
- **I'm submitting a...**
   - [ ] bug report
   - [ ] feature request
   - [ ] question about the decisions made in the repository
   - [ ] question about how to use this project
   - [x] suggestion of change in documentation

- **Summary**
A `Table of Content` section would be great on the [README](https://github.com/novuhq/novu#readme) page.
    - It would help to navigate the page more efficie

[2022-10-06 08:50] olinabin2004 commented on #1465
Hello, I have not  found `SendgridEmailProvider` in code repository or I think I have  found but not sure that it is or not? Can you help me, I have understood the issue but have not figured out how it can be done?

[2022-10-06 09:01] BoseSj commented on #1498
I 'd like to work on this.

[2022-10-06 09:35] abhilipsasahoo03 opened #1499 "docs: Improve CONTRIBUTING.md file"
There are several errors in CONTRIBUTING.md file and there is scope for improvement.

For example:
![IMG_20221006_150502.jpg](https://user-images.githubusercontent.com/80174214/194279372-c842be0c-c212-42ba-b482-f8a08839e188.jpg)

I'd like to rectify these errors and make further improvement in the markdown file.

[2022-10-06 10:29] scopsy commented on #1417
<img width="892" alt="CleanShot 2022-10-06 at 11 28 33@2x" src="https://user-images.githubusercontent.com/8872447/194290726-9e094461-0ffe-4a8f-ac27-79d1aa426e07.png">

@oba2311 this was merged 2 days ago ☝️

[2022-10-06 10:29] #1417 closed

[2022-10-06 10:46] abhilipsasahoo03 commented on #1499
Completed by PR #1501

[2022-10-06 10:46] #1499 closed

[2022-10-06 11:14] #1498 closed

[2022-10-06 11:17] #1343 closed

[2022-10-06 13:13] #1461 closed

[2022-10-06 13:45] Priyanshu-Singh-1 commented on #1479
I am interested in this issue. Can you assign me this task @scopsy

[2022-10-06 14:37] thenishantsapkota opened #1503 "🚀 Feature: i18n - Turkish Support"
### 🔖 Feature description

Adding Turkish language support.

### 🎤 Why is this feature needed ?

For Turkish people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at packages/notification-center/s

[2022-10-06 14:40] ainouzgali commented on #1503
Hi @thenishantsapkota would you like to be assigned?

[2022-10-06 14:51] thenishantsapkota commented on #1503
I know some Turkish, so I created a pull request.

[2022-10-06 15:11] Sharanya98 commented on #1494
Can I work on this issue?

[2022-10-06 15:12] Sharanya98 commented on #1491
Can I work on this issue?

[2022-10-06 15:23] #1391 closed

[2022-10-06 16:23] saimaheshtaduri opened #1507 "🚀 Feature: update discussion link in CONTRIBUTING.md"
### 🔖 Feature description

updating github discussion link

### 🎤 Why is this feature needed ?

the link should redirect to a new discussion.

### ✌️ How do you aim to achieve this?

By replacing [Github discussion](https://github.com/orgs/novuhq/discussions)  to  [Github discussion](https://github.com/orgs/novuhq/discussions/new)

### 🔄️ Additional Information

_No response_

### 👀 Have you spent

[2022-10-06 16:32] saimaheshtaduri opened #1508 "🚀 Feature: update feature link in contributing.md"
### 🔖 Feature description

update feature submission link.

### 🎤 Why is this feature needed ?

It is better if the feature submission link directly redirects to new feature template page.

### ✌️ How do you aim to achieve this?

By replacing :
**If a feature is missing, you can request a new one by [submitting an issue](https://github.com/novuhq/novu/blob/main/CONTRIBUTING.md#submitting-an-issue)

[2022-10-06 17:30] Sanket2055 commented on #1507
i would like to work on this issue , please assign it to me !

[2022-10-06 17:41] thenishantsapkota opened #1509 "🚀 Feature: i18n - Maithili Support"
### 🔖 Feature description

Adding Maithili language support.

### 🎤 Why is this feature needed ?

For Maithili people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at packages/notification-center

[2022-10-06 17:41] thenishantsapkota commented on #1509
I'll work on this 😄

[2022-10-06 17:47] L-390 commented on #1471
I can't seem to find a Amazon SES test enpoint, or in fact any other endpoint than the send function.

Can I send an email from the "this.config.from" email address to "this.config.from" address and check the response on that?

[2022-10-06 18:42] Dilshan-H opened #1510 "🚀 Feature: Add i18n - Sinhala Support"
### 🔖 Feature description

- Add Sinhala language support.

### 🎤 Why is this feature needed ?

- For Sinhalese people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages.
- Add translation import to the TRANSLATIONS object at packages/notification-center/src/i18n/lang.ts
- Add the language c

[2022-10-06 20:06] nickprinsloo opened #1513 "🚀 Feature: Firetext SMS provider"
### 🔖 Feature description

Provider for the [Firetext SMS service](https://www.firetext.co.uk/)

### 🎤 Why is this feature needed ?

Firetext is a widely used UK based SMS API provider.

### ✌️ How do you aim to achieve this?

Implement as per provider guidelines

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check if this feature request has been raised before?

[2022-10-07 05:05] charlygg commented on #1458
Hello, can I try this requirement? It seems that the user @mstomar698 removed itself

[2022-10-07 05:07] Susmita-Dey commented on #1494
@Sharanya98 Find other issues as I'll creating PR

[2022-10-07 05:31] vedant-z commented on #1397
@ainouzgali I would like to try this issue.

May I have a little bit more clarification or example on how should I approach this one?

Like users of the [notification center ](https://docs.novu.co/notification-center/react-components)react component should be able to add a customized image in place of default "Bell" image ?

[2022-10-07 05:45] kaustav202 opened #1518 "🚀 Feature: i18n Language Support [ Bangla ]"
### 🔖 Feature description

Adding Bengali language support to the project.

### 🎤 Why is this feature needed ?

Will be helpful Bengali people who may not be familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
- Add the translation import to the TRANSLATIONS object at p

[2022-10-07 05:45] kaustav202 commented on #1518
Can I take this up?

[2022-10-07 05:51] davidsoderberg commented on #1518
yes sure I have assigned you @kaustav202

[2022-10-07 06:43] kailashchoudhary11 opened #1519 "Bug Report"
The bug is at blob/main/docs/docs/notification-center/react-components.md on the last line. Either the image is not loading and the link is point to a page which gives 404 not found.

[2022-10-07 07:37] #1483 closed

[2022-10-07 07:37] #1503 closed

[2022-10-07 08:19] thenishantsapkota opened #1524 "🐛 Bug Report: Issues in Sanskrit Translation of notification-center"
### 📜 Description

1. Translation for `notifications` is wrong
[code]
directly translates to "Announcements"

2. Translation for `poweredBy` is wrong
[code]
directly translates to "Controller"

### 👟 Reproduction steps

None

### 👍 Expected behavior

The translation should be accurate.

### 👎 Actual Behavior with Screenshots

The translation is quite misleading.

### 💻 Operating system

Linux

###

[2022-10-07 08:31] codingis4noobs2 opened #1525 "🚀 Feature: i18n Language Support [ Romanian ]"
### 🔖 Feature description

Adding Romanian language support to the project.

### 🎤 Why is this feature needed ?

It will be helpful Romanian people who may not be familiar with English.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages.
Add the translation import to the TRANSLATIONS object at packages/notification-center/src/i

[2022-10-07 08:59] codingis4noobs2 commented on #1525
mulțumesc 😹 @davidsoderberg

[2022-10-07 10:01] abhilipsasahoo03 opened #1529 "docs: Improve PR template"
The current PR template (as shown below) isn't much detailed and misses out on certain important points. It is quite useful to make sure to follow a standard process for every pull request and to have a to-do list for the author to check before requesting a review (which the current template lacks).

![Screenshot_2022-10-07-15-28-18-897_com.github.android.jpg](https://user-images.githubusercontent

[2022-10-07 10:02] abhilipsasahoo03 commented on #1529
@scopsy @davidsoderberg kindly assign :)

[2022-10-07 11:41] BoseSj commented on #1508
Submitted a PR regarding this issue. #1533

[2022-10-07 11:54] abhilipsasahoo03 commented on #1519
The potential reason is listed in PR #1432 check it out

[2022-10-07 12:19] Ankit12453 commented on #1478
I want to work on this issue as Hacktoberfest22 participant.

[2022-10-07 12:26] saimaheshtaduri commented on #1508
@BoseSj you need to get an issue assigned to you first before working on it. This issue is raised by me and I'm waiting for @scopsy  to assign me this issue.

[2022-10-07 12:30] BoseSj commented on #1508
Okay. I rediscovered the issue while going through the docs. So created a PR. Then I saw your issue, and also noticed that it is > 20hrs already and still not assigned to anyone. Thought it would be good to mention it in my PR. TY😄

[2022-10-07 14:02] jainpawan21 commented on #941
This issue can be closed since PR is merged!

[2022-10-07 15:05] #941 closed

[2022-10-07 15:29] TheZal opened #1539 "🐛 Bug Report: Issue in Italian Translation of notification center"
### 📜 Description

The translation file is missing the `settings` keyword

### 👟 Reproduction steps

None

### 👍 Expected behavior

There should be the translation for `settings`

### 👎 Actual Behavior with Screenshots

The translation is missing

### 💻 Operating system

Windows

### 🤖 Node Version

18.10.0

### 📃 Provide any additional context for the Bug.

I would like to fix this if you assign

[2022-10-07 15:52] jainpawan21 commented on #790
Hi @ainouzgali Can you please add hacktoberfest tag also, it will be more visible for hacktoberfest interested developer

[2022-10-07 15:54] jainpawan21 commented on #666
Hi @AakashRaj20
Do you need any help in this?
You can message us in help-needed channel in discord or DM me

[2022-10-07 16:07] jainpawan21 commented on #829
Hi @devblin, Do you need any help in this?

[2022-10-07 18:35] Wyfy0107 commented on #1323
Btw where can I write the docs ?

[2022-10-07 18:50] florian-lefebvre commented on #1323
At https://github.com/novuhq/api-docs/tree/main/content/code-examples but I'd recommend waiting for now, there is an ongoing discussion on discord about errors in the project. If an issue is opened I'll post the link here

[2022-10-07 18:51] devblin commented on #829
@jainpawan21 Hey, thanks for asking, I am able to work on this, thanks again.

[2022-10-07 19:53] saimaheshtaduri commented on #1507
@scopsy

[2022-10-07 19:53] saimaheshtaduri commented on #1508
@scopsy

[2022-10-07 21:15] ludovicobesana commented on #1457
@scopsy Hello if you want I can take this

[2022-10-07 21:16] ludovicobesana commented on #1456
@scopsy If you want I can work on this

[2022-10-07 21:17] ludovicobesana commented on #1458
@scopsy If you want I can work on this

[2022-10-07 21:17] #1459 closed

[2022-10-08 05:52] kaustav202 commented on #1518
I turns out the feature was added with #1139  but the the translation file has some inaccuracies so I'm raising a new issue

[2022-10-08 05:52] #1518 closed

[2022-10-08 06:06] kaustav202 opened #1550 "🐛 Bug Report: Inaccurate Translation in bn.ts [ Bengali Lang ]"
### 📜 Description

The current translation for notifications in Bengali lang translation file  bn.ts is  বিজ্ঞপ্তি which means **notice** and hence inaccurate.

### 👟 Reproduction steps

navigate to  https://github.com/novuhq/novu/blob/main/packages/notification-center/src/i18n/languages/bn.ts

### 👍 Expected behavior

The attribute value should translate to notifications

### 👎 Actual Behavior wi

[2022-10-08 06:06] Yash-sudo-web opened #1551 "🚀 Feature: Vietnamese Support"
### 🔖 Feature description

Adding Vietnamese language support.

### 🎤 Why is this feature needed ?

For Vietnamese people who are not familiar with English.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the TRANSLATIONS object at packages/notification-center

[2022-10-08 06:07] kaustav202 commented on #1550
Can I be assigned to this ?

[2022-10-08 06:11] Yash-sudo-web commented on #1551
pull request #1552 will implement this.

[2022-10-08 06:29] devblin commented on #829
@scopsy Please review PR: https://github.com/novuhq/novu/pull/1553/files , this fixes the first bug mentioned.
For other bug fixes, I will make the PR by today.

[2022-10-08 06:52] Susmita-Dey commented on #1494
Completed by #1555

[2022-10-08 07:00] #1551 closed

[2022-10-08 07:09] akshitagupta15june opened #1556 "i18n - Norwegian support"
### 🔖 Feature description

Feature to add i18n - Norwegian Language Support

### 🎤 Why is this feature needed ?

For Norwegian people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at packages/not

[2022-10-08 07:29] Susmita-Dey opened #1557 "🚀 Feature: i18n - Hmong Support"
### 🔖 Feature description

Adding Hmong language support.

### 🎤 Why is this feature needed ?

For Hmong people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: `packages/notification-center/src/i18n/languages`. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at `packages/notification-center/sr

[2022-10-08 07:37] Susmita-Dey opened #1558 "🚀 Feature: i18n - Filipino Support"
### 🔖 Feature description

Adding Filipino language support.

### 🎤 Why is this feature needed ?

For Filipino people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: `packages/notification-center/src/i18n/languages`. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at `packages/notification-cen

[2022-10-08 07:49] Smartmind12 commented on #1019
@scopsy & maintainers can i work on this issue for Hacktoberfest 2022?

[2022-10-08 07:55] RajdeepDs commented on #1465
@scopsy Please assign me this issue

[2022-10-08 08:07] RajdeepDs opened #1560 "🚀 Feature: i18n Language support (Hindi)"
### 🔖 Feature description

Adding Hindi Language support.

### 🎤 Why is this feature needed ?

For Hindi people who are not familiar with English

### ✌️ How do you aim to achieve this?

- Add a new translation file here: `packages/notification-center/src/i18n/languages` . You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at `package/notification-center/src

[2022-10-08 08:21] munyoudoum opened #1561 "🚀 Feature: i18n Khmer language"
### 🔖 Feature description

Add Khmer language support

### 🎤 Why is this feature needed ?

For Cambodian apps

### ✌️ How do you aim to achieve this?

Khmer translation

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check if this feature request has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X]

[2022-10-08 08:24] kailashchoudhary11 opened #1562 "🐛 Bug Report: Invalid Discord Link In Contributing.md"
### 📜 Description

The Link has expired!

### 👟 Reproduction steps

Open Contributing.md file. Go to Need help section. Click on Discord Channel.

### 👍 Expected behavior

We should we redirected to the discord server of novuhq.

### 👎 Actual Behavior with Screenshots

Not applicable

### 💻 Operating system

Windows

### 🤖 Node Version

16.16.0

### 📃 Provide any additional context for the Bug.

_

[2022-10-08 11:32] #1556 closed

[2022-10-08 12:17] Asmit2952 commented on #1560
There's already a PR submitted on this language: https://github.com/novuhq/novu/pull/963

[2022-10-08 12:20] Asmit2952 opened #1568 "🚀 Feature: i18n - Dutch language support"
### 🔖 Feature description

Recently we introduced an easy way to add translations for the @novu/notification-center component interface. So you can either specify a translation object or pass a premade translation. Read more about it on the [docs](https://docs.novu.co/notification-center/react-components#customize-the-ui-language).

### 🎤 Why is this feature needed ?

For Dutch people who don't un

[2022-10-08 12:25] #1560 closed

[2022-10-08 13:46] abhilipsasahoo03 opened #1570 "Update link to "Report Bug" in the README.md file"
### 🔖 Feature description

The link of Report Bug in the `README.md` file needs to be updated to direct them to create a new `Report Bug` issue.

### 🎤 Why is this feature needed ?

In my opinion, if there is a bug, folks can report directly by creating a new issue through the `Report Bug` link. However, currently it directs them to list of issues.

### ✌️ How do you aim to achieve this?

I want t

[2022-10-08 13:47] abhilipsasahoo03 commented on #1570
@BoseSj I'd like to work on this :)

[2022-10-08 14:16] Chaitanya-087 commented on #1570
Hi! I would like to work on this issue

[2022-10-08 14:19] abhilipsasahoo03 commented on #1570
Hi, a PR has already been created for this issue.

[2022-10-08 15:08] ludovicobesana commented on #1456
@scopsy I'm working on this :)

[2022-10-08 17:53] bishal7679 opened #1573 "🚀 Feature: Update the Link of `Discord` `Slack` `FCM` `Expo` in provider section"
### 🔖 Feature description

Update the Link of `Discord` `Slack` `FCM` `Expo` in provider section

### 🎤 Why is this feature needed ?

As Slack, Discord, FCM, EXPO providers are already added to the main codebase. So we should update the corresponding link in the `#provider` list

### ✌️ How do you aim to achieve this?

Linking the already added providers in README.md

### 🔄️ Additional Information

[2022-10-08 20:35] BoseSj opened #1577 "🚀 Feature: Show Activity Feed image in activity-feed.md"
### 🔖 Feature description

Showing Activity Screen/Feed image in [activity-feed.md](https://github.com/novuhq/novu/blob/87c95ead141c117bef75fd5fdf75752426cb0cbe/docs/docs/platform/activity-feed.md) in place of the given link which redirects to the image.

### 🎤 Why is this feature needed ?

- As the given [link](https://github.com/novuhq/novu/blob/main/img/activity.png) takes to a page that contai

[2022-10-09 04:33] AraanBranco commented on #1446
Can I try this one? @scopsy

[2022-10-09 09:07] VoidCupboard commented on #1324
Is @aggmoulik working on this? If he isn't able to do it (I has been over a week), I would be glad to work on this issue :)

[2022-10-09 09:29] florian-lefebvre commented on #1294
Currently, the api keys is stored in an array in the database per environment, which doesn't really make sense in my opinion. It might be better to have 2 properties instead like `apiKey` and `adminKey`. Wdyt?
cc @scopsy

[2022-10-09 10:05] YuriDevAT commented on #1573
Hi. I would like to work on this issue.

[2022-10-09 10:13] YuriDevAT commented on #1573
Thank for letting me know @bishal7679 👍🏽

[2022-10-09 10:17] akshitagupta15june opened #1581 "🚀 Feature: i18n - Swedish Language support"
### 🔖 Feature description

Feature to add i18n - Swedish Language Support

### 🎤 Why is this feature needed ?

For people who are not familiar with English.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
- Add your translation import to the TRANSLATIONS object at packages/notification-ce

[2022-10-09 12:12] aggmoulik commented on #1324
@VoidCupboard Yes, I will fix this today.

[2022-10-09 15:21] Smartmind12 opened #1585 "🚀 Feature: i18n - Azerbaijani Language support"
### 🔖 Feature description

Feature to add i18n - Azerbaijani Language Support

### 🎤 Why is this feature needed ?

For people who are not familiar with English but are familiar with Azerbaijani.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
- Add your translation import to the TRANSLATI

[2022-10-09 15:24] Cliftonz commented on #1294
That would be a decent interim solution, however, I think the better option would be to create an RBAC policy controller that can apply to both users and api-tokens agnostically. The "admin" token would just have all the policies attached to it.

However, I know this is a much bigger project then defined here.

[2022-10-09 15:39] akshitagupta15june opened #1586 "🚀 Feature: to add i18n - Igbo Language Support"
### 🔖 Feature description

Igbo language is spoken by the nigerian population and I am in contact with a native speaker so they will verify in the pull request too.

### 🎤 Why is this feature needed ?

This feature is needed for the people who don't know english

### ✌️ How do you aim to achieve this?

I have contacted my nigerian close friend and as he is the native speaker so he has helped me wi

[2022-10-09 15:47] Smartmind12 commented on #1585
@davidsoderberg @p-fernandez @scopsy Kindly review this PR

[2022-10-09 16:03] Smartmind12 opened #1588 "🚀 Feature: Add i18n - Uzbek Language Support"
### 🔖 Feature description

People in Uzbekistan speak in Uzbek so this feature is to help them.

### 🎤 Why is this feature needed ?

This feature is needed for the people who don't know english but know Uzbek.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
- Add your translation import t

[2022-10-09 16:20] Smartmind12 commented on #1588
@davidsoderberg @p-fernandez @scopsy Kindly review this PR

[2022-10-09 17:46] bhattabhi013 opened #1591 "🚀 Feature: Add i18n - SpanishLanguage Support"
### 🔖 Feature description

People in Spain speak Spanish so this feature is to help them.

### 🎤 Why is this feature needed ?

This feature is needed for people who don't know English but know Spanish.

### ✌️ How do you aim to achieve this?

-Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
-Add your translation import to the TRAN

[2022-10-09 17:48] codingis4noobs2 opened #1592 "🚀 Feature: Add i18n - Zulu Language Support"
### 🔖 Feature description

People in South Africe(RSA) speak in Zulu so this feature is to help them.

### 🎤 Why is this feature needed ?

This feature is needed for the people who don't know English, but know Zulu

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import

[2022-10-09 18:00] Smartmind12 commented on #1591
Hey @bhattabhi013 ! There's already a PR submitted on this language: https://github.com/novuhq/novu/pull/944

[2022-10-09 18:07] codingis4noobs2 opened #1594 "🚀 Feature: Add i18n - Thai Language support"
### 🔖 Feature description

People in Thailand speak in Thai so this feature is to help them.

### 🎤 Why is this feature needed ?

This feature is needed for the people who don't know English, but know Thai.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the T

[2022-10-09 18:23] bishal7679 opened #1596 "🚀 Feature: Add a dependabot to Automate dependency checks"
### 🔖 Feature description

Adding a dependabot to Automate dependency checks very easily.

### 🎤 Why is this feature needed ?

To automate the dependency checking it is needed!

### ✌️ How do you aim to achieve this?

Want to add a dependabot.yml to create a dependabot

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check if this feature request has been raised bef

[2022-10-09 19:48] jgoerner commented on #836
@raikasdev would you mind if I tackle this one? 😊

[2022-10-10 04:16] #1525 closed

[2022-10-10 04:23] #1591 closed

[2022-10-10 04:48] #1586 closed

[2022-10-10 06:37] #1581 closed

[2022-10-10 09:30] ranrib opened #1603 "🚀 Feature: Add i18n - Hebrew Language support"
### 🔖 Feature description

People in Israel speak Hebrew, so this feature is to help them.

### 🎤 Why is this feature needed ?

This feature is needed for people who don't know English but know Hebrew.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the TRANSL

[2022-10-10 10:10] #1449 closed

[2022-10-10 10:15] #1603 closed

[2022-10-10 10:15] #1550 closed

[2022-10-10 11:29] #1510 closed

[2022-10-10 11:52] #1524 closed

[2022-10-10 11:57] AbbeyIT commented on #1558
Can I work on this issue?

[2022-10-10 12:13] davidsoderberg commented on #1558
@AbbeyIT there is already a PR for this but please review it if you like 😄

[2022-10-10 12:14] AbbeyIT commented on #1558
Sure!

[2022-10-10 12:47] fms12 commented on #1464
@davidsoderberg  and @scopsy  can I work on this issue?

[2022-10-10 13:20] #1561 closed

[2022-10-10 18:05] jainpawan21 commented on #1446
Hi @Kunal-8789
How is it going with this issue?
If you need any help ping us in discord!

[2022-10-10 18:17] jainpawan21 commented on #1319
Hi @developer-diganta,
Do you need any help in this issue?

[2022-10-10 18:18] jainpawan21 commented on #1320
Ping us in discord, if you need any help in this.

[2022-10-10 18:33] jainpawan21 commented on #1321
Hi @deepak-sreekumar,
I hope you are working on this issue.
If you need any help, Let us know in our discord!

[2022-10-10 19:42] codingmickey commented on #1409
yea was this thinking of doing something similar to that, but I can't find where the source of this is located, like where are the API docs defined?

[2022-10-10 19:52] florian-lefebvre commented on #1409
https://github.com/novuhq/api-docs/tree/main/content/

[2022-10-10 19:55] codingmickey commented on #1409
Thanks, aTON!! I thought I was even unable to find such a thing and would feel dumb for asking

[2022-10-10 19:56] florian-lefebvre commented on #1409
There are issues while running it so I suggest you only edit/add markdown and make a PR

[2022-10-10 21:20] harshagrawal523 opened #1619 "🐛 Bug Report: Grammatical Error in ReadMe File"
### 📜 Description

In the **Why** section , there are grammatical errors and language errors.

### 👟 Reproduction steps

1. Go to Readme.md
2. Why section

### 👍 Expected behavior

Building a notification system is hard; at first, it seems like just sending an email, but in reality, it's just the beginning. Users today expect a multi-channel communication experience via email, SMS, push, chat, and

[2022-10-10 21:25] harshagrawal523 commented on #1619
Please review the [PR](https://github.com/novuhq/novu/pull/1620) here

[2022-10-11 00:00] manchicken commented on #1315
Is this issue up-to-date?

[2022-10-11 01:57] washbin opened #1622 "🚀 Feature: standardize novu's discord server link"
### 🔖 Feature description

Currently different places in codebase use different links to link to novu's discord server, some of which are broken.
If we standardize all to a same link, It will be easier to update in the future as well.

### 🎤 Why is this feature needed ?

I came across a broken discord server link, then thought of updating it. Later on I again came across another broken link.
This

[2022-10-11 02:04] washbin commented on #1622
Have addressed the issue in #1623

[2022-10-11 08:07] #1454 closed

[2022-10-11 08:09] florian-lefebvre commented on #1315
Yes, it's tracking other issues. So if those are not closed, checklist elements are still marked as undone. I don't know if that answers your question.

For instance, some PRs have be made to update the actual code (and merged) but the related docs haven't been updated yet so they are not closed yet.

[2022-10-11 08:10] #1594 closed

[2022-10-11 08:13] #1577 closed

[2022-10-11 08:17] ainouzgali commented on #1539
Sure! I assigned you @TheZal

[2022-10-11 08:29] ainouzgali commented on #1596
I am closing this for now, as discussed in the suggested PR. Thank you @bishal7679 !

[2022-10-11 08:29] #1596 closed

[2022-10-11 08:57] #1585 closed

[2022-10-11 09:59] #1588 closed

[2022-10-11 10:14] oba2311 commented on #1478
@Ankit12453  you got it, good luck!

[2022-10-11 10:21] #1622 closed

[2022-10-11 13:37] #1619 closed

[2022-10-11 13:46] #1573 closed

[2022-10-11 13:47] #1570 closed

[2022-10-11 13:49] #1568 closed

[2022-10-11 13:53] sebastiaanviaene opened #1633 "🐛 Bug Report: Delayed digested flow digests but sends notification multiple times"
### 📜 Description

My workflow as follows:

- I delay the messages with a scheduledAt parameter to wait until a certain time (tomorrow 8AM for example)
- I then put a digest block to combine those delayed messages into a "Daily update mail" for 10 seconds (assuming the workflow won't take much time to send them to the next block)

It seems if I am sending 2 messages like this, it sends me 2 digest

[2022-10-11 13:54] #1433 closed

[2022-10-11 13:56] #1529 closed

[2022-10-11 13:59] jainpawan21 commented on #1519
@kailashchoudhary11 can you please add screenshot for better understanding. I am unable to find exact issue

[2022-10-11 14:03] #1508 closed

[2022-10-11 14:04] jainpawan21 commented on #1507
@saimaheshtaduri Do you like to work on this?

[2022-10-11 14:06] #1460 closed

[2022-10-11 14:08] saimaheshtaduri commented on #1507
yes! please assign to me.

[2022-10-11 14:11] #1488 closed

[2022-10-11 14:13] jainpawan21 commented on #1478
@Ankit12453
If you face any issue while implementing this, feel free to ask in our discord help-needed channel
https://discord.com/channels/895029566685462578/1019663407915483176

[2022-10-11 14:16] #1468 closed

[2022-10-11 14:16] #1467 closed

[2022-10-11 14:20] jainpawan21 commented on #1465
@olinabin2004 @Hirdey-1999 @RajdeepDs
Please look into this PR implementation
https://github.com/novuhq/novu/pull/1506

let me know if any one of you is interested to work on this?

[2022-10-11 14:21] #1435 closed

[2022-10-11 14:21] scopsy commented on #1633
@ainouzgali could you please take a look at this one? I don't see a reason of why it might not work.

[2022-10-11 14:22] Hirdey-1999 commented on #1465
I am interested to work on this issue but i need a bit help

[2022-10-11 14:28] jainpawan21 commented on #1507
Awesome, Some one from Novu team will review your PR

[2022-10-11 14:28] ainouzgali commented on #1633
Yes, I will look into it.

[2022-10-11 14:30] jainpawan21 commented on #1465
Sure I am assigning you
Feel free to join our discord.
We will be happy to help you

[2022-10-11 14:37] jainpawan21 commented on #1397
@vedant-z, I am assigning you.

Look into [this](https://github.com/novuhq/novu/pull/1365) PR
There should be support of passing image as prop like this

If still it is not clear to you on how to approach this?
Feel free to ask us in our discord channel.

[2022-10-11 14:38] jainpawan21 commented on #1457
I assigned you @ludovicobesana 🎉

[2022-10-11 14:39] Hirdey-1999 commented on #1465
Thanks For Assigning

[2022-10-11 14:41] jainpawan21 commented on #1386
Hi @vish-han
How is it going with issue implementation.
Let us know if you need any help

[2022-10-11 14:42] DonnachaHeff commented on #1491
Can I pick this issue up?

[2022-10-11 14:43] jainpawan21 commented on #1348
@Rutam21
Are you still interested to work on this?

[2022-10-11 14:43] jainpawan21 commented on #1346
@DevTomilola-OS
How is it going with this issue?
Do you need any help?

[2022-10-11 14:44] #1345 closed

[2022-10-11 14:44] #1344 closed

[2022-10-11 14:46] jainpawan21 commented on #1323
@Wyfy0107
Let us know if you need help in this.

[2022-10-11 15:13] florian-lefebvre commented on #1322
Has the doc been updated @jainpawan21? If not please let this issue open

[2022-10-11 15:55] #1183 closed

[2022-10-11 16:31] Smartmind12 opened #1642 "🐛 Bug Report: Updating Novu Handbook"
### 📜 Description

Most of the logos and wbesite links are yet to be attached in the Novu Handbook.

### 👟 Reproduction steps

Check it out at (https://handbook.novu.co/tools)

### 👍 Expected behavior

All links and logos for all company sites/ providers should be updated.

### 👎 Actual Behavior with Screenshots

![Screenshot 2022-10-11 at 9 57 49 PM](https://user-images.githubusercontent.com/9192

[2022-10-11 16:48] scopsy commented on #1642
Thanks for letting us know! Unfortunately the handbook is not available for outside edits. But passed this internally so we can try to fix this ASAP. Closing this for now here as it's not related to the Novu codebase.

[2022-10-11 16:48] #1642 closed

[2022-10-11 16:57] scopsy commented on #1496
This might be related to a bug we fixed, do you mind trying to pull the `latest` github tag? We will be releasing a patch release with the fix soon. For now it's only available on the managed version.

[2022-10-11 17:21] novubot opened #1645 "[NV-1005] - Create webhook parser for NetCore (email)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-11 17:21] novubot opened #1646 "[NV-1012] - Create webhook parser for Telnyx (sms)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-11 17:21] novubot opened #1647 "[NV-1015] - Create webhook parser for Termii (sms)"
**Why**

To be able to give better answers why a message was not sent to a subscriber we need to get some info from the provider with a webhook. (deliverability status, rejection status etc).

**How**

To do this we need to implement these functions inside of the provider:

[code]

The `getMessageId` needs to return all identifiers that should be the same value as id that is returned from `sendMes

[2022-10-11 17:21] novubot opened #1648 "[NV-988] - Test MailerSend provider connection when creating/updating integration"
## Why?

Currently, when the user connects a provider from the Integration store, there's no option to `Test the provider connection` before saving/updating it for wrong/bad credentials or other possible issues.

Without the `Test` functionality, the provider connection is saved with the possible wrong credentials and the issue is discovered at a much later stage.

We want to have a `Test` functio

[2022-10-11 17:21] novubot opened #1649 "[NV-984] - Test EmailJS provider connection when creating/updating integration"
**Why?**

Currently, when the user connects a provider from the Integration store, there's no option to `Test the provider connection` before saving/updating it for wrong/bad credentials or other possible issues.
Without the `Test` functionality, the provider connection is saved with the possible wrong credentials and the issue is discovered at a much later stage.
We want to have a `Test` function

[2022-10-11 17:21] novubot opened #1650 "[NV-957] - `@novu/node`: complete the feed module"
* [ ] Create
* [ ] Get
* [ ] Delete
* [ ] Update (no endpoint or not documented)
* [ ] Completed docs

Feel free to tell me if there's more I'm missing and I'll update the list.
**Issue URL:** [https://github.com/novuhq/novu/issues/1324](https://github.com/novuhq/novu/issues/1324)

[2022-10-11 17:21] novubot opened #1651 "[NV-958] - `@novu/node`: complete the environments module"
* [ ] Get current
* [ ] Get all
* [ ] Create
* [ ] Get API keys
* [ ] Update widget settings
* [ ] Update (no endpoint or not documented)
* [ ] Delete (no endpoint or not documented)
* [ ] Completed docs

Feel free to tell me if there's more I'm missing and I'll update the list.
**Issue URL:** [https://github.com/novuhq/novu/issues/1323](https://github.com/novuhq/novu/issues/1323)

[2022-10-11 17:21] novubot opened #1652 "[NV-959] - `@novu/node`: complete the changes module"
* [ ] Get
* [ ] Get count
* [ ] Apply one
* [ ] Apply many
* [ ] Completed docs

Feel free to tell me if there's more I'm missing and I'll update the list.
**Issue URL:** [https://github.com/novuhq/novu/issues/1322](https://github.com/novuhq/novu/issues/1322)

[2022-10-11 17:21] novubot opened #1653 "[NV-960] - `@novu/node`: complete the notification groups module"
* [ ] Get all
* [ ] Get one (no endpoint)
* [ ] Create
* [ ] Update (no endpoint)
* [ ] Delete (no endpoint)
* [ ] Completed docs

Feel free to tell me if there's more I'm missing and I'll update the list.
**Issue URL:** [https://github.com/novuhq/novu/issues/1321](https://github.com/novuhq/novu/issues/1321)

[2022-10-11 17:21] novubot opened #1654 "[NV-961] - `@novu/node`: complete the notification templates module"
* [ ] Get all
* [ ] Get one
* [ ] Create
* [ ] Update
* [ ] Delete
* [ ] Update status
* [ ] Completed docs

Feel free to tell me if there's more I'm missing and I'll update the list.
**Issue URL:** [https://github.com/novuhq/novu/issues/1320](https://github.com/novuhq/novu/issues/1320)

[2022-10-11 17:21] novubot opened #1655 "[NV-924] - Add cypress component test to ActivityStatistics component"
## Why?

To help increase our test coverage within the `novu/web` project, we can add the newly released [cypress component tests](https://docs.cypress.io/guides/component-testing/testing-react).

## How?

A new component test file should be added located near the original source file(see example at `apps/web/src/design-system/button/button.cy.tsx` and could be run after running `npm run start` fr

[2022-10-11 17:21] novubot opened #1656 "[NV-931] - Add cypress component test to BrandingForm component"
## Why?

To help increase our test coverage within the `novu/web` project, we can add the newly released [cypress component tests](https://docs.cypress.io/guides/component-testing/testing-react).

## How?

A new component test file should be added located near the original source file(see example at `apps/web/src/design-system/button/button.cy.tsx` and could be run after running `npm run start` fr

[2022-10-11 17:21] novubot opened #1657 "[NV-919] - Create a SMS77 provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-11 17:21] novubot opened #1658 "[NV-925] - Add cypress component test to ProviderCard component"
## Why?

To help increase our test coverage within the `novu/web` project, we can add the newly released [cypress component tests](https://docs.cypress.io/guides/component-testing/testing-react).

## How?

A new component test file should be added located near the original source file(see example at `apps/web/src/design-system/button/button.cy.tsx` and could be run after running `npm run start` fr

[2022-10-11 17:21] novubot opened #1659 "[NV-921] - Create a Telnyx provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-11 17:21] Smartmind12 opened #1660 "🚀 Feature: Add i18n - Armenian Language Support"
### 🔖 Feature description

People in Armenia speak in armenian so this feature is to help them.

### 🎤 Why is this feature needed ?

This feature is needed for the people who don't know english but know Armenian.

### ✌️ How do you aim to achieve this?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
- Add your translation impor

[2022-10-11 17:21] novubot opened #1661 "[NV-912] - Create a Nodemailer provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-11 17:21] novubot opened #1662 "[NV-922] - Create a Twillio provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-11 17:21] novubot opened #1663 "[NV-910] - Create a Mailjet provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-11 17:21] novubot opened #1664 "[NV-914] - Create a Send In Blue provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-11 17:21] novubot opened #1665 "[NV-909] - Create a Email.js provider documentation page"
## Why?

To help our users easily integrate the delivery provider to Novu, we can create a dedicated page for each provider with instructions on how to: Get An API Key, create necessary adjustments and configurations on the provider side, and connect it to Novu.

## How?

You can look at the [SendGrid](https://docs.novu.co/channels/email/sendgrid) and [Slack](https://docs.novu.co/channels/chat/sla

[2022-10-11 17:37] #1650 closed

[2022-10-11 17:37] #1651 closed

[2022-10-11 17:37] #1652 closed

[2022-10-11 17:37] #1653 closed

[2022-10-11 17:37] #1654 closed

[2022-10-11 18:00] priyanshkulshrestha commented on #1665
I would like to work on it, please assign it to me !!

[2022-10-11 18:02] ainouzgali commented on #1665
Great! Assigned you @priyanshkulshrestha .

[2022-10-11 18:23] das-amit opened #1668 "🐛 Bug Report: Issue in Finnish Translation of notification center"
### 📜 Description

The translation file is missing the settings keyword

### 👟 Reproduction steps

None

### 👍 Expected behavior

There should be the translation for _settings_

### 👎 Actual Behavior with Screenshots

The translation is missing
![Screenshot (818)](https://user-images.githubusercontent.com/91092039/195169847-ccdd46fc-21b2-4f5e-969e-4d350e0ab276.png)

### 💻 Operating system

Windows

[2022-10-11 18:26] ainouzgali commented on #1668
Awesome. Should I assign you, @das-amit ?

[2022-10-11 18:29] das-amit commented on #1668
@ainouzgali sure, I would like to contribute:)

[2022-10-11 19:07] DevTomilola-OS commented on #1346
Submitting a PR soon.

[2022-10-11 19:18] #1668 closed

[2022-10-11 19:27] codingmickey commented on #1320
I've done with the implementation but for testing I am unable to access the Create notifications-templates

###
[code]

### Here is the body which I am sending
[code]
### This is the response I am receiving
![image](https://user-images.githubusercontent.com/42518907/195181295-132a4436-b685-4ffb-a6d7-c82b31e6223f.png)

[2022-10-11 19:41] florian-lefebvre commented on #1323
As promised: https://github.com/novuhq/api-docs/issues/13

[2022-10-11 19:43] codingmickey commented on #1661
I would like to work on this issue!

[2022-10-11 19:46] florian-lefebvre commented on #1320
Not sure but based on tests on a project, you need to provide more fields:
- https://github.com/op-ent/api/blob/main/app/Services/Notification/setup-novu.ts#L86
- https://github.com/op-ent/api/blob/main/config/notifications.ts#L45-L75

I think the following properties are required :
- name
- notificationGroupId
- steps (maybe having it empty can cause issues)
- critical
- tags (empty is fine)
- ac

[2022-10-11 19:47] codingmickey commented on #1320
I think this route requires admin options that have authorization of a `Bearer` token.. the API docs aren't updated with these changes

[2022-10-11 19:55] florian-lefebvre commented on #1320
ah yes I see...still we should wait for dima's answer because I don't know how we shouldn't handle this. This is important because it occurs at different places in the API

[2022-10-11 21:40] shtelzerartem commented on #1658
Hey, I'd like to work on this!

[2022-10-11 22:00] codingmickey commented on #1645
I can try this issue

[2022-10-12 03:06] ludovicobesana commented on #1457
@jainpawan21 In addition to this, i'm writing some useful documentation :)

[2022-10-12 04:33] rahmat-st opened #1671 "🚀 Feature: i18n - Melayu Language Support"
### 🔖 Feature description

Adding Melayu Language Support

### 🎤 Why is this feature needed ?

For Melayu Peoples, Who don't understand other languages or have trouble dealing with them.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the TRANSLATIONS object a

[2022-10-12 06:13] davidsoderberg commented on #1645
HI @codingmickey, you seems to already have two issues assigned to you please resolve those first 😄

[2022-10-12 06:15] davidsoderberg commented on #1661
Hi @codingmickey, you have already two issues assigned to you. Please resolve those first 😄

[2022-10-12 06:15] #1507 closed

[2022-10-12 06:20] codingmickey commented on #1645
Hello @davidsoderberg! both of them are just a merge away from resolving I assume 😅
Just to be clear the 2nd issue was not even from this repo it was arising in novuhq/api-docs#12

[2022-10-12 06:25] #1671 closed

[2022-10-12 06:50] codingmickey commented on #1645
I can write the functionalities but the netcore website signup is down atm

![image](https://user-images.githubusercontent.com/42518907/195270349-d89573bd-3a14-4547-8348-0f0a12d7491c.png)

[2022-10-12 06:57] #1558 closed

[2022-10-12 07:23] das-amit opened #1674 "🐛 Bug Report: Issue in Ukrainian Translation of notification center"
### 📜 Description

The translation file is missing the _settings_ keyword
Similar bug #1668

### 👟 Reproduction steps

None

### 👍 Expected behavior

There should be the translation for settings

### 👎 Actual Behavior with Screenshots

The translation for "settings" is missing
![Screenshot (819)](https://user-images.githubusercontent.com/91092039/195276627-63ff3a00-c542-4238-881d-a4655a394be6.png)

[2022-10-12 07:46] DonnachaHeff commented on #1674
Can I pick this issue up?

[2022-10-12 07:49] sebastiaanviaene commented on #1633
@ainouzgali any luck?

[2022-10-12 08:18] DonnachaHeff opened #1676 "🐛 Bug Report: Issue in French Translation of notification center"
### 📜 Description

The french translation file is missing the settings keyword.

### 👟 Reproduction steps

None

### 👍 Expected behavior

There should be the french translation for settings.

### 👎 Actual Behavior with Screenshots

![image](https://user-images.githubusercontent.com/68904757/195288499-06ec64c6-9174-4a57-9370-d0c5be1956b8.png)

### 💻 Operating system

Windows

### 🤖 Node Version

18

[2022-10-12 08:40] abhilipsasahoo03 commented on #1663
@ainouzgali @scopsy I'd like to work on this!

[2022-10-12 09:17] #1462 closed

[2022-10-12 09:20] jjmpsp commented on #1176
I found a PHP implementation too but haven't got around to testing it yet: https://github.com/JRB-IT/NovuPHP

[2022-10-12 10:02] #1676 closed

[2022-10-12 10:10] DonnachaHeff opened #1679 "🐛 Bug Report: Issue in Gujarati Translation of notification center"
### 📜 Description

The Gujarati translation file is missing the settings keyword.

### 👟 Reproduction steps

None.

### 👍 Expected behavior

There should be a Gujarati translation for settings.

### 👎 Actual Behavior with Screenshots

![image](https://user-images.githubusercontent.com/68904757/195315551-853a2e8f-3110-434a-aee9-be3426e0013c.png)

### 💻 Operating system

Windows

### 🤖 Node Version

[2022-10-12 10:16] #1674 closed

[2022-10-12 10:48] scopsy commented on #1320
That's very strange since the API Key should be created using an Admin role for the logged in user.

Could you try regenerating the API Key from the settings screen?

Also, a small question, did you invite other users to the system or remove the previously created admin account?

[2022-10-12 11:20] ShaneMaglangit opened #1685 "🚀 Feature: Create sitemap.xml and add sitelinks for SEO"
### 🔖 Feature description

Currently, Google search results for Novu is very minimal with only a single sentence description. Adding a sitemap with sitelinks can be useful for something looking for a quick links to other parts of the site (Hacktoberfest, Blogs, Documentation, etc..).

![image](https://user-images.githubusercontent.com/53674742/195328258-2f24b86f-33ed-4ecf-95fc-2c2b9e39e897.png)

T

[2022-10-12 11:27] #1679 closed

[2022-10-12 11:30] codingmickey commented on #1320
It's the same key, I don't see an option to regenerate the API Key

nope I didn't do any of these

[2022-10-12 11:31] jgoerner commented on #836
@raikasdev is this Issue still relevant and up for grabs?

[2022-10-12 11:32] scopsy commented on #1320
Are you running novu locally on your machine or in the cloud version?

[2022-10-12 11:35] codingmickey commented on #1320
API or web? for both am using the hosted URLs/Site

[2022-10-12 11:50] tanishk-23 commented on #1662
@scopsy can you assign this to me?

[2022-10-12 12:08] florian-lefebvre commented on #1320
@scopsy this is directly linked to https://github.com/novuhq/novu/issues/1294

@jainpawan21 confirmed this issue occured on discord (have to use the Bearer personal token instead): https://discord.com/channels/895029566685462578/1022577958982004838/1023222880588288100

[2022-10-12 12:31] scopsy commented on #1280
@bishal7679 it happens automatically after merged PR's. It takes some time tho :)

[2022-10-12 12:50] BoseSj commented on #1659
Hi @scopsy I want to take on this issue. Please assign me

[2022-10-12 13:53] #1660 closed

[2022-10-12 14:51] soundarrajan-official commented on #1648
I am interested to solve this issue, so can you assign me ?

[2022-10-12 15:34] slim-codes opened #1688 "Documentation: Couple of issues with grammar and presentation of README.md"
### 🔖 Feature description

I noticed some problems with the README file. Here they are in no particular order:

### Why section

- The **Why** heading should be replaced with **Why Novu?**
- Under the **Why** section, There's a paragraph that reads "notifications are spread around the **code**. What Code, I think the author meant something else here. Maybe something like notifications are spread a

[2022-10-12 15:47] slim-codes opened #1689 "🚀 Feature: Augment the issue template with 2 more semantic templates"
### 🔖 Feature description

I noticed that the current issue template limits a contributor to two scopes (**bug report** and **feature**), this is not convenient at all.

- The major problem I noticed with this is that people have been opening **DOCS** issues using both **BUG REPORT** and **FEATURE** templates. Documentation changes should have a dedicated template

- Considering that many changes

[2022-10-12 16:18] kaustav202 opened #1690 "🐛 Bug Report: Improve Architecture Diagram in architecture.md"
### 📜 Description

The system overview architecture diagram currently has too small font-sizes along with poor contrast with the background, all of which reduces it's readability and make it hard to understand especially on laptops and smaller screens.
Also the diagram could be augmented in a more nicer way that is concise and in line with the flow.

### 👟 Reproduction steps

Navigate to https://g

[2022-10-12 16:20] kaustav202 commented on #1690
I'd like to work on this

[2022-10-12 16:43] KlausMikhaelson commented on #1302
Hey @scopsy quick update: I was travelling a lot from the past 2 weeks so forgot to work on it but I am at home now and have started the work !

[2022-10-12 17:35] florian-lefebvre commented on #1322
https://github.com/novuhq/api-docs/tree/main/content/code-examples

[2022-10-12 18:13] itsmeAnubhab commented on #1657
hey i would to do it. Can you guide me? @scopsy

[2022-10-12 19:23] apollo79 opened #1696 "🚀 Feature: Deno Support"
### 🔖 Feature description

I would find it cool if Deno support would be added.

### 🎤 Why is this feature needed ?

Novu is a really cool project and I think it would be welcome in the Deno ecosystem too.

### ✌️ How do you aim to achieve this?

I don't know exactly what the best choice to achieve this would be. There is [dnt](https://github.com/denoland/dnt), but it would require a complete rewr

[2022-10-12 20:09] akarsh-jain-790 commented on #1662
@scopsy can you assign this issue to me?

[2022-10-12 20:59] shtelzerartem commented on #1649
I would like to work on this issue!

[2022-10-12 22:48] sebastiaanviaene commented on #1633
Were you able to reproduce it?

[2022-10-13 05:08] davidsoderberg commented on #1655
I assigned you to the other issue, please do that first 😄

[2022-10-13 05:38] maxslimb commented on #1647
I would like to work on this!

[2022-10-13 05:38] maxslimb commented on #1646
I would like to work on this!

[2022-10-13 06:01] LunarMarathon commented on #1657
I have opened a PR, please review

[2022-10-13 07:08] ainouzgali commented on #1633
Yes, I've been working on it @sebastiaanviaene. But it's a bit tricky because of the way our queue works.
 It's a very specific bug of Digest coming after a Scheduled Delay that has been triggered more than once for the exact same scheduled date.
 If you need a workaround just for now, you could try scheduling the sendAt parameter for 1 or 2 seconds more than the sendAt of your first trigger.
 For

[2022-10-13 07:53] toukirkhan commented on #1362
@MihirShinde-29 can you help me in this I want to work on this one.

[2022-10-13 09:52] sebastiaanviaene commented on #1633
@ainouzgali Thank you for the workaround and looking into it! Let me know if I can help in any way :)

[2022-10-13 14:11] Anuj-Kumar-AJ commented on #1655
hi @davidsoderberg , i would like to solve this issue, can you assign it to me

[2022-10-13 17:14] L-390 commented on #1322
I just stpotted this in the code:
[code]

implement that method, or does the endpoint not exist yet?

[2022-10-13 17:30] vrabe commented on #546
I would like to work on this!

[2022-10-13 18:11] shtelzerartem commented on #1649
@davidsoderberg @scopsy  I was checking the code and realized, that emailjs integration is not really providing connection for https://www.emailjs.com and not using its SDK... Under the hood it's just a SMTP provider. How do I proceed from here? How do I proceed from here?

Should I really implement integration with EmailJs and also implement checkIntegration function?

[2022-10-13 18:12] florian-lefebvre commented on #1322
I have no idea. @scopsy?

[2022-10-13 18:58] JustinBack commented on #1090
Just wanted to chime in quickly and say running the latest master build fixes the issue on iPadOS but not on iOS

![FE26336C-D8F5-404D-B602-2BA17B9E70E2](https://user-images.githubusercontent.com/40178814/195683522-8e56ba04-f77a-456f-855f-57e321c770d9.jpeg)

[2022-10-13 19:14] #1658 closed

[2022-10-13 19:32] priyanshkulshrestha commented on #1665
@akarsh-jain-790 you should work only on those issues which are assigned to you.

[2022-10-13 21:27] washbin opened #1716 "🐛 Bug Report: Links to Request feature in the readmes redirect to the discussions page"
### 📜 Description

The links to the request feature in the readme can technically be considered broken since they redirect to the discussions page instead.

### 👟 Reproduction steps

If you click on the request feature from readme then you you should see this in action.

### 👍 Expected behavior

Expected to open a issue template for feature request.

### 👎 Actual Behavior with Screenshots

Opens t

[2022-10-13 21:33] washbin commented on #1716
Have addressed the issue in #1717

[2022-10-14 08:15] npv12 commented on #1342
If no one is assigned, can i pick it up?

[2022-10-14 09:38] shtelzerartem commented on #1649
Wow, I feel so confused reading [initial issue](https://github.com/novuhq/novu/issues/40). And after that looking at the logo of the provider in Integration store that actually refers to https://www.emailjs.com/
<img width="264" alt="image" src="https://user-images.githubusercontent.com/20266461/195815138-0b778710-a99c-4090-b2c2-0adf0e3bfe04.png">

[2022-10-14 09:56] #1716 closed

[2022-10-14 10:08] shtelzerartem commented on #1649
Now that I'm looking into EmailJS, I don't think we should support them...
They provide client-side email service, email templating and nothing more.
Basically, we can't send any custom emails through them.

[2022-10-14 11:19] #1663 closed

[2022-10-14 11:48] #1463 closed

[2022-10-14 12:00] scopsy commented on #546
Awesome @vrabe let me know if you need any help!

[2022-10-14 12:00] #1448 closed

[2022-10-14 12:01] #1539 closed

[2022-10-14 12:16] JustinBack opened #1723 "[NV-1243] 🚀 Feature: Event/Hook for new Notifications"
### 🔖 Feature description

An event/hook which fires when a new notification comes in

### 🎤 Why is this feature needed ?

Right now a workaround is by listening to DOM changes on the unseen badge see my working code below I currently use in combination with Swal2

[code]

### ✌️ How do you aim to achieve this?

By using the existing trigger system which also fires action_click and notification_cl

[2022-10-14 12:24] soundarrajan-official commented on #1656
I like to solve this issue, so can you assign me for this issue ?

[2022-10-14 12:39] akarsh-jain-790 commented on #1665
@priyanshkulshrestha  Someone else made PR and got merged on my issue so thought it is not necessary.

[2022-10-14 12:43] abhilipsasahoo03 opened #1725 "i18n - Afrikaans Support"
## Why?

Recently novu introduced an easy way to add translations for the @novu/notification-center component interface. So we can either specify a translation object or pass a premade translation.

## How?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.

- Add your translation import to the TRANSLATIONS object at packages/noti

[2022-10-14 12:44] abhilipsasahoo03 commented on #1725
@scopsy kindly assign

[2022-10-14 12:54] extinctsion commented on #1280
@scopsy can u assign me this issue? :)

[2022-10-14 12:55] lmas3009 commented on #1661
Hi @davidsoderberg i am unable to work on this due to some other work. Can you unassign me for this issue

[2022-10-14 13:49] akarsh-jain-790 commented on #1362
@ainouzgali  can u assign this issue to me ?

[2022-10-14 13:51] muditchoudhary opened #1729 "🐛 Bug Report:"
### 📜 Description

On the index.md file inside the path `main/docs/docs/channels/chat/`. All three links [here, Discord, Slack] are invalid and point to a 404 page.

![image](https://user-images.githubusercontent.com/74391865/195862923-96d1b296-cbcc-4ac7-a42c-27cd901dad24.png)

### 👟 Reproduction steps

1. Go to index.md file
2. Click on any link.

### 👍 Expected behavior

The Links should open a

[2022-10-14 13:52] muditchoudhary commented on #1729
Can I work on this?

[2022-10-14 13:58] shtelzerartem commented on #1661
@davidsoderberg I noticed Nodemailer integration has a field `Sender name` that's not used and therefore not required in UI! Should I create a bug? Can I work on it?

[2022-10-14 14:30] #1342 closed

[2022-10-14 14:36] vrabe commented on #546
It seems that 1 and 4 are completed?

[2022-10-14 14:46] akarsh-jain-790 commented on #1312
@JakovGlavac are you still working? If not @oba2311 can u assign this issue to me ?

[2022-10-14 15:45] soundarrajan-official commented on #1457
I am interested to solve this issue, so can you please assign me for this issue ?

[2022-10-14 16:24] JakovGlavac commented on #1312
Sure assign @akarsh-jain-790

[2022-10-14 16:43] soundarrajan-official commented on #1456
I am interested to solve this issue, so can you assign me ?

[2022-10-14 17:05] abhilipsasahoo03 commented on #1725
Completed by PR #1728

[2022-10-14 17:06] #1725 closed

[2022-10-15 03:27] ksjadeja commented on #1646
Hi @scopsy, I would also like to work on this issue, if possible.

[2022-10-15 05:27] kaustav202 opened #1734 "🐛 Bug Report: Incorrect Link in code-conduct.md"
### 📜 Description

The link to Mozilla's code of conduct enforcement ladder under the [Attribution](https://github.com/novuhq/novu/blob/main/docs/docs/community/code-conduct.md#attribution) section just redirects to mozilla inclusion repo

### 👟 Reproduction steps

Head over to https://github.com/novuhq/novu/blob/main/docs/docs/community/code-conduct.md#attribution and click on [Mozilla's code of

[2022-10-15 05:28] kaustav202 commented on #1734
Can I fix this

[2022-10-15 08:42] chaiwattsw commented on #1656
Any update on this? if not I would like to take

[2022-10-15 08:48] MihirShinde-29 commented on #1656
Im working on it

[2022-10-15 12:16] MaximFedarau opened #1735 "🐛 Bug Report: incorrect punctuation in push/expo.md"
### 📜 Description

There is an incorrect punctuation on docs `Expo Push` page:
- <img align="center" width="785" alt="demo-1" src="https://user-images.githubusercontent.com/87207122/195985576-790fb5e9-b5f9-4e51-87ef-1006d6500395.png">
- <img align="center" width="801" alt="demo-2" src="https://user-images.githubusercontent.com/87207122/195985592-81cfe690-e2f2-4bd5-9a52-f8e337d543ac.png">
- <img al

[2022-10-15 12:17] MaximFedarau commented on #1735
Can I be assigned @davidsoderberg?

[2022-10-15 12:32] soundarrajan-official commented on #1648
Please un assign me for this issue, I am interested to solve another issue

[2022-10-15 12:59] kanhaiya04 commented on #1648
Can I fix this?

[2022-10-15 15:35] MaximFedarau opened #1740 "🚀 Feature: i18n Belarusian language support."
### 🔖 Feature description

Belarusian translation of @novu/notification-center component Belarusian translation.

### 🎤 Why is this feature needed ?

Because, Belarusian language is becoming more and more popular.

### ✌️ How do you aim to achieve this?

1) Create `be.ts` file and add its content.
2) Connect it to `lang.ts`.
3) Update docs.

### 🔄️ Additional Information

_No response_

### 👀 Have

[2022-10-15 15:36] MaximFedarau commented on #1740
@davidsoderberg, please, assign me to this issue.

[2022-10-15 18:08] deepak-sreekumar commented on #1321
Thanks, @jainpawan21. I was caught up with some things and did not get a chance to work on this till now. Raised PR. PTAL when you get a chance.

I will check the requirements for the missing endpoints and come back with questions if any.

[2022-10-16 06:12] SarojWasti opened #1743 "🐛 Bug Report: Broken Link in monorepo-structure.md"
### 📜 Description

The image link to monorepo-structure.jpeg in monorep-structure.md is broken.

### 👟 Reproduction steps

Head over to https://github.com/novuhq/novu/blob/main/docs/docs/community/monorepo-structure.md
and you will see the alt text instead of image. If you click on the image source, 404 page is shown.

### 👍 Expected behavior

The link should point to the monorepo-structure.jpeg i

[2022-10-16 06:14] SarojWasti commented on #1743
@davidsoderberg Please assign me if you think it should be fixed.

[2022-10-16 07:10] SarojWasti opened #1745 "🐛 Bug Report: Broken Link in Integrations.md"
### 📜 Description

The link to create-provider.md in Integrations.md is broken.

### 👟 Reproduction steps

Go to https://github.com/SarojWasti/novu/blob/fix-monorepo-link/docs/docs/platform/integrations.md , click on [Missing a Provider](https://github.com/SarojWasti/novu/blob/fix-monorepo-link/community/create-provider) link given. It will lead to 404 not found page.

### 👍 Expected behavior

It

[2022-10-16 07:12] SarojWasti commented on #1745
@davidsoderberg Please let me know if this issue is applicable. If then please assign it to me.

[2022-10-16 07:49] #1735 closed

[2022-10-16 07:52] chaiwattsw commented on #1458
any update on this issue? if not I would like to take

[2022-10-16 07:52] chaiwattsw commented on #1456
any update on this issue? if not I would like to take

[2022-10-16 07:52] scopsy commented on #1743
@SarojWasti the link is actuall correct: https://docs.novu.co/community/monorepo-structure

The preview is not working only in GitHubs md preview.

Closing this 🙏

[2022-10-16 07:52] #1743 closed

[2022-10-16 07:58] SarojWasti commented on #1743
Thanks for addressing this. Is it the same with #1745 ?

[2022-10-16 08:02] #1664 closed

[2022-10-16 08:15] MaximFedarau commented on #1740
#1739 solved the issue

[2022-10-16 08:15] #1740 closed

[2022-10-16 08:22] #1734 closed

[2022-10-16 08:24] #1745 closed

[2022-10-16 08:28] florian-lefebvre commented on #1320
Then @codingmickey you need to update the api docs at https://github.com/novuhq/api-docs/tree/main/content/code-examples

[2022-10-16 08:29] #1409 closed

[2022-10-16 08:30] florian-lefebvre commented on #1323
@Wyfy0107 do you need help?

[2022-10-16 08:30] scopsy commented on #1743
I believe so

[2022-10-16 08:31] florian-lefebvre commented on #1324
@aggmoulik please, if you don't have time to work on this that's not a problem! Just tell us so that we can assign someone else

[2022-10-16 08:32] scopsy commented on #1456
@ludovicobesana did you managed to complete this? assigned you, let me know if I should assign some one else 🙏

[2022-10-16 08:35] #1322 closed

[2022-10-16 08:35] ludovicobesana commented on #1456
I'm working on it. I'm returning back on Italy on 18 october.

Il Dom 16 Ott 2022, 09:32 Dima Grossman ***@***.***> ha
scritto:

[2022-10-16 08:36] ludovicobesana commented on #1458
I'm working on this. I'm returning back to italy on 18.

Il Dom 16 Ott 2022, 08:52 Chaiwat Trisuwan ***@***.***> ha
scritto:

[2022-10-16 08:40] codingmickey commented on #1320
Sure will do that in a day or two having exams currently

[2022-10-16 08:42] florian-lefebvre commented on #1320
No problem, good luck!

[2022-10-16 08:51] #1317 closed

[2022-10-16 08:54] SarojWasti opened #1746 "🐛 Bug Report: Fix Typos in Sendinblue Documentation"
### 📜 Description

There is typo error in Sendinblue documentation which I would like to fix.

### 👟 Reproduction steps

Visit https://docs.novu.co/channels/email/sendinblue.

### 👍 Expected behavior

The spelling of should be `Sendinblue` instead of `Seninblue`

### 👎 Actual Behavior with Screenshots

![Screenshot (18)](https://user-images.githubusercontent.com/69208771/196026946-8429b7d4-0dde-4f

[2022-10-16 09:00] SarojWasti commented on #1746
@scopsy Can I Work on this ?
![sendinblue-typo](https://user-images.githubusercontent.com/69208771/196027060-033e6f8e-7f7e-449d-a8f7-3c050bf3b32b.png)

[2022-10-16 09:10] shtelzerartem commented on #1648
@davidsoderberg I'm interested to work on it! My [other issue](https://github.com/novuhq/novu/issues/1649#issuecomment-1278791598) is awaiting an answer.

[2022-10-16 10:26] jainpawan21 commented on #30
Unassigning @ahmedhesham6 due to inactivity.
Thanks @florian-lefebvre 🙏🏻

[2022-10-16 10:59] #1656 closed

[2022-10-16 11:42] chavda-bhavik commented on #1469
Hey @jainpawan21, you can close this issue now.

[2022-10-16 13:03] #1469 closed

[2022-10-16 14:04] raikasdev commented on #1696
Deno doesn't give good benefits for the effort, would not make any sense to do this. Also NestJS doesn't support Deno.

[2022-10-16 17:03] deepak-sreekumar commented on #1321
@scopsy @florian-lefebvre Quick check on the missing endpoints. What should be the parameter on which  `Delete`, `Update`, `Get one` be supported? Is it `_id` since `name` is not a unique parameter?

Also what is the standard response for `DELETE` calls? Should it be the deleted object or an acknowledgment such as
[code]
I see both being used in different APIs. Please let me know your thoughts. Th

[2022-10-16 18:27] gefgu commented on #1662
I think this was solved by #1699 . In this way, I think this issue should be closed,

[2022-10-16 18:41] ShivamAgarwal-code commented on #1688
I want to work on this issue, please assign

[2022-10-16 21:28] charlygg commented on #1458
@chaiwattsw I was working on this issue.

I was able to set up correctly novu web and cypress to run a test component and the first test ran successfully when the component is mounting, but I was getting an error because the component doesn't show up on the cypress 'timeline' tab and is not visible.

I am trying to combine Memory Router because the SideNav needs some context variables to show up

[2022-10-17 05:32] #1662 closed

[2022-10-17 05:32] #1661 closed

[2022-10-17 05:32] #1659 closed

[2022-10-17 05:33] #1657 closed

[2022-10-17 10:34] bhattabhi013 opened #1751 "🚀 Feature: i18n - Mandarin Support"
### 🔖 Feature description

Adding Mandarin language support.

### 🎤 Why is this feature needed ?

For Chinese people who are not familiar with English.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the TRANSLATIONS object at packages/notification-center/src/

[2022-10-17 10:48] bhattabhi013 opened #1752 "🚀 Feature: i18n - Bhojpuri Support"
### 🔖 Feature description

Adding Bhojpuri language support.

### 🎤 Why is this feature needed ?

For Bhojpuri people who are not familiar with English.

### ✌️ How do you aim to achieve this?

Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.
Add your translation import to the TRANSLATIONS object at packages/notification-center/src

[2022-10-17 11:43] shtelzerartem opened #1753 "🐛 Bug Report: nodemailer sendername field & secure field"
### 📜 Description

1. Nodemailer has a `Sender name` field in UI, even though it's not used in
https://github.com/novuhq/novu/blob/2ee01b8c97d77b9f3295e46720385c137a0bfd57/providers/nodemailer/src/lib/nodemailer.provider.ts
![image](https://user-images.githubusercontent.com/20266461/196166799-88318ba6-8185-4c47-a846-572b1f9755e9.png)

2. Secure field is a textfield, therefore not intuitive, user s

[2022-10-17 12:06] Akshu-on-github opened #1754 "[BUG] [QUESTION] Incorrect Translations in Language Support"
- **I'm submitting a...**
   - [x] bug report
   - [ ] feature request
   - [x] question about the decisions made in the repository
   - [ ] question about how to use this project

- **Summary**
  - The text added under PR #1406 for Tamil Support is taken directly from Google translate and lacks nuance. There were three words/phrases that were to be translated, I've broken down the same below
  -

[2022-10-17 12:47] florian-lefebvre commented on #1320
I've left a review 👍

[2022-10-17 12:57] shtelzerartem opened #1755 "🐛 Bug Report: postmark test is failing"
### 📜 Description

Postmark test is failing because of date comparison.

https://github.com/shtelzerartem/novu/blob/4b91c54bf251c2fa0d9cf29057d8149b641db3d7/providers/postmark/src/lib/postmark.provider.spec.ts

<img width="466" alt="image" src="https://user-images.githubusercontent.com/20266461/196182095-d15b4f2a-2e05-4519-a9c0-f766ed0287f4.png">

### 👟 Reproduction steps

1. Go to postmark provid

[2022-10-17 13:32] #1696 closed

[2022-10-17 14:34] ComBarnea commented on #1755
@shtelzerartem assigned to you :)

[2022-10-17 17:13] SarojWasti opened #1758 "🐛 Bug Report: Incorrect Link in main CODE_OF_CONDUCT.md"
### 📜 Description

The link to Mozilla's code of conduct enforcement ladder in [Code of Conduct](https://github.com/novuhq/novu/blob/main/CODE_OF_CONDUCT.md#attribution) redirects you to Mozilla Inclusion Repo.
The PR #1742 only fixed the [Community Code of Conduct](https://github.com/novuhq/novu/blob/main/docs/docs/community/code-conduct.md#attribution) but the CODE_OF_CONDUCT.md in [main](https:

[2022-10-17 17:15] SarojWasti commented on #1758
@davidsoderberg Can I fix this?

[2022-10-17 18:04] SarojWasti commented on #1758
My bad, I didn't check the docs where the fixed one is linked there.

[2022-10-17 18:04] #1758 closed

[2022-10-17 20:25] ffex commented on #1366
Hey there! I'm interested to this issue, maybe I need a little help. It is interesting project I'm pretty confident that I could help.

Can give me more information about test this functionality? there is documentation yet about APNS? Thanks

[2022-10-18 02:13] muditchoudhary commented on #1729
Hey @p-fernandez I can't seem to find the platform folder inside main.

I followed this url : `https://github.com/muditchoudhary/novu/blob/main/platform/subscribers#updating-subscriber-credentials`

Is platform present in this repo?

[2022-10-18 04:58] SarojWasti opened #1760 "🐛 Bug Report: Broken Link to provider-template"
### 📜 Description

The GitHub Template link in [create-provider](https://docs.novu.co/community/create-provider) documentation is redirecting to 404 page.

### 👟 Reproduction steps

Visit https://docs.novu.co/community/create-provider#sms-provider, scroll down and click on [GitHub Template](https://github.com/novuhq/provider-template) link.

### 👍 Expected behavior

It's expected behavior might be

[2022-10-18 05:02] SarojWasti commented on #1760
@davidsoderberg Take a look and let me know if the issue is applicable. And I also don't know about the working link so it's hard to fix. :)

[2022-10-18 05:52] TheLearneer commented on #840
Hi @scopsy I can work on solving this issue if this is something that is still in the todo list.

And just let me know if the following are the things I need to do:
1. Maintain the aspect ratio of 1:1 for image container, and put `justify-content: contain` if the image has different aspect ratio
2. Make the color picker to have text based users input (can be easily done by modifying props of manti

[2022-10-18 06:40] ainouzgali commented on #1646
Hi @abhilipsasahoo03 , please notice that this issue has already been assigned. Please avoid working on assigned issues.
@maxslimb, as you were assigned a few days after you asked to be, I just want to make sure you are still willing to work on this.

[2022-10-18 06:46] ainouzgali commented on #1633
Hi @sebastiaanviaene, the fix was merged to main branch. This will be included in the closest release (v0.9.0).

[2022-10-18 06:50] abhilipsasahoo03 commented on #1646
Hi, I'm extremely sorry, somehow I missed out on the assignment! I'll take care of this next time onwards.

[2022-10-18 07:59] p-fernandez commented on #1729
I think you are looking for this: https://github.com/novuhq/novu/blob/main/docs/docs/platform/subscribers.md
It is in the docs section.

[2022-10-18 08:46] scopsy commented on #1760
@SarojWasti this template was actually deprecated and removed. Do you mind just deleting this link at all from the docs page?

[2022-10-18 08:48] scopsy commented on #1729
@muditchoudhary this link is actually working correctly when visiting the docasarurus: https://docs.novu.co/channels/chat/

This is an internal redirect used by our docs site, so I believe this issue can be closed. Let me know if I missed anything 🙏

[2022-10-18 08:48] #1729 closed

[2022-10-18 11:48] satyajeet0308 opened #1767 "Add bulkSMS provider"
### 🔖 Feature description

Have the ability to send SMS using bulkSMS

### 🎤 Why is this feature needed ?

Then be able to send SMS with bulkSMS, very common in India

### ✌️ How do you aim to achieve this?

Add a new provider and than work with bulkSMS docs https://www.bulksms.com/developer/json/v1/#tag/Message%2Fpaths%2F~1messages%2Fpost to add this new provider

### 🔄️ Additional Information

_

[2022-10-18 11:53] ComBarnea commented on #1767
Hey @satyajeet0308 just assigned it to you :)

[2022-10-18 12:09] SarojWasti opened #1768 "🐛 Bug Report: Monorepo Structure documentation needs improvement"
### 📜 Description

The [Monorepo Structure](https://docs.novu.co/community/monorepo-structure) documentation has many punctuation mistakes with lacking spaces which can be improved.

### 👟 Reproduction steps

Visit https://docs.novu.co/community/monorepo-structure#setting-up-the-monorepo.

`as its build CLI tool.PNPM reduces the` needs adding a whitespace.

For additional information on running `n

[2022-10-18 13:04] #1760 closed

[2022-10-18 13:46] wouter-toppy opened #1769 "🚀 Feature: Implement Handlebars Dateformat"
### 🔖 Feature description

It whould be nice if we can format/modify dates in the email templates generated with handlebars

https://www.npmjs.com/package/handlebars-dateformat

### 🎤 Why is this feature needed ?

- To format dates in a human format when the payload is ISO
- make expressions like `{{#equals (dateFormat payload.someDate "N") 7 }}`  to check if its sunday

### ✌️ How do you aim to a

[2022-10-18 14:13] SarojWasti commented on #1768
[code]
I also didn't understand the exact meaning of this phrase because I also don't know about their exact functions. The possible meanings would be:

`Can override components like` or

`Can get overridden by components like` or

`Can be overridden by components like`.

@davidsoderberg Can you take a look this? Thanks :)

[2022-10-18 15:07] digambar-t7 opened #1770 "[Docs] Typo in Readme file"
### 📜 Description

I just found out a typo in the Readme file.It was the word `throroughly` instead of `thoroughly`.

### 👟 Reproduction steps

Take a look at line no 188 of the README.md file.

### 👍 Expected behavior

It should be `thoroughly` instead of `throroughly`

### 👎 Actual Behavior with Screenshots

It spells as `throroughly`

### 💻 Operating system

Linux

### 🤖 Node Version

v16.13.1

[2022-10-18 15:30] maxslimb commented on #1646
Yes, I am working on this issue, will put a pr soon

[2022-10-18 15:43] muditchoudhary commented on #1729
@scopsy Ohh..yaa that's correct. I tried it on GitHub and misunderstood it.

Thanks!!

[2022-10-18 16:11] Ian-Yy commented on #666
Hi, can I give a try on this issue?

[2022-10-18 17:17] digambar-t7 opened #1776 "[Docs] Broken link in digest.md"
### 📜 Description

In the digest.md file, there is a broken link to [`Workflow photo`](https://github.com/novuhq/novu/blob/main/img/digest-flow.png).
And this link isn't working as per our expectations.It leads us to a `404` page not found error.

### 👟 Reproduction steps

1. Go to [digest.md](https://github.com/novuhq/novu/blob/main/docs/docs/platform/digest.md)
2. In the `Digest Node` section yo

[2022-10-18 18:52] shtelzerartem opened #1778 "🚀 Feature: custom SMTP provider"
### 🔖 Feature description

Create non-branded, "_library-agnostic_" "Custom SMTP" provider to the integrations store.

### 🎤 Why is this feature needed ?

This can help users who are not familiar with _Nodemailer_, or _EmailJS_, or other provider  to focus on setting up integration and not deciding whether to choose one provider or another. This choice could be, and from my point of view, should b

[2022-10-18 21:03] MaximFedarau opened #1780 "🐛 Bug Report: incorrect punctuation & lack of links & incorrect naming in push/fcm.md"
### 📜 Description

There is some errors on docs Expo Push page:
1) Incorrect service naming:

    <img width="1053" alt="demo-1" src="https://user-images.githubusercontent.com/87207122/196541876-50fd5928-86d2-4c62-b1ad-a400a8ca5017.png"/>

     Its correct name is `Firebase Cloud Messaging` not `Messages`

     <img width="1312" alt="demo-2" src="https://user-images.githubusercontent.com/87207122/

[2022-10-18 21:03] MaximFedarau commented on #1780
@davidsoderberg, please, assign me to this issue.

[2022-10-18 21:23] MaximFedarau opened #1781 "🚀 Feature: there is no logo-link on web.novu.co"
### 🔖 Feature description

When user click on logo on `web.novu.co` page it leads to home, i.e. `web.novu.co`, for example if user is on `web.novu.co/integrations`.

### 🎤 Why is this feature needed ?

Because all other `Novu` websites have this feature:

- <img align="center" width="185" alt="demo-1" src="https://user-images.githubusercontent.com/87207122/196545981-e200a0e9-4981-41c8-816e-114b2c4

[2022-10-18 21:23] MaximFedarau commented on #1781
@scopsy, @davidsoderberg , please, check my suggestion. And if you are agree, assign it to me.

[2022-10-19 07:17] #1648 closed

[2022-10-19 07:26] scopsy commented on #840
@TheLearneer sounds like a plan!

[2022-10-19 07:31] #1320 closed

[2022-10-19 07:33] scopsy commented on #1321
Oh sorry, missed the notification :|

The parameter should be "_id" of the group. We can specify the following pattern as a response:
[code]

[2022-10-19 08:07] scopsy commented on #1781
Just assigned you ^ 🎉

[2022-10-19 08:57] scopsy commented on #1647
@maxslimb seems like @abhilipsasahoo03 already submitted a PR for this. Did already started to work on the issue?

@abhilipsasahoo03 please ask to be assigned before working on something, because someone else might already invested time to build something.

[2022-10-19 09:00] scopsy commented on #1778
I would even suggest renaming nodemailer title to be a custom SMTP service, instead of creating a new one. Since it will just be duplicate.

Should I assign you if you willing to work on this @shtelzerartem ?

[2022-10-19 09:19] abhilipsasahoo03 commented on #1647
Hi @scopsy I completely understand...since there had been no updates on the issue since 6 days + I missed out on the assignment accidentally, it led to this. My bad. I'll take care of this next time onwards!

[2022-10-19 10:47] TheLearneer commented on #840
Hi @scopsy 👋

So, point `1.` and `2.` are done with ease.
But for `3.` I need to discuss something with you.

It seems the current `Select` component in the design-system has a custom filter function which removes all the items which are not selected.
So when I make the Select component searchable as discussed in this issue, we will see only the selected element.

We can fix it by adding an option

[2022-10-19 11:41] scopsy commented on #1776
This photo is not broken, please see https://docs.novu.co/platform/digest

It is only not visible on GitHub's md preview.

Closing this 🙏

[2022-10-19 11:41] #1776 closed

[2022-10-19 11:46] scopsy commented on #840
So to make sure I got it right, what prop are you suggesting to add for the component?

[2022-10-19 13:00] escobar5 commented on #1019
@oba2311 I'm now creating the WhatsApp Provider using WhatsApp Business API, I have a question though, there's an `IChatOptions` interface, I first thought as WhatsApp is a chat application I may use this, but it doesn't have a `to` property, maybe `ISmsOptions` may be a better option, it does have the `to` property and also `attachments`. What do you think?

[2022-10-20 05:08] shtelzerartem commented on #1778
@scopsy hey, right now we have logos and not titles, should we design a logo for Custom SMTP or add an ability to pass title to the component?

[2022-10-20 05:40] jainpawan21 commented on #1397
Hi @vedant-z Are you still working on this?
If not please let us know.

[2022-10-20 05:57] vedant-z commented on #1397
@jainpawan21 Sorry currently my exams are going on so I will not be able to work on this

[2022-10-20 06:07] jainpawan21 commented on #1397
Assigned to you @TheLearneer ⚡️

[2022-10-20 06:29] JustinBack opened #1791 "🐛 Bug Report: on not exposed in embed.js"
### 📜 Description

Listening to `action_click` or `notification_click` events is not possible via iframe due to a missing function `on`.

### 👟 Reproduction steps

1. Include embed.js
2. Initialize Novu
3. Use the on function

### 👍 Expected behavior

It should listen to *_click events

### 👎 Actual Behavior with Screenshots

Throws an undefined function error
![DA700480-9489-41D2-BD6C-C85A6FD4D80

[2022-10-20 06:33] JustinBack opened #1792 "[NV-1242] 🚀 Feature: Integrate MJML into E-Mail Templates"
### 🔖 Feature description

MJML is a framework more or less with html syntax where you can write responsive E-Mails easily.
https://mjml.io/

Has been a lifesaver across multiple projects as its super easy to setup as well has an NPM package to compile MJML Syntax into HTML

https://www.npmjs.com/package/mjml

### 🎤 Why is this feature needed ?

Makes it much easier to create E-Mail Templates rath

[2022-10-20 07:24] #1780 closed

[2022-10-20 08:45] #840 closed

[2022-10-20 10:37] scopsy commented on #1019
I think that `IChatOptions` is the way to go, tho I think we should extend to also work with the `to` field for a phone number. We would need to do a conditional in the send-chat-message.usecase, so depending on provider we either use the to field or the webhook URL.

What do you think about this approach @escobar5 ?

[2022-10-20 11:50] escobar5 commented on #1019
Yes, sounds good, @scopsy can you assign this to me, so I continue working on it?

[2022-10-20 16:05] jainpawan21 commented on #1237
Hi @SachinHatikankar100 How is it going?
Do you need any help in this?

[2022-10-20 16:35] Man07har commented on #1458
Hey, I would like to contribute in this, please assign it to me

[2022-10-20 16:43] dishantzaveri commented on #1319
Hi as the previous assignee is inactive, can I take up this issue?

[2022-10-20 16:52] jainpawan21 commented on #1319
@developer-diganta Are you still working on this?
@dishantzaveri lets wait for his reply.

[2022-10-20 18:18] jainpawan21 commented on #1752
Hi @bhattabhi013
Thanks for opening issue for support of bhojpuri language.
We had [one PR](https://www.twitch.tv/videos/1626681762) earlier related to this which is closed now due to our inability to support bhojpuri ISO code

[2022-10-20 18:20] jainpawan21 commented on #1751
Hi, we already have chinese support. Is mandarine different from chinese?

[2022-10-20 20:22] shtelzerartem commented on #1753
@jainpawan21 hey! Could you please assign the issue for @CursedRock17?
It looks like he has started working on this issue and actually made a great progress there!

[2022-10-20 22:34] derekperkins commented on #606
👍 for using Prisma if possible to enable the most data stores with the least effort - we'd prefer to wire in MySQL (specifically Vitess)

[2022-10-20 23:13] #1768 closed

[2022-10-20 23:56] ainouzgali commented on #1753
@CursedRock17 are you ok with being assigned?

[2022-10-21 00:59] CursedRock17 commented on #1753
@ainouzgali sure I can try and take on this issue

[2022-10-21 04:09] chavda-bhavik commented on #1769
@jainpawan21 @scopsy I would like to work on it, if it's relevant. 🙂

[2022-10-21 08:06] #1781 closed

[2022-10-21 08:41] developer-diganta commented on #1319
Sorry! I got a bit busy! If @dishantzaveri wants it he can go for it!

[2022-10-21 10:55] jainpawan21 commented on #1319
@dishantzaveri Assigned to you!

[2022-10-21 11:21] Astrodevil opened #1807 "Docs: Contributors section not properly loading in README"
### 📜 Description

**Thanks To All Contributors**  section of README not properly rendering in different browsers sometimes.

### 👟 Reproduction steps

1. Use GitHub link to show contributors images.
2. To not use contrib.rocks image.

### 👍 Expected behavior

![3](https://user-images.githubusercontent.com/73425223/197184086-023d15cd-da39-4318-ad5e-8d10bd5235ff.png)

### 👎 Actual Behavior with Scr

[2022-10-21 12:18] Wyfy0107 commented on #1323
Haven't had the time to work on this, but probably I can do it this weenkends.

[2022-10-21 12:35] devXprite opened #1809 "🐛 Bug Report: .nvmrc file contains an old node version"
### 📜 Description

According [Novu Docs](https://docs.novu.co/community/run-locally/) minimum Required node version is `16.15.1` but in [.nvmrc](https://github.com/novuhq/novu/blob/main/.nvmrc) file its `14.18.3`

### 👟 Reproduction steps

1. Go to [Novu Docs](https://docs.novu.co/community/run-locally/) and check minimum Node.js version.

### 👍 Expected behavior

It should be `16.15.1` in .nvmrc

[2022-10-21 13:28] Anuj-Kumar-AJ commented on #1655
Hi I think @soundarrajan-official has merged the PR for this issue. It would be good if you may close this issue :)

[2022-10-21 13:40] MaximFedarau opened #1811 "🐛 Bug Report: website settings section typos"
### 📜 Description

There are some typos in web.novu.co settings section:

- <img align="center" width="959" alt="demo" src="https://user-images.githubusercontent.com/87207122/197209088-2f04a836-7e9a-4890-b4a5-e8de70373461.png"><br/>

- <img align="center" width="892" alt="demo-2" src="https://user-images.githubusercontent.com/87207122/197211658-c70e8a99-653c-4419-83cd-5bd117bc741e.png">

### 👟 Rep

[2022-10-21 13:41] MaximFedarau commented on #1811
@scopsy, @davidsoderberg, if issue is correct, please, assign me to it

[2022-10-21 15:39] #1397 closed

[2022-10-21 15:56] Ian-Yy commented on #666
Hi, I have analyzed the issue and would like some help on this.

I think this is happening because the `PageContainer` does not fit to screen size too. Thus, even setting the React Flow in the Workflow Editor `height: 100%` would not work. I tried setting both the `PageContainer` and React Flow to 100% and it works but it will affect every other pages. Another method is to hardcode the height of R

[2022-10-21 17:14] #1655 closed

[2022-10-21 18:04] #1770 closed

[2022-10-21 18:51] achadha235 opened #1813 "🐛 Bug Report: Sendinblue provider ignores credential.senderName"
### 📜 Description

Sending an email with the SendInBlue provider does not respect the `senderName` configured within the admin panel.
This issue is equivalent to an #1417 which was a similar problem with the SendGrid provider.

### 👟 Reproduction steps

1. Set up Novu with the SendInBlue provider appropriately

<img width="997" alt="Screen Shot 2022-10-21 at 11 45 39 AM" src="https://user-images.g

[2022-10-21 18:54] Astrodevil opened #1814 "Broken Link in notification-center/react-components.md"
### 📜 Description

Broken Link in notification-center/react-components.md

Go to [here](https://github.com/novuhq/novu/blob/main/docs/docs/notification-center/react-components.md#subscriber-preferences)

Click on Notification Center with a cog, you will get page not found 404.

**Please let me know if this is actual problem or is working fine at your end.**

### 👟 Reproduction steps

- Editing old

[2022-10-21 19:28] MrVSiK commented on #57
Hi, is this feature under development?

[2022-10-21 21:46] MaximFedarau opened #1816 "🐛 Bug Report: Integrations Store responsive design issue"
### 📜 Description

## On small width devices & browser windows list of integrations looks weird:

https://user-images.githubusercontent.com/87207122/197292568-66a3739e-c3e7-4457-99c0-77c2059cd0b0.mov

## I created a solution, which use only `Mantine API` without changing any other props:

https://user-images.githubusercontent.com/87207122/197293109-19230744-cdf3-4494-ab61-b98f44da9122.mov

### 👟 R

[2022-10-21 21:48] MaximFedarau commented on #1816
@scopsy, @davidsoderberg, if my proposal is correct, please, assign this issue to me😅

[2022-10-22 04:45] TheLearneer commented on #1814
@Astrodevil The image is working properly.
Ref: https://docs.novu.co/notification-center/react-components#subscriber-preferences

Just a note, the image is supposed to be working properly on the docs site itself.
So they might seem broken when browsing the markdown file itself

[2022-10-22 07:19] Astrodevil commented on #1814
Cool

[2022-10-22 07:19] #1814 closed

[2022-10-22 07:23] SachinHatikankar100 commented on #1237
Hi @jainpawan21 yes I need help on this

[2022-10-22 12:59] neelshah2409 commented on #1809
May I work on this issue !

[2022-10-22 14:02] shtelzerartem commented on #1778
@scopsy @davidsoderberg I decided to design the logo by myself, adding a title prop sounds too much for this little change. Here is a screenshot:
<img width="1510" alt="image" src="https://user-images.githubusercontent.com/20266461/197343194-056aa3c2-b66a-4fc8-9a60-3f7977328f73.png">

[2022-10-22 16:22] abhilipsasahoo03 opened #1824 "Feature: i18n support - Albanian (SQ)"
## Why?

Recently novu introduced an easy way to add translations for the @novu/notification-center component interface. So we can either specify a translation object or pass a premade translation.

## How?

- Add a new translation file here: packages/notification-center/src/i18n/languages. You can follow the en.ts example.

- Add your translation import to the TRANSLATIONS object at packages/noti

[2022-10-22 16:23] abhilipsasahoo03 commented on #1824
@scopsy @jainpawan21 @davidsoderberg kindly assign please?

[2022-10-23 01:45] #1807 closed

[2022-10-23 07:53] #1688 closed

[2022-10-23 07:56] #1689 closed

[2022-10-23 08:43] scopsy commented on #666
@Ian-Yy do you have a screen shot of how it will affect other pages?

[2022-10-23 09:00] MaximFedarau commented on #1816
@scopsy, there is a second path:

https://user-images.githubusercontent.com/87207122/197383470-e8c5a850-c8d4-4596-9a5c-c25b59c22619.mov

As you can see:
- [x] it is fully responsive - I use special formula for this.
- [x] nothing is out of bounds
- [x] padding is constant

But instead of using `<Grid/>` from `@mantine/core` I created my own custom styled component.
So, what is the best way for Nov

[2022-10-23 11:51] #1824 closed

[2022-10-23 11:52] #1809 closed

[2022-10-23 14:07] MaximFedarau commented on #1816
@scopsy, @p-fernandez, @davidsoderberg, so which way better?

[2022-10-23 15:39] saimaheshtaduri opened #1830 "🚀 Feature: search bar in contributors page"
### 🔖 Feature description

Add a searchbar so that user can search for his position.

### 🎤 Why is this feature needed ?

searching for our position in contributors page is getting difficult.

### ✌️ How do you aim to achieve this?

create a search bar in contributors page

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check if this feature request has been raised

[2022-10-23 16:48] abhilipsasahoo03 commented on #1645
Hey @ainouzgali @scopsy @davidsoderberg if this issue isn't being worked on currently, can I go on to try and give it a shot? Please let me know!

[2022-10-23 19:47] codingmickey commented on #1645
Yea was working on it, but had a break in between due to exams am continuing on it from 2-3 days..

[2022-10-24 04:17] abhilipsasahoo03 commented on #1645
Ok no problem! :)

[2022-10-24 05:43] ArshErgon commented on #1830
Do you mean this https://novu.co/contributors/ contributors page?

[2022-10-24 05:48] ArshErgon commented on #1751
@jainpawan21 short answer: Mandarin is a form of the Chinese language, just like Arabic is different in many countries, there will be some words same in both but not all things will be the same.
I'd like to work on this issue, Assign this issue to me

[2022-10-24 08:26] MaximFedarau commented on #1811
Solved #1826

[2022-10-24 08:26] #1811 closed

[2022-10-24 08:30] scopsy commented on #1816
Hi, @MaximFedarau are you on our Discord? Wanted to send you a DM to ask something :) https://discord.com/invite/WCaaK8nwZ7

[2022-10-24 08:33] MaximFedarau commented on #1816
Hi, @scopsy. Joined Discord. My nickname is navajo: navajo#8621.

[2022-10-24 09:04] mani-rsg commented on #1791
Hi @scopsy, I would like to work on this, you can assign this to me

[2022-10-24 11:00] saimaheshtaduri commented on #1830
Yes

[2022-10-24 12:02] rdmchr opened #1834 "🚀 Feature: Add AWS Pinpoint as SMS provider"
### 🔖 Feature description

I saw that AWS SES is already supported as an Email provider, so I believe that it would be great if you could just use AWS. This would require Novu to support AWS Pinpoint for SMS delivery.

### 🎤 Why is this feature needed ?

As stated above if Novu supported AWS Pinpoint you could use AWS for everything novu related. (Hosting, sending email and sending SMS) I also saw

[2022-10-24 13:10] scopsy commented on #1562
From a check i've made it looks like already been resolved 🙏 closing this for now

[2022-10-24 13:10] #1562 closed

[2022-10-24 13:20] saimaheshtaduri opened #1837 "🚀 Feature: add report a bug section in contributing.md"
### 🔖 Feature description

There is a section on how to raise feature request issue but not for reporting a bug.

### 🎤 Why is this feature needed ?

Users can easily report bugs if there is a section for it.

### ✌️ How do you aim to achieve this?

Add a section on how to report a bug just as feature request section.

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to

[2022-10-24 14:52] kymppi commented on #1830
I can try this 😄

[2022-10-24 15:54] saimaheshtaduri commented on #1830
@kymppi I am actually waiting for their approval to start working on this. 😁

[2022-10-24 15:55] kymppi commented on #1830
Oh, sure. You can work on it after they approve you 🎉

[2022-10-24 15:59] MaximFedarau opened #1839 "🚀 Feature: lithuanian i18n support"
### 🔖 Feature description

Lithuanian translation of @novu/notification-center.

### 🎤 Why is this feature needed ?

Because a lot of people used Lithuanian language as their native.

### ✌️ How do you aim to achieve this?

1) Create `lt.ts` file and add its content.
2) Connect it to `lang.ts`.
3) Update docs.

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check i

[2022-10-24 16:00] MaximFedarau commented on #1839
@scopsy, @davidsoderberg, @p-fernandez please, assign me to this issue

[2022-10-24 17:37] kymppi commented on #1074
Any progress on this? I would love to help

[2022-10-24 17:39] kymppi commented on #128
Any progress on this? I'm willing to do it

[2022-10-24 17:42] kymppi commented on #1137
Any progress on this?

[2022-10-24 22:10] ludovicobesana commented on #1456
@scopsy I see that @chaiwattsw have submitted already a pr. If it's good you can assign this issue to him.

[2022-10-25 08:33] saimaheshtaduri commented on #1830
@davidsoderberg

[2022-10-25 08:34] vedant-z commented on #1791
@JustinBack May I take this?

[2022-10-25 08:35] davidsoderberg commented on #1830
@saimaheshtaduri this should be moved to the website repository and maybe @nevo-david should review if it should be done or not...

[2022-10-25 09:33] JustinBack commented on #1791
Sure, I cannot find time to work on this particular issue

[2022-10-25 11:44] #1839 closed

[2022-10-25 12:09] jainpawan21 commented on #1074
Hi Midka, Sure, I am waiting for figma design.
Once it is available, we can work on this.

[2022-10-25 15:48] Akshu-on-github opened #1847 "🚀 Feature: Add Link to README.md"
### 🔖 Feature description

Add link to the Jarvis script to the README.md file

### 🎤 Why is this feature needed ?

- Brings greater attention to this feature
- Makes the feature more accessible
- Requested on the discord Office Hours

### ✌️ How do you aim to achieve this?

Add the link to the script along with a short description

### 🔄️ Additional Information

_No response_

### 👀 Have you spen

[2022-10-25 16:39] Abubakrce19 opened #1848 "🚀 Feature: add link to the logo"
### 🔖 Feature description

![image](https://user-images.githubusercontent.com/104122959/197832549-ee27b505-0e07-4bf4-8c1e-1b7742493999.png)

### 🎤 Why is this feature needed ?

,

### ✌️ How do you aim to achieve this?

,

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to check if this feature request has been raised before?

- [X] I checked and didn't find similar is

[2022-10-25 21:08] MaximFedarau opened #1850 "🚀 Feature: Latvian translation @novu/notification-center."
### 🔖 Feature description

Latvian translation @novu/notification-center.

### 🎤 Why is this feature needed ?

Because many people use Latvian as their native language.

### ✌️ How do you aim to achieve this?

1) Create `lv.ts` file and add its content.
2) Connect it to `lang.ts`.
3) Update `react-components.md`.

### 🔄️ Additional Information

_No response_

### 👀 Have you spent some time to chec

[2022-10-25 21:08] MaximFedarau commented on #1850
@ainouzgali, @p-fernandez, @davidsoderberg, please, assign it to me😇

[2022-10-26 02:46] msboffl commented on #1848
Can you please assign this to me, I will work

[2022-10-26 02:50] Abubakrce19 commented on #1848
I am already waiting
So they assign me

[2022-10-26 04:55] AbubakrChan commented on #1848
@davidsoderberg
Thank you for assigning
I will soon start working.

[2022-10-26 04:56] saimaheshtaduri commented on #1837
@nevo-david @scopsy

[2022-10-26 05:00] davidsoderberg commented on #1848
@AbubakrChan I assigned @Abubakrce19...?

[2022-10-26 05:03] AbubakrChan commented on #1848
Oh nevermind

[2022-10-26 06:17] scopsy commented on #1137
I think that for now, we will leave it out since we are focusing on other parts of the system. I will try to get back to it in a few weeks/months to take a closer look at this proposal when we have a bit more bandwidth.

[2022-10-26 08:23] kymppi commented on #1016
I can try this today/tomorrow. Never used DingTalk so i might not be able to do it, but will try.

[2022-10-26 11:18] AniqJaved commented on #1837
I would like to work on this🚀 but not sure where to start.🤔

[2022-10-26 14:35] Abubakrce19 commented on #1848
Pr created #1858
Please have a look
Thank you

[2022-10-26 15:41] oneknucklehead commented on #1751
can i work on this issue?

[2022-10-26 15:59] jainpawan21 commented on #1751
@scopsy Shall we consider this language?

[2022-10-26 16:17] codingis4noobs2 commented on #1592
@oneknucklehead it's already completed bro 😀

[2022-10-26 16:44] abhilipsasahoo03 opened #1860 "Feature: i18n support - Bosnian"
## Why?

Recently novu introduced an easy way to add translations for the @novu/notification-center component interface. So we can either specify a translation object or pass a premade translation.

**Note:**

Bosnian, though similar to Croatian and other Balkan languages, is widely used (almost by 50% population) in Bosnia.

## How?

- Add a new translation file here: packages/notification-center

[2022-10-26 16:44] abhilipsasahoo03 commented on #1860
@jainpawan21 I'd like to work on this. Could you please assign me this issue? :)

[2022-10-26 16:51] jainpawan21 commented on #1791
Hi @vedant-z Are you interested to work on this?

[2022-10-27 02:42] vedant-z commented on #1791
@jainpawan21 Ya sure. I just need some help on how should I approach this 😃

[2022-10-27 03:28] #1592 closed

[2022-10-27 04:10] #1848 closed

[2022-10-27 07:21] ljobse opened #1863 "🐛 Bug Report: Redis can't be password protected"
### 📜 Description

There is no way to provide any means of authentication to the Redis instance.
For a self hosted or local Novu instance that means it's impossible to host Redis on an external environment.

### 👟 Reproduction steps

1. Check config injection for the Redis instance
2. Find that only HOST and PORT are options

### 👍 Expected behavior

At least a password should be optionally config

[2022-10-27 15:09] Abubakrce19 opened #1872 "Hyperlinking Hacktoberfest image."
![image](https://user-images.githubusercontent.com/104122959/198327247-93e0262e-ea1e-4816-8759-b5611751e8de.png)
Hyperlinking Hacktoberfest image in readmemd file so the user can go to official hacktoberfest website with a single click.
Thank you

- **Summary**

- **Other information** (_e.g. detailed explanation, stack traces, related issues, suggestions how to fix, links for us to have context,

[2022-10-27 16:04] MarkusEicher commented on #1872
Hi maintainers. I would like to get assigned to this and work on it. Thanks in advance and have a good day.

[2022-10-27 16:13] Abubakrce19 commented on #1872
I created this issue and I am already waiting to get assigned.

[2022-10-27 16:14] MarkusEicher commented on #1872
Sorry. Didn't realize that. I'm out then. Hope you get it assigned soon. Good luck.

[2022-10-27 18:50] Wyfy0107 commented on #1323
Do we have any example doc yet and what's the format should be like, because it looks quite simple here: https://github.com/novuhq/api-docs/tree/main/content/pages/api-reference

[2022-10-28 03:37] shahGnp opened #1878 "🚀 Feature: i18n - Maithali support"
### 🔖 Feature description

Adding Maithili language

### 🎤 Why is this feature needed ?

For the speakers of Maithili language.

### ✌️ How do you aim to achieve this?

I am a Maithili language speaker and can translate it.

   - Add a new translation file here: `packages/notification-center/src/i18n/languages`. You can follow the `en.ts` example.
   - Add your translation import to the TRANSLATIO

[2022-10-28 06:03] shahGnp commented on #1878
PR created: #1879

[2022-10-28 06:54] viveknshah commented on #1324
Happy to pick this up if you are caught up @aggmoulik
Happy to help out @florian-lefebvre since  its been about 3 weeks of inactivity here.

[2022-10-28 07:04] p-fernandez commented on #1872
Thank you for your contribution @Abubakrce19. But unfortunately the link was on purpose to Novu's website instead of directly to Hacktoberfest website so this is not an issue.

[2022-10-28 07:04] #1872 closed

[2022-10-28 07:13] #1878 closed

[2022-10-28 07:24] florian-lefebvre commented on #1324
cc @jainpawan21 please assign @viveknshah instead

[2022-10-28 07:24] florian-lefebvre commented on #1323
You can look at https://github.com/novuhq/api-docs/tree/main/content/code-examples/subscribers

[2022-10-28 09:55] pontusab opened #1887 "🐛 Bug Report: Senders name missing in AWS SES"
### 📜 Description

When using SES `Sender name` is missing in the email.name

### 👟 Reproduction steps

Add SES, Add Sender name, trigger email.and

### 👍 Expected behavior

The sender's name should be visible in the Email.

### 👎 Actual Behavior with Screenshots

<img width="290" alt="Screenshot 2022-10-28 at 11 54 51" src="https://user-images.githubusercontent.com/655158/198559903-2818f1d1-c0c7-

[2022-10-28 10:59] MrKrishnaAgarwal opened #1890 "i18n Samoan language support"
- **I'm submitting a...**
   - [ ] bug report
   - [x] feature request
   - [ ] question about the decisions made in the repository
   - [ ] question about how to use this project

- **Summary**
-  Feature: Add i18n Samoan language support

- **Other information**
- I know this language because I learned it.

- [x] Yes, I'm willing to submit a PR

[2022-10-28 12:00] PrakashGatiyala opened #1892 "[NV-1241] Couple of web link at Terms of Use Page are not clickable"
- **I'm submitting a...**
   - [ ] bug report
   - [X] feature request
   - [ ] question about the decisions made in the repository
   - [ ] question about how to use this project

- **Summary**
![image](https://user-images.githubusercontent.com/34413515/198581245-63bed3db-5a6b-41c6-b121-dd61f91e8512.png)

Highlighted web links are not clickable at https://novu.co/terms/ Page.
I want to make them

[2022-10-28 14:53] p-fernandez commented on #1887
@pontusab if you'd like to work on it I can assign it to you.

[2022-10-28 14:56] #1863 closed

[2022-10-28 14:57] #1850 closed

[2022-10-28 14:58] #1847 closed

[2022-10-28 15:00] #1754 closed

[2022-10-28 15:05] p-fernandez commented on #1751
@ArshErgon, unfortunately mandarin support can't be added right now as we can only work with ISO 639-1 language codes (2 letters). Mandarin is present in ISO 639-3 as `cmn`. When we would be able to support that ISO specification for languages we will announce and let the community provide translations for the languages supportes with that specification.
I am closing this issue because of this, @b

[2022-10-28 15:05] #1751 closed

[2022-10-28 15:09] pontusab commented on #1887
Please do 👍

[2022-10-28 15:15] #1491 closed

[2022-10-28 15:18] p-fernandez commented on #1557
@Susmita-Dey, unfortunately hmong support can't be added right now as we can only work with ISO 639-1 language codes (2 letters). Hmong is present in ISO 639-3 as `hmv`. When we would be able to support that ISO specification for languages we will announce and let the community provide translations for the languages supported with that specification.
I am closing this issue because of this.

[2022-10-28 15:18] #1557 closed

[2022-10-28 15:19] #1633 closed

[2022-10-28 15:53] Vanshiii203 opened #1897 "🐛 Bug Report: Correct grammar and flow in code_of_conduct.md file"
### 📜 Description

I would like to Correct grammar and flow in code_of_conduct.md file

### 👟 Reproduction steps

NA

### 👍 Expected behavior

There are many fixes that are needed.

### 👎 Actual Behavior with Screenshots

NA

### 💻 Operating system

Windows

### 🤖 Node Version

node-v16.18.0-x64

### 📃 Provide any additional context for the Bug.

_No response_

### 👀 Have you spent some time to ch

[2022-10-28 16:57] washbin opened #1898 "Change issues and discussions to be links instead of plain text in CONTRIBUTING.md"
While reading `CONTRIBUTING.md` it may be better if the user is able to visit the issues and discussions tab by clicking the texts, i.e links. Currently both issues and discussions are plain text instead of being links to the respective tabs.

This is a pretty minor change and doesn't really fit in either bug or a feature so I opted for a blank issue.

Will you be willing to work on this issue ?
Y

[2022-10-28 18:06] Vanshiii203 opened #1902 "🚀 Feature: add the links of contributing.md in readme"
### 🔖 Feature description

I would like to add the links of  contributing.md in readme in the getting started section

### 🎤 Why is this feature needed ?

It will be easier for the people to understand and contribute to this repo

### ✌️ How do you aim to achieve this?

![Screenshot (512)](https://user-images.githubusercontent.com/94471189/198703303-271c3bb3-4362-4223-bbb0-d50ae71e16ec.png)

### 🔄

[2022-10-28 19:03] PrakashGatiyala commented on #1892
Hi @p-fernandez I am not able to find code of https://novu.co/terms/ page in this repo. Could you please guide me?

[2022-10-28 20:05] viveknshah commented on #1465
@Hirdey-1999 were you able to crack this or can I give it a shot?

[2022-10-28 20:07] viveknshah commented on #1464
@eigengravy any luck with this or can I give it a stab?

[2022-10-28 20:08] viveknshah commented on #1446
@Kunal-8789 were you able to resolve or can I take a stab at it?

[2022-10-28 22:30] Akshay-21 commented on #1898
Hey Hi, @washbin can you assign to me this issue.
actually i changed the issues and discussion link in CONTRIBUTING.md and also requested PR, kindly see this.

[2022-10-28 23:39] Hirdey-1999 commented on #1465
@viveknshah yay sure

[2022-10-29 01:33] washbin commented on #1898
@Akshay-21  I am not a maintainer of novu, I'm just a fellow contributor like yourself. So, I can't assign the issue to anyone.

And as you can probably see, I already had an active PR #1899 mentioning this issue.
Opening a second PR for the same thing is probably against [Contributing Guidelines](https://github.com/novuhq/novu/blob/main/CONTRIBUTING.md), the very thing you are making an edit to.

[2022-10-29 02:51] Vanshiii203 opened #1906 "🚀 Feature: enhance contributing.md file"
### 🔖 Feature description

The flow of content written in contributing.md is monotonous. Some content can be converted into points and the flow of content can also be improved. Also, I would like to add the "creating a pr" heading and content for the same. Also some grammar fixes are needed

### 🎤 Why is this feature needed ?

This is needed as the current file structure is monotonous

### ✌️ How

[2022-10-29 02:53] #1902 closed

[2022-10-29 06:14] CursedRock17 opened #1907 "🚀 Feature: Building up Pushwoosh"
### 🔖 Feature description

Currently the Pushwoosh Push provider is very low built and not up to par with the other services while it could be.

### 🎤 Why is this feature needed ?

When looking through the documentation I noticed there were many more modes to the studying sent messages and sending messages that come straight out the box with Pushwoosh. Pushwoosh is a very dynamic push provider tha

[2022-10-29 07:13] viveknshah commented on #1465
@jainpawan21 / @scopsy

I have gone through the gupshup website, support docs and finally a meaningful SMS API (https://enterprise.smsgupshup.com/help/in/EnterpriseAPIDocument.pdf) , they don't seem to have additional support for the scenarios you are looking. Further going through their docu, looks like their focus is more on whatsapp integration than older SMS setup. I could tweak the provider c

[2022-10-29 08:34] Akshay-21 commented on #1898
@washbin yeah ok, but here i updated some new link ref. for issues and create your own. like this one and others also.

![image](https://user-images.githubusercontent.com/32409386/198822148-4143f87d-0927-4064-ac6b-5c8a56b797de.png)

[2022-10-29 08:36] Vanshiii203 opened #1909 "🐛 Bug Report: The link of image in monorepo-structure.md file is not correct"
### 📜 Description

https://user-images.githubusercontent.com/94471189/198822145-fa738757-6294-4459-8f5f-dd696d3f84b3.mp4

### 👟 Reproduction steps

NA

### 👍 Expected behavior

https://docs.novu.co/assets/images/monorepo-structure-eea6a227a77765ad9baefc5b18360001.jpeg
this should be the link

### 👎 Actual Behavior with Screenshots

### 💻 Operating system

Windows

### 🤖 Node Version

node-v16.18.0

[2022-10-29 12:01] vrabe commented on #1909
same issue: #1743

[2022-10-29 13:54] CursedRock17 commented on #1907
Here's the pull request I already sent in, once it gets merged you can use that as a tool #1876

[2022-10-30 04:10] #1909 closed

[2022-10-30 06:11] AshishSharma1203 opened #1918 "To imrove Readme.md file"
# Description

I want to make some changes to the following line.

![image](https://user-images.githubusercontent.com/92261209/198865127-a64a08d0-fe6a-4940-bfec-442855b2fce0.png)

# Why is this change needed?
The line doesn't seem good , the sentence flow is not well.

## Type of change
I will change this to:

[code]
# Additional Information
This repository is under hacktoberfest contribution. Kin

[2022-10-30 12:31] Wyfy0107 commented on #1323
This look like documentation for node client lib, but the current node client does not have environment module yet, does it make sense to add the doc now ? Should I add support for environment module first to the node client and then add the doc ?

[2022-10-30 17:55] deepak-sreekumar commented on #1321
@scopsy  @florian-lefebvre  Raised PR:https://github.com/novuhq/novu/pull/1921 for the missing endpoints in notification groups. Please take a look and let me know. Thanks!

[2022-10-30 18:12] #1890 closed

[2022-10-31 08:26] p-fernandez commented on #1892
I am sorry but only core maintainers have access to the content of the Website. I will unassign the issue.

[2022-10-31 09:21] florian-lefebvre commented on #1323
Yes you must add it to the node client before taking care of the docs 👍

[2022-10-31 09:24] #1318 closed

[2022-10-31 11:40] p-fernandez commented on #1918
Thanks for raising the issuee, but unfortunately I will have to close it as it is not providing any improvement and one of the two corrections suggested is a grammatical error.

[2022-10-31 11:40] #1918 closed

[2022-10-31 12:40] p-fernandez commented on #1898
@Akshay-21 as a deference to @washbin for opening the issue I will assign it to them. But I would suggest you both to collaborate in the same PR. You both would get recognised as contributors for that. You can combine all the PRs open in that one.
https://github.com/novuhq/novu/pull/1899
https://github.com/novuhq/novu/pull/1904
https://github.com/novuhq/novu/pull/1905

[2022-10-31 13:43] ryuusama09 commented on #1897
Is this issue still up for grabs ?

[2022-10-31 13:45] washbin commented on #1898
If thats the verdict then, @Akshay-21 could you pull from the pr #1899  and publish your additional changes there.

However, @p-fernandez they seem to have worked on some changes in README.md in one of the PRs mentioned above which is not related to this issue.
If it could be counted a sepearate contribution then I guess it will be okay for them to merge both of their PRs into single one and the t

[2022-10-31 13:47] p-fernandez commented on #1898
Let's do that. Anyway, for future reference, if different people collaborate in a PR they are both credited.

[2022-10-31 13:54] #1324 closed

[2022-10-31 13:54] washbin commented on #1898
Great, then I guess it should be okay to close this issue since the original PR has been approved and the other open PR's do have a reference to here if @Akshay-21 needs more info for their side.

[2022-10-31 13:54] #1898 closed

[2022-10-31 14:12] p-fernandez commented on #1647
@maxslimb are you ok if we reassign this issue to @abhilipsasahoo03 ?

[2022-10-31 15:01] #1860 closed

[2022-10-31 15:06] abhilipsasahoo03 commented on #1647
I suppose there has been no further updates or response on this issue from @maxslimb's side for a long time. Is it okay if you could reassign?

[2022-10-31 16:40] Akshay-21 commented on #1898
Hey Hi, @p-fernandez then exactly what do i need to do?

[2022-10-31 16:45] Akshay-21 commented on #1898
Okay, Thanks!

[2022-11-01 14:29] Asmit2952 opened #1946 "No "Open in Gitpod button present""
There are .gitpod.yml and .gitpod.dockerfile available in this repository, but open in Gitpod option is not available. We can include a button like this in the Readme:
 [![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io/#<your-repository-url>)

[2022-11-01 22:52] mediana opened #1949 "[NV-1240] 🚀 Feature: Ability to set specific Email Headers (to track campaigns)"
### 🔖 Feature description

Different email providers proposes to add custom headers when sending campaigns to better track them (by allowing to group messages). It also permits getting statistics and so on.
For instance, Mailjet documentation explains their implementation : https://dev.mailjet.com/smtp-relay/custom-headers/
Also, for SendGrid : https://docs.sendgrid.com/for-developers/sending-emai

[2022-11-02 04:41] JayKaneriya11 commented on #1496
It's working in latest code.

[2022-11-02 04:41] #1496 closed

[2022-11-02 11:09] chavda-bhavik opened #1950 "🐛 Bug Report: Web Docker container gets existed with JavaScript heap out of memory"
### 📜 Description

When using self-hosted version of Novu, many times docker container for `Web` gets terminated with error `FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory`.
![js-memory-heap log](https://user-images.githubusercontent.com/50201755/199474180-e0010d70-489d-4c0e-a939-bf18dec563f3.png)

### 👟 Reproduction steps

Deploy **Novu** on Ubuntu instance with

[2022-11-02 11:55] davidsoderberg commented on #1946
Hi @Asmit2952, that is because we have had problem with using Gitpod for Novu... Not sure it is fixed yet 🤔 @ainouzgali @djabarovgeorge do you know if it is fixed?

[2022-11-02 15:18] p-fernandez commented on #1950
Could you provide more logs from the container of what was being executed before running out? Thus will make it easier to investigate.
What was the running time of the container before terminating for the memory error?

[2022-11-03 03:52] chavda-bhavik commented on #1950
@p-fernandez I couldn't able to find exact timing for start and end of container but it happened two times, one was after 2 month and another was after 1 day.
And Docker logs showing the same entries of the image I attached previously.

[2022-11-03 10:04] Wyfy0107 commented on #1323
Sure, I'll work on the doc soon

[2022-11-03 12:30] djabarovgeorge commented on #1946
I don't believe it was fixed yet.

[2022-11-03 14:49] Cliftonz opened #1958 "🐛 Bug Report: Containers are not currently optimized and are >1GB"
### 📜 Description

The issues with the current docker containers are:
- include dev dependencies
- do not use production pnpm builds
- include python of which is not used in the system
- they do not optimize the COPY command
- use standard out when installing modules
- does not ensure dev dependencies are removed with pruning

The current size of the containers is ~2GB on average this can slow dow

[2022-11-03 18:10] Cliftonz opened #1959 "🚀 Feature: Update to current active version of Node (18)"
### 🔖 Feature description

This Issue is to discuss and track the progress of updating to the next LTS version of node.

### 🎤 Why is this feature needed ?

This will allow the platform to gain from underlying improvements to the ecosystem on top of being in support for 2+ years.

### 👀 Have you spent some time to check if this feature request has been raised before?

- [X] I checked and didn't fi

[2022-11-04 09:52] yash-sonawane opened #1960 "🚀 Feature: Digest capability for the data field in push notifications"
### 🔖 Feature description

The push notification message request contains a field called 'data', which contains data that an app might use to handle the way the notification is processed. Currently there is no way to digest the data in this field.

### 🎤 Why is this feature needed ?

In my use case, the data field contains a uri used to navigate to a certain page in the app. However depending on w

[2022-11-04 15:40] Cliftonz commented on #1958
Just for a point of documentation, to consolidate all of the copies to one layer you would do something like this with the RUN --mount=bind capability specifically with multi-stage build.
`
RUN --mount=src=/,dest=/artifacts,from=builder \
   cp /artifacts/usr/include/header_1.h /usr/include/header_1.h \
&& cp /artifacts/usr/include/header_n.h /usr/include/header_n.h
`

[2022-11-06 14:24] BiswaViraj opened #1969 "[NV-1239] 🐛 Bug Report: unable to remove CTA buttons inside in-app editor"
### 📜 Description

The CTA buttons doesnt get removed upon removing them from UI and updating it,
Upon reloading the page after the update, the CTA button appears again

### 👟 Reproduction steps

1. Open in-app editor
2. add CTA buttons
3. update to save the buttons
4. remove the CTA buttons from the UI using the `x` icon
5. update it again to save the changes
6. reload or revisit the page
7. The

[2022-11-06 14:26] BiswaViraj commented on #1969
Also, it seems like the issue is on the API side

[2022-11-07 08:48] jfemia opened #1971 "🐛 Bug Report: Self-hosted Invite functionality does not work"
### 📜 Description

The invite functionality doesn't work in a self-hosted environment. Attempting to invite a user results in a HTTP 500 response from the invite API.

It appears the implementation of the invite usecase instantiates a `Novu` client but does not pass the configured `API_ROOT_URL`, so it defaults to calling the hardcoded cloud URL, which obviously 401s.

### 👟 Reproduction steps

1.

[2022-11-07 13:06] jfemia commented on #1971
Can I clarify some behaviour here as I may have misunderstood & misconfigured some env vars -

Is a self-hosted instance always supposed to send invites via Novu cloud using the API key? Or should it also be able to send them from the self-hosted instance? (I assumed that's what the SendGrid API key was for).

Providing a valid cloud Novu API key allows my invites to send (and I now see that line

[2022-11-07 13:50] SpencerMiller23 commented on #1220
Any updates with regards to this feature?

[2022-11-07 13:51] SpencerMiller23 commented on #1255
Hey @techsavvyash how's it going? Any updates for us?

[2022-11-08 06:35] ComBarnea commented on #1971
Hey @jfemia this is a bug. I am pretty sure a fix is coming in the next version of 0.9.0, @scopsy can you confirm that? And as you mentioned, there will be a need for somewhat of an API key to an Email provider, but @scopsy can elaborate a bit more.

[2022-11-09 04:04] scopsy commented on #1958
A few months back i've introduced some of the suggestions here to the API dockerfile which helped reduce the docker size almost in two: https://github.com/novuhq/novu/pull/933

I think combined with some of the suggestions here it could be replicated to the other docker components in the system.

[2022-11-09 14:17] Anvallll opened #1987 "https://github.com/RustScan/RustScan/pull/455"

[2022-11-10 06:46] SajMohammed opened #1997 "[NV-1238] 🐛 Bug Report: The tooltip on activity feed is hidden"
### 📜 Description

The tooltip on activity feed tab is hidden. Seems like an indexing issue

### 👟 Reproduction steps

1. Go to activity feed tab
2. hover over the bar graph
3. no details visible

### 👍 Expected behavior

It should show the tooltip and corresponding details

### 👎 Actual Behavior with Screenshots

![Screenshot 2022-11-10 115817](https://user-images.githubusercontent.com/51795573/2

[2022-11-10 07:57] #1987 closed

[2022-11-10 11:47] MaximFedarau opened #1998 "🐛 Bug Report: manifest error in Chrome"
### 📜 Description

When I go to web.novu.co main page and I am authorized I receive an error message:
<img width="498" alt="demo" src="https://user-images.githubusercontent.com/87207122/201082514-b44d69ba-316b-4935-97a7-8f52a957f42c.png">

### 👟 Reproduction steps

1. Go to [site](https://web.novu.co).
2. Login.
3. Open console.

### 👍 Expected behavior

Icons should exist.

### 👎 Actual Behavior

[2022-11-10 12:26] p-fernandez commented on #1998
Looks like `manifest.json` just needs to be updated to only have listed the favicon as it is the only one we have in the folder.

[2022-11-10 12:35] MaximFedarau commented on #1998
@p-fernandez , or we should add these 2 icons.
Which is the preferred way?

[2022-11-10 12:46] MaximFedarau commented on #1998
@p-fernandez, @davidsoderberg, please, assign it to me.

[2022-11-10 20:36] Swahjak opened #2002 "🚀 Feature: Allow content engine to be extended or replaced"
### 🔖 Feature description

Currently the content engine is based on functions that process the template using handlebars. The way this is currently done does not allow the engine to be extended or replaced. If the content engine is abstracted and provided through constructor injection it can be extended and / or replaced.

### 🎤 Why is this feature needed ?

While some may prefer Handlebars, other

[2022-11-10 21:40] Wyfy0107 commented on #1323
I opened a PR, please check: https://github.com/novuhq/api-docs/pull/22

[2022-11-11 00:17] hckhanh opened #2004 "🐛 Bug Report: Cannot assign to read only property 'unseenBadgeBackgroundColor' of object '#<Object>'"
### 📜 Description

Integrate with built-in notification-center. I am using Vite

### 👟 Reproduction steps

Click on the bell

### 👍 Expected behavior

Notification popup appeared

### 👎 Actual Behavior with Screenshots

It crashed

### 💻 Operating system

Windows

### 🤖 Node Version

18.12.1

### 📃 Provide any additional context for the Bug.

[code]

### 👀 Have you spent some time to check if this

[2022-11-11 01:53] hckhanh opened #2005 "🐛 Bug Report: ButtonTypeEnum, MessageActionStatusEnum, IMessage are not exported"
### 📜 Description

I believe that these types need to be exported for customization in `@novu/notification-center`

### 👟 Reproduction steps

Import ButtonTypeEnum, MessageActionStatusEnum, IMessage

### 👍 Expected behavior

It shows errors because there are no exports for these types

### 👎 Actual Behavior with Screenshots

Can import these type

### 💻 Operating system

Windows

### 🤖 Node Versio

[2022-11-11 08:22] MaximFedarau opened #2006 "[NV-1236] 🚀 Feature: Spotlight SearchBar"
### 🔖 Feature description

`Novu` now has a Spotlight feature, but there is no hint.
So I think it's very useful to create custom SearchBar which will:
1) Help with key bindings.
2) Way to interact with the websitr for users, whuch prefer to use mouse.
Example from RTK docs:
![image0](https://user-images.githubusercontent.com/87207122/201297070-52b08d55-ee63-4194-97f9-1999ebd6563d.jpg)

### 🎤 Why

[2022-11-11 08:29] Timonzimm opened #2007 "[NV-1235] 🚀 Feature: Push (FCM) data messages"
### 🔖 Feature description

Currently Novu only allows to send what Firebase calls Notification messages, with a "notification" field in the payload. It is then automatically handled by FCM SDK as explained here: https://firebase.google.com/docs/cloud-messaging/concept-options#notifications_and_data_messages

This is very limiting.

The feature would allow to either:
- Send **Data message** that ca

[2022-11-11 18:38] sofferjacob commented on #2004
Same issue here. Created a PR with a fix

[2022-11-12 10:33] Ian-Yy commented on #666
Sorry for taking so long on this. When I was taking the screen shot for the other pages, I realized setting the `height: 100%` will break those pages where their height needs to be more than 100% such as `Getting Started`, `Integration Store` and etc. So, I personally think to minimize the affected page, it would be better setting the height of React Flow to vh.

I also tried setting top down `min

[2022-11-12 22:51] jimzer commented on #2007
I'm also faxing this issue. It would be great to have a solution to send data only notification with FCM 👍🏽

[2022-11-13 15:00] oba2311 opened #2013 "Test"
this is a test

—

Created via [Raycast](https://www.raycast.com?ref=signatureGithub)

[2022-11-13 17:13] scopsy opened #2014 "[NV-1154] Test Issue"
Hello World Test Number 2

[2022-11-13 17:14] scopsy commented on #2014
A Comment

[2022-11-13 17:14] scopsy commented on #2014
Another Comment

[2022-11-13 17:15] #2014 closed

[2022-11-14 03:13] #2013 closed

[2022-11-14 03:14] scopsy opened #2016 "🐛 Bug Report: test"
### 📜 Description

asd

### 👟 Reproduction steps

asd

### 👍 Expected behavior

asd

### 👎 Actual Behavior with Screenshots

asd

### 💻 Operating system

MacOS

### 🤖 Node Version

ad

### 📃 Provide any additional context for the Bug.

asdadas

### 👀 Have you spent some time to check if this bug has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contrib

[2022-11-14 03:15] #2016 closed

[2022-11-14 06:36] chavda-bhavik commented on #1950
Hey, @scopsy @p-fernandez Any update on this issue? I can spare some time on it if you can provide some hints on possible ways to tackle this issue.

[2022-11-14 07:12] #1998 closed

[2022-11-14 07:22] scopsy commented on #1950
Hi @chavda-bhavik, I would mainly suggest to think of a different static content serving options instead of the simple-http server npm package we use there. Maybe we can use NGINX? Or any other static serving solution?

Internally we use Netlify, so we don't experience any problems with it. But previously I have used nginx for static files so maybe it will also work here. Wdyt?

[2022-11-14 07:24] chavda-bhavik commented on #1950
Didn't tried serving static content with Nginx before, But I will look into it. @scopsy can you assign this issue to me?

[2022-11-14 07:50] scopsy opened #2017 "[NV-1157] Test Sync"
Hello World

[2022-11-14 07:57] djabarovgeorge commented on #2017
Looks great, I think you are missing exclamation mark

[2022-11-14 07:59] scopsy commented on #2017
My comment

[2022-11-14 08:00] scopsy commented on #2017
Test

[2022-11-14 08:00] djabarovgeorge commented on #2017
Comment number four

[2022-11-14 08:01] #2017 closed

[2022-11-14 08:01] djabarovgeorge commented on #2017
Seven

[2022-11-14 08:02] scopsy opened #2018 "[NV-1158] Hello World"

[2022-11-14 08:03] #2018 closed

[2022-11-14 08:06] scopsy opened #2019 "[NV-1159] Testing GH sync"
A content from Linear

[2022-11-14 08:06] scopsy commented on #2019
Test Comment

[2022-11-14 08:14] #2019 closed

[2022-11-14 08:24] #1323 closed

[2022-11-14 08:27] florian-lefebvre commented on #1319
Hey @dishantzaveri do you need help?

[2022-11-14 13:06] scopsy opened #2020 "[NV-1173] Another Test"
Test 2222

[2022-11-14 13:07] scopsy commented on #2020
Comment from here

[2022-11-14 13:08] djabarovgeorge commented on #2020
Github comment

[2022-11-14 13:12] djabarovgeorge commented on #2020
Github comment after sync

[2022-11-14 13:12] djabarovgeorge commented on #2020
Linear comment after sync

[2022-11-14 13:14] djabarovgeorge commented on #2020
#1295

[2022-11-14 13:16] djabarovgeorge commented on #2020
response

[2022-11-14 13:20] scopsy commented on #2020
Tagging @djabarovgeorge what happens

[2022-11-14 13:21] #2020 closed

[2022-11-14 13:22] djabarovgeorge commented on #2020
I am not sure where you tagged but i got a email notification from GitHub

@scopsy

[2022-11-14 13:34] scopsy commented on #2020
@djabarovgeorge tagged in Linear :)

[2022-11-14 13:36] Ayan-Kumar-Saha opened #2023 "[NV-1187] Need option to override `tls` configuration"
### 🔖 Feature description

Currently, as per the support Novu has, it only takes a couple of arguments like User, Password, Host, Port, Secure, etc to create the transport. However, while using only these my Nodemailer configuration is throwing the following error

![](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/8451f9d8-6652-4817-a0c4-7b80067256bb/ec2f230c-7b8d-46d4-a0e6-946df

[2022-11-15 05:24] scopsy opened #2026 "[NV-1178] MSTeams integration throwing error"
### What?

As reported by a community member on [Discord](https://discord.com/channels/895029566685462578/1041671116063780864/1041671116063780864) sending an MS team notification throws an error:

[code]

 The credentials provided:

[code]

[2022-11-15 11:36] dcamarasa commented on #2026
The issue was not on the provider but on the format of the message content that was being sent. MS Teams enforces the messages to be in JSON format.

[2022-11-16 05:12] ducdung8491 commented on #2026
I fixed it #2029

[2022-11-16 07:34] #2002 closed

[2022-11-16 07:43] oba2311 opened #2030 "Testing Modal"
We need to add a modal to fill in payload variables to be tested. (reuse existing payload modal)
One input field (design requires a change). Comma separated.

Input variables modal - requires design to include required variables, subscriber.

Design:
https://www.figma.com/file/ibQlg50J0zXJFPww6JaGzA/Email-Editor?node-id=17%3A1042&viewport=1408%2C379%2C0.06

Missing copy - success message. @oba2311

[2022-11-16 07:45] oba2311 opened #2031 "Previews - Web"
We need to render both visual GUI and custom code - Web and mobile are top priority, and preheaders would be nice.

Let's start with Web - the "fake browser" is nice to have. We have the From, date is today and we can look up the standard width for web email design. @oba2311 .

[2022-11-16 07:45] oba2311 opened #2032 "Preheader"
GOTCHA - transfer the input preheader into custom code with the corresponding variable.

Design:
https://www.figma.com/file/ibQlg50J0zXJFPww6JaGzA/Email-Editor?node-id=176%3A1625&viewport=14829%2C-3848%2C1.06

The date is just today.

[2022-11-16 07:45] oba2311 opened #2033 "Variables Management"
Addition - with the braces, have the empty state in the payload to explain how to add vars.

We can start with "System vars" separation, and finalize the list of system vars on PRD.

Missing design for required var, and defaults.

https://www.figma.com/file/ibQlg50J0zXJFPww6JaGzA/Email-Editor?node-id=195%3A1959&viewport=16265%2C-7167%2C1.2

[2022-11-16 07:45] oba2311 opened #2034 "Autocomplete"
This seems to be a bit complicated on top of the editor and for now is a stretch for the cycle.

First - customer editor

Depending on time - Editor.

[2022-11-16 08:31] dcamarasa commented on #2026
Sorry @ducdung8491, but in the fix you are supposing that messages should be put in a "text" field in the JSON message to MS teams, but the json can contain other several fields like 'summary', '@type', 'contentType', etc. That's why the content you put in the notification template should already contain the JSON you want to be sent.

Take a look at connector card examples: https://learn.microsoft

[2022-11-16 08:42] oba2311 opened #2035 "Previews - Mobile"
Mobile Previews are bonus scope for the cycle.

[2022-11-16 10:04] davidsoderberg commented on #2032
If the preheader property is sent in payload it will override the one provided in UI

[2022-11-16 23:37] guywal opened #2040 "[NV-1191] 🐛 Bug Report: Nested handlebar variables aren't shown in Template variable protection and defaults"
### 📜 Description

When there are nested variables inside `each`/`if` handlebar statements they aren't shown under the template to allow the user to pick defaults and "is required".

### 👟 Reproduction steps

Create template with a variable inside a block statement. For example

[code]

### 👍 Expected behavior

It should show all nested variables

### 👎 Actual Behavior with Screenshots

Only shows

[2022-11-17 09:52] ducdung8491 commented on #2026
@dcamarasa what you say is actionable messages. MS webhook also support [simple message](https://learn.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using?tabs=cURL#send-messages-using-curl-and-powershell)

[Chat message](https://github.com/novuhq/novu/blob/271488a5ea716f00167d397c01694e8287d5c289/packages/stateless/src/lib/provider/provider.interface.ts#L57

[2022-11-17 10:23] dcamarasa commented on #2026
But with this solution then the provider would only send simple messages. Actionable messages wouldn't be supported.

[2022-11-17 11:58] amosbastian opened #2043 "[NV-1186] 🚀 Feature: add a way to unset a subcriber's credentials"
### 🔖 Feature description

It would be nice if you could unset credentials for e.g. a Slack workspace

### 🎤 Why is this feature needed ?

Currently you need to do:

[code]

which isn't too much of a hassle, but is potentially confusing

### ✌️ How do you aim to achieve this?

Having something like `unsetCredentials`, such as

[code]

would be nice

### 🔄️ Additional Information

I'm not sure if y

[2022-11-17 11:58] ducdung8491 commented on #2026
I think you should create new a new issue if you would like to support Actionable messages

[2022-11-17 14:17] p-fernandez commented on #2023
I created a draft PR with ongoing work for this feature so the community can contribute and develop this feature.
https://github.com/novuhq/novu/pull/2044

[2022-11-18 13:30] ducdung8491 commented on #2026
ok, I have got it

[2022-11-18 13:42] p-fernandez commented on #2043
[https://github.com/novuhq/novu/pull/2039](https://github.com/novuhq/novu/pull/2039)

[2022-11-20 08:05] davidsoderberg opened #2050 "Preview Inbox - Web"
Preheader / Inbox - this is essential just disabling + making the title and sender (date) bolt for the preheader input.

[2022-11-20 08:05] davidsoderberg opened #2051 "Preview Inbox - Mobile"

[2022-11-20 08:48] #2040 closed

[2022-11-20 09:00] scopsy commented on #1220
Unfortunately not, @SpencerMiller23. Returned the help wanted label on the issues since @Nabhag8848 un-assigned him self.

[2022-11-20 12:37] scopsy commented on #1971
@jfemia could you please try with the new 0.9.0 release? we've no showing the invite link so you could copy it and send it manually. At this point we can't provide a working scenario with automatically sending and email because we use Novu to send messages with Novu and it will require us to expose our private key.

Hope this makes sense 🙏

[2022-11-20 15:56] oba2311 opened #2056 "[NV-1196] Add some reference to reactrouter - navigate, for the get started page in docs"
In docs, the getting started page:
[https://docs.novu.co/notification-center/getting-started](https://docs.novu.co/notification-center/getting-started)

We have a copy-paste code that should work out-of-box. It doesn't really becaue "Navigate" triggers an error if reactRouter is not there installed and imported.

Perhaps include the import in the code, which suggests it needs to be installed.

---

[2022-11-20 15:57] oba2311 opened #2057 "[NV-1196] Add some reference to reactrouter - navigate, for the get started page in docs"
In docs, the getting started page:
[https://docs.novu.co/notification-center/getting-started](https://docs.novu.co/notification-center/getting-started)

We have a copy-paste code that should work out-of-box. It doesn't really becaue "Navigate" triggers an error if reactRouter is not there installed and imported.

Perhaps include the import in the code, which suggests it needs to be installed.

---

[2022-11-20 15:58] #2057 closed

[2022-11-20 15:59] oba2311 commented on #2057
Duplicate

[2022-11-20 16:29] oba2311 opened #2058 "[NV-1197] Add backgroud to the "copy code" button within the code shown in activity feed"
See here attached - this is likely to happen in most cases and soe we should fix it:

![CleanShot 2022-11-20 at 18.27.58@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/be9f3422-1ed0-4999-b7fa-4922007b1597/8b34e6e7-b8c0-4aae-a9b6-6d6155e85fba)

---

Created via [Raycast](https://www.raycast.com)

[2022-11-21 04:26] singhgulshan commented on #612
@scopsy After updating `@novu/notification-center` to version `0.9.1`. I'am not able to use `IMessage` interface. it says `IMessage` is not exported. Is this expected behaviour?? As i was using `IMessage` to customize my notification, so need quick solution.

[2022-11-21 10:21] djabarovgeorge commented on #612
Hey @singhgulshan I see the problem, shortly I will create a PR to fix it.
Thanks for raising it up! 👍🏻

[2022-11-21 12:05] scopsy opened #2060 "[NV-1198] Create notification template is not working using API Key"
When triggering a create notification template using API Key a

[code]

Is thrown, making the same request with a Bearer token from the web works as expected.

### How to reproduce

[code]

This will fail, but if we change the Authorization to use a web `Bearer` token it successfully creates it.

[2022-11-21 12:52] ainouzgali commented on #2033
Also design for json variables @oba2311

[2022-11-22 06:17] singhgulshan opened #2063 "Notification content parsing issue"
### 📜 Description

Send notification with html tags

### 👟 Reproduction steps

1. Trigger notification with variable which contains Html tags in it.
2. Use that vaiable as notification content in Novu's Admin control pannel.
3. Content will be tiggered to user but with parsed html variable.

### 👍 Expected behavior

It should not parse Html tags or there should be an option to disable parse for ce

[2022-11-22 06:24] singhgulshan commented on #612
@djabarovgeorge Any ETA for this fix release?

[2022-11-22 09:08] MishaDV opened #2064 "🚀 Feature: Add Mailchain SDK for messaging Web3 names and identities (blockchain addresses)"
### 🔖 Feature description

You can use Mailchain to send end-to-end encrypted emails to Web3 names, such as ENS names, and Web3 identities, such as blockchain wallet addresses. 

### 🎤 Why is this feature needed ?

Users expect to be communicated with via the communication channels that fit their needs and goals. There is a growing trend towards platforms offering the choice of user login with SMT

[2022-11-22 09:48] scopsy commented on #612
@scopsy the IMessages export should be available in 0.9.2 later today. 🙏

[2022-11-22 09:53] oba2311 commented on #2043
So @scopsy  this seems done in GH?

[2022-11-22 09:58] p-fernandez commented on #2043
No, this was me linking that PR in a wrong issue. Let me fix. Apologies.

[2022-11-22 12:00] amosbastian opened #2069 "[NV-1210] 🐛 Bug Report: Chat notifications failing (Discord)"
### 📜 Description

I have set up a notification for when someone replies to a comment. It is working fine for in-app notifications, but fails when trying to set a chat notification even though the credentials have been set.

The workflow looks as follows:

![](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/9f562e9c-3b75-4a87-9b9c-12057025b4fa/f33018b3-a02e-4329-9cae-517fc0ba6e4f)

[2022-11-22 12:41] singhgulshan opened #2070 "🐛 Bug Report: Pagination Issue in React component"
### 📜 Description

Page number not reset to 0 after calling refetch method of`useNotification.

### 👟 Reproduction steps

Call `fetchNextPage` several times, After that call `refetch` after that again call `fetchNextPage`. Page will be same as old page number.

### 👍 Expected behavior

`refetch` should also reset the page number.

### 👎 Actual Behavior with Screenshots

Calling the last page which

[2022-11-22 12:53] scopsy commented on #612
@singhgulshan could you try upgrading the `@novu/notification-center` to `v0.9.2` please?

[2022-11-22 12:54] #1816 closed

[2022-11-22 13:25] singhgulshan commented on #612
@scopsy It working fine now. Exports are available. Thanks.

[2022-11-22 15:35] markmssd opened #2071 "[NV-1234] 🐛 Bug Report: "Mark a Subscriber Message as Seen" now returns an array instead of an object"
### 📜 Description

The [/subscribers/:subscriberId/messages/:messageId/seen](https://docs.novu.co/api/mark-a-subscriber-feed-message-as-seen/) used to return an object, as `{ data : message }`, but it now returns an array as `{ data: [ message ] }`. I've looked through the Novu 0.9.0 changelog and this doesn't seem intentional.

### 👟 Reproduction steps

Simply call the [/subscribers/:subscriberId

[2022-11-22 16:17] jinsley8 commented on #2005
It looks like typescript types are only in the `@novu/shared` package.

`import { IMessage, IMessageAction, ButtonTypeEnum } from '@novu/shared'`

[2022-11-23 09:44] ainouzgali opened #2075 "Preheader - handlebars"
I feel we should allow variables in the preheated.

![Image](https://user-images.githubusercontent.com/7778680/203515331-7f02b816-0781-4ed6-93f3-38ff0f4edeaa.png)

- Reminder - support addition of the variables in the Variable Manager

[2022-11-23 09:45] ainouzgali commented on #2075
@oba2311 @davidsoderberg

[2022-11-23 13:32] ryshoooo opened #2077 "🐛 Bug Report: Missing documentation on default credentials"
### 📜 Description

Missing documentation on the default user credentials

### 👟 Reproduction steps

There is no documentation on where I can find the default provided user when running Novu locally.

### 👍 Expected behavior

As part of the documentation, there should be either the default credentials written out or a reference to where the credentials can be found.

### 👎 Actual Behavior with Scre

[2022-11-23 14:13] #2077 closed

[2022-11-23 14:34] mohsinamjad opened #2078 "[NV-1233] 🚀 Feature: Ability to send emails to unsubscribed users"
### 🔖 Feature description

Here is an example for this use-case,
we want to send the emails to some users which are not registered in our app i.e "Invite users to app" email.
at this point we only have their emails, we can send the emails by using their email as a subscriberId, but in that case we'll have alot on unregistered users in subsribers list and in database which we don't want.
It also di

[2022-11-23 14:55] cryptic-ai opened #2079 "[NV-1227] 🐛 Bug Report: generate:provider places wrong version of @novu/stateless"
### 📜 Description

When running `yarn run generate:provider` per docs located at [here](https://docs.novu.co/community/create-provider), it is putting the version of `@novu/statless` at `0.4.1` instead of `0.9.0`

### 👟 Reproduction steps

Run `yarn run generate:provider`

### 👍 Expected behavior

@novu/stateless should be 0.9.0

### 👎 Actual Behavior with Screenshots

It's 0.4.1

### 💻 Operating

[2022-11-23 16:58] jfemia commented on #1971
Hey, so we're running 0.9.0 now but we ended up just configuring it to use our novu cloud api key for sending initial invite emails. Ultimately it's not really a blocker for us so if you want to close it I'm fine with what we have.

My original assumption about this was that it was straightforward to fix - which was incorrect 😆 . I suspect a proper solution to fully decouple self-hosted from cloud

[2022-11-24 05:39] ducdung8491 commented on #2026
Hi @dcamarasa. I have an update.

[2022-11-24 08:46] james-menzies opened #2081 "[NV-1226] 🐛 Bug Report: 500 Error When Supplying Invalid ID on Subscriber Delete Endpoint"
### 📜 Description

When providing an invalid ID to the `/subscribers/id [DELETE]` endpoint, a 500 error is returned if the ID is invalid. Valid IDs appear to work as expected.

### 👟 Reproduction steps

1. Call `https://api.novu.co/v1/subscribers/{id}` where ID is not a subscriber in the system.
2. 500 is returned.

### 👍 Expected behavior

Return some other status code (404?, 400?) with an approp

[2022-11-24 10:56] Riyas839 opened #2082 "[NV-1232] Bug Report : Can't add CC email"
can't add CC email when triggering CURL API

<sub>[NV-1232](https://linear.app/novu/issue/NV-1232/bug-report-cant-add-cc-email)</sub>

[2022-11-24 13:11] oba2311 opened #2085 "[NV-1225] Variables autocomplete"

[2022-11-24 18:18] p-fernandez commented on #2081
Thanks for reporting. Fixed here: https://github.com/novuhq/novu/pull/2090

[2022-11-24 18:25] riginoommen opened #2091 "🐛 Bug Report: Docker steps for setting up the novu is incorrect"
### 📜 Description

User onboarding got stucks when a user follows the following doc directly
https://docs.novu.co/overview/docker-deploy/#get-the-code

### 👟 Reproduction steps

Docker compose file is missing as per the above config

### 👍 Expected behavior

it should spin up the container

### 👎 Actual Behavior with Screenshots

N/A

### 💻 Operating system

MacOS

### 🤖 Node Version

16

### 📃 Pr

[2022-11-25 09:05] whodges2 opened #2092 "🐛/❓ Bug Report / Question: What do the different NODE_ENVs do?"
### 📜 Description

novu has different NODE_ENV such as `local | dev | prod ...etc` but it's not documented anywhere what each environment does, what it changes and when you should use one over the other.

I'm willing to submit a pr to docs if someone can explain the different envs

### 👟 Reproduction steps

n/a

### 👍 Expected behavior

n/a

### 👎 Actual Behavior with Screenshots

n/a

### 💻 Opera

[2022-11-25 10:56] wh1337 opened #2094 "💭 Idea: feed.context.ts should return empty object instead of null"
### 🔖 Feature description

As it currently stands, `feed.context.ts` located [here](https://github.com/novuhq/novu/blob/2d3050a13b5dfc77b0d66e34ed2eac8a25299631/packages/notification-center/src/store/feed.context.ts#L10) is returning a null value by default.

This can throw a `TypeError: Cannot read properties of null (reading 'activeTabStoreId')` on the Notifications Center if it's not yet unitiz

[2022-11-25 15:56] inglesuniversal opened #2096 "🚀 Feature: Add WhatsApp single and group messaging"
### 🔖 Feature description

A lot of API offer single messaging interaction with WhatsApp. It would be just awesome if you guys can add group based notifications and bulk sending messaging to WhatsApp users.

Regards

### 🎤 Why is this feature needed ?

It would enhance your product and serve a large user dataset

### ✌️ How do you aim to achieve this?

Provide a single API which can allow the end

[2022-11-25 16:20] #2081 closed

[2022-11-25 21:43] mohamed-cherifi opened #2099 "[NV-1231] 🐛 Bug Report: Subscriber page mongo query"
### 📜 Description

I noticed something weird with the new subscriber page. The mongo-db query seems to be really taxing on the DB when the subscriber count is really high.

### 👟 Reproduction steps

- Go to the subscriber page

### 👍 Expected behavior

- Not query all entries all at once? Do it per page?

### 👎 Actual Behavior with Screenshots

Whenever the subscriber page loads the Mongo-db CPU s

[2022-11-27 02:37] MegaDzarek opened #2102 "Novuq"

[2022-11-27 08:59] #2102 closed

[2022-11-27 11:15] scopsy commented on #2094
Sounds like a plan @cryptic-ai! Thanks for raising this

[2022-11-27 11:18] scopsy commented on #2092
Thanks @cryptic-ai! Outlining here the different environments:
- local: Used for local development of Novu, this environment runs by default when running the cloned project
- test: Used when running e2e and spec tests of the different novu components. They work against a real DB on your local machine. This environment also exposes a few testing API's for easier mocking
- dev: Is deployed as our st

[2022-11-27 11:19] scopsy commented on #2091
Thank you for the contribution @riginoommen !

[2022-11-27 11:19] #2091 closed

[2022-11-27 11:21] scopsy commented on #2071
@djabarovgeorge might be able to help here ^

[2022-11-27 11:24] scopsy commented on #2063
A small question, @singhgulshan did you try using triple curly braces here? `{{{message}}}` this should also render HTML internally. a double curly brace will escape the HTML content.

[2022-11-27 11:25] scopsy commented on #2051
@davidsoderberg seems like the PR was merge, can we close this one?

[2022-11-27 11:26] scopsy commented on #2050
@davidsoderberg seems like the PR was merged, can we close this one?

[2022-11-27 11:27] scopsy commented on #2034
Seems like a duplicate to #2085 closing this one

[2022-11-27 11:27] #2034 closed

[2022-11-27 11:29] scopsy commented on #2006
Not sure regarding the actual implementation if it should be on the top title or not, but perhaps we can maybe add a small text annotation at the menu to indicate a `CMD + K` is available? @oba2311 maybe we can do a design for this and perhaps @MaximFedarau can help with implementation

[2022-11-27 11:30] scopsy commented on #2005
@djabarovgeorge this is the one you handled right? Let me know if I can close this.

[2022-11-27 11:33] MaximFedarau commented on #2006
@scopsy , ok, will you send a DM with design or anything else?

[2022-11-27 11:39] MaximFedarau commented on #2006
Maybe it should be in the center, like on docs page?

[2022-11-27 11:49] oba2311 opened #2104 "[NV-1237] Docs - gettig started , change "Navigate" / reactRouter"
He would prefer to have the gettig started docs as a stand-alone i.e. with as little help from other libraries as possigle.

we coud replace the `Navigate` with:

[code]

---

Created via [Raycast](https://www.raycast.com)

<sub>From [SyncLinear.com](https://synclinear.com) | [NV-1237](https://linear.app/novu/issue/NV-1237/docs-gettig-started-change-navigate-reactrouter)</sub>

[2022-11-27 12:15] scopsy commented on #1971
Thanks for the feedback @jfemia it is indeed a bit more complex than I thought too :( This mainly happens because we are trying to use Novu as much as we can while building Novu :P

@djabarovgeorge could you please verify if the thing you worked on merged successfully and working? In this case you can close this issue 🙏

[2022-11-27 12:17] scopsy commented on #1969
@BiswaViraj did you managed to do something with it? Or this one is still open?

[2022-11-27 12:18] scopsy commented on #1960
Hi @yash-sonawane do you still want to take a look at this or should I un-assign you perhaps someone else can help with this?

[2022-11-27 12:20] scopsy commented on #1950
@chavda-bhavik I think I actually noticed that it happens during the initialization of the container right? Seems like the `build` command is the one that is failing. If this is the case, you would need to provide a bit more RAM for your docker daemon that running the web component

[2022-11-27 12:21] scopsy commented on #1949
Thanks for the report @mediana 🙏 Will try to take a closer look at this later.

[2022-11-27 12:23] scopsy commented on #1946
This was already added here: https://docs.novu.co/community/run-locally

So closing this for now. Thank you @Asmit2952 for mentioning this.

[2022-11-27 12:23] #1946 closed

[2022-11-27 12:24] scopsy commented on #1906
Hi @Vanshiii203 did you had a chance to take a look at this?

[2022-11-27 12:24] #1897 closed

[2022-11-27 12:26] scopsy commented on #1887
Hi @pontusab do you still want to take a look at this or should I un-assign you, perhaps someone else can help with this 🙏

[2022-11-27 12:27] #1837 closed

[2022-11-27 12:27] scopsy commented on #1834
@rdmchr sorry for the delayed response, but do you want to be assigned for this?

[2022-11-27 12:29] scopsy commented on #1792
I think that it could really be cool! Will try to take a look at how this could be possible. Do you want maybe to chat about it on a quick call over discord @JustinBack ?

[2022-11-27 12:30] scopsy commented on #1791
Hi @vedant-z I think it would be best to request help over our discord regarding this. Did you had a chance to have any progress on this?

[2022-11-27 12:34] scopsy commented on #1649
Following up our conversation so closing this one here @shtelzerartem

[2022-11-27 12:34] #1649 closed

[2022-11-27 12:35] #1647 closed

[2022-11-27 12:35] #1646 closed

[2022-11-27 12:35] scopsy commented on #1478
Hi @Ankit12453 did you had a chance to take a look at this?

[2022-11-27 12:36] scopsy commented on #1464
Hi @viveknshah do you still want to take a look at this?

[2022-11-27 12:37] #1458 closed

[2022-11-27 12:37] #1447 closed

[2022-11-27 12:39] scopsy commented on #1362
@toukirkhan do you still to want to work on this one? 🙏

[2022-11-27 12:39] scopsy commented on #1348
Hi @Rutam21 do you need any help? 🙏

[2022-11-27 12:40] scopsy commented on #1346
Seems like we have it under #1986 so closing this for now.

[2022-11-27 12:40] #1346 closed

[2022-11-27 12:41] scopsy commented on #1316
Hi @fdelucchijr did you had a chance to take a look? Let me know if I can un-assign perhaps someone else would love to try this 🙏

[2022-11-27 12:50] toukirkhan commented on #1362
@scopsy rn am working on some other issue thanks!

[2022-11-27 13:10] #1282 closed

[2022-11-27 13:14] scopsy commented on #1215
Did you had a chance to take a look at this @MohammedBajuaifer ?

[2022-11-27 13:14] scopsy commented on #1196
Tracking the work here: https://github.com/novuhq/notification-center-demo So will close this for now 🙏

[2022-11-27 13:15] #1196 closed

[2022-11-27 13:17] scopsy commented on #1191
@AlexVCS did you had a time to look at this? LEt me know if I should un-assign you perhaps someone else will be able to take a look at this 🙏♥️

[2022-11-27 13:17] #1177 closed

[2022-11-27 13:17] #1173 closed

[2022-11-27 13:19] scopsy commented on #1019
@escobar5 do you still want to take a look at this?

[2022-11-27 13:20] scopsy commented on #978
Hi @PritamSarbajna did you had a chance to look at it?

[2022-11-27 13:21] #896 closed

[2022-11-27 13:21] scopsy commented on #1050
Hi @has9800 did you had a chance to look at this? Let me know if I can un-assign you perhaps someone else can help with this. 🙏

[2022-11-27 13:22] PritamSarbajna commented on #978
Sorry @scopsy I tried but I couldn't run this locally probably I should learn more.

[2022-11-27 13:30] fdelucchijr commented on #1316
@scopsy Sorry, I didn’t have enough time to change the build pipelines myself. As It would took me a lot of time to change it and debug for the whole monorepo (also, y don’t know much of the needs in the project for the Python and other non-node.js dependencies). My first option was to wait until https://github.com/nikolaik/docker-python-nodejs/issues/38 was finally resolved to recheck all the bui

[2022-11-27 13:42] scopsy commented on #645
Will be closing this for now, we can revisit it later 🙏

[2022-11-27 13:42] #645 closed

[2022-11-27 13:43] #546 closed

[2022-11-27 13:44] scopsy commented on #541
Taking care of it as part of creating a reusable web component with work led by @LetItRock, so will close this here for now.

[2022-11-27 13:44] #541 closed

[2022-11-27 13:45] scopsy commented on #518
This is now worked on by @LetItRock and will be released in the next minor release 🙏 Closing this for now.

[2022-11-27 13:45] #518 closed

[2022-11-27 13:46] scopsy commented on #181
We are using internally Bullmq overe redis with the provided functionality that was released on 0.7.0 (if i recall correctly :P)

So we can close this for now.

[2022-11-27 13:46] #181 closed

[2022-11-27 13:47] scopsy commented on #138
@krshkun are you still willing to help with this?

[2022-11-27 14:20] djabarovgeorge commented on #2071
Hey @markmssd Thanks for bringing this up and creating the issue (a well detailed one I may say! 👍🏻 ) look like the response changed by mistake I will create PR in order to resolve it asap. sorry for the inconvenience.

[2022-11-27 14:30] djabarovgeorge commented on #2005
Yes @scopsy  it was resolved in https://github.com/novuhq/novu/pull/2059

[2022-11-27 14:42] djabarovgeorge commented on #1971
Hey @jfemia, as @scopsy mentioned on the self-hosted environment we support only the manual approach. you will have two options after clicking on the `Invite` button you will be provided with a Toast that can redirect you in order to send an email, or you can copy and send the invite link personally.  please note that there was one misleading on the resend invite functionality which we already res

[2022-11-27 17:08] #2005 closed

[2022-11-27 17:09] #1971 closed

[2022-11-27 18:27] oba2311 opened #2107 "[NV-1253] Create a new group does not appear at the bottom of the drop down"
A user might get confused, it is unclear hw a new notificatin group is created.

See:

We should expect to have this at the botton of the drop down:

PS - it shoud say `New Notification Group`

---

Created via [Raycast](https://www.raycast.com)

<sub>From [SyncLinear.com](https://synclinear.com) | [NV-1253](https://linear.app/novu/issue/NV-1253/create-a-new-group-does-not-appear-at-the-bottom-of-

[2022-11-27 18:32] oba2311 opened #2108 "[NV-1254] Test workflow before workflow exist"
The button should be disabled before the WF is created, otherwise - please explain the rationale 😃

![CleanShot 2022-11-27 at 20.30.02@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/7205cac9-9e32-4944-9a28-52a0f13418f1/ec3e95b5-7482-4c32-bf77-29e7d1d3aa99)

As long as steps are not added, it should be disabled:

![CleanShot 2022-11-27 at 20.36.20@2x.png](https://uploads.li

[2022-11-27 18:42] oba2311 opened #2109 "[NV-1255] Add an update button at the bottom of the page"
Update end up above the fold and we would want it to exist at the bottom as well.

See:

(below feeds would be the place for it)

![CleanShot 2022-11-27 at 20.40.31@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/a15d6988-c873-4fdb-9885-f9e2859a90f5/8ae27bdd-e235-4272-8028-bfcfa4134c74)

---

Created via [Raycast](https://www.raycast.com)

<sub>From [SyncLinear.com](https:/

[2022-11-27 19:01] oba2311 opened #2110 "[NV-1258] Add space between pills"
Just to make those look a lil nicer in case several addresses are used.

![CleanShot 2022-11-30 at 12.46.04@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/c77e8fd7-53e9-4130-b2a2-5eedeeff6b0d/6a255fc5-8902-4d34-84d8-07cae9593c15)

---

Created via [Raycast](https://www.raycast.com)

<sub>From [SyncLinear.com](https://synclinear.com) | [NV-1258](https://linear.app/novu/issu

[2022-11-27 19:27] oba2311 opened #2111 "[NV-1260] Command Bar should always be on top"
For example when another modal is opened, like activity as part of testing - command K will not open the command bar.

See:

Command K is clicked here but not shown:

![CleanShot 2022-11-27 at 21.27.18@2x.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/08d66223-fc04-4bbc-a6c9-84ae8b82f024/9ac5a1f7-a048-404f-b02c-a31a47dcd139)

---

Created via [Raycast](https://www.raycast.com

[2022-11-28 04:07] chavda-bhavik commented on #1950
@scopsy RAM can be the reason for this issue. Actually `memory` error was happening some days after the application started. And from my observation on `apps/web/Dockerfile`, it looks like `build` will be happening during docker image creation time, instead of container initialization time, Am I right?

[2022-11-28 06:21] chavda-bhavik opened #2112 "[NV-1265] 🐛 Bug Report: Email attachments are showing invalid"
### 📜 Description

When sending emails with attachments, attachments are received as invalid in emails.

### 👟 Reproduction steps

1. Create a Notification
2. Trigger the notification with some `attachment`, I send attachment as,
[code]
3. See the email received, the attachment will be `unprocessable (invalid)` to the system.

### 👍 Expected behavior

Attachments should be sent properly via email.

[2022-11-28 08:50] #2050 closed

[2022-11-28 08:50] #2051 closed

[2022-11-28 08:50] #2035 closed

[2022-11-28 08:50] #2032 closed

[2022-11-28 08:51] #2031 closed

[2022-11-28 08:55] davidsoderberg commented on #2110
@oba2311 image is missing I guess?

[2022-11-28 09:44] rdmchr commented on #1834
Yeah I would love to help out on this. But I don't have any experience when it comes to unit testing Pinpoint itself, so I might need some help there.

[2022-11-28 11:17] iampearceman commented on #836
Hey @jgoerner, any updates on this issue?

[2022-11-28 13:17] oba2311 commented on #2085
@gali I think you mentioned you are working on ti?

[2022-11-28 13:19] #666 closed

[2022-11-28 13:21] oba2311 commented on #2079
@p-fernandez should this be a community issue?

[2022-11-28 13:22] oba2311 commented on #2082
Did you mean for this to be community?

@scopsy

[2022-11-28 13:24] oba2311 commented on #2007
you mean you are working on it?

@scopsy I def think we should have it done soon, if not you then let's talk 😃

[2022-11-28 13:39] Timonzimm commented on #2007
@scopsy What's the ETA for this feature? Thanks! :)

[2022-11-28 13:52] AlexVCS commented on #1191
Hey @scopsy sorry for the delay! I'd still like to try and work on this, thanks

[2022-11-28 13:52] BiswaViraj commented on #1969
It is still open

[2022-11-28 13:59] p-fernandez commented on #2079
@oba2311 yes, it is a good Community issue. Not sure if I added the proper tag in GitHub.

[2022-11-28 14:24] markmssd commented on #2071
Awesome, thanks for the super quick fix @djabarovgeorge ! 🚀

[2022-11-28 14:41] AlexVCS commented on #1191
I tried recreating this issue. I made a Vite TS React project, installed and included `import { NovuProvider } from "@novu/notification-center";`

The app seems to run just fine with no crashing or errors. @qw-in are you still having this issue?

[2022-11-28 14:55] AlexVCS commented on #1191
I am on a Mac and not Linux, for the record.

[2022-11-28 15:10] iampearceman commented on #836
Hey @jgoerner, any updates on this issue?

[2022-11-28 15:33] #2085 closed

[2022-11-29 02:40] #2079 closed

[2022-11-29 05:51] yash-sonawane commented on #1960
Hey, I would like to take a look at it. Can I reply in this thread with an
idea in some time?

On Sun, Nov 27, 2022 at 5:48 PM Dima Grossman ***@***.***>
wrote:

[2022-11-29 06:17] jinsley8 opened #2121 "🐛 Bug Report: TypeError when notification button in-app clicked"
### 📜 Description

I am using the Notification Center react component.

I'm testing a notification and when I click the main button of a notification I get Unhandled Runtime Error: `TypeError: f is not a function`.

Clicking the notification works but clicking the button inside does not work.

### 👟 Reproduction steps

Trigger notification to Notification Center react component.

### 👍 Expected be

[2022-11-29 07:39] scopsy commented on #2006
I think it will take too much attention from the user. So would prefer to have a more subtle approach there.

[2022-11-29 07:42] scopsy commented on #1950
Yes, we are doing initialization time build because we need to compile some environment variables and inject them there. We might need to revisit this in the future as it's not the best approach.

[2022-11-29 07:42] scopsy commented on #1834
Unfortunately I'm not very familiar with it either :( But maybe someone from our community is and will be able to help

[2022-11-29 07:44] scopsy commented on #2082
@oba2311 it was submitted by @Riyas839, we can take a look at it closely if we will have the capacity for it. Otherwise perhaps someone can help us with it. So will add a help wanted tag for it.

[2022-11-29 07:45] scopsy commented on #2007
Hi @Timonzimm! Unfortunately not yet, but will update here once we do. 🙏

[2022-11-29 07:47] scopsy commented on #1191
@AlexVCS maybe it's only a warning and not an actual error? Perhaps during build time or in the console of the web project?

[2022-11-29 07:48] scopsy commented on #1960
Ofcourse! Thanks for that

[2022-11-29 09:23] chavda-bhavik commented on #2112
@scopsy @p-fernandez Any thoughts on this issue?

[2022-11-29 10:07] djabarovgeorge opened #2123 "[NV-1266] Notification-Center bell seen/read toggle"
At the current state notification-center bell counter uses the seen count in order to present the `bell dot` and counter on the notification center header.

![image.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/be484606-eb1e-4e3c-b333-da0e3a8e7d26/ec6e2f16-4891-4da2-ae64-7af3dde79048)

![image.png](https://uploads.linear.app/f13f1996-c9b0-4fea-8ee7-2c3faf6a832d/ad64596d-71a3

[2022-11-29 13:39] rdmchr commented on #1834
Alright. Feel free to assign me and I'll figure something out ;)

[2022-11-29 14:38] tvarsis opened #2126 "Docs: Setting Novu up behind nginx reverse proxy"
### 🔖 Feature description

I have searched the documentation, but can't find any tutorials about how to set Novu up behind nginx reverse proxy. I found a couple of env variables that should be used for this, but they are not documented how to use anywhere outside the env file. I would guess nginx needs web sockets for some services etc as well, so a more detailed guide for this would be awesome.

[2022-11-29 18:01] AlexVCS commented on #1191
Good point @scopsy. From what I've looked at so far it seems like the error occurs during build time.

[2022-11-29 21:39] rawturtle opened #2127 "Docs: Missing event names useSocket can respond to"
### 🔖 Feature description

Update the docs or interface `socket.on()` can respond to

`interface ISocket {
    on: (eventName: string, callback: (data: any) => void) => void;
    off: (eventName: string) => void;
}`

Here's the place in the docs https://docs.novu.co/notification-center/react-components/#realtime-sockets

### 🎤 Why is this feature needed ?

To make the `useSocket` hook easier to us

[2022-11-29 23:51] qw-in commented on #1191
Unfortunately I am no longer working on the project I was at the time. If no one else can reproduce I'd say probably safe to conclude this issue is fixed. Thanks!

[2022-11-30 03:32] #604 closed

[2022-11-30 03:47] chavda-bhavik commented on #2112
@scopsy issue is occurring in text and pdf documents as well.

[2022-11-30 07:21] riginoommen opened #2129 "🚀 Feature: SAML Integration for the Login for the Novu"
### 🔖 Feature description

Integration of the SAML Login for the novu which enables the enterprises to adopt with the customization

### 🎤 Why is this feature needed ?

Adoption will be faster with in enterprise ecosystem like a tool like backstage.io

### ✌️ How do you aim to achieve this?

I am willing to adopt it in my work with SAML login

### 🔄️ Additional Information

_No response_

### 👀 Ha

[2022-11-30 10:17] Wyfy0107 commented on #2112
I can try to have a look

[2022-11-30 10:44] oba2311 commented on #2110
\:/

Linear sometimes does not save the images - I'll try to redo and paste again

thanks

[2022-11-30 12:15] raikasdev commented on #2058
Cannot reproduce: This seems to have been added by the Mantine team

[2022-11-30 12:25] raikasdev commented on #2007
Working on it

[2022-11-30 16:00] #2111 closed